<template>
    <div>
        <!-- <div class="row list-group product-list"> -->
            <!-- <recipe-box-mini v-for="product in products" :product="product" :key="product.id"></recipe-box-mini> -->

        <!-- </div> -->
        
      <div class="wrap">
        <div class="left">
          <h3>What You Need:</h3>
<!--           <ul style="list-style: none;">
            <li v-for="product in products">
              <input  type="checkbox" :id="product.id" :value="product" :checked="product.id" v-model="selectedProduct"v-on:click="addToSelectedProductToCart(product,$event)">
              <label :for="product.name">{{product.name}}</label>
            </li>
          </ul> -->
        <ul class="recipe-list" style=" margin-left: auto;">       
        <li v-for="product in products">
          <label class="container101" >{{ product.currency.symbol + product.price }} - {{product.name}}
          <input  type="checkbox" :id="product.id" :value="product" :checked="product.id" v-model="selectedProduct"v-on:click="addToSelectedProductToCart(product,$event)">
          <span class="checkmark"></span>
        </label>
        </li>
        </ul>
        </div>

        <p><small>Click the button below to add the products that you need in this recipe.</small></p>
         <button class="pull-left btn btn-primary newCartbtn" @click="global.addBulkToCart(selectedProduct)">ADD TO CART</button>
      </div>
    </div>

</template>

<script>

  import RecipeBoxMini from "../recipes/RecipeBoxMini";
  import { Global, EventHub } from "../Global";

  var Cart = [];
  var modal;
  export default {
    name: "productlisting",
    components:{
      RecipeBoxMini
    },
    props: {
      collection: {
        type: Array / Object
      },
    },
    methods: {
      loadMore() {
        axios.get(this.collection.next_page_url).then(response => {
          this.updatePagination(response.data);
          this.products = _.unionBy(this.products, response.data.data, "id");

          this.$nextTick(()=>{
            setTimeout(()=>{StampedFn.loadBadges()},50);
          })
        });
      },
      updatePagination(pagination) {
        this.collection.current_page = pagination.current_page;
        this.collection.first_page_url = pagination.first_page_url;
        this.collection.from = pagination.from;
        this.collection.last_page = pagination.last_page;
        this.collection.last_page_url = pagination.last_page_url;
        this.collection.next_page_url = pagination.next_page_url;
        this.collection.path = pagination.path;
        this.collection.per_page = pagination.per_page;
        this.collection.prev_page_url = pagination.prev_page_url;
        this.collection.to = pagination.to;
        this.collection.total = pagination.total;
      },
      test(prod){
      console.log(prod)
      },
      addToSelectedProductToCart(product,event){
        if (event.target.checked == true){
          
        }else{
          this.global.decrement(product.id);
        }
      },
    },
    mounted() {

    EventHub.$on("cart_item_added", product => {
        EventHub.$emit("show_cart");
    });

  },
    data() {
      return {
        products: this.collection.data,
        global: Global,
        selectedProduct :[],
      };
    }
  };
</script>

<style scoped>
    .product-list {
        display: inherit;
        overflow-x: auto;
        white-space: nowrap;
    }
    .recipe-list{
      list-style: none;
    }
    .left {
      padding-bottom: 15px;
    }
    .newCartbtn{
      width: 40%;
    }
    .container101 {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 18px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default checkbox */
    .container101 input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 5px;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
    }

    /* On mouse-over, add a grey background color */
    .container101:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container101 input:checked ~ .checkmark {
      background-color: #00b4ca;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container101 input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container101 .checkmark:after {
      left: 7px;
      top: 1px;
      width: 7px;
      height: 15px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    
</style>

