<template>
    <div>

    </div>
</template>

<script>
export default {
  name: "ProductInRecipe",
  props: {
    productsInRecipe: null,
    products: null
  },
  data() {
    return {
      list: this.productsInRecipe,
      options: this.products
    };
  }
};
</script>

<style scoped>
</style>
