<template>
  <div>
      <div class="row" v-if="zone">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                <a @click="$router.push('/')"><strong><i class="fa fa-angle-left"></i> Shipping</strong></a>
                <h1 class="font-bold">{{ zone.name }}</h1>
                </div>

                

                <div class="row">
                    <div class="col-md-7">
                        <div class="alert alert-danger" v-if="errors">
                            <ul>
                                <li v-for="field in errors" :key="field">{{ field[0] }}</li>
                            </ul>
                        </div>
                        <div class="ibox">
                            <div class="ibox-title"><h5>Zone name</h5></div>
                            <div class="ibox-content">
                                <input id="'form-field-zone-name" type="text" class="form-control" v-model="name" >
                                  
                            </div>
                        </div>
                        

                        <div class="ibox">
                            <div class="ibox-title"><h5>Countries</h5><div class="ibox-tools"><button type="button" data-toggle="modal" data-target="#modal-countries" class="btn btn-default btn-sm">Change countries</button></div></div>
                            <div class="ibox-content">
                                <div v-if="countries" v-for="code in selectedCountries" :key="code">{{ countryName(code) }}</div>
                            </div>
                        </div>

                        <div class="ibox">
                            <div class="ibox-title"><h5>Price based rates</h5><div class="ibox-tools"><button data-toggle="modal" data-target="#modal-shipping-rate-price-form" type="button" class="btn btn-default btn-sm">Add rate</button></div></div>
                            <div class="ibox-content">

                              <div class="form-group" v-for="(shipping_rate_price,index) in shipping_rate_prices">                    
                                            
                                  <div class="text-info" v-text="shipping_rate_price.name"></div>

                                  <div class="row">
                                      <div class="col-sm-6"><div class="text-muted">${{ formatNumber(shipping_rate_price.min) }} – 
                                        
                                        <span v-if="!shipping_rate_price.max">No Limit</span>
                                        <span v-else>${{ formatNumber(shipping_rate_price.max) }}</span></div></div>
                                      <div class="col-sm-5">
                                        <div class="text-muted text-right">
                                        
                                        <span v-if="shipping_rate_price.is_free">Free</span>
                                        <span v-else>${{ formatNumber(shipping_rate_price.rate) }}</span>
                                        
                                        </div>
                                      </div>
                                      <div class="col-sm-1"><span class="text-link" @click="shipping_rate_prices.splice(index,1)"><i class="fa fa-times"></i></span></div>
                                  </div>  

                                  <div class="text-muted"></div>                                        

                              </div>

                                
                                
                            </div>
                        </div>

                        <div class="ibox">
                            <div class="ibox-title"><h5>Weight based rates</h5><div class="ibox-tools"><button data-toggle="modal" data-target="#modal-shipping-rate-weight-form" type="button" class="btn btn-default btn-sm">Add rate</button></div></div>
                            <div class="ibox-content">

                              <div class="form-group" v-for="(shipping_rate_weight,index) in shipping_rate_weights">                    
                                            
                                  <div class="text-info" v-text="shipping_rate_weight.name"></div>

                                  <div class="row">
                                      <div class="col-sm-6"><div class="text-muted">{{ shipping_rate_weight.min }}lb – 
                                        
                                        <span v-if="!shipping_rate_weight.max">No Limit</span>
                                        <span v-else>{{ shipping_rate_weight.max }}lb</span></div></div>
                                      <div class="col-sm-5">
                                        <div class="text-muted text-right">
                                        
                                        <span v-if="shipping_rate_weight.is_free">Free</span>
                                        <span v-else>${{ formatNumber(shipping_rate_weight.rate) }}</span>
                                        
                                        </div>
                                      </div>
                                      <div class="col-sm-1"><span class="text-link" @click="shipping_rate_weights.splice(index,1)"><i class="fa fa-times"></i></span></div>
                                  </div>  

                                  <div class="text-muted"></div>                                        

                              </div>

                                
                                
                            </div>
                        </div>

                        <div class="text-right">

                            <div class="form-group">
                                <button v-if="zone.id" type="button" class="pull-left btn btn-danger" @click="removeShippingZone">Delete</button>
                                <button type="button" class="btn btn-default" @click="$router.push('/')">Cancel</button>
                                <button type="button" class="btn btn-primary" @click="saveShippingZone">Save shipping zone</button>
                            </div>

                        </div>

                    </div>
                </div>
            </div> 
        </div>

        <div id="modal-countries" class="modal" v-if="zone">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit shipping address</h4>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                                <label class="checkbox-inline"> <input :disabled="(!zone || zone.countries.indexOf('*')<0) && settings.zone_country_list && settings.zone_country_list.indexOf('*')>-1" type="checkbox" :value="'*'" v-model="countries"> Rest of the world </label>                             

                        </div>

                        <div class="country-list" v-if="!hasRestOfTheWorld">
                            <div class="form-group" v-for="(country,code) in settings.countries" :key="code">
                                <label class="checkbox-inline"> <input :disabled="(!zone || zone.countries.indexOf(code)<0) && settings.zone_country_list.indexOf(code)>-1" type="checkbox" :value="code"  v-model="countries"> {{ country }} </label>
                            </div>
                        </div>
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div id="modal-shipping-rate-price-form" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add price based rate</h4>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" v-model="rate_price_form.name" />
                        </div>

                        <div class="form-group">
                          <label>RANGE</label>
                          <div class="row">
                            <div class="col-sm-6">
                                <label>Minimum order price</label>
                                <div class="input-group">
                                  <div class="input-group-addon">$</div>
                                  <numeral-input v-model="rate_price_form.min"></numeral-input>
                                </div>                                
                            </div>
                            <div class="col-sm-6">
                                <label>Maximum order price</label>
                                <div class="input-group">
                                  <div class="input-group-addon">$</div>
                                  <numeral-input v-model="rate_price_form.max" :placeholder="'No Limit'"></numeral-input>
                                </div>                                
                            </div>
                          </div>
                          
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-6">
                              
                            <div class="form-group">
                              <label class="form-inline"><input type="checkbox" class="checkbox" v-model="rate_price_form.is_free" /> Free shipping rate    </label>                    
                            </div>
                            <div class="form-group">
                                    <label>Rate amount</label>
                                    <div class="input-group">
                                      <div class="input-group-addon">$</div>
                                      <numeral-input :disabled="rate_price_form.is_free==true" v-model="rate_price_form.rate"></numeral-input>
                                    </div>
                                    
                            </div>
                          </div>
                        </div>
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" :disabled="!isShippingPriceValid" class="btn btn-primary" @click="addRatePrice">Done</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="modal-shipping-rate-weight-form" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add weight based rate</h4>
                </div>
                <div class="modal-body">

                        <div class="form-group">
                          <label>Name</label>
                          <input type="text" class="form-control" v-model="rate_weight_form.name" />
                        </div>

                        <div class="form-group">
                          <label>RANGE</label>
                          <div class="row">
                            <div class="col-sm-6">
                                <label>Minimum order weight</label>
                                <div class="input-group">                                  
                                  <numeral-input v-model="rate_weight_form.min"></numeral-input>                                 
                                  <div class="input-group-addon">lb</div>
                                </div>  
                            </div>
                            <div class="col-sm-6">
                                <label>Maximum order weight</label>
                                <div class="input-group">                                  
                                  <numeral-input v-model="rate_weight_form.max" :placeholder="'No Limit'"></numeral-input>                               
                                  <div class="input-group-addon">lb</div>
                                </div>                                
                            </div>
                          </div>
                          
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-sm-6">
                              
                            <div class="form-group">
                              <label class="form-inline"><input type="checkbox" class="checkbox" v-model="rate_weight_form.is_free" /> Free shipping rate    </label>                    
                            </div>
                            <div class="form-group">
                                <label>Rate amount</label>
                                <div class="input-group">      
                                  <div class="input-group-addon">$</div>                        
                                  <numeral-input :disabled="rate_weight_form.is_free==true" v-model="rate_weight_form.rate"></numeral-input>
                                </div>                                    
                            </div>
                          </div>
                        </div>
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" :disabled="!isShippingWeightValid" class="btn btn-primary" @click="addRateWeight">Done</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
</template>

<script>
import numeral from "numeral";
import vSelect from "vue-select";
import { FormClass } from "../Global";
import FormField from "../FormField.vue";
import { EventHub } from "../Global";
import NumeralInput from "../NumeralInput.vue";

export default {
  name: "ShippingZoneForm",
  components: {
    "v-select": vSelect,
    FormField,
    NumeralInput
  },
  computed: {
    hasRestOfTheWorld() {
      if (!this.countries) return false;

      return _.indexOf(this.countries, "*") > -1;
    }
  },
  data() {
    return {
      errors: null,
      zone: null,
      settings: [
        {
          countries: []
        }
      ],
      name:"",
      rest_of_the_world: false,
      countries: [],
      selectedCountries: [],
      shipping_rate_prices: [],
      shipping_rate_weights: [],
      rate_price_form: new FormClass({
        min: 0,
        rate: 0
      }),
      rate_weight_form: new FormClass({
        min: 0,
        rate: 0
      })
    };
  },
  watch: {
    countries(val) {
      if (_.indexOf(this.countries, "*") > -1) {
        this.selectedCountries = ["*"];
      } else {
        this.selectedCountries = val;
      }
    }
  },
  methods: {
    isShippingPriceValid() {
      if (this.shipping_rate_prices.name) return false;

      if (
        this.shipping_rate_prices.max &&
        parseFloat(this.shipping_rate_prices.min) >
          parseFloat(this.shipping_rate_prices.max)
      )
        return false;

      return true;
    },

    isShippingWeightValid() {
      if (this.shipping_rate_weights.name) return false;

      if (
        this.shipping_rate_weights.max &&
        parseFloat(this.shipping_rate_weights.min) >
          parseFloat(this.shipping_rate_weights.max)
      )
        return false;

      return true;
    },

    formatNumber(number) {
      return numeral(number).format("0,0,.00");
    },
    addRatePrice() {
      this.shipping_rate_prices.push(this.rate_price_form.get());
      $("#modal-shipping-rate-price-form").modal("hide");
      this.rate_price_form.reset();
    },

    addRateWeight() {
      this.shipping_rate_weights.push(this.rate_weight_form.get());
      $("#modal-shipping-rate-weight-form").modal("hide");
      this.rate_weight_form.reset();
    },

    countryName(code) {
      if (code === "*") return "Rest of the world";

      return _.get(this.settings, "countries[" + code + "]", "");
    },
    removeShippingZone() {
      if (confirm("Are you sure you want to delete this shipping zone?")) {
        axios.delete("/admin/shipping-zones/" + this.zone.id).then(response => {
          EventHub.$emit("shipping_zone_deleted", response.data.data);
        });
      }
    },
    saveShippingZone() {
      let path = this.zone.id
        ? "/admin/shipping-zones/" + this.zone.id
        : "/admin/shipping-zones";
      let method = this.zone.id ? "patch" : "post";

      axios[method](path, {
        countries: this.selectedCountries,
        name: this.name,
        shipping_rate_prices: this.shipping_rate_prices,
        shipping_rate_weights: this.shipping_rate_weights
      })
        .then(response => {
          EventHub.$emit("shipping_zone_updated", response.data.data);
        })
        .catch(error => {
          this.errors = error.response.data.errors;
        });
    }
  },
  created() {
    axios.get("/admin/store/shipping/settings").then(response => {
      this.settings = response.data;
    });

    if (this.$route.params.id) {
      axios
        .get("/admin/shipping-zones/" + this.$route.params.id)
        .then(response => {
          this.zone = response.data.data;
          this.name = this.zone.name;
          this.countries = this.zone.countries;
          this.shipping_rate_prices = this.zone.shipping_rate_prices;
          this.shipping_rate_weights = this.zone.shipping_rate_weights;
        })
        .catch(errors => {
          this.$router.push("/");
        });
    } else {
      this.zone = {
        name: "",
        countries: [],
        shipping_rate_prices: [],
        shipping_rate_weights: []
      };
      this.name = this.zone.name;
      this.countries = this.zone.countries;
      this.shipping_rate_prices = this.zone.shipping_rate_prices;
      this.shipping_rate_weights = this.zone.shipping_rate_weights;
    }
  }
};
</script>
<style lang="scss">
.country-list {
  max-height: 400px;
  overflow-y: scroll;
}
</style>