<template>
  
  <div>
      <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <h1 class="font-bold">Shipping</h1>
                </div>
                <div class="row">
                    <div class="col-md-4"><h4>Shipping Origin</h4></div>
                    <div class="col-md-8">
                        <div class="ibox">
                            <div class="ibox-title"><h5>Shipping from</h5><div class="ibox-tools"><a class="text-link" data-toggle="modal" data-target="#modal-edit-shipping-from">Edit</a></div></div>
                            <div class="ibox-content">
                                <div v-if="settings.store_address">
                                    <div class="" v-text="settings.store_name">Itechground Shopify</div>
                                    <div class=""><span v-text="settings.store_address.address"></span></div>
                                    <div class=""><span v-text="settings.store_address.zip"></span> <span v-text="settings.store_address.city"></span> </div>
                                    <div class=""><span v-text="settings.store_address.country"></span></div>
                                    <div class=""><span v-text="settings.store_address.phone"></span></div> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4"><h4>Zones and rates</h4></div>
                    <div class="col-md-8">
                        <div class="ibox">
                            <div class="ibox-title"><h5>Shipping zones</h5><div class="ibox-tools"><a class="text-link" @click="addShippingZone">Add new shipping zone</a></div></div>
                            <div class="ibox-content">
                                <div class="shipping-zone-list">

                                    <div v-if="shippingzone_collection" v-for="(zone,index) in shippingzone_collection.data" :key="zone.id">
                                        <div class="form-group"><span class="pull-right text-link" @click="editZone(zone)">Edit</span><strong>{{ zone.name }} <small class="text-muted">{{  countryString(zone.countries) }}</small></strong></div>
                                        
                                        <div class="form-group" v-for="(shipping_rate_price,index) in zone.shipping_rate_prices">                    
                                            
                                                <div class="text-info" v-text="shipping_rate_price.name"></div>

                                                <div class="row">
                                                    <div class="col-sm-6"><div class="text-muted">${{ formatNumber(shipping_rate_price.min) }} – 
                                                        
                                                        <span v-if="!shipping_rate_price.max">No Limit</span>
                                                        <span v-else>${{ formatNumber(shipping_rate_price.max) }}</span></div></div>
                                                    <div class="col-sm-6">
                                                        <div class="text-muted text-right">
                                                        
                                                        <span v-if="shipping_rate_price.is_free">Free</span>
                                                        <span v-else>${{ formatNumber(shipping_rate_price.rate) }}</span>
                                                        
                                                        </div>
                                                    </div>
                                                    </div>  

                                                <div class="text-muted"></div>                                        

                                        </div> 

                                        <div class="form-group" v-for="(shipping_rate_weight,index) in zone.shipping_rate_weights">                    
                                            
                                                <div class="text-info" v-text="shipping_rate_weight.name"></div>

                                                <div class="row">
                                                    <div class="col-sm-6"><div class="text-muted">{{ shipping_rate_weight.min }}lb – 
                                                        
                                                        <span v-if="!shipping_rate_weight.max">No Limit</span>
                                                        <span v-else>{{ shipping_rate_weight.max }}lb</span></div></div>
                                                    <div class="col-sm-6">
                                                        <div class="text-muted text-right">
                                                        
                                                        <span v-if="shipping_rate_weight.is_free">Free</span>
                                                        <span v-else>${{ formatNumber(shipping_rate_weight.rate) }}</span>
                                                        
                                                        </div>
                                                    </div>
                                                    </div>  

                                                <div class="text-muted"></div>                                        

                                        </div> 

                                        

                                        <hr>
                                        
                                    </div>
                                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  
  <div id="modal-edit-shipping-from" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit shipping address</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <FormField :type="'text'" :label="'Address'" :name="'address'" :form="address_form">
                                <template slot="field">
                                    <input id="'form-field-address-address" type="text" class="form-control" v-model="address_form.address" @keydown="address_form.errors.clear('address')">
                                </template>
                            </FormField>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <FormField :type="'text'" :label="'City'" :name="'city'" :form="address_form">
                                        <template slot="field">
                                            <input id="'form-field-address-city" type="text" class="form-control" v-model="address_form.city" @keydown="address_form.errors.clear('city')">
                                        </template>
                                    </FormField>
                                </div>
                                <div class="col-sm-6">
                                    <FormField :type="'text'" :label="'Zip/Postal code'" :name="'zip'" :form="address_form">
                                        <template slot="field">
                                            <input id="'form-field-address-zip" type="text" class="form-control" v-model="address_form.zip" @keydown="address_form.errors.clear('zip')">
                                        </template>
                                    </FormField>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="">Country</label>
                                    <select v-model="address_form.country" class="form-control">
                                        <option v-for="(country,code) in settings.countries" :value="code">{{ country }}</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <FormField :type="'text'" :label="'Region'" :name="'region'" :form="address_form">
                                        <template slot="field">
                                            <input id="'form-field-address-region" type="text" class="form-control" v-model="address_form.region" @keydown="address_form.errors.clear('region')">
                                        </template>
                                    </FormField>
                                </div>
                            </div>
                            
                        </div>

                        
                        <div class="form-group">
                                    <FormField :type="'text'" :label="'Phone'" :name="'phone'" :form="address_form">
                                        <template slot="field">
                                            <input id="'form-field-address-phone" type="text" class="form-control" v-model="address_form.phone" @keydown="address_form.errors.clear('phone')">
                                        </template>
                                    </FormField>                            
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" @click.prevent="saveStoreAddress">Save</button>
                </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
  
  </div>
    
</template>
<script>
import numeral from "numeral";
import moment from "moment";
import { _ShippingZoneCollection } from "./ShippingZoneGlobal";
import { FormClass } from "../Global";
import FormField from "../FormField.vue";
export default {
  name: "ShippingZoneList",
  components: {
    FormField
  },
  data() {
    return {
      settings: [],
      loadingList: false,
      shippingzone_collection: _ShippingZoneCollection,
      address_form: new FormClass({})
    };
  },
  computed: {},
  methods: {
    formatNumber(number) {
      return numeral(number).format("0,0,.00");
    },
    countryString(countries) {
      return _.join(
        _.map(countries, country => this.countryName(country)),
        ","
      );
    },
    countryName(code) {
      if (code === "*") return "Rest of the world";

      return _.get(this.settings, "countries[" + code + "]", "");
    },
    editZone(zone) {
      this.$router.push({
        name: "shipping-zone",
        params: {
          id: zone.id
        }
      });
    },
    addShippingZone() {
      this.$router.push({ name: "create" });
    },
    saveStoreAddress() {
      let store_address = _.omit(this.address_form, ["errors"]);
      axios
        .post("/admin/store/settings/store_address", store_address)
        .then(response => {
          this.settings.store_address = store_address;
          $("#modal-edit-shipping-from").modal("hide");
        });
    },
    loadList() {
      this.loadingList = true;

      axios.get("/admin/shipping-zones").then(response => {
        this.loadingList = false;
        this.shippingzone_collection = response.data;
        _ShippingZoneCollection.set(response.data);
      });
    }
  },

  created() {
    axios.get("/admin/store/shipping/settings").then(response => {
      this.settings = response.data;
      this.address_form.set(this.settings.store_address);
    });

    if (_ShippingZoneCollection.data == null) this.loadList();
  }
};
</script>
