<template>
<li>
  <a href="#" class="icon-cart" @click="popCart"><span class="se-icon icon-basket"></span><i>{{ global.Cart.count }}</i></a>
  <div class="modal animated fadeIn" id="cartbox" tabindex="-1" role="dialog">
			<div class="modal-dialog small-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<div class="title-box">              
							<h2>Simply Earth Guarantee <span>{{ global.Cart.count }} items</span></h2>
						</div>
					</div>
					<div class="modal-body">
            <CartItem v-for="item in global.Cart.items" :key="item.id" :product="item"></CartItem>
					</div>
					<div class="modal-footer text-left">
						<ul>
							<li>
								<label>SUBTOTAL</label>
								<span>{{ global.getSubTotal() }}</span>
							</li>                            
              <li v-if="global.Cart.wholesale_message">
                  <label v-text="global.Cart.wholesale_message" class="se-wholesale-message" style="font-size:.8em"></label>
              </li>
              <li v-if="global.Cart.bonus && global.Cart.bonus.length > 0">
                  <label>DISCOUNT: <span class="text-primary">Bonus Big Box</span></label>
                  <span class="pull-right text-primary">FREE</span>
              </li>
              <li v-if="global.Cart.discount">
                  <label>DISCOUNT CODE:<span class="promo-code-text">{{ global.Cart.discount.code }}</span></label>
                  <span v-if="global.Cart.discount.type=='freefirstmonth'" class="pull-right discount-text text-primary">FREE</span>
                  <span v-else class="pull-right discount-text">&#8211;{{ global.getDiscount() }}</span>
              </li>
              <li v-if="global.Cart.gift_card">
                  <label>GIFT CARD: <span class="text-primary">{{ global.Cart.gift_card.masked_code }}</span></label>
                  <span class="pull-right discount-text">&#8211;$<span v-text="global.Cart.gift_card_total"></span></span>
              </li>
							<li v-if="global.Cart.requires_shipping || global.Cart.shipping_total > 0">
								<label>SHIPPING</label>
                <span :class="global.getShipping()=='FREE' ? 'text-primary' : ''">{{ global.getShipping() }}</span>
							</li>
						</ul>
						<!--<p>You are $5 away from free shipping</p>-->

						<ul>
							<li>
								<label>TAX</label>
								<span>{{ global.getTax() }}</span>
							</li>
							<li>
								<label><strong>TOTAL</strong></label>
								<span>{{ global.getTotal() }}</span>
							</li>
						</ul>

						<div class="left">
							<a href="/products" class="btn btn-plain">SHOP</a>
						</div>
						<div class="right">
							<a @click="checkout" class="btn btn-primary text-pointer" :disabled="global.Cart.wholesale_message">CHECKOUT</a>
						</div>

					</div>
				</div>
			</div>
		</div>
</li>
</template>

<script>
import { Global, EventHub } from "./Global.js";

var CartItem = {
  name: "CartItem",
  template: `
    <div class="box-item">
      <a :href="product.link" class="anchor-item">
        <div class="image">
          <img :src="product.cover">
        </div>
        <div class="item-title">
          {{ product.name }}
          <span class="light-text">{{ getAttribute('Volume') }}</span>
        </div>
      </a>
      <div class="qty-box">
        <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="decrement()"><span class="ti-minus"></span></button>
              </span>
              <input type="text" class="form-control" v-model="product.qty" value="1" placeholder="0">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" @click="increment()"><span class="ti-plus"></span></button>
              </span>
          </div><!-- /input-group -->
          
        <span class="price">
          <span v-if="product.type=='subscription' && $parent.global.Cart.is_free_box_option"><span class="strike">{{ $parent.global.priceFormat(product.price) }}</span> <span class="text-primary">First Box FREE</span></span>
          <span v-else-if="product.wholesale_pricing">{{ $parent.global.priceFormat(product.wholesale_price * product.qty) }} <span class="strike">{{ $parent.global.priceFormat(product.price * product.qty) }}</span></span>
          <span v-else v-text="$parent.global.priceFormat(product.price * product.qty)"></span>
        </span>
      </div>
    </div>            
    `,
  props: ["product"],

  computed: {
    subTotal() {
      return this.product.currency.symbol + this.product.subtotal;
    }
  },

  methods: {
    getAttribute(key) {
      if (!this.product.extra_attributes) return;

      let attribute = _.find(this.product.extra_attributes, { label: key });

      return attribute ? attribute.value : null;
    },
    decrement() {
      Global.updateCartItem(this.product.id, this.product.qty - 1);
      if (window.dataLayer) {
        window.dataLayer.push({
          event: "removeFromCart",
          ecommerce: {
            remove: {
              // 'add' actionFieldObject measures.
              products: [
                {
                  //  adding a product to a shopping cart.
                  name: this.product.name,
                  id: this.product.sku,
                  price: this.product.wholesale_pricing
                    ? this.product.wholesale_price
                    : this.product.price,
                  quantity: 1
                }
              ]
            }
          },
          product: {
            //  adding a product to a shopping cart.
            name: this.product.name,
            id: this.product.sku,
            price: this.product.wholesale_pricing
              ? this.product.wholesale_price
              : this.product.price,
            quantity: 1
          }
        });
      }
    },
    increment() {
      if (window.dataLayer) {
        window.dataLayer.push({
          event: "addToCart",
          ecommerce: {
            add: {
              // 'add' actionFieldObject measures.
              products: [
                {
                  //  adding a product to a shopping cart.
                  name: this.product.name,
                  id: this.product.sku,
                  price: this.product.wholesale_pricing
                    ? this.product.wholesale_price
                    : this.product.price,
                  quantity: 1
                }
              ]
            }
          },
          product: {
            //  adding a product to a shopping cart.
            name: this.product.name,
            id: this.product.sku,
            price: this.product.wholesale_pricing
              ? this.product.wholesale_price
              : this.product.price,
            quantity: 1
          }
        });
      }
      Global.updateCartItem(this.product.id, this.product.qty + 1);
    }
  }
};

export default {
  name: "cartwidget",
  components: {
    CartItem: CartItem
  },
  data() {
    return {
      global: Global
    };
  },
  computed: {},
  methods: {
    checkout() {
      if (this.global.Cart.wholesale_message) {
        return
      }

      window.location.href = "/checkout"

      return false;
    },
    popCart() {
      $("#cartbox")
        .modal("show")
        .on("shown.bs.modal", () => {
          $("body").addClass("modal-open");
        });
    },
    applyCode(data) {
      axios
        .post("/cart/promocode", data)
        .then(response => {
          this.global.initCart();
        })
        .catch(error => {
          // this.promoForm.errors.set(error.response.data.errors);
        });
    },
    getDiscountCode() {
        axios.get("/cart/session-discount").then(response => {
          response.data;
          if (response.data) {
            this.applyCode({code: response.data});
          } 
          
        });
    }
  },
  mounted() {
    let CartBox = $("#cartbox");
    $("body").append(CartBox);

    EventHub.$on("show_cart", () => {
      this.$nextTick(() => {
        this.popCart();
      });
    });

    this.global.initCart();
  }
};
</script>