<template>
  <div id="app-dashboard">
    <div class="wrapper wrapper-content">
      <div class="row" v-if="stats">
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>Subscribers</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{ stats.subscribers_active_count }}</h1>
              <small>Active</small>
              <br>
              <br>
              <h1 class="no-margins">{{ stats.subscribers_count }}</h1>
              <small>Total</small>
              <div class="text-center">
                <form action="/admin/store/tools/export-subscribers">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    style="margin-top:20px;"
                  >Download Report</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <span class="label label-info pull-right"></span>
              <h5>Orders</h5>
            </div>
            <div class="ibox-content">
              <h1 class="no-margins">{{ stats.orders_count }}</h1>
              <small>Total orders</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "Dashboard",
  data(){
      return {
          stats:null
      }
  },
  methods: {
      load() {
          axios
        .get("/admin/dashboard/stats")
        .then(response => {
          this.stats = response.data;
        });
      }
  },
  created() {
    this.load();
  }
};
</script>

