
<template>
    <div class="dropbox">
        <div id="dropzone" class="dropzone">
        </div>
        <div>
            <draggable :list="list" class="images">
                <div v-for="(image, index) in list"  class="image-item">
                    <input type="hidden" name="images[]" :value="image.id" />
                        <img :src="image.url" class="img-lg" />
                        <button class="btn btn-danger thumbnail-remove" type="button" @click="popImage(index)" title="Remove Image"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </draggable>
        </div>
    </div>
</template>

<script>
var Dropzone = require("dropzone");

Dropzone.autoDiscover = false;

import draggable from "vuedraggable";

export default {
  components: {
    draggable
  },
  name: "Droppable",
  props: {
    maxFilesize:{type:Number,default:2},
    data: { type: Array / Object },
    images: { type: Array / Object },
    url: {
      type: String,
      default: "SomeUrlToInitialize"
    },
    autoProcessQueue: {
      type: Boolean,
      default: false
    },
    previewsContainer: {
      type: Boolean,
      default: false
    },
    clickable: {
      type: Boolean,
      default: true
    }
  },
  methods: {
    pushImage(newImage) {
      this.list.push(newImage);
    },
    popImage(index) {
      this.list.splice(index, 1);
    }
  },
  data() {
    return {
      list: this.images
    };
  },

  mounted() {
    var that = this;
    var dropzone = new Dropzone("div#dropzone", {
      url: this.url,
      //createImageThumbnails: false,
      //autoProcessQueue: false,
      addRemoveLinks:true,
      maxFilesize:this.maxFilesize,
      method: "post",
      headers: {
        "X-CSRF-TOKEN": $('meta[name="csrf-token"]').attr("content")
      },

      init() {
        this.on("success", (file,data) => {
            this.removeFile(file);
            that.pushImage(data);
        })
      }
    });
  }
};
</script>


<style lang="scss">

.dropzone {
  min-height: 140px;
  border: 1px dashed #1ab394;
  background: white;
  padding: 20px 20px;
}

.images {
  display: flex;
  .image-item {
    padding: 10px 5px;
    position: relative;
    img {
      max-width: 100%;
    }

    .btn.thumbnail-remove {
      position: absolute;
      top: 10px;
      right: 5px;
      width: 25px;
      height: 25px;
      padding: 3px;
      font-size: 10px;
    }
  }
}
</style>