<template>
<div v-if="type=='text'">
    <label :for="'form-field-' + name " v-text="label"></label>
    <slot name="field">
        <input :id="'form-field-' + name " type="text" class="form-control" v-model="form[name]" @keydown="form.errors.clear(name)">
    </slot>
    <div class="text-danger m-t-xs" v-if="form.errors.has(name)" v-text="form.errors.get(name)"></div>
</div>
</template>

<script>

export default {
    name : "FormField",
    props : ["type","label","name", "form"],
}

</script>