<template>
  <div>
    <button class="btn btn-primary btn-lg" @click="firstView">VIEW GC/MS REPORT</button>

    <div
      class="modal"
      id="gcms-mod"
      tabindex="-1"
      role="dialog"
      aria-labelledby="productLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="text-center">GAS CHROMATOGRAPHY ANALYSYS (%)</h4>
          </div>
          <div class="modal-body">
            <div id="gcms-container">
              <div class="row">
                <div class="col-sm-5">
                  <img :src="product.cover" alt="gcms">
                </div>
                <div class="col-sm-7">
                  <h2 class="modal-title" id="productLabel" v-text="product.name"></h2>

                  <form @submit.prevent="getGCMS" action class>
                    <div class="form-group form-group-flex">
                      <input
                        type="text"
                        @keypress="search_finish = false"
                        v-model="lot"
                        class="form-control"
                        placeholder="Enter Lot #"
                      >
                      <button class="btn-primary btn">Search</button>
                    </div>
                    <div class="form-group" v-if="search_finish && this.lot && !gcms.lotExists">
                      <div
                        class="alert alert-danger"
                      >Invalid Lot Number. Showing the latest GC/MS result.</div>
                    </div>
                  </form>
                  <div class="gcms-info" v-if="gcms_selected">
                    <div class>
                      <strong>Date:</strong>
                      {{ gcms.buildDate }}
                    </div>
                  </div>
                </div>
              </div>

              <h4 class="text-center">View GC/MS Reports for Ingredients in {{ product.name }}</h4>

              <div class="row ibox-content" :class="{'sk-loading':is_loading}" >
                <div class="sk-spinner sk-spinner-wave">
                  <div class="sk-rect1"></div>
                  <div class="sk-rect2"></div>
                  <div class="sk-rect3"></div>
                  <div class="sk-rect4"></div>
                  <div class="sk-rect5"></div>
                </div>
                <div class="" v-if="gcms_selected">
                  

                <div class="gcms-blends" v-if="gcms && Object.keys(gcms.data).length > 1">
                  <div class="gcms-blend" v-for="(blend,sku) in gcms.data">
                    <div class="gcms-blend-image">
                      <img :src="blend.product.cover" alt>
                    </div>
                    <button @click="selectGCMS(sku)" class="btn btn-xs btn-primary">View GCMS</button>
                  </div>
                </div>
                <div class="b-info gcms-list">
                  <ul v-for="(comp,family) in gcms_selected.items" :key="family">
                    <label v-text="family"></label>
                    <li v-for="c in comp">
                      {{ c.component }}:
                      {{ c.percentage }}%
                    </li>
                  </ul>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "gcms",
  props: ["product", "gcms_init"],
  data() {
    return {
      gcms: this.gcms_init,
      lot: null,
      search_finish: false,
      is_loading: false,
      first_view: false,
      gcms_selected: null
    };
  },
  methods: {
    firstView() {
      $("#gcms-mod").modal("show");
      if (!this.first_view) {
        this.first_view = true;        
        this.getGCMS();
      }
    },
    getGCMS() {
      this.is_loading = true;
      axios
        .get("/products/" + this.product.id + "/gcms/" + this.lot)
        .then(response => {
          let gcms_init = response.data.gcms;
          this.gcms = gcms_init;

          for (var first in gcms_init.data) break;
          this.gcms_selected = gcms_init.data[first];
        })
        .catch(() => {})
        .then(() => {
          this.is_loading = false;
          this.search_finish = true;
        });
    },
    selectGCMS(index) {
      this.gcms_selected = this.gcms.data[index];
    }
  },
  mounted() {
    $("body").append($("#gcms-mod"));
  },
  created() {}
};
</script>