<template>
    <div class="modal fade" id="howmuch" tabindex="-1" role="dialog">
        <div class="modal-dialog small-dialog howmuch-dialog" role="document">
            <div class="modal-content" :class="{'sk-loading':loading}" >
                         <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                <div class="modal-header">            
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                   
                </div>
                <div class="modal-body">

                    <div class="howmuch-inner">

                        <div class="product text-center">
                            <img :src="product.cover" alt="">
                        </div>

                       

                        <div v-if="view=='howmuch'">
                             <p class="text-center howmuch-text"><strong>How many do you want?</strong></p>
                            <div class="row more-detail form-group category--v basket-count">
                                <div class="col-xs-4">
                                    <button class="btn btn-secondary cart-minus" data-action="minus" @click="decrement()"><span class="ti-minus"></span></button>
                                </div>
                                <div class="col-xs-4">
                                    <div class="counter-box">
                                        <span class="count">{{ itemCount }}</span>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button class="btn btn-secondary cart-plus" data-action="plus"  @click="increment()"><span class="ti-plus"></span></button>
                                </div>
                            </div>

                            <div class="form-group text-center">

                                <button type="button" class="btn btn-primary btn-lg btn-block" @click="addToCart">OK</button>

                            </div>
                        </div>

                        <div v-if="view=='when_to_ship'">
                             <p class="text-center"><strong>When should we ship it?</strong></p>
                            <ul class="se-list">
                                <li><label class="se-check-container">
                                <input type="radio" v-model="ship_now" value="1" /> 
                                <span class="se-check"></span> 
                                SHIP IT NOW<br><small v-if="available_shipping"></small></label></li>
                                <li><label class="se-check-container">
                                <input type="radio" v-model="ship_now" value="0" /> 
                                <span class="se-check"></span> 
                                THIS WILL SHIP FREE WITH YOUR NEXT BOX</label></li>
                            </ul>

                            <div class="form-group text-center">

                                <button type="button" class="btn btn-primary btn-lg btn-block" @click="addToCartWithShip">ADD IT</button>

                            </div>
                        </div>
                        

                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { Global, EventHub } from "./Global.js";

var modal;
export default {
  name: "HowMuch",
  data() {
    return {
      view: "howmuch",
      loading: false,
      global: Global,
      itemCount: 1,
      ship_now: 1,
      product: [],
      available_shipping: null
    };
  },
  methods: {
    addToCart() {
      this.loading = true;
      this.global.addToCart(this.product, this.itemCount);
    },
    addToCartWithShip() {
      this.loading = true;
      this.global.addToCart(this.product, this.itemCount, this.ship_now);
    },
    decrement() {
      if (this.itemCount == 1) return;

      --this.itemCount;
    },

    increment() {
      ++this.itemCount;
    }
  },

  mounted() {
    modal = $("#howmuch").appendTo("body");

    EventHub.$on("howmuch", product => {
      this.view = "howmuch";
      this.loading = false;
      this.product = product;
      this.$nextTick(() => {
        modal.modal("show");
      });
    });

    EventHub.$on("cart_item_added", product => {
      modal.modal("hide").on("hidden.bs.modal", () => {
        modal.off("hidden.bs.modal");
        EventHub.$emit("show_cart");
      });
    });

    EventHub.$on("shipped_nextbox", product => {
      modal.modal("hide").on("hidden.bs.modal", () => {
        modal.off("hidden.bs.modal");
        EventHub.$emit("show_box_details", "nextbox");
      });
    });

    EventHub.$on("when_to_ship", data => {
      this.loading = false;
      this.available_shipping = data.available_shipping;
      this.view = "when_to_ship";
      this.$nextTick(() => {
        modal.modal("show");
      });
    });
  }
};
</script>