
<template>
    <div :class="[dropping ? 'dropping': '','dropper']" @dragover.prevent="dragOver($event)" @dragleave.prevent="dragLeave()" @drop.prevent="drop($event)">
        <div>
            <div class="image-upload">
              <div>
                <input v-for="newImage in new_list" type="file" name="newImage[]" value="newImage" />
            </div>
              
            </div>

            <draggable :list="list" class="images">
                <div v-for="(image, index) in list"  class="image-item">
                    <input type="hidden" name="images[]" :value="image.url" />
                        <img :src="image.url" class="img-lg" />
                        <button class="btn btn-danger thumbnail-remove" type="button" @click="popImage(index)" title="Remove Image"><i class="fa fa-remove"></i>
                    </button>
                </div>
            </draggable>
        </div>
    </div>
</template>

<script>
import draggable from "vuedraggable";

export default {
  components: {
    draggable
  },
  name: "imageupload",
  props: {
    images: { type: Array / Object }
  },
  methods: {
    pushImage(newImage) {
      this.list.push(newImage);
    },
    popImage(index) {
      this.list.splice(index, 1);
    },
    previewImage() {
      let that = this;
      let newImages = this.$refs.newImages.files;

      if (newImages && newImages[0]) {
        _.each(newImages, image => {
          var reader = new FileReader();
          reader.onload = function(e) {
            that.pushImage({ url: e.target.result, id: "new" });
          };

          reader.readAsDataURL(image);
        });
      }
    },
    dragOver(event) {
      this.dropping = true;
    },
    dragLeave() {
      this.dropping = false;
    },
    drop(event){  
      this.new_list.push(event.dataTransfer.files[0]);
    }
  },
  data() {
    return {
      dropping: false,
      new_list: [],
      list: this.images
    };
  },

  mounted() {
    var that = this;
  }
};
</script>


<style lang="scss">
@import "~dropzone/src/dropzone";

#newImagesButton {
  display: none;
}

.dropper {
  min-height: 140px;
  background: white;
  padding: 20px 20px;
  border: 1px dashed transparent;
  &.dropping {
    border-color:#1ab394;
  }
}

.images {
  display: flex;
  .image-item {
    padding: 10px 5px;
    position: relative;
    img {
      max-width: 100%;
    }

    .btn.thumbnail-remove {
      position: absolute;
      top: 10px;
      right: 5px;
      width: 25px;
      height: 25px;
      padding: 3px;
      font-size: 10px;
    }
  }
}
</style>