<template>
<div class="medialibrary">    
    <button type="button" class="btn btn-danger clearcover" @click="removeCover()" v-if="preview_image_src"><i class="fa fa-remove"></i></button>
    <label @click="openMediaLibrary" :data-target="target">   
        <slot name="front" :preview="preview_image_src" :cover="cover"></slot>     
         
    </label>
    <div class="modal inmodal" :id="media_id" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                

                    <div class="form-group form-inline">
                        <input type="file" name="cover" class="form-control" :id="'newcover' + media_id" /> <button type="button" class="btn btn-primary" @click="uploadNewCover">Upload new image</button>
                    </div>

            </div>
            <div class="modal-body">
                <div class="ibox">
                    <div :class="[ media_loading ? 'sk-loading': '','ibox-content' ]">
                         <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                    
                        <div class="row media-collection">
                            <div class="col-sm-2 image-holder" v-for="(image,index) in media_collection.data"><img  :src="image.thumb_url"  class="img-thumbnail" @click="chooseCover(image)"> <button type="button" class="btn remove-image btn-danger btn-xs btn-circle" @click="deleteImage(image,index)"><i class="fa fa-remove"></i></button></div>
                        </div>
                        <Pagination :settings="media_collection.meta" :loader="loadMedia" :prevnextonly="true"></Pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 </div>

</template>
<script>
import Uploadify from "./Uploadify.vue";
import Pagination from "./Pagination.vue";

export default {
  name: "MediaLibrary",
  props: ["image_url", "media_id","type"],
  components: {
    Uploadify: Uploadify,
    Pagination
  },
  methods: {
    openMediaLibrary() {
      $("#" + this.media_id).modal("show");
      this.loadMedia(1);
    },

    uploadNewCover() {
      let formData = new FormData();
      let imagefile = document.querySelector("#newcover" + this.media_id);
      formData.append("file", imagefile.files[0]);
      formData.append("source", this.source);
      imagefile.value = "";

      axios
        .post("/admin/media/upload", formData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          this.media_collection.data.unshift(response.data);
        });
    },

    deleteImage(image, index) {
      axios
        .delete("/admin/media/"+image.id)
        .then(response => {
          this.media_collection.data.splice(index, 1);
        });
    },

    removeCover() {
      this.preview_image_src = "";
      this.cover = "";
    },
    chooseCover(image) {
      this.preview_image_src = image.url;
      this.cover = image.url;
      $("#" + this.media_id).modal("hide");
      this.$emit('chosen', this.cover)
    },

    loadMedia(page) {
      this.media_loading = true;
      axios
        .get("/admin/media", {
          params: {
            source:this.source,
            page: page || 1
          }
        })
        .then(response => {
          this.media_collection = response.data;
          this.media_loading = false;
        });
    }
  },
  computed: {
    target() {
      return "#" + this.media_id;
    }
  },
  data() {
    return {
      search: "",
      cover: this.image_url,
      media_loading: true,
      preview_image_src: this.image_url,
      media_collection: { data: [] },
      source: this.type || "default",
    };
  }
};
</script>
<style lang="scss">
.medialibrary {
  position: relative;
  width: 100%;

  .media-collection {
    display: flex;
    flex-wrap: wrap;

    .image-holder {
      margin-bottom: 5px;
      position: relative;
      flex-basis: 14%;
      .remove-image {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  .clearcover {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
  }

  label {
    width: 100%;
  }
  .dropzone {
    overflow: hidden;
    position: relative;

    input[type="file"] {
      display: none;
    }

    img {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 80;
    }
  }
}
</style>