<template>
    <div>
        <input type="text" :disabled="disabled" :placeholder="placeholder" class="form-control" v-model="displayValue" @blur="isInputActive = false" @focus="isInputActive = true"/>
    </div>
</template>

<script>
export default {
  name: "NumeralInput",
  props: ["value","disabled","placeholder"],
  data: function() {
    return {
      isInputActive: false
    };
  },
  computed: {
        displayValue: {
            get: function() {
                if (this.isInputActive) {
                    // Cursor is inside the input field. unformat display value for user
                    return this.value ? this.value.toString() : 0
                } else {
                    // User is not modifying now. Format display value for user interface
                    return this.value ? this.value.toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,") : this.placeholder ? this.placeholder : '0.00'
                }
            },
            set: function(modifiedValue) {
                // Recalculate value after ignoring "$" and "," in user input
                let newValue = parseFloat(modifiedValue.replace(/[^\d\.]/g, ""))
                // Ensure that it is not NaN
                if (isNaN(newValue)) {
                    newValue = this.placeholder ? '' : 0
                }
                // Note: we cannot set this.value as it is a "prop". It needs to be passed to parent component
                // $emit the event so that parent component gets it
                this.$emit('input', newValue)
            }
        }
    }
};
</script>