<template>
<ul class="pagination" v-if="settings">
    <li v-if="settings.current_page === 1"  class="disabled"><span>&laquo;</span></li>
    <li v-if="settings.current_page !== 1"><a @click="loader(settings.current_page - 1)" rel="prev">&laquo;</a></li>
    <li :class="{active:settings.current_page==page }" v-for="page in settings.last_page" v-if="!prevnextonly">
        <span v-if="settings.current_page == page">{{ page }}</span>
        <a v-if="settings.current_page !== page" @click="loader(page)">{{ page }}</a>
    </li> 
    <li v-if="settings.current_page === settings.last_page" class="disabled"><span>&raquo;</span></li>
    <li v-if="settings.current_page !== settings.last_page"><a @click="loader(settings.current_page + 1)" rel="next">&raquo;</a></li>
</ul>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    prevnextonly: { type: Boolean, default: false },
    max_page_items: { type: Number, default: 10 },
    loader: { type: Function },
    settings: { type: Array / Object }
  }
};
</script>
