<template>
    <div>
        <BoxDetails></BoxDetails>
        <ExchangeDetails></ExchangeDetails>
        <OrderDetails></OrderDetails>
        <login></login>
        <HowMuch></HowMuch>
        <Rewards></Rewards>
    </div>
</template>
<script>
import { Global, EventHub } from "./Global.js";
import BoxDetails from "./popups/BoxDetails.vue";
import OrderDetails from "./popups/OrderDetails.vue";
import ExchangeDetails from "./popups/ExchangeDetails.vue";
import Login from "./popups/Login.vue";
import HowMuch from "./HowMuch.vue";
import Rewards from "./popups/Rewards.vue";

export default {
  name: "popups",
  components: {
    BoxDetails,
    ExchangeDetails,
    OrderDetails,
    Login,
    HowMuch,
    Rewards
  },
  methods: {
    popBoxDetails(monthKey) {
      EventHub.$emit("pop_box", monthKey);
    }
  },
  mounted() {
    EventHub.$on("show_box_details", monthKey => {
      this.popBoxDetails(monthKey);
    });
  }
};
</script>
