<template>

<div>
    <div class="row list-group product-list">
        <productbox v-for="product in products" :product="product" :key="product.id"></productbox>
    </div>
    <center v-if="show_load_more && collection.next_page_url !== null"><button class="btn btn-plain btn-load-more" @click="loadMore">LOAD MORE PRODUCTS</button></center>
</div>

</template>

<script>

import Productbox from "./ProductBox.vue";
export default {
  name: "productlisting",
  components:{
    Productbox
  },
  props: {
    collection: {
      type: Array / Object
    },
    show_load_more: {
      type:Boolean,
      default:true
    }
  },
  methods: {
    loadMore() {
      axios.get(this.collection.next_page_url).then(response => {
        this.updatePagination(response.data);
        this.products = _.unionBy(this.products, response.data.data, "id");
        
        this.$nextTick(()=>{
          setTimeout(()=>{StampedFn.loadBadges()},50);
        })
      });
    },
    updatePagination(pagination) {
      this.collection.current_page = pagination.current_page;
      this.collection.first_page_url = pagination.first_page_url;
      this.collection.from = pagination.from;
      this.collection.last_page = pagination.last_page;
      this.collection.last_page_url = pagination.last_page_url;
      this.collection.next_page_url = pagination.next_page_url;
      this.collection.path = pagination.path;
      this.collection.per_page = pagination.per_page;
      this.collection.prev_page_url = pagination.prev_page_url;
      this.collection.to = pagination.to;
      this.collection.total = pagination.total;
    }
  },
  data() {
    return {
      products: this.collection.data
    };
  }
};
</script>