<template>
<div class="repeatable-container">
    <slot name="add-button" :addItem="addItem"></slot>
    <div class="repeatable-list">
        <div class="repeatable-item" v-for="(item,index) in repeatable"><slot name="list" :repeatable="repeatable" :item="item" :removeItem="removeItem" :index="index"></slot></div>
    </div>
</div>
</template>

<script>
export default {
  name: "Repeatable",
  props: {
    list: { type: Array / Object },
    blank: { type: Array / Object / String / Number }
  },
  methods: {
    removeItem(index) {
      this.repeatable.splice(index, 1);
    },

    addItem() {
      this.repeatable.push(this.blank);
      console.log(this.repeatable);
    }
  },

  data() {
    return {
      repeatable: this.list
    };
  }
};
</script>