<template>
<div class="search-lister">
    <v-select :multiple="multiple" v-model="search_input" :placeholder="placeholder" label="id" :filterable="false" @search:focus="resetSearch"
        :options="search_list" @search="search" @input="addItem">
        <template slot="no-options">
                {{ option_text }}
        </template>
        <template slot="option" slot-scope="option">
            <slot name="option" :option=option>
                <div class="d-center">
                    <span v-text="option.name"></span>
                </div>
            </slot>
        </template>
        <template slot="selected-option" slot-scope="option">
            <slot name="selected-option" :option=option>                
                <div class="selected d-center"> 
                    <span v-text="option.name"></span>
                </div>
            </slot>
        </template>
    </v-select>

    <div class="search-lister-list" v-if="list">

        <div class="search-lister-list-item" v-for="(list_item,index) in list" :key="list_item.id">           
                 <div class="row form-inline m-t-lg">
                    <div class="col-xs-1 text-left">
                        <button type="button" class="btn btn-xs" @click="removeItem(index)"><i class="fa fa-remove"></i> </button>
                    </div>
                    <div class="col-xs-7">                        
                        <slot name="list" :list_item="list_item" :index="index">     
                            <a href="#"><span v-text="list_item.name"></span></a>
                        </slot>  
                    </div>
                </div>         
        </div>
    </div>
</div>
</template>
<script type="text/javascript">
import vSelect from "vue-select";

export default {
  name: "SearchLister",
  components:{
    'v-select':vSelect
  },
  props: {
    init: {
      type: Array / Object,
      default: () => []
    },
    placeholder: {
      type: String,
      default: "Search by keyword"
    },
    option_text: {
      type: String,
      default: ""
    },
    multiple: {
      type: Boolean,
      default: false
    },
    replace: {
      type: Boolean,
      default: false
    },
    search_url: {
      type: String
    },
    extra: {
      type: Array / Object
    }
  },
  data() {
    return {
      search_input: "",
      search_list: [],
      list: this.init
    };
  },

  methods: {
    resetSearch() {
      this.search_list = [];
    },
    search(search) {
      axios
        .get(this.search_url, {
          params: {
            q: search
          }
        })
        .then(response => {
          this.search_list = response.data.data;
        });
    },
    addItem(item) {
      if (!item) return;

      if (this.replace) {
        this.list = [item];
      } else {
        this.list.push(item);
      }
      
      Vue.nextTick(() => {
        this.search_input = null;
        this.callUpdated();
      });
    },

    removeItem(index) {
      this.$delete(this.list, index);

      Vue.nextTick(() => {
        this.callUpdated();
      });
    },

    callUpdated() {
      this.$emit("updated", this.list, this.extra);
    }
  }
};
</script>
