<template>
<div>
    <div v-if="!subscribed" class="ibox-content" :class="{'sk-loading': submitting}">
        <div class="sk-spinner sk-spinner-double-bounce">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
        <p>
        <strong class="blue-text">Free Essential Oil Recipes</strong> <br><small>Join 20,000+ others making their homes natural</small>
        </p>
        <div class="newsletter-form">
            <input type="email" v-model="subscribeForm.email" class="form-control" placeholder="Your email">
            <button class="btn btn-primary" type="button" @click="subscribe">SUBSCRIBE</button>
        </div>
    </div>
    <div v-else>
        <p>
        <strong class="blue-text">Thank you for subscribing!</strong> <br><small>Check your email for a confirmation message</small>
        </p>
    </div>
</div>
</template>
<script>
import { FormClass } from "./Global";

export default {
  name: "subscribe",
  methods: {
    subscribe() {

      this.submitting = true;

      axios
        .post("/email_subscribe", this.subscribeForm.get())
        .then(() => {
          this.subscribed = true;
        })
        .catch(error => {})
        .then(() => {
          this.submitting = false;
        });
    }
  },
  data() {
    return {
      submitting: false,
      subscribed: false,
      subscribeForm: new FormClass({
        email: null
      })
    };
  }
};
</script>
