<template></template>
<script>

import swal from 'sweetalert';

export default{
    name:'swal',
    props:["title", "text", "icon"],
    created() {
        swal({
            title:this.title,
            text:this.text,
            icon:this.icon,
            buttons:{
                OK:{
                    text:'OK',
                    className:'btn btn-primary btn-lg btn-wide'
                }
            }
        });
    },
}
</script>