<template>
  <button class="btn btn-lg btn-primary" @click="popup">
    <slot></slot>
  </button>
</template>
<script>
import * as typeformEmbed from "@typeform/embed";

export default {
  name: "TypeFormButton",
  props: ["url"],
  methods: {
    popup() {
      this.button.open();
    }
  },
  data() {
    return {
      button: null
    };
  },
  created() {
    this.button = typeformEmbed.makePopup(this.url, {
      hideHeaders: true,
      hideFooter: true
    });
  }
};
</script>