<template>

<div class="uploadify">    
    <label >        
        <img :src="this.preview_image_src" class="" />
        <slot name="front"></slot>
        <input type="file" :name="input_name" @change="readURL(this)" ref="uploader" />    
    </label>
 </div>
</template>

<script>
export default {
  name: "Uploadify",
  props: {
    input_name:{type:String}
  },

  data() {
    return {
      preview_image_src: ""
    };
  },

  methods: {
    readURL() {
      let that = this;

      let files = this.$refs.uploader.files;

      if (files && files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
          console.log(e.target.result);
          that.preview_image_src = e.target.result;
        };

        reader.readAsDataURL(files[0]);
      }
    },

    openFileUploader() {
      this.$refs.trigger("click");
    }
  }
};
</script>

<style lang="scss">
.uploadify {
  width: 100%;
  position: relative;
  overflow: hidden;
  .hide {
    display: none;
  }

  label {
    width: 100%;
  }
  img {
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
}
</style>