<template>
  <div class="admin-order-detail">
      <div class="row">        

        <div class="sk-spinner sk-spinner-double-bounce" v-if="!order">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
            <div class="col-md-8 col-md-offset-2"  v-if="order">
              
                <div class="form-group">
                <a @click="$router.push('/')"><strong><i class="fa fa-angle-left"></i> Orders</strong></a>
                <h1 class="font-bold">Order #<span v-text="order.order_number"></span> <span v-text="order.status" :class="order.status" class="btn btn-sm btn-default order-status"></span> 
                        <button v-if="order.needs_approval" @click="approveOrder" type="button" class="btn btn-primary ">Approve order and send email <i class="fa fa-check"></i></button></h1>
                </div>

                <div class="row">
                    <div class="col-md-7">                        

                        <div class="ibox">
                        <div class="ibox-title"><h5>Order details</h5>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                <i class="fa fa-gear"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><router-link class="" :to="{ name: 'edit', params: { id: order.id }}">Edit order</router-link>
                                </li>
                                <li><a href="#" @click.prevent="resendOrderEmail">Resend order email</a>
                                </li>
                                <li v-if="order.status=='pending'"><a href="#" @click.prevent="markPaid">Mark as paid</a>
                                </li>
                                <li v-if="order.status=='processing'"><a href="#" @click.prevent="markCompleted">Mark as completed</a>
                                </li>
                                <li><a href="#" @click.prevent="cancelOrder">Cancel order</a>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="ibox-content">

                            <div class="product-list" v-if="order.order_items">

                                    <div class="product-list-item" v-for="(item,index) in order.order_items" :key="item.id">
                                        <div class="row form-inline">
                                            
                                            <div class="col-xs-1 text-left">
                                            </div>
                                            <div class="col-xs-7">
                                                <img :src="item.cover" class="img-sm" />
                                                <a href="#"><span v-text="item.name"></span></a>
                                            </div>
                                            <div class="col-xs-1">
                                                <span v-text="item.quantity"></span>
                                            </div>
                                            <div class="col-xs-3 text-right">
                                                <div v-if="item.sale_price"><span class="strike">$<span v-text="item.price"></span></span> $<span v-text="item.sale_price"></span></div>
                                                <div v-else>$<span v-text="item.price"></span></div>                                               
                                                
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-5">
                                   <strong>Subtotal</strong>
                                </div>
                                <div class="col-xs-3 text-right">
                                    $<span v-text="order.subtotal_price"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-5">
                                   <strong>Discounts</strong>
                                </div>
                                <div class="col-xs-3 text-right">
                                    <div>$<span v-text="order.total_discounts"></span></div>
                                    <p v-if="order.discount_details.discount_override">
                                        {{ order.discount_details.discount_override.reason }}
                                    </p>
                                    <p v-if="order.discount_details.discount">
                                        {{ order.discount_details.discount.code }}
                                    </p>
                                    <p v-if="order.discount_details.gift_card">
                                        Gift card applied
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-5">
                                   <strong>Shipping</strong>
                                </div>
                                <div class="col-xs-3 text-right">
                                    $<span v-text="order.total_shipping"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-5">
                                   <strong>Tax({{ taxPercentage }}%) total</strong>
                                </div>
                                <div class="col-xs-3 text-right">
                                    $<span v-text="order.total_tax"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-5">
                                   <strong>Total</strong>
                                </div>
                                <div class="col-xs-3 text-right">
                                    $<span v-text="order.total_price"></span>
                                </div>
                            </div>

                            <hr >

                            <h4>Tracking Number: <span v-text="order.tracking_number"></span></h4>
                            <hr />
                            <div class="">
                                <h4>Notes:</h4>
                                <p> {{ order.note }}</p>
                            </div>
                        </div>
                    </div>
                      <div class="ibox">
                            <div class="ibox-title"><h5>Referral</h5></div>

                            <div class="ibox-content">

                              <h4>Referred By: <span v-if="order.invitation" class="text-info"><span  v-text="order.invitation.referrer.name"></span></span> <span class="pull-right text-link" @click="referred_by_show=!referred_by_show">Edit</span></h4>                              

                              <div  v-if="referred_by_show">
                                <div class="form-group">
                                  <SearchLister @updated="referredBySelected" :multiple="false" :search_url="'/admin/customers/search'" placeholder="Search customer">
                                  <template slot="option" slot-scope="option">
                                      <div class="d-center">
                                          <span v-text="option.option.name"></span> <strong><span v-text="option.option.email"></span></strong>
                                      </div>
                                  </template>
                                  <template slot="list" slot-scope="option">
                                      <a href="#"><span v-text="option.list_item.name"></span> <span v-text="option.list_item.email"></span></a>
                                  </template>
                                  </SearchLister>
                                </div>

                                <div class="form-group">
                                    <div class="text-right">
                                      <button type="button" v-if="order.invitation" class="btn btn-sm btn-danger pull-left" @click="removeReferrer">Remove referrer</button>
                                        <button type="button" class="btn btn-sm btn-default" @click="referred_by_show=false">Cancel</button>
                                        <button type="button" class="btn btn-sm btn-primary" :disabled="!order_referred_form.referrer" @click.prevent="updateReferredBy">Save</button>
                                    </div>
                                </div>
                              </div>

                               
                            </div>

                            


                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="ibox">
                            <div class="ibox-title"><h5>Customer</h5></div>
                            <div class="ibox-content">

                              <div class="customer-list" v-if="order.customer">
                                  <div class="customer-item">
                                      <div class="row">
                                          <div class="col-md-8">
                                              <a v-text="order.customer.name"></a>
                                          </div>
                                      </div>
                                      
                                      
                                  </div>
                              </div>                              
                            
                            </div>

                            
                            <div class="ibox-content">

                              <h4>Order Contact <span class="pull-right text-link" @click="order_contact_form_show=!order_contact_form_show">Edit</span></h4>

                              <div v-if="!order_contact_form_show">
                                <div>
                                <a href="" v-text="order.email"></a>
                              </div>
                              <div>
                                <span v-text="order.phone"></span>
                              </div>
                              </div>

                              <div v-if="order_contact_form_show">
                                <div class="form-group">
                                  <FormField :type="'text'" :label="'Email'" :name="'email'" :form="order_contact_form">
                                        <template slot="field">
                                            <input id="'form-field-order-contact-email" type="text" class="form-control" v-model="order_contact_form.email" @keydown="order_contact_form.errors.clear('email')">
                                        </template>
                                  </FormField>
                                </div>
                                <div class="form-group">
                                  <FormField :type="'text'" :label="'Phone'" :name="'phone'" :form="order_contact_form">
                                        <template slot="field">
                                            <input id="'form-field-order-contact-phone" type="text" class="form-control" v-model="order_contact_form.phone" @keydown="order_contact_form.errors.clear('phone')">
                                        </template>
                                  </FormField>
                                </div>

                                <div class="form-group">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-sm btn-default" @click="order_contact_form_show=false">Cancel</button>
                                        <button type="button" class="btn btn-sm btn-primary" @click.prevent="updateOrderContact">Save</button>
                                    </div>
                                </div>
                              </div>

                              
                              
                            </div>

                            <div class="ibox-content">

                              <h4>Shipping address <span class="pull-right text-link" @click="order_shipping_address_show=!order_shipping_address_show">Edit</span></h4>

                              <div v-if="!order_shipping_address_show">
                                <div v-if="order.shipping_address">
                                  <div v-text="order.shipping_address.name"></div>
                                  <div v-text="order.shipping_address.email"></div>
                                  <div v-text="order.shipping_address.company"></div>
                                  <div v-text="order.shipping_address.phone"></div>
                                  <div v-text="order.shipping_address.address1"></div>
                                  <div v-text="order.shipping_address.address2"></div> 
                                  <div v-text="order.shipping_address.city"></div>
                                  <div v-text="order.shipping_address.country_string"></div>
                                  <div v-text="order.shipping_address.zip"></div>  
                                  <div v-text="order.shipping_address.region"></div> 
                                </div>
                              </div>

                              <div v-if="order_shipping_address_show">

                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <FormField :type="'text'" :label="'First Name'" :name="'first_name'" :form="shipping_address_form">
                                                  <template slot="field">
                                                      <input id="'form-field-shipping_address_form-first_name" type="text" class="form-control" v-model="shipping_address_form.first_name" @keydown="shipping_address_form.errors.clear('first_name')">
                                                  </template>
                                              </FormField>
                                          </div>
                                          <div class="col-sm-6">
                                              <FormField :type="'text'" :label="'Last Name'" :name="'last_name'" :form="shipping_address_form">
                                                  <template slot="field">
                                                      <input id="'form-field-address-last_name" type="text" class="form-control" v-model="shipping_address_form.last_name" @keydown="shipping_address_form.errors.clear('last_name')">
                                                  </template>
                                              </FormField>
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-sm-6">
                                            <FormField :type="'text'" :label="'Company'" :name="'company'" :form="shipping_address_form">
                                                <template slot="field">
                                                      <input id="'form-field-address-company" type="text" class="form-control" v-model="shipping_address_form.company" @keydown="shipping_address_form.errors.clear('company')">
                                                  </template>
                                              </FormField>
                                          </div>
                                          <div class="col-sm-6">
                                              <FormField :type="'text'" :label="'Phone'" :name="'phone'" :form="shipping_address_form">
                                                  <template slot="field">
                                                      <input id="'form-field-address-phone" type="text" class="form-control" v-model="shipping_address_form.phone" @keydown="shipping_address_form.errors.clear('phone')">
                                                  </template>
                                              </FormField>
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <div class="form-group">
                                      <FormField :type="'text'" :label="'Address 1'" :name="'address1'" :form="shipping_address_form">
                                          <template slot="field">
                                              <input id="'form-field-address-address1" type="text" class="form-control" v-model="shipping_address_form.address1" @keydown="shipping_address_form.errors.clear('address1')">
                                          </template>
                                      </FormField>
                                  </div>
                                  <div class="form-group">
                                      <FormField :type="'text'" :label="'Address 2'" :name="'address2'" :form="shipping_address_form">
                                          <template slot="field">
                                              <input id="'form-field-address-address2" type="text" class="form-control" v-model="shipping_address_form.address2" @keydown="shipping_address_form.errors.clear('address2')">
                                          </template>
                                      </FormField>
                                  </div>
                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <FormField :type="'text'" :label="'City'" :name="'city'" :form="shipping_address_form">
                                                  <template slot="field">
                                                      <input id="'form-field-address-city" type="text" class="form-control" v-model="shipping_address_form.city" @keydown="shipping_address_form.errors.clear('city')">
                                                  </template>
                                              </FormField>
                                          </div>
                                          <div class="col-sm-6">
                                              <FormField :type="'text'" :label="'Zip/Postal code'" :name="'zip'" :form="shipping_address_form">
                                                  <template slot="field">
                                                      <input id="'form-field-shipping_address_form-zip" type="text" class="form-control" v-model="shipping_address_form.zip" @keydown="shipping_address_form.errors.clear('zip')">
                                                  </template>
                                              </FormField>
                                          </div>
                                      </div>
                                      
                                  </div>
                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-sm-6">
                                              <label for="">Country</label>
                                              <select v-model="shipping_address_form.country" class="form-control">
                                                  <option v-for="(country,code) in settings.countries" :value="code">{{ country }}</option>
                                              </select>
                                          </div>
                                          <div class="col-sm-6">
                                              <FormField :type="'text'" :label="'Region'" :name="'region'" :form="shipping_address_form">
                                                  <template slot="field">
                                                      <input id="'form-field-shipping_address_form-region" type="text" class="form-control" v-model="shipping_address_form.region" @keydown="shipping_address_form.errors.clear('region')">
                                                  </template>
                                              </FormField>
                                          </div>
                                      </div>
                                      
                                  </div>

                                  <div class="form-group">
                                      <div class="text-right">
                                          <button type="button" class="btn btn-sm btn-default" @click="order_shipping_address_show=false">Cancel</button>
                                          <button type="button" class="btn btn-sm btn-primary" @click.prevent="updateOrderShipping">Save</button>
                                      </div>
                                  </div>
                              </div>

                            </div>

                            <div class="ibox-content">

                              <h4>Billing address</h4>

                              <div v-if="order.billing_address">
                                  <div v-text="order.billing_address.name"></div>
                                  <div v-text="order.billing_address.email"></div>
                                  <div v-text="order.billing_address.company"></div>
                                  <div v-text="order.billing_address.phone"></div>
                                  <div v-text="order.billing_address.address1"></div>
                                  <div v-text="order.billing_address.address2"></div> 
                                  <div v-text="order.billing_address.city"></div>
                                  <div v-text="order.billing_address.country_string"></div>
                                  <div v-text="order.billing_address.zip"></div>  
                                  <div v-text="order.billing_address.region"></div> 

                              </div>

                              <div v-else>
                                No address set
                              </div>

                              
                            </div>

                            


                            
                        </div>

                        <div class="ibox">
                            <div class="ibox-title"><h3>Tags</h3></div>
                            <div class="ibox-content">
                                <input type="text" placeholder="Search tags" v-model="search_tags" class="input input-block form-control" @keyup="searchTags">
                            </div>
                        </div>
                    </div> 
                </div>

            </div>
      </div>
  </div>
</template>
<script>
import { FormClass } from "../Global";
import FormField from "../FormField.vue";
import SearchLister from "../SearchLister.vue";

export default {
  name: "OrderDetail",
  components: { FormField, SearchLister },
  computed: {
    taxPercentage() {
      return this.order.tax_percentage * 100;
    }
  },
  data() {
    return {
      settings: [],
      order: null,
      search_tags: null,
      shipping_address_form: new FormClass(),
      order_contact_form: new FormClass(),
      order_referred_form: new FormClass({
        referrer:null
      }),
      order_contact_form_show: false,
      order_shipping_address_show: false,
      referred_by_show: false,
    };
  },

  methods: {
    referredBySelected(list, extra) {
      this.order_referred_form.referrer = list.length > 0 ? list[0].id : null;
    },

    updateOrderShipping() {
      axios
        .patch("/admin/orders/" + this.order.id + "/shipping", {
          address: _.omit(this.shipping_address_form, ["errors"])
        })
        .then(response => {
          this.order.shipping = response.data;
          this.order_shipping_address_show = false;
        });
    },
    updateOrderContact() {
      axios
        .patch(
          "/admin/orders/" + this.order.id + "/contact",
          this.order_contact_form
        )
        .then(response => {
          this.order_contact_form.email = response.data.data.email;
          this.order_contact_form.phone = response.data.data.phone;
          this.order_contact_form_show = false;
        });
    },   

    removeReferrer(){
      
      this.referred_by_show = false;

      axios
        .delete(
          "/admin/orders/" + this.order.id + "/referrer")
        .then(response => {
          this.setOrder(response.data);
        }).catch(()=>{
          alert('Error')
        }).then(this.getOrder(this.$route.params.id))
    },
    updateReferredBy(){

      if (!this.order_referred_form.referrer) {
        return;
      }

      
      this.referred_by_show = false;

      axios
        .patch(
          "/admin/orders/" + this.order.id + "/referrer",
          { customer_id:this.order_referred_form.referrer }
        )
        .then(response => {
          this.setOrder(response.data);
        }).catch(()=>{
          alert('Error')
        }).then(this.getOrder(this.$route.params.id))
    },

    searchTags() {},
    setOrder(data) {
      this.order = data;
      if (this.order.shipping_address) {
        this.shipping_address_form.set(this.order.shipping_address);
      }
      this.order_contact_form.email = this.order.email;
      this.order_contact_form.phone = this.order.phone;
    },
    markPaid() {
      axios
        .patch("/admin/orders/" + this.order.id + "/status", {
          status: "processing"
        })
        .then(response => {
          this.setOrder(response.data);
        });
    },

    markCompleted() {
      axios
        .patch("/admin/orders/" + this.order.id + "/status", {
          status: "completed"
        })
        .then(response => {
          this.setOrder(response.data);
        });
    },

    cancelOrder(){
        swal({
        title: "Are you sure you want cancel this order?",
        buttons: {
          Yes: true,
          cancel: "Cancel"
        }
      }).then(value => {
        axios
        .patch("/admin/orders/" + this.order.id + "/status", {
          status: "cancelled"
        })
        .then(response => {
          this.setOrder(response.data);
        });
      });
    },

    resendOrderEmail(){
         axios
            .post("/admin/orders/" + this.order.id + "/resend-order-email")
            .then(response => {
                swal("Order email sent", "", "success");
            });
    },

    getOrder(id) {
      axios.get("/admin/orders/" + id).then(response => {
        this.setOrder(response.data.data);
      });
    },

    approveOrder(){
        axios
        .patch("/admin/orders/" + this.order.id + "/approve")
        .then(response => {
          this.setOrder(response.data);
        });
    }

  },

  created() {
    axios.get("/admin/orders/settings").then(response => {
      this.settings = response.data;
    });

    this.getOrder(this.$route.params.id);
  }
};
</script>
