<template>
  <div class="admin-order-detail">
      <div class="row">        

        <div class="sk-spinner sk-spinner-double-bounce" v-if="!order">
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
            <div class="col-md-8 col-md-offset-2"  v-if="order">
              
                <div class="form-group">
                <a @click="$router.push('/')"><strong><i class="fa fa-angle-left"></i> Orders</strong></a>
                <h1 class="font-bold">Order #<span v-text="order.order_number"></span> <span v-text="order.status" :class="order.status" class="badge order-status badge-default"></span></h1>
                </div>

                <div class="row">
                    <div class="col-md-7">                        

                        <div class="ibox">
                        <div class="ibox-title"><h3>Edit</h3></div>
                        <div class="ibox-content">

                            <v-select 
                            :multiple="false" 
                            v-model="search_product" 
                            :placeholder="'Search product'" 
                            label="id" 
                            :filterable="false" 
                            @search:focus="resetSearchProduct" 
                            :options="search_product_list" 
                            @search="searchProduct" 
                            @input="addProduct">
                                <template slot="no-options">
                                    type to search products
                                </template>
                                <template slot="option" slot-scope="option">
                                    <div class="d-center">
                                        <img :src="option.cover" class="img-sm" />
                                        <span v-text="option.name"></span>
                                    </div>
                                </template>
                                <template slot="selected-option" slot-scope="option">
                                <div class="selected d-center"> 
                                    <img :src="option.cover" class="img-sm" />
                                    <span v-text="option.name"></span>
                                </div>
                                </template>
                            </v-select>

                            <div class="product-list" v-if="order.order_items">

                                    <div class="product-list-item" v-for="(item,index) in order.order_items" :key="item.id">
                                        <div class="row form-inline">
                                            <div class="col-xs-7">
                                                <img :src="item.cover" class="img-sm" />
                                                <a href="#"><span v-text="item.name"></span></a>
                                            </div>
                                            <div class="col-xs-2">
                                                <input style="max-width:100%;" class="form-control" type="number" step="1" v-model="item.quantity" />
                                            </div>
                                            <div class="col-xs-2 text-right">                                                
                                                <div v-if="item.sale_price"><span class="strike">$<span v-text="item.price * item.quantity"></span></span> $<span v-text="item.sale_price * item.quantity"></span></div>
                                                <div v-else>$<span v-text="item.price * item.quantity"></span></div> 
                                            </div>
                                            <div class="col-xs-1"><button @click="removeOrderItem(index)" type="button" class="btn btn-xs"><i class="fa fa-remove"></i></button></div>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Subtotal</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <span v-text="global.priceFormat(orderItemsTotal())"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Shipping</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <span v-text="global.priceFormat(order.total_shipping)"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Discounts Total</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <span v-text="global.priceFormat(order.total_discounts)"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Tax({{ taxPercentage }}%) total</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <span v-text="global.priceFormat(totalTax)"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Total</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    <span v-text="global.priceFormat(computeTotals())"></span>
                                </div>
                            </div>
                            <div class="clearfix">
                                <hr />
                                <button type="button" @click="saveOrder" class="btn btn-primary pull-right">Save</button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
      </div>
  </div>
</template>
<script>
import { FormClass, Global } from "../Global";
import FormField from "../FormField.vue";
import vSelect from "vue-select";
import swal from "sweetalert";
export default {
  name: "OrderDetail",
  components: { FormField, "v-select": vSelect },
  computed: {
    taxPercentage() {
      return this.order.tax_percentage * 100;
    },
    totalTax() {
      return this.orderItemsTotal() * this.order.tax_percentage;
    }
  },
  data() {
    return {
      global: Global,
      settings: [],
      order: null,
      total: 0,
      search_product: null,
      search_product_list: []
    };
  },

  methods: {
    removeOrderItem(index) {
      this.order.order_items.splice(index, 1);
    },
    setOrder(data) {
      this.order = data;
    },

    resetSearchProduct() {
      this.search_product_list = [];
    },

    searchProduct(search) {
      axios
        .get("/admin/products", {
          params: {
            q: search
          }
        })
        .then(response => {
          this.search_product_list = response.data.data;
        });
    },

    addProduct(product) {
      if (!product) return;

      let found = this.order.order_items.findIndex(
        element => product.id == element.product_id
      );

      if (found >= 0) {
        this.order.order_items[found].quantity++;
        Vue.nextTick(() => {
          this.search_product = null;
        });
        return;
      }

      this.order.order_items.push({
        price: product.price,
        name: product.name,
        quantity: 1,
        sku: product.sku,
        product_id: product.id,
        cover: product.cover,
        sale_price: this.order.customer.is_wholesaler && product.wholesale_pricing ? product.wholesale_price : null 
      });
      Vue.nextTick(() => {
        this.search_product = null;
      });
    },

    orderItemsTotal() {
      let subtotal = 0;
      for (let i in this.order.order_items) {
        subtotal +=
          parseFloat(this.order.order_items[i].sale_price || this.order.order_items[i].price) *
          parseInt(this.order.order_items[i].quantity);
      }
      return subtotal;
    },

    computeTotals() {
      let total = 0;
      total =
        parseFloat(this.order.total_tax) +
        parseFloat(this.order.total_shipping) -
        parseFloat(this.order.total_discounts) +
        parseFloat(this.orderItemsTotal());
      return total;
    },

    getOrder(id) {
      axios.get("/admin/orders/" + id).then(response => {
        this.setOrder(response.data.data);
      });
    },

    saveOrder() {
      swal({
        title: "Are you you want update the order?",
        buttons: {
          Yes: true,
          cancel: "Cancel"
        }
      }).then(value => {
        if (value) {
          this.updateOrder();
        }
      });
    },

    updateOrder() {
      axios
        .patch("/admin/orders/" + this.order.id, {
          order_items: this.order.order_items
        })
        .then(response => {
          this.setOrder(response.data.data)
        });
    }
  },

  created() {
    axios.get("/admin/orders/settings").then(response => {
      this.settings = response.data;
    });

    this.getOrder(this.$route.params.id);
  }
};
</script>
