<template>
  
    <div class="row admin-order-detail">
        <div class="col-sm-9">
            <div class="ibox">
                <div class="ibox-content">
                    
                    <div class="input-group">
                        <input type="text" placeholder="Search orders" v-model="orders_collection.search" class="input form-control" @keyup="searchOrder">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                        </span>
                        
                        <button type="button" class="pull-right btn btn-primary" @click="$router.push({name:'create'})">Add order</button>
                    </div>
                    <div><a href="/admin/orders/" class="btn btn-danger m-t-sm" v-if="orders_collection.customer">Customer: {{ orders_collection.customer.name }} <i class="fa fa-times"></i> </a></div>
                </div>
            </div>
            <div class="ibox">
                <div :class="[ loadingList ? 'sk-loading': '','ibox-content' ]">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="orders-list">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Customer</th>
                                    <th>Status</th>
                                    <th>Total</th>
                                    <th>Referrer</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr :class="{'table-warning' : order.needs_approval == 1 }" v-for="order in orders_collection.data" :key="order.id">
                                    <td><router-link :to="{ name: 'order', params: { id: order.id }}">#<span v-text="order.order_number"></span></router-link></td>
                                        <td>{{ orderCreatedAt(order.processed_at_zone) }}</td>
                                    <td><span v-if="order.customer" v-text="order.customer.name"></span></td>
                                    <td><span v-text="order.status" :class="order.status" class="btn btn-sm btn-default order-status"></span></td>
                                    <td>$<span v-text="order.total_price"></span></td>                                    
                                    <td><span v-if="order.invitation" class="btn btn-sm btn-default text-danger"><i class="fa fa-heart"></i> Referred by: <span  v-text="order.invitation.referrer.name"></span></span></td>
                                </tr>
                                </tbody>
                            
                        </table>

                        <div class="clearfix">
                            <div class="pull-right">
                                <ul class="pagination" v-if="orders_collection">
                                    <li v-if="orders_collection.current_page === 1"  class="disabled"><span>&laquo;</span></li>
                                    <li v-if="orders_collection.current_page !== 1"><a @click="loadList(orders_collection.current_page - 1)" rel="prev">&laquo;</a></li>
                                    <li v-if="orders_collection.current_page === orders_collection.last_page" class="disabled"><span>&raquo;</span></li>
                                    <li v-if="orders_collection.current_page !== orders_collection.last_page"><a @click="loadList(orders_collection.current_page + 1)" rel="next">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import moment from "moment";
import { _OrdersCollection } from "./OrderGlobal";
export default {
  name: "OrderList",
  data() {
    return {
      loadingList: false,
      orders_collection: _OrdersCollection
    };
  },
  computed: {},
  methods: {
    orderCreatedAt(createdAt) {
      return moment(createdAt).format('MMMM D, YYYY h:mm:ss a');
    },
    loadList(page) {
      page = page ? page : 1;
      this.loadingList = true;
      let urlParams = new URLSearchParams(window.location.search);
      let customer = urlParams.has('customer') ? urlParams.get('customer') : null;
      axios
        .get("/admin/orders/search", {
          params: {
            q: this.orders_collection.search,
            page: page,
            customer:customer
          }
        })
        .then(response => {
          this.loadingList = false;
          _OrdersCollection.set(response.data);
        });
    },

    searchOrder: _.debounce(function() {
      this.loadList(1);
    }, 300)
  },

  created() {
    if (_OrdersCollection.data == null) this.loadList(1);
  }
};
</script>
