<template>
  <div>
      <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                <a @click="$router.push('/')"><strong><i class="fa fa-angle-left"></i> Orders</strong></a>
                <h1 class="font-bold">Add order</h1>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="ibox">
                        <div class="ibox-title"><h3>Order details</h3></div>
                        <div class="ibox-content">
                            <v-select 
                            :multiple="false" 
                            v-model="search_product" 
                            :placeholder="'Search product'" 
                            label="id" 
                            :filterable="false" 
                            @search:focus="resetSearchProduct" 
                            :options="search_product_list" 
                            @search="searchProduct" 
                            @input="addProduct">
                                <template slot="no-options">
                                    type to search products
                                </template>
                                <template slot="option" slot-scope="option">
                                    <div class="d-center">
                                        <img :src="option.cover" class="img-sm" />
                                        <span v-text="option.name"></span>
                                    </div>
                                </template>
                                <template slot="selected-option" slot-scope="option">
                                <div class="selected d-center"> 
                                    <img :src="option.cover" class="img-sm" />
                                    <span v-text="option.name"></span>
                                </div>
                                </template>
                            </v-select>

                            <div class="product-list" v-if="product_list">

                                    <div class="product-list-item" v-for="(product,index) in product_list" :key="product.id">
                                        <div class="row form-inline">
                                            
                                            <div class="col-xs-1 text-left">
                                                <button class="btn btn-xs" @click="removeProduct(index)"><i class="fa fa-remove"></i> </button>
                                            </div>
                                            <div class="col-xs-6">
                                                <img :src="product.cover" class="img-sm" />
                                                <a href="#"><span v-text="product.name"></span></a>
                                            </div>
                                            <div class="col-xs-3">
                                                <input min="1" @change="computeTotals" max="1000000" class="form-control" style="max-width:100%;" type="number" v-model="product.qty">
                                            </div>
                                            <div class="col-xs-2 text-right">                                                
                                                <div v-if="customer && customer.is_wholesaler && product.wholesale_pricing"><span class="strike">$<span v-text="product.price * product.qty"></span></span> $<span v-text="product.wholesale_price * product.qty"></span></div>
                                                <div v-else>$<span v-text="product.price * product.qty"></span></div> 
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Subtotal</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    $ <span v-text="subtotal_price"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Shipping</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    $ <span v-text="total_shipping"></span>
                                </div>
                            </div>

                            <div class="row">                                
                                <div class="col-xs-4">
                                   <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-edit-discount-form">Add discount</button>                                   
                                </div>
                                <div class="col-xs-4 col-xs-offset-2">
                                   <strong>Discount</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    $ <span v-text="discount_total"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Tax(<span v-text="taxPercentage"></span>%) total</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    $ <span v-text="total_tax"></span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-6">
                                   <strong>Total</strong>
                                </div>
                                <div class="col-xs-2 text-right">
                                    $ <span v-text="total_price"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ibox">
                            <div class="ibox-title">Notes</div>
                            <div class="ibox-content"><textarea v-model="notes" class="form-control" rows="5"></textarea></div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-5">
                        <div class="ibox">
                            <div class="ibox-title"><h3>Find a customer</h3></div>
                            <div class="ibox-content">
                                <div class="form-group">
                                    <v-select 
                                        :multiple="false"
                                        v-model="search_customer" 
                                        :placeholder="'Search customer'" 
                                        label="id" :filterable="false" 
                                        @search:focus="resetSearchCustomer" 
                                        :options="search_customer_list" 
                                        @search="searchCustomer" @input="addCustomer">
                                        <template slot="option" slot-scope="option">
                                            <div class="d-center">
                                                <span v-text="option.name"></span>
                                            </div>
                                        </template>
                                        <template slot="selected-option" slot-scope="option">
                                        <div class="selected d-center"> 
                                            <span v-text="option.name"></span>
                                        </div>
                                        </template>
                                    </v-select>
                                </div>

                            <div class="customer-list" v-if="customer">
                                <div class="customer-item">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4 v-text="customer.name"></h4>
                                            <div>{{ customer.email }}</div>
                                            <div>{{ customer.phone }}</div>
                                            <div v-if="customer.default_address">
                                                <div>{{ customer.default_address.region }}</div>
                                                <div>{{ customer.default_address.city }}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <button class="btn btn-xs" @click="customer = null"><i class="fa fa-remove"></i></button>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            </div>

                            
                        </div>
                        <div class="ibox">
                            <div class="ibox-title"><h3>Tags</h3></div>
                            <div class="ibox-content">
                                <input type="text" placeholder="Search tags" v-model="search_tags" class="input input-block form-control" @keyup="searchTags">
                            </div>
                        </div>
                    </div> 
                </div>

                <div class="text-right">

                <div class="form-group">
                    <button :disabled="!customer || product_list.length <=0" type="button" class="btn btn-primary" @click="saveOrder">Save order</button>
                </div>

            </div>

            </div>   
                   
        </div>
         <div id="modal-edit-discount-form" class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Discount</h4>
                    </div>
                    <div class="modal-body">
                            <div class="form-group">
                                <label>Amount</label>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            <div class="input-group-addon">$</div>
                                                <numeral-input v-model="discountForm.amount"></numeral-input>
                                            </div>
                                        </div>
                                    </div>
                            </div>

                            
                            <div class="form-group">
                                <textarea v-model="discountForm.reason" class="form-control"></textarea>                           
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @click="updateDiscount">Add discount</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
  
  </div>
</template>

<script>
import numeral from "numeral";
import vSelect from "vue-select";
import { EventHub, FormClass } from "../Global";
import NumeralInput from "../NumeralInput.vue";

export default {
  name: "OrderForm",
  components: {
    "v-select": vSelect,
    NumeralInput
  },
  computed: {
    taxPercentage() {
      return parseFloat(this.settings.tax) * 100;
    }
  },
  data() {
    return {
      settings: [],
      search_product: null,
      search_customer: null,
      search_tags: "",
      notes: null,
      search_product_list: [],
      search_customer_list: [],
      product_list: [],
      customer: null,
      total_price: "0.00",
      subtotal_price: "0.00",
      total_tax: "0.00",
      discount_total: "0.00",
      total_shipping:"0.00",
      discountForm: new FormClass({
        amount: 0,
        reason: ""
      })
    };
  },
  methods: {
    updateDiscount() {
      this.computeTotals();
      $("#modal-edit-discount-form").modal("hide");
    },
    computeTotals() {
      axios
        .post("/admin/orders/compute", {
          products: this.product_list,
          customer: this.customer,
          discount: this.discountForm.get()
        })
        .then(response => {
          this.total_price = response.data.totals.total_price;
          this.subtotal_price = response.data.totals.subtotal_price;
          this.total_tax = response.data.totals.total_tax;
          this.discount_total = response.data.totals.discount_total;
          this.total_shipping = response.data.totals.total_shipping;
        });

      /*let total = 0;
      for (let i in this.product_list) {
        total += parseFloat(
          this.product_list[i].price * this.product_list[i].qty
        );
      }
      this.total = numeral(total).format("0,0.00");*/
    },
    resetSearchProduct() {
      this.search_product_list = [];
    },
    resetSearchCustomer() {
      this.search_customer_list = [];
    },
    searchProduct(search) {
      axios
        .get("/admin/products", {
          params: {
            q: search
          }
        })
        .then(response => {
          this.search_product_list = response.data.data;
        });
    },
    searchCustomer(search) {
      axios
        .get("/admin/customers/search", {
          params: {
            q: search
          }
        })
        .then(response => {
          this.search_customer_list = response.data.data;
        });
    },

    searchTags() {},

    addProduct(product) {
      if (!product) return;

      let found = this.product_list.findIndex(
        element => product.id == element.id
      );

      if (found >= 0) {
        this.product_list[found].qty++;
        Vue.nextTick(() => {
          this.computeTotals();
          this.search_product = null;
        });
        return;
      }

      product.qty = 1;
      this.product_list.push(product);
      Vue.nextTick(() => {
        this.computeTotals();
        this.search_product = null;
      });
    },

    addCustomer(customer) {
      if (!customer) return;

      this.customer = customer;
      Vue.nextTick(() => {
        this.search_customer = null;
      });
    },

    removeProduct(index) {
      this.$delete(this.product_list, index);
      Vue.nextTick(() => {
        this.computeTotals();
      });
    },

    saveOrder() {
      axios
        .post("/admin/orders", {
          customer: this.customer,
          products: this.product_list,
          notes: this.notes,
          discount: this.discountForm.get()
        })
        .then(response => {
          EventHub.$emit("order_created", response.data.data);
        });
    }
  },
  created() {
    axios.get("/admin/orders/settings").then(response => {
      this.settings = response.data;
    });
  }
};
</script>
<style lang="scss">
</style>
