<template>
    <div>
        <div class="order-header clearfix">
            <h3 class="inner pull-left">Quick Order</h3>
        </div>

        <div class="form-group">
            <table class="table striped">
                <thead>
                    <tr>
                        <th>Product Item</th>
                        <th>SKU</th>
                        <th>Price</th>
                        <th>Qty</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
            <button type="button" class="btn btn-primary btn-lg pull-right">CHECKOUT</button>
        </div>
    </div>
</template>

<script>
export default {
  name: "QuickOrderForm"
};
</script>
