<template>
<div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Staff</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li class="active">
                <strong>Staff</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

            
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">  
<div class="row">
        <div class="col-lg-6">
        <!--<div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Search user</h5>
            </div>
            <div class="ibox-content">
                <v-select v-model="selected" label="id" :filterable="false" @search:focus="reset" :options="options" @search="onSearch" @input="onSelect">
                    <template slot="no-options">
                    type to search users
                    </template>
                    <template slot="option" slot-scope="option">
                    <div class="d-center">
                        {{ option.name }} {{ option.email }}
                        </div>
                    </template>
                    <template slot="selected-option" slot-scope="option">
                    <div class="selected d-center"> 
                        {{ option.name }} {{ option.email }}
                    </div>
                    </template>
                </v-select>

            </div>
        </div> -->

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create new staff</h5>
            </div>
            <div :class="[ newAdminSubmitting ? 'sk-loading': '','ibox-content' ]">

                <div class="sk-spinner sk-spinner-double-bounce">
                                    <div class="sk-double-bounce1"></div>
                                    <div class="sk-double-bounce2"></div>
                                </div>

                <div class="row">
                  <div class="col-sm-4">
                    <medialibrary media_id="staff-avatar" type="avatar" @chosen="chosenAvatar">
                        <div slot="front" slot-scope="image">

                            <div class="dropzone">

                                <img :src="newadmin.avatar" class="" />

                                <p>Add or replace avatar</p>
                                <input type="hidden" v-model="image.cover" class="form-control" />
                            </div>

                        </div>
                    </medialibrary>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" v-model="newadmin.name" class="form-control" placeholder="Name" />
                    </div>

                    <div class="form-group">
                        <input type="email" v-model="newadmin.email" class="form-control" placeholder="Email" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <textarea rows="10"  v-model="newadmin.about" class="form-control" placeholder="About"></textarea>
                </div>

                <div class="form-group">
                    <input type="password" v-model="newadmin.password" class="form-control" placeholder="Password" />
                </div>

                <div class="form-group">
                    <input type="password" v-model="newadmin.password_confirmation" class="form-control" placeholder="Re-type password" />
                </div>

                <div class="form-group">
                  <label>Role:</label>
                    <select v-model="newadmin.role" class="form-control">
                        <option value="admin">Administrator</option>
                        <option value="author">Author</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="button" @click="createNewAdmin" class="btn btn-primary btn-lg">Create user</button>
                </div>

                <div>
                    <p class="text-danger" v-for="error in newAdminErrors">{{ error[0] }}</p>
                </div>

            </div>
        </div>

        </div>
        <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Staff List</h5>
                
                <div class="ibox-tools">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                        <i class="fa fa-sort"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-sort">
                      
                        <li><a href="#" @click="sortChange('id')">ID</a>
                        </li>
                        <li><a href="#" @click="sortChange('name')">Name</a>
                        </li>
                        <li><a href="#" @click="sortChange('role')">Role</a>
                        </li>
                    </ul>
              </div>
            </div>
            <div class="ibox-content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>Avatar</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                        <admin-row v-for="(staff,index) in sortedAdmins" :key="staff.id" :admin="staff" @userRemoved="removeUser(staff,index)"></admin-row>
                    </tbody>
                </table>

            </div>
        </div>
        </div>
    </div>
    </div>
    </div>
    </template>

<script>
import vSelect from "vue-select";
import { FormClass } from "../Global";

Vue.component("admin-row", {
  props: {
    admin: { type: Array / Object },
    onRemoveUser: { type: Function }
  },
  template: `
        <tr v-show="!isDeleted">
            <td><img v-if="admin.avatar" :src="admin.avatar" class="img-sm"></td>
            <td>{{ admin.name }}</td>
            <td>{{ admin.email}}</td>  
            <td>
                {{ admin.role }} 
            </td>     
            <td><!--<button v-if="admin.role==='admin'" class="btn btn-danger btn-xs" type="button" @click="removeUser(admin)"><i class="fa fa-times"></i>
                </button>--><button type="button" class="pull-right btn btn-xs btn-primary" @click="$router.push({name:'staff-edit', params: { id: admin.id }})">Edit</button></td> 
        </tr>
    `,
  computed: {
    /*role(){
      if (_.isEmpty(this.admin.roles)) return "admin";

      return _.first(this.admin.roles).name;
    },*/
  },
  data() {
    return {
      isDeleted: false
    };
  },

  methods: {
    removeUser(admin) {
      this.$emit("userRemoved", admin);
    }
  }
});
Vue.component("v-select", vSelect);

export default {
  name: "Administrators",

  computed: {
    sortedAdmins() {
      return _.orderBy(this.list, this.sortSelect, this.sortOrder);
    }
  },

  methods: {
    chosenAvatar(avatar){
    this.newadmin.avatar = avatar
  },
    sortChange(sortBy) {
      if (sortBy === this.sortSelect)
        this.sortOrder = this.sortOrder == "asc" ? "desc" : "asc";
      else this.sortSelect = sortBy;
    },
    reset() {
      this.selected = null;
    },
    onSelect(item) {
      if (_.isEmpty(item)) return;
      this.makeadmin(this.selected);
    },
    onSearch(search, loading) {
      loading(true);
      this.searchUser(loading, search, this);
    },
    searchUser: _.debounce((loading, search, vm) => {
      this.isSearching = true;
      axios
        .get("/admin/users/search", {
          params: {
            q: search,
            filter: "non-staff"
          }
        })
        .then(response => {
          vm.options = _.toArray(response.data);
          loading(false);
        });
    }, 350),
    makeadmin(value) {
      let item = value;

      Vue.nextTick(() => {
        this.selected = null;
      });

      let found = _.find(this.list, function(o) {
        return o.id == item.id;
      });

      if (!_.isEmpty(found) && !found.deleted) return;

      axios
        .post("/admin/administrators/adduser", {
          id: item.id
        })
        .then(response => {
          this.newadmin.reset();
          if (_.isEmpty(found)) this.list.push(response.data);
        });
    },
    removeUser(item, index) {
      this.$delete(this.list, index);

      axios.delete("/admin/administrators/" + item.id).then(response => {});
    },

    loadStaff(page) {
      axios.get("/admin/search/administrators", {
        params: {
          page: page
        }
      }).then(response => {
        this.list = response.data.data
      })
    },

    createNewAdmin() {
      this.newAdminSubmitting = true;
      this.newAdminErrors = [];
      axios
        .post("/admin/administrators/store", this.newadmin.get())
        .then(response => {
          this.newAdminSubmitting = false;
          this.newadmin.reset();
          this.list.push(response.data);
        })
        .catch(error => {
          this.newAdminSubmitting = false;

          if (!_.isEmpty(error.response.data.errors)) {
            this.newAdminErrors = error.response.data.errors;
          }
        });
    }
  },

  data() {
    return {
      options: [],
      list: [],
      selected: null,
      newadmin: new FormClass({
        role: "admin"
      }),
      newAdminSubmitting: false,
      newAdminErrors: [],
      sortSelect: "id",
      sortOrder: "asc"
    };
  },

  created() {
    this.loadStaff(1);
  }
};
</script>