<template>
<div>
<div class="row wrapper border-bottom white-bg page-heading" v-if="staff.id">
    <div class="col-lg-10">
        <h2>Staff</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">Admin</a>
            </li>
            <li class="active">
                <a @click="$router.push({name: 'administrators'})">Staff</a>
            </li>
            <li class="active">
                <strong>{{ staff.name }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

            
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">  
<div class="row">
        <div class="col-lg-6">
        <!--<div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Search user</h5>
            </div>
            <div class="ibox-content">
                <v-select v-model="selected" label="id" :filterable="false" @search:focus="reset" :options="options" @search="onSearch" @input="onSelect">
                    <template slot="no-options">
                    type to search users
                    </template>
                    <template slot="option" slot-scope="option">
                    <div class="d-center">
                        {{ option.name }} {{ option.email }}
                        </div>
                    </template>
                    <template slot="selected-option" slot-scope="option">
                    <div class="selected d-center"> 
                        {{ option.name }} {{ option.email }}
                    </div>
                    </template>
                </v-select>

            </div>
        </div> -->

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Create new staff</h5>
            </div>
            <div :class="[ submitting ? 'sk-loading': '','ibox-content' ]">

                <div class="sk-spinner sk-spinner-double-bounce">
                                    <div class="sk-double-bounce1"></div>
                                    <div class="sk-double-bounce2"></div>
                                </div>

                <div class="row m-b-sm">
                  <div class="col-sm-4">
                    <medialibrary :image_url="staff.avatar" media_id="staff-avatar" type="avatar" @chosen="chosenAvatar">
                        <div slot="front" slot-scope="image">

                            <div class="dropzone">

                                <img :src="staff.avatar" class="" />

                                <p>Add or replace avatar</p>
                                <input type="hidden" v-model="image.cover" class="form-control" />
                            </div>

                        </div>
                    </medialibrary>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                        <input type="text" v-model="staff.name" class="form-control" placeholder="Name" />
                    </div>

                    <div class="form-group">
                        <input type="email" v-model="staff.email" class="form-control" placeholder="Email" />
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <textarea rows="10"  v-model="staff.about" class="form-control" placeholder="About"></textarea>
                </div>

                <div><button @click="change_password=!change_password" type="button" class="btn">Change Password <i class="fa fa-key"></i></button></div>
                <div v-if="change_password">
                  <div class="form-group">
                    <input type="password" v-model="staff.password" class="form-control" placeholder="Password" />
                </div>

                <div class="form-group">
                    <input type="password" v-model="staff.password_confirmation" class="form-control" placeholder="Re-type password" />
                </div>
                </div>

                <div class="form-group">
                  <label>Role:</label>
                    <strong v-if="staff.role=='super-admin'">Super Admin</strong>
                    <select v-else v-model="staff.role" class="form-control">
                        <option value="admin">Administrator</option>
                        <option value="author">Author</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="button" @click="update" class="btn btn-primary btn-lg">Update</button>
                </div>

                <div>
                    <p class="text-danger" v-for="error in staffErrors">{{ error[0] }}</p>
                </div>

            </div>
        </div>

        </div>
        <div class="col-lg-6">
        </div>
    </div>
    </div>
    </div>
    </template>

<script>
import { FormClass } from "../Global";

export default {
  name: "StaffEdit",

  computed: {},

  methods: {
    loadStaff(staff_id) {
      axios.get("/admin/administrators/" + staff_id).then(response => {
        this.staff.set(response.data);
      });
    },

  chosenAvatar(avatar){
    this.staff.avatar = avatar
  },
    update() {
      this.submitting = true;
      this.staffErrors = [];
      axios
        .patch("/admin/administrators/" + this.staff.id, this.staff.get())
        .then(response => {
          this.change_password = false;
        })
        .catch(error => {
          if (!_.isEmpty(error.response.data.errors)) {
            this.staffErrors = error.response.data.errors;
          }
        })
        .then(() => {
          this.submitting = false;
        });
    }
  },

  data() {
    return {
      list: [],
      change_password: false,
      staff: new FormClass({name:''}),
      submitting: false,
      staffErrors: []
    };
  },

  mounted() {
    this.loadStaff(this.$route.params.id);
  }
};
</script>