<template>
    <div id="app-dashboard">
        <div class="row wrapper bgiftcard-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Gift Cards</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    <li class="active">
                        <strong>Gift Cards</strong>
                    </li>
                </ol>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox">
                <div class="ibox-content">
                    
                    <div class="input-group">
                        <input type="text" placeholder="Search gift cards" v-model="giftcards_collection.search" class="input form-control" @keyup="searchGiftCards">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                        </span>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div :class="[ loadingList ? 'sk-loading': '','ibox-content' ]">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="giftcards-list">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Customer</th>
                                    <th>Initial Value</th>
                                    <th>Balance</th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr v-for="giftcard in giftcards_collection.data" :key="giftcard.id">
                                    <td>{{ giftcard.masked_code }}</td>
                                    <td>
                                        <div v-if="giftcard.owner" >
                                            <span v-text="giftcard.owner.name"></span> <span v-text="giftcard.owner.email"></span>
                                        </div>
                                        </td>
                                    <td>{{ giftcard.initial_value}}</td>
                                    <td>{{ giftcard.remaining}}</td>
                                    <td><button type="button" class="btn btn-primary btn-sm" @click="resend(giftcard.id)"><i class="fa fa-envelope"></i> Re-send</button> <button type="button" class="btn btn-danger btn-sm" @click="remove(giftcard.id)"><i class="fa fa-trash"></i> Delete</button></td>
                                </tr>
                                </tbody>
                            
                        </table>

                        <div class="clearfix">
                            <div class="pull-right">
                                <ul class="pagination" v-if="giftcards_collection.meta">
                                    <li v-if="giftcards_collection.meta.current_page === 1"  class="disabled"><span>&laquo;</span></li>
                                    <li v-if="giftcards_collection.meta.current_page !== 1"><a @click="loadList(giftcards_collection.meta.current_page - 1)" rel="prev">&laquo;</a></li>
                                    <li v-if="giftcards_collection.meta.current_page === giftcards_collection.meta.last_page" class="disabled"><span>&raquo;</span></li>
                                    <li v-if="giftcards_collection.meta.current_page !== giftcards_collection.meta.last_page"><a @click="loadList(giftcards_collection.meta.current_page + 1)" rel="next">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { _GiftCards } from "./GiftCardsGlobal";
export default {
  name: "GiftCardsList",
  data() {
    return {
      page: 1,
      loadingList: false,
      giftcards_collection: _GiftCards
    };
  },
  methods: {
    resend(id) {
      axios
        .post("/admin/gift-cards/" + id + "/resend")
        .then(response => {
          swal("Gift card sent!", "", "success");
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },
    remove(id) {
      swal({
        title: "Are you sure you want to delete this gift card?",
        icon: "warning",
        buttons: true,
        dangerMode: true
      }).then(willDelete => {
        if (willDelete) {
          axios
            .delete("/admin/gift-cards/" + id)
            .then(response => {
              swal("Gift card removed!", "", "success");
              this.loadList(this.page);
            })
            .catch(error => {
              swal("Something went wrong", "", "error");
            });
        }
      });
    },
    searchGiftCards: _.debounce(function() {
      this.loadList(1);
    }, 300),
    loadList(page) {
      this.page = page ? page : 1;
      this.loadingList = true;
      axios
        .get("/admin/search/gift-cards", {
          params: {
            q: _GiftCards.search,
            page: this.page
          }
        })
        .then(response => {
          this.loadingList = false;
          _GiftCards.set(response.data);
        });
    }
  },
  created() {
    this.loadList(1);
  }
};
</script>

