<template>
    <div class="container-fluid">
      
        <!--<div class="hide text-center"  :class="{ show:processing_order }">
          <div class="processing-text">We're processing your order</div>
           <div class="slick-processing-order">
                <div><img src="/images/slick_oils_aligned.png"></div>
                <div><img src="/images/slick_oils_plus_extras.png"></div>
                <div><img src="/images/slick_recipe_box.png"></div>
            </div>
        </div>-->
        <div class="hide" :class="{ show:!processing_order }">
          <div class="text-center hide" :class="{show:global.Cart.wholesale_message}">
              <div>
                  <label v-text="global.Cart.wholesale_message" class="se-wholesale-message" style="font-size:.9em"></label>
                  <a href="/products" class="btn btn-default">Continue shopping</a>
              </div>
          </div>
          <div class="hide" :class="{show:global.Cart.count > 0}">
            <div class="row">
              <div class="col-md-6 checkout-form">
                <div class="checkout-form-inner">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h3 class="checkout-title">Where Should We Send Order Info? <span v-if="checkEmailAddress" class="se-icon icon-check animated zoomInLeft"></span></h3>
                          <div class="form-group">
                              <label class="control-label">E-MAIL</label>
                              <input type="text" v-model.trim="checkout.email" class="form-control input-lg">
                              <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.email')" v-text="checkout.errors.get('checkout.email')"></div>
                              
                          </div>
                          <div class="form-group" v-if="!customer.account">
                            <p>Already have an account? <a href="#" class="text-primary" @click.prevent="EventHub.$emit('show_login', true)">Log in</a></p>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h3 class="checkout-title">Where Should We Ship? <span v-if="checkShippingAddress" class="se-icon icon-check"></span></h3>
                          <div class="form-group" v-if="customer && customer.addresses">
                              <select @change="pickAddress" v-model="picked_address" class="form-control input-lg">
                                <option value="new">New address</option>
                                <option :value="address.id" v-for="(address,index) in customer.addresses">{{ address.first_name }} {{ address.last_name }} {{ address.address1 }} {{ address.city }} {{ address.zip }} {{ address.country }}</option>
                              </select>
                          </div>
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group">
                                      <label class="control-label">FULL NAME</label>
                                      <input type="text" v-model.trim="checkout.shipping_address.first_name" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.first_name')" v-text="checkout.errors.get('checkout.shipping_address.first_name')"></div>
                                  </div>
                              </div>
                              <!--<div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">LAST NAME</label>
                                      <input type="text" v-model="checkout.shipping_address.last_name" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.last_name')" v-text="checkout.errors.get('checkout.shipping_address.last_name')"></div>
                                  </div>
                              </div>-->
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">STREET ADDRESS</label>
                                      <input type="text" id="map-address-1" @focus="geolocate" v-model.trim="checkout.shipping_address.address1" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.address1')" v-text="checkout.errors.get('checkout.shipping_address.address1')"></div>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">APPT/ SUITE</label>
                                      <input type="text" v-model.trim="checkout.shipping_address.address2" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.address2')" v-text="checkout.errors.get('checkout.shipping_address.address2')"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-4">
                                  <div class="form-group">
                                      <label class="control-label">CITY</label>
                                      <input type="text" v-model.trim="checkout.shipping_address.city" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.city')" v-text="checkout.errors.get('checkout.shipping_address.city')"></div>
                                  </div>
                              </div>
                              <div class="col-sm-4">
                                  <div class="form-group select-input">
                                      <label class="control-label">STATE</label>
                                      <select @change="shippingAddressUpdated" v-model="checkout.shipping_address.region" class="form-control input-lg">
                                          <option v-for="(state,index) in shipping_states" :value="state.iso">{{ state.name }}</option>
                                      </select>
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.region')" v-text="checkout.errors.get('checkout.shipping_address.region')"></div>
                                  </div>
                              </div>
                              <div class="col-sm-4">
                                  <div class="form-group">
                                      <label class="control-label">ZIP CODE</label>
                                      <input type="text" @change="shippingAddressUpdated" v-model.trim="checkout.shipping_address.zip" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.zip')" v-text="checkout.errors.get('checkout.shipping_address.zip')"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group select-input">
                                      <label class="control-label">COUNTRY</label>
                                      <select @change="shippingAddressUpdated" v-model="checkout.shipping_address.country" class="form-control input-lg">
                                          <option v-for="(country,index) in countries" :value="country.iso">{{ country.name }}</option>
                                      </select>
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.shipping_address.country')" v-text="checkout.errors.get('checkout.shipping_address.country')"></div>
                                  </div>
                              </div>
                              
                          </div>
                          <div class="form-group shipping-radio"  v-if="global.Cart.requires_shipping && (global.Cart.available_shipping || global.Cart.is_free_shipping_discount)">
                              <label class="control-label">SHIPPING METHOD</label>
                              <ul class="radio-list">
                                  <li v-if="global.Cart.is_free_shipping_discount">
                                    <input type="radio" name="minimal-radio" checked>
                                    <label>
                                          <span>FREE SHIPPING</span>
                                      </label></li>
                                  <li v-for="(shipping,index) in global.Cart.available_shipping" :key="shipping.shipping_method_key">
                                      <input type="radio" name="minimal-radio" v-model="checkout.shipping_method_key" :value="shipping.shipping_method_key" :id="'radio-'+ shipping.shipping_method_key"  @change="updatedShippingMethod">
                                      <label :for="'radio-'+ shipping.shipping_method_key">
                                          <span v-text="shipping.name"></span>
                                          <span v-text="shipping.description"></span>
                                      </label>
                                  </li>
                              </ul>
                            </div>
                          <div class="form-group">
                              <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" v-model="checkout.same_as_shipping_address">
                              <label for="styled-checkbox-1">Billing address is same as shipping</label>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default" v-if="!checkout.same_as_shipping_address">
                      <div class="panel-body">
                          <h3 class="checkout-title">Billing Address <span v-if="checkBillingAddress" class="se-icon icon-check"></span></h3>

                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="form-group">
                                      <label class="control-label">FULL NAME</label>
                                      <input type="text" v-model.trim="checkout.billing_address.first_name" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.first_name')" v-text="checkout.errors.get('checkout.billing_address.first_name')"></div>
                                  </div>
                              </div>
                              <!--<div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">LAST NAME</label>
                                      <input type="text" v-model="checkout.billing_address.last_name" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.last_name')" v-text="checkout.errors.get('checkout.billing_address.last_name')"></div>
                                  </div>
                              </div>-->
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">STREET ADDRESS</label>
                                      <input type="text" v-model.trim="checkout.billing_address.address1" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.address1')" v-text="checkout.errors.get('checkout.billing_address.address1')"></div>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">APPT/ SUITE</label>
                                      <input type="text" v-model.trim="checkout.billing_address.address2" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.address2')" v-text="checkout.errors.get('checkout.billing_address.address2')"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">CITY</label>
                                      <input type="text" v-model.trim="checkout.billing_address.city" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.city')" v-text="checkout.errors.get('checkout.billing_address.city')"></div>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label class="control-label">ZIP CODE</label>
                                      <input type="text" v-model.trim="checkout.billing_address.zip" class="form-control input-lg" />
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.zip')" v-text="checkout.errors.get('checkout.billing_address.zip')"></div>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group select-input">
                                      <label class="control-label">COUNTRY</label>
                                      <select v-model="checkout.billing_address.country" class="form-control input-lg">
                                          <option v-for="(country,index) in countries" :value="country.iso">{{ country.name }}</option>
                                      </select>
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.country')" v-text="checkout.errors.get('checkout.billing_address.country')"></div>
                                  </div>
                              </div>
                              <div class="col-sm-6" v-if="checkout.billing_address.country && shipping_states.length > 0">
                                  <div class="form-group select-input">
                                      <label class="control-label">STATE</label>
                                      <select v-model="checkout.billing_address.region" class="form-control input-lg">
                                          <option v-for="(state,index) in billing_states" :value="state.iso">{{ state.name }}</option>
                                      </select>
                                      <div class="text-danger form-field-error m-t-xs" v-if="checkout.errors.has('checkout.billing_address.region')" v-text="checkout.errors.get('checkout.billing_address.region')"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-body payment-method" v-if="this.customer.payment_method">
                          {{ maskedNumber }} <span class="text-link text-pointer" @click="open_new_payment = !open_new_payment">edit</span>
                      </div>
                      <div class="panel-body payment-method" :class="{ hide:!open_new_payment}">
                          <h3 class="checkout-title">Choose Payment Method <span class="icon" style="margin-right:10px;"><img :src="'/images/icons/lock.png'" width="20"></span><span v-if="checkPaymentMethod" class="se-icon icon-check"></span></h3>
                          <div class="row payment-method-selection">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <div class="input-inner text-pointer" @click="payment_method_type='card'" :class="{checked:payment_method_type=='card'}">
                                        <label class="label text-pointer" for="credit-card">
                                          <input type="radio" v-model="payment_method_type" id="credit-card" value="card">
                                          <span class="se-icon icon-ccard text-pointer"></span></label>
                                          <div class="label">Credit Card</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <div class="input-inner text-pointer" @click="payment_method_type='paypal'" :class="{checked:payment_method_type=='paypal'}">
                                        <label class="label text-pointer" for="paypal">
                                          <input type="radio" v-model="payment_method_type" id="paypal" value="paypal">
                                          <span class="se-icon icon-paypal-p text-pointer"></span></label>
                                          <div class="label">Paypal</div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="content-method cc-content"  :class="{active:payment_method_type=='card'}">

                              <input type="hidden" v-model="nonce" id="card-nonce" />
                              <!--For Credit Card Tab-->
                              <div class="row">
                                  <div class="col-sm-8">
                                      <div class="form-group">
                                          <label class="control-label">CREDIT CARD NUMBER</label>
                                          <div class="form-control input-lg" id="card-number"></div>
                                          <span class="helper-text"></span>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <img class="payment-method-img" :src="'/images/methods.jpg'">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <label class="control-label">EXPIRATION DATE</label>
                                          <div class="form-control input-lg" id="expiration-month"></div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <label class="control-label">&nbsp;</label>
                                          <div class="form-control input-lg" id="expiration-year"></div>
                                      </div>
                                  </div>
                                  <div class="col-sm-4">
                                      <div class="form-group">
                                          <label class="control-label">CVV</label>
                                          <div class="form-control input-lg" id="cvv"></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--End of credit card Tab-->
                          <div class="content-method paypal-content"  :class="{active:payment_method_type=='paypal'}">
                              <!--For Paypal Tab-->
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="form-group country-select">
                                          <label class="control-label">LINKED PAYPAL ACCOUNT</label>
                                          <div id="paypal-button"></div>
                                      </div>
                                      <div v-if="paypal_payload">
                                          <span v-text="paypal_payload.details.firstName"></span> 
                                          <span v-text="paypal_payload.details.lastName"></span>
                                          <span v-text="paypal_payload.details.email"></span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!--End of Paypal Tab-->

                          <div class="form-group" v-if="this.customer.payment_method">
                              <button type="button" class="btn btn-default btn-sm" @click="open_new_payment = false">Cancel</button>
                          </div>
                      </div>
                  </div>
                  <div class="form-group place-order-float" :class="{'place-order-fixed':readyPlaceOrder}">                        
                      <button type="button" class="btn btn-primary btn-lg" id="place-order" @click.prevent="placeOrder">PLACE YOUR ORDER</button>
                  </div>
                  <div id="modal-place-order" class="modal">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-body text-center sk-loading sk-primary">
                              <h3>Processing</h3>
                              <div class="sk-spinner sk-spinner-three-bounce">
                                  <div class="sk-bounce1"></div>
                                  <div class="sk-bounce2"></div>
                                  <div class="sk-bounce3"></div>
                              </div>
                          </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 checkout-form">
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <h3 class="checkout-title">Order Summary? <span class="se-icon icon-check"></span></h3>
                          <div class="itembox">
                              <checkout-items></checkout-items>
                              <total-box></total-box>
                          </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-body">
                          <input class="styled-checkbox" id="styled-marketing-list" type="checkbox" v-model="checkout.buyer_accepts_marketing">
                          <label for="styled-marketing-list">Keep me up to date on news and exclusive offers</label>
                      </div>
                  </div>
                  <promo-code></promo-code>
                  <div class="reviews">
                      <div v-if="global.Cart.has_subscription">
                        <div class="panel panel-default panel-item">
                            <div class="panel-body">
                                <div class="image">
                                    <div class="item" style="background-image: url('images/reviews/Box_Image_1_Amanda.jpg')"></div>
                                </div>
                                <div class="subject">
                                    <span>Love it!</span>
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                                <p>I Love Simply Earth’s Recipe Box. Oils smell amazing! -Amanda P.
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default panel-item">
                            <div class="panel-body">
                                <div class="image">
                                    <div class="item" style="background-image: url('images/reviews/Box_Image_2_Mallory.jpg')"></div>
                                </div>
                                <div class="subject">
                                    <span>Amazing!</span>
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                                <p>I absolutely enjoy this subscription! I use my the essentials in my diffuser daily and LOVE
                                    IT!! -Mallory</p>
                            </div>
                        </div>
                      </div>
                      <div v-else>
                        <div class="panel panel-default panel-item">
                            <div class="panel-body">
                                <div class="image">
                                    <div class="item" style="background-image: url('images/reviews/Singe_IMage_1_Kayla.jpg')"></div>
                                </div>
                                <div class="subject">
                                    <span>Great product, better value</span>
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                                <p>The lavender oil is the same (if not better) quality as the “MLM” brands! -Kayla N
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default panel-item">
                            <div class="panel-body">
                                <div class="image">
                                    <div class="item" style="background-image: url('images/reviews/Single_Image_2_Jenna.jpg')"></div>
                                </div>
                                <div class="subject">
                                    <span>My FAVORITE diffuser!</span>
                                    <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    </div>
                                </div>
                                <p>I absolutely love this diffuser! -Jenna Q</p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-body text-center">
                          
                      <h3 class="checkout-title">Simply Earth Guarantee <span class="se-icon icon-check"></span></h3>
                      <p class="caption-bottom">IF YOU DON'T LOVE YOUR OILS, WE'LL REPLACE THEM.<br />Call us at 866-330-8165 or email us at <a href="mailto:help@simplyearth.com">help@simplyearth.com</a><br />and we'll take care of you.
                      </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="text-center hide" :class="{show:global.Cart.count == 0}">
              <div>
                  <h3>Your cart is empty</h3>
                  <a href="/products" class="btn btn-default">Continue shopping</a>
              </div>
          </div>
        </div>
    </div>
</template>
<script>
import numeral from "numeral";
import { countries, regions } from "typed-countries";
import { FormClass } from "../Global";
import { EventHub, Global } from "../Global";

var client = require("braintree-web/client");
var paypalCheckout = require("braintree-web/paypal-checkout");
var hostedFields = require("braintree-web/hosted-fields");
const loadGoogleMapsApi = require("load-google-maps-api");
var autocomplete;

var PromoCode = {
  template: `
  <div class="panel panel-default opt panel-bare">
      <div class="panel-body">
          <ul>
              <li>
                <div v-if="global.Cart.discount && !showform"><span class="se-icon icon-check"></span> Promo Code Applied: {{ global.Cart.discount.code }} <span class="ohyeah"><a @click.prevent="showform=true" class="text-pointer">edit</a> <a @click.prevent="removeCode" class="text-pointer">remove</a></span></div>
                <div v-else class="form-inline">
                  <div class="text-danger" v-if="promoForm.errors.has('code')">{{ promoForm.errors.get('code') }}</div>
                  <div id="help">Only one coupon per order. </br>
                                 Code is valid for one-time use only.  </div>
                   <div id="buttonInside">
                     <div class="flex-input-button">
                     <div class="flex-input-button-inner">
                      <input type="text" class="form-control input-lg" placeholder="Promo code" v-model="promoForm.code" />                      
                      <span id="showHelp" @click="helpyou"><img :src="'/images/question-mark.png'" style="max-width:20px;max-height:30px"></span>
                     </div>
                     <button type="button" @click="applyCode" class="btn btn-dark btn-lg">Apply</button> <span v-if="global.Cart.discount" @click="showform=false"  class="text-pointer">Cancel</span> 
                     </div>
                   </div>
                </div>
              </li>
              <li>
                <div v-if="global.Cart.gift_card && !showform_gift_card"><span class="se-icon icon-check"></span> Gift Card Applied: {{giftCardForm.code }} <span class="ohyeah"><a @click.prevent="showform_gift_card=true" class="text-pointer">edit</a> <a @click.prevent="removeGiftCard" class="text-pointer">remove</a></span></div>
                <div v-else class="form-inline">
                  <div class="text-danger" v-if="giftCardForm.errors.has('code')">{{ giftCardForm.errors.get('code') }}</div>
                  <div class="flex-input-button">
                    <div class="flex-input-button-inner">
                    <input type="text" class="form-control input-lg" placeholder="Gift card code" v-model="giftCardForm.code" style="padding-right: 30px;" />
                    </div>
                    <button type="button" @click="applyGiftCard" class="btn btn-dark btn-lg">Apply</button> <span v-if="global.Cart.gift_card" @click="showform_gift_card=false"  class="text-pointer">Cancel</span> 
                  </div>
                  </div>
              </li>
              <li>

              </li>
          </ul>
      </div>
  </div>
  `,
  data() {
    return {
      global: Global,
      showform: false,
      showform_gift_card: false,
      promoForm: new FormClass({
        code: Global.discount ? Global.discount.code : null
      }),
      giftCardForm: new FormClass({
        code: Global.gift_card ? Global.gift_card.code : null
      })
    };
  },
  methods: {
    applyCode() {
      axios
        .post("/cart/promocode", this.promoForm.get())
        .then(response => {
          this.showform = false;
          Global.setCart(response.data);
        })
        .catch(error => {
          this.promoForm.errors.set(error.response.data.errors);
        });
    },
    removeCode() {
      axios.delete("/cart/promocode").then(response => {
        Global.setCart(response.data);
      });
    },
    applyGiftCard() {
      axios
        .post("/cart/gift-card", this.giftCardForm.get())
        .then(response => {
          this.showform_gift_card = false;
          Global.setCart(response.data);
        })
        .catch(error => {
          this.giftCardForm.errors.set(error.response.data.errors);
        });
    },
    removeGiftCard() {
      axios.delete("/cart/gift-card").then(response => {
        Global.setCart(response.data);
      });
    },
    helpyou() {
            $("#help").toggle();
    }

  },
  created() {}
};

var CheckoutItems = {
  template: `
                            <div v-if="global.Cart.count > 0">
                                <ul>
                                    <li v-for="item in global.Cart.items">
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <img class="img-responsive" :src="item.cover">
                                            </div>
                                            <div class="details">
                                                <div class="name">
                                                    <div v-text="item.name"></div>
                                                    <div class="quantity">Qty {{item.qty}}</div>
                                                </div>
                                                <span v-if="item.plan" class="price">$<span v-text="item.plan.deposit"></span> today with <span v-text="item.plan.cycles"></span> payments of $<span v-text="item.plan.amount"></span>/m</span>
                                                </span>
                                                <span v-else class="price">
                                                  <span v-if="item.type=='subscription' && $parent.global.Cart.is_free_box_option"><span class="strike">{{ $parent.global.priceFormat(item.price) }}</span> <span class="text-primary">First Box FREE</span></span>
                                                  <span v-else-if="item.wholesale_pricing">{{ $parent.global.priceFormat(item.wholesale_price * item.qty) }} <span class="strike">{{ $parent.global.priceFormat(item.price * item.qty) }}</span></span>
                                                  <span v-else v-text="$parent.global.priceFormat(item.price * item.qty)"></span>
                                                </span>
                                            </div>
                                            
                                                
                                        </a>
                                        
                                        <div v-if="item.type=='subscription'" class="subscription-instruction-text">
                                            <div v-if="$parent.global.Cart.is_commitment">
                                              <span @click="popCommitment">Three month commitment. Billed Monthly</span>
                                            </div>
                                          <div v-else>
                                            <span @click="popAutomaticRebilled">Automatically rebilled monthly</span><br />
                                            <span @click="popHowToCancel">How to cancel</span>
                                          </div>
                                        </div>
                                    </li>
                                    <li v-for="item in global.Cart.bonus">
                                        <a href="#" class="clearfix">
                                            <div class="image">
                                                <img class="img-responsive" :src="item.cover">
                                            </div>
                                            <div class="details">
                                                <div class="name">
                                                    {{ item.name }}
                                                </div>
                                                <span class="price"><span class="strike">{{ item.priceString }}</span> <span class="text-primary">FREE</span></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li v-for="addon in global.Cart.addons">
                                        <a href="#">
                                            <div class="image">
                                                <img class="img-responsive" :src="addon.cover">
                                            </div>
                                            <div class="details">
                                                <div class="name">
                                                    {{ addon.name }}
                                                </div>
                                                <span class="price"><span class="strike">{{ addon.priceString }}</span> <span class="text-primary">FREE</span></span>
                                            </div>
                                        </a>
                                    </li>

                                </ul>
                            </div>
  `,
  data() {
    return {
      global: Global
    };
  },
  methods: {
    popAutomaticRebilled() {
      $("#modal-auto-billed-monthly").modal("show");
    },
    popHowToCancel() {
      $("#modal-how-to-cancel").modal("show");
    },
    popCommitment(){
      $("#modal-6month-commitment").modal("show");
    }
  }
};

var TotalBox = {
  template: `
  
      <ul class="totalbox">
          <li>
              <label>SUBTOTAL</label>
              <span class="pull-right">$<span v-text="format_number(global.Cart.subtotal)"></span></span>
          </li>
          <li v-if="global.Cart.requires_shipping || global.Cart.shipping_total > 0">
            <label>SHIPPING<span v-if="global.Cart.is_commitment && global.Cart.is_free_box_option"><br /><small>FREE SHIPPING on future monthly boxes</small></span></label>
            <span class="pull-right" :class="global.getShipping()=='FREE' ? 'text-primary' : ''">{{ global.getShipping() }}</span>
          </li>
          <li>
              <label>TAX</label>
              <span class="pull-right">$<span v-text="format_number(global.Cart.tax)"></span></span>
          </li>
          <li v-if="global.Cart.bonus && global.Cart.bonus.length > 0">
              <label>DISCOUNT: <span class="text-primary">Bonus Big Box</span></label>
              <span class="pull-right discount-text text-primary">FREE</span>
          </li>
          <li v-if="global.Cart.discount">
              <label>DISCOUNT: <span class="text-primary">{{ global.Cart.discount.code }}</span></label>
              <span v-if="global.Cart.discount.type=='freefirstmonth'" class="pull-right discount-text text-primary">FREE</span>
              <span v-else class="pull-right discount-text">&#8211;$<span v-text="global.Cart.discount_total"></span></span>
          </li>
          <li v-if="global.Cart.gift_card">
              <label>GIFT CARD: <span class="text-primary">{{ global.Cart.gift_card.masked_code }}</span></label>
              <span class="pull-right discount-text">&#8211;$<span v-text="global.Cart.gift_card_total"></span></span>
          </li>
          <li class="text-bold">
              <label>TOTAL</label>
              <span class="pull-right">$<span v-text="format_number(global.Cart.grand_total)"></span></span>
          </li>
      </ul>
  `,
  computed: {
    shippingRate() {
      return "$" + this.format_number(this.global.Cart.shipping_total);
    }
  },
  data() {
    return {
      shipping_method: null,
      global: Global
    };
  },
  methods: {
    format_number(number) {
      return numeral(number).format("0,0.00");
    }
  },
  mounted() {
    EventHub.$on("shipping_updated", shipping => {
      this.shipping_method = shipping;
    });
  }
};

export default {
  name: "CheckoutForm",
  props: ["customer", "checkout_settings"],
  components: {
    PromoCode,
    TotalBox,
    CheckoutItems
  },
  computed: {
    computedPostalCode() {
      let post_code = this.checkout.same_as_shipping_address
        ? this.checkout.shipping_address.zip
        : this.checkout.billing_address.zip;
      return post_code || "";
    },

    checkEmailAddress(){
      return this.checkout.email != undefined && !this.validator.errors.has('email')
    },

    checkPaymentMethod() {
      if (
        this.payment_method_type == "paypal" &&
        this.nonce &&
        this.paypal_payload
      ) {
        return true;
      } else if (this.payment_method_type == "card" && this.creditCardValid) {
        return true;
      } else if (this.payment_method) {
        return true;
      }

      return false;
    },

    checkShippingAddress(){
      return this.checkout.shipping_address.address1 && !this.validator.errors.has('shipping_address') && !this.validator.errors.has('shipping_method')
    },

    checkBillingAddress(){
      return this.checkout.billing_address.address1 && !this.validator.errors.has('billing_address')
    },

    readyPlaceOrder(){

      return this.checkEmailAddress
      && this.checkShippingAddress
      && (this.checkout.same_as_shipping_address || this.checkBillingAddress)
      && this.checkPaymentMethod

    },

    maskedNumber() {
      if (this.customer.payment_method.paypal_email)
        return "Paypal: " + this.customer.payment_method.paypal_email;

      return (
        "************" +
        this.customer.payment_method.card_last_four +
        " " +
        this.customer.payment_method.card_brand
      );
    },
    shipping_states() {
      let country = _.find(this.countries, [
        "iso",
        this.checkout.shipping_address.country
      ]);

      return country ? country.states : [];
    },
    billing_states() {
      let country = _.find(this.countries, [
        "iso",
        this.checkout.billing_address.country
      ]);

      return country ? country.states : [];
    }
  },
  methods: {
    URLRedirect(url){
        var X = setTimeout(function(){
            window.location.replace(url);
            return true;
        },300);
    
        if( window.location = url ){
            clearTimeout(X);
            return true;
        } else {
            if( window.location.href = url ){
                clearTimeout(X);
                return true;
            }else{
                clearTimeout(X);
                window.location.replace(url);
                return true;
            }
        }
        return false;
    },
    pickAddress(obj) {
      console.log(obj);
      if (obj.target.value === "new") {
        this.checkout.shipping_address = {
          country: "US"
        };
      } else {
        let some = this.customer.addresses.find( address => {
          return address.id == obj.target.value
        })
        
        if (some) {
          let default_address = _.pick(some, [
            "first_name",
            "last_name",
            "address1",
            "address2",
            "city",
            "zip",
            "country",
            "region"
          ]);

          default_address.first_name = _.join([default_address.first_name, default_address.last_name], ' ');
          default_address.last_name = null

          this.$nextTick(() => {
            this.checkout.shipping_address = default_address;
          })
        }
      }
    },
    updatedShippingMethod() {
      this.global.updateShippingMethod(this.checkout);
    },

    createHostedFields(err, clientInstance) {
      if (err) {
        console.error(err);
        return;
      }

      this.client_instance = clientInstance;
      this.hostFieldsCreate();
    },

    hostFieldsCreate() {
      hostedFields.create(
        {
          client: this.client_instance,
          styles: {
            input: {
              "font-size": "14px",
              "font-family": "helvetica, tahoma, calibri, sans-serif",
              color: "#3a3a3a"
            },
            ":focus": {
              color: "black"
            }
          },
          fields: {
            number: {
              selector: "#card-number",
              placeholder: "4111 1111 1111 1111"
            },
            cvv: {
              selector: "#cvv",
              placeholder: "123"
            },
            expirationMonth: {
              selector: "#expiration-month",
              placeholder: "MM"
            },
            expirationYear: {
              selector: "#expiration-year",
              placeholder: "YY"
            }
          }
        },
        this.processHostedFields
      );

      this.createPP();
    },

    createPP() {
      // Create a PayPal Checkout component.
      paypalCheckout.create(
        {
          client: this.client_instance
        },
        this.paypalCheckout
      );
    },

    paypalCheckout(paypalCheckoutErr, paypalCheckoutInstance) {
      let that = this;

      if (paypalCheckoutErr) {
        console.error("Error creating PayPal Checkout:", paypalCheckoutErr);
        return;
      }

      // Set up PayPal with the checkout.js library
      paypal.Button.render(
        {
          style: {
            size: "medium"
          },
          env: this.checkout_settings.env,
          payment() {
            return paypalCheckoutInstance.createPayment({
              flow: "vault",
              enableShippingAddress: false,
              shippingAddressEditable: false
            });
          },

          onAuthorize(data, actions) {
            return paypalCheckoutInstance
              .tokenizePayment(data)
              .then(payload => {
                that.paypal_payload = payload;
                that.nonce = payload.nonce;
              });
          },

          onCancel(data) {
            console.log(
              "checkout.js payment cancelled",
              JSON.stringify(data, 0, 2)
            );
          },

          onError(err) {
            console.error("checkout.js error", err);
          }
        },
        "#paypal-button"
      ).then(function() {
        // The PayPal button will be rendered in an html element with the id
        // `paypal-button`. This function will be called when the PayPal button
        // is set up and ready to be used.
      });
    },

    processHostedFields(err, hostedFieldsInstance) {
      let that = this;

      if (err) {
        console.error(err);
        return;
      }

      this.host_field_instance = hostedFieldsInstance;

      hostedFieldsInstance.on("validityChange", event => {
        var field = event.fields[event.emittedBy];

        if (field.isValid) {
          if (
            event.emittedBy === "expirationMonth" ||
            event.emittedBy === "expirationYear"
          ) {
            if (
              !event.fields.expirationMonth.isValid ||
              !event.fields.expirationYear.isValid
            ) {
              return;
            }
          } else if (event.emittedBy === "number") {
            $("#card-number")
              .next("span")
              .text("");
          }

          // Remove any previously applied error or warning classes
          $(field.container)
            .parents(".form-group")
            .removeClass("has-warning");
          $(field.container)
            .parents(".form-group")
            .removeClass("has-success");
          // Apply styling for a valid field
          $(field.container)
            .parents(".form-group")
            .addClass("has-success");
        } else if (field.isPotentiallyValid) {
          // Remove styling  from potentially valid fields
          $(field.container)
            .parents(".form-group")
            .removeClass("has-warning");
          $(field.container)
            .parents(".form-group")
            .removeClass("has-success");
          if (event.emittedBy === "number") {
            $("#card-number")
              .next("span")
              .text("");
          }
        } else {
          // Add styling to invalid fields
          $(field.container)
            .parents(".form-group")
            .addClass("has-warning");
          // Add helper text for an invalid card number
          if (event.emittedBy === "number") {
            $("#card-number")
              .next("span")
              .text("Looks like this card number has an error.");
          }
        }

        this.validateCard();
      });

      hostedFieldsInstance.on("cardTypeChange", event => {
        // Handle a field's change, such as a change in validity or credit card type
        if (event.cards.length === 1) {
          $("#card-type").text(event.cards[0].niceType);
        } else {
          $("#card-type").text("Card");
        }

        this.validateCard();
      });
    },

    validateCard() {
      var state = this.host_field_instance.getState();

      this.creditCardValid = Object.keys(state.fields).every(function(key) {
        return state.fields[key].isValid;
      });
    },

    tokenize() {
      this.host_field_instance.tokenize(
        {
          billingAddress: {
            postalCode: this.computedPostalCode,
            countryCodeAlpha2: this.checkout.same_as_shipping_address
              ? this.checkout.shipping_address.country
              : this.checkout.billing_address.country
          }
        },
        (err, payload) => {
          if (err) {
            $("#modal-place-order").modal("hide");
            alert("Unable to process payment");
            return;
          }
          this.nonce = payload.nonce;
          this.processOrder();
        }
      );
    },

    placeOrder() {
      if (!this.open_new_payment) {
        $("#modal-place-order").modal({ backdrop: "static", show: true });
        this.processOrder();
      } else {
        if (this.payment_method_type == "paypal") {
          if (!this.nonce) {
            swal(
              "Paypal account not linked",
              "Please link your paypal account",
              "error"
            );
            return;
          }

          $("#modal-place-order").modal({ backdrop: "static", show: true });
          this.processOrder();
        } else {
          if (!this.creditCardValid) {
            swal(
              "Credit card invalid",
              "Please check your credit card details",
              "error"
            );
            return;
          }

          if (this.computedPostalCode.length == 0) {
            swal(
              "Zip code is required",
              "Please check your billing details",
              "error"
            );
            return;
          }

          if (this.creditCardValid) {
            $("#modal-place-order").modal({ backdrop: "static", show: true });
            this.tokenize();
          }
        }
      }
    },

    processOrder() {
      axios
        .post("/checkout", {
          checkout: this.checkout,
          nonce: this.nonce
        })
        .then(response => {
          this.boxProcess()
        })
        .catch(error => {
          console.log(error)
          $("#modal-place-order").modal("hide");
          if (error.response.data.errors) {
            this.checkout.errors.set(error.response.data.errors);

            if (this.checkout.errors.has("subscription")) {
              swal({
                title: "Subscription exists",
                text:
                  "We love that you love our recipe box! However we only allow one subscription per account. Please log in to manage your subscription.",
                buttons: {
                  catch: {
                    text: "Login",
                    value: true,
                    className: "btn btn-primary"
                  },

                  nevermind: {
                    text: "Cancel",
                    value: false,
                    className: "btn btn-default"
                  }
                }
              }).then(value => {
                if (value) {
                  this.EventHub.$emit("show_login", true);
                }
              });
            } else if (this.checkout.errors.has("has_failed_charge_plan")) {
                this.global.seMessage({
                  message:'Sorry. We have a failed charge on your payment plan for the starter kit. Before you can order, you need to update your card and get current on payments.',
                  link:'/profile',
                  'link_text': 'Update My Payment Method'
                })
              }else {
              //document.querySelector(".form-field-error").focus();
              swal(
                "Problem",
                this.checkout.errors.getMessages().join("\n"),
                "error"
              );
            }
          } else {
            swal(
              "Problem",
              "Something went wrong. Try again next time",
              "error"
            );
          }
        });
    },

    boxProcess(){
      
      this.URLRedirect('/thankyou');

    },

    maybeStartedCheckout() {
      if (!this.validator.errors.has("email")) {
        this.checkoutStarted();
      }
    },

    validateForm() {
      clearTimeout(this.check_debounce);
      this.check_debounce = setTimeout(() => {
        axios
          .post("/checkout-validate", {
            checkout: this.checkout,
            nonce: this.nonce
          })
          .then(response => {
            this.validator.errors.reset();
            this.maybeStartedCheckout();
          })
          .catch(error => {
            this.validator.errors.set(error.response.data.data.errors);
            this.maybeStartedCheckout();
          });
      }, 900);
    },

    shippingAddressUpdated() {
      axios
        .post("/cart/shippingaddress", _.merge(this.checkout.shipping_address, {last_name:null}))
        .then(response => {
          Global.setCart(response.data);
        });
    },
    checkoutStarted() {
      if (this.checkout_started) {
        return;
      }

      let products = _.map(this.global.Cart.items, item => {
        return {
          name: item.type=='subscription' ? item.name.split(':')[0] : item.name,
          id: item.sku,
          price: item.wholesale_pricing ? item.wholesale_price : item.price,
          quantity: item.qty
        };
      });

      window.dataLayer.push({
        event: "checkout",
        ecommerce: {
          checkout: {
            total: this.global.Cart.grand_total,
            products: products
          }
        }
      });

      //Klaviyo

      let content_items = [];
      let skus = [];

      for (let i in products) {
        content_items.push({
          SKU: products[i].id,
          ProductName: products[i].name,
          ItemPrice: products[i].price,
          Quantity: products[i].quantity
        });

        skus.push(products[i].id)
      }

      _learnq.push([
        "identify",
        {
          $email:
            this.customer && this.customer.email
              ? this.customer.email
              : this.checkout.email
        }
      ]);

      _learnq.push([
        "track",
        "Started Checkout",
        {
          $value: ecommerce.checkout.total,
          Items: content_items,
          SKUS: skus,
        }
      ]);

      this.checkout_started = true;
    },

    fillInAddress() {
      let place = autocomplete.getPlace();
      this.checkout.shipping_address.address1 = _.join(
        [
          this.getAddressComponent(
            place.address_components,
            "street_number",
            "short_name"
          ),
          this.getAddressComponent(
            place.address_components,
            "route",
            "long_name"
          )
        ],
        " "
      );
      this.checkout.shipping_address.city = this.getAddressComponent(
        place.address_components,
        "locality",
        "long_name"
      );
      this.checkout.shipping_address.region = this.getAddressComponent(
        place.address_components,
        "administrative_area_level_1",
        "short_name"
      );
      this.checkout.shipping_address.zip = this.getAddressComponent(
        place.address_components,
        "postal_code",
        "short_name"
      );
      this.checkout.shipping_address.country = this.getAddressComponent(
        place.address_components,
        "country",
        "short_name"
      );
    },

    getAddressComponent(address_component, addressType, type) {
      let t = type || "long_name";
      let c = _.find(address_component, function(comp) {
        return comp.types[0] == addressType;
      });

      if (!c) {
        return;
      }

      return c[t];
    },

    googleMapLoaded() {
      if (jQuery("#map-address-1").length == 0) {
        setTimeout(() => {
          this.googleMapLoaded();
        }, 100);
      } else {
        EventHub.$emit("google_map_loaded");
      }
    },

    geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
  },
  data() {
    return {
      EventHub,
      checkout_started: false,
      processing_order: false,
      global: Global,
      countries: countries,
      payment_method_type: "card",
      paypal_payload: null,
      open_new_payment: this.customer.payment_method ? false : true,
      nonce: null,
      creditCardValid: false,
      picked_address:
        this.customer && this.customer.default_address
          ? this.customer.default_address.id
          : "new",
      client_token: this.checkout_settings.client_token,
      client_instance: null,
      paypalInstance: null,
      host_field_instance: null,
      validator: new FormClass({
        errors: {
          email: [""],
          shipping: [""],
          billing: [""],
          nonce: [""]
        }
      }),
      checkout: new FormClass({
        email: "",
        buyer_accepts_marketing: true,
        shipping_address: {
          country: "US"
        },
        billing_address: {
          country: "US"
        },
        shipping_method_key: null,
        same_as_shipping_address: true
      })
    };
  },
  created() { 
    
    if (this.customer) {
      this.checkout.email = this.customer.email;

      if (this.customer.default_address) {
        let default_address = _.pick(this.customer.default_address, [
          "first_name",
          "last_name",
          "address1",
          "address2",
          "city",
          "zip",
          "country",
          "region"
        ]);

        default_address.first_name = default_address.name
        default_address.last_name = null
        this.$nextTick(() => {
          this.checkout.shipping_address = default_address;
        })
      }
    }
  },
  watch: {
    checkout: {
      handler(checkout, old_checkout) {
        this.validateForm();
      },
      deep: true
    }
  },
  mounted() {
    //Load Google Map API
    loadGoogleMapsApi({
      key: process.env.MIX_GOOGLE_MAP_API_KEY,
      libraries: ["places"]
    })
      .then(googleMaps => {
        this.googleMapLoaded();
      })
      .catch(function(error) {
        console.error(error);
      });

    let $slickEle = $('.slick-processing-order');

    if ($slickEle.is('.slick-initialized')) {
      $slickEle.slick('slickNext');
      $slickEle.slick('slickPlay');
    } else {
      // Load slick for processing order loading
      $slickEle
        .slick({
          slidesToShow: 1,
          prevArrow: '',
          nextArrow: '',
          autoplay: true,
          autoplaySpeed: 1000,
          adaptiveHeight: true,
          pauseOnHover:false
        });
    }

    EventHub.$on("cart_initialized", () => {
      this.checkout.shipping_method_key = this.global.Cart.checkout.shipping_method_key;

      let shipping_address = this.global.Cart.checkout.shipping_address
      shipping_address.first_name = _.join([shipping_address.first_name, shipping_address.last_name], ' ');
      shipping_address.last_name = null;
      this.checkout.shipping_address = shipping_address;
    });

    EventHub.$on("google_map_loaded", () => {
      autocomplete = new google.maps.places.Autocomplete(
        document.getElementById("map-address-1"),
        { types: ["geocode"] }
      );
      autocomplete.addListener("place_changed", this.fillInAddress);
    });

    client.create(
      {
        authorization: this.client_token
      },
      this.createHostedFields
    );
  }
};
</script>
<style type="text/css">
    .inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;
padding-right: 180px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

#tooltip .tooltiptext {
  visibility: visible;
  width: 240px;
  background-color: #2B2A2A;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  font-size: medium;
  font-family: sans-serif;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -240px;
}

#tooltip:hover .tooltiptext {
  visibility: visible;
}

/*---------------*/
#buttonInside{
  position:relative;
  margin-bottom:10px;
}
#container{
  width: 300px;
}
input{
  height:25px;
  width:100%;
  padding-left:10px;
  border-radius: 4px;
  border:none;outline:none;
}
#showHelp{
  position:absolute;
  right: 5px;
  top: 4px;
  border:none;
  height:20px;
  width:20px;
  border-radius:100%;
  outline:none;
  text-align:center;
  font-weight:bold;
  padding:2px;
}
#showHelp:hover{
  cursor:pointer;

}
#help{
  display:none;
  font-style:italic;
  font-size:0.8em;
  width: 260px;
  background-color: #2B2A2A;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  font-size: medium;
  font-family: sans-serif;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  margin-left: -180px;
}

.processing-text {
    font-weight: bold;
    font-size: 1.8em;
    margin-bottom: 1em;
    margin-top:5vh;
}

.slick-processing-order div {
    height: 50vh;
    position: relative;
}
.slick-processing-order img {
    width: 20%;
    margin: auto;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

</style>
