<template>
  <div>
    <div id="app-dashboard pdt40 account-boxes products-category">
        <div class="row wrapper bgiftcard-bottom white-bg page-heading">
            <div class="col-lg-12">
                <h2>Reports</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="/admin">Admin</a>
                    </li>
                    <li class="active">
                        <strong>Report</strong>
                    </li>
                </ol>
            </div>
        </div>
        <br>
        <div class="tabs-container">
            <ul class="nav nav-tabs" v-if="!is_graph_tab">
                <li class="active">
                    <a data-toggle="tab" href="#email">Email</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#facebook">Facebook</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#messenger">Messenger</a>
                </li>
            </ul>
            <div class="tab-content">
              <div class="col-md-12 tab-pane active" id="email">
                <div class="col-md-8">
                  <div>
                    <div class="">
                      <br>
                      <div class="wrapper wrapper-content animated fadeInRight" v-if="is_graph_tab">
                          <div class="ibox">
                          <button @click="is_graph_tab = false" class="btn btn-success">Go Back</button>
                        </div>
                      </div>
                      <div v-if="is_graph_tab == false" class="">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('subcriber_email_invite')">
                                <h4>Percentage of Subscribers Sending Email Invites</h4> 
                                <h2 class="blue">{{ emailStat.subscriber_email_invites_number }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('email_sent_number')">
                                <h4>Numbers of Emails Sent per Active Inviter</h4> 
                                <h2 class="blue">{{ emailStat.email_sent_number }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                        </div>
                        
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('total_email_coversion')">
                                <h4>Total Email Conversion Rate</h4> 
                                <h2 class="blue">{{ emailStat.total_email_coversion }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('click_numbers')">
                                <h4>Email Click Through Rate</h4> 
                                <h2 class="blue">{{ emailStat.click_numbers }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('subscriber_number')">
                                <h4>New Subscribers from Email</h4> 
                                <h2 class="blue">{{ emailStat.subscriber_number }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="col-md-4" v-if="!is_graph_tab">
                    <div class="ibox">
                      <div class="ibox-title text-center"><h3>Overall</h3></div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-xs-6">
                              <small class="stats-label">Total Subscribers</small> 
                              <h2>{{ emailStat.total_email_coversion }}</h2>
                            </div> 
                            <div class="col-xs-6">
                              <small class="stats-label">Total Conversion Rate</small> 
                              <h2>{{ emailStat.total_email_coversion }}</h2>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>

              <div id="facebook" class="tab-pane col-md-12">
                  <div class="col-md-8">
                      <br>
                      <div class="wrapper wrapper-content animated fadeInRight" v-if="is_graph_tab">
                          <div class="ibox">
                          <button @click="is_graph_tab = false" class="btn btn-success">Go Back</button>
                        </div>
                      </div>
                      <div v-if="is_graph_tab == false" class="">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('facebook_shares_active_subscriber')">
                                <h4>Number of Facebook Shares Per Active Subscribers</h4> 
                                <h2 class="blue">{{ facebookStat.facebook_shares_active_subscriber }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('facebook_click_share')">
                                <h4>Facebook Clicks per Share</h4> 
                                <h2 class="blue">{{ facebookStat.facebook_click_share }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('facebook_conversion_rate')">
                                <h4>Facebook Conversion Rate</h4> 
                                <h2 class="blue">{{ facebookStat.facebook_conversion_rate }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('facebook_subscribers')">
                                <h4>New Subscribers from Facebook</h4> 
                                <h2 class="blue">{{ facebookStat.facebook_subscribers }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <br>
                  <div class="col-md-4" v-if="!is_graph_tab">
                    <div class="ibox">
                      <div class="ibox-title text-center"><h3>Overall</h3></div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-xs-6">
                              <small class="stats-label">Total Subscribers</small> 
                              <h2>{{ emailStat.total_email_coversion }}</h2>
                            </div> 
                            <div class="col-xs-6">
                              <small class="stats-label">Total Conversion Rate</small> 
                              <h2>{{ emailStat.total_email_coversion }}</h2>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div id="messenger" class="tab-pane col-md-12">
                <div class="col-md-8">
                      <br>
                      <div class="wrapper wrapper-content animated fadeInRight" v-if="is_graph_tab">
                          <div class="ibox">
                          <button @click="is_graph_tab = false" class="btn btn-success">Go Back</button>
                        </div>
                      </div>
                      <div v-if="is_graph_tab == false" class="">
                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('messenger_shares_active_subscriber')">
                                <h4>Number of Facebook Messages Per Active Subscribers</h4> 
                                <h2 class="blue">{{ messengerStat.messenger_shares_active_subscriber }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('messenger_click_share')">
                                <h4>Messenger Clicks per Share</h4> 
                                <h2 class="blue">{{ messengerStat.messenger_click_share }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-12">
                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('messenger_conversion_rate')">
                                <h4>Messenger Conversion Rate</h4> 
                                <h2 class="blue">{{ messengerStat.messenger_conversion_rate }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="box text-left">
                              <a @click="changeGraphPage('messenger_subscribers')">
                                <h4>New Subscribers from Messenger</h4> 
                                <h2 class="blue">{{ messengerStat.messenger_subscribers }}</h2> 
                                <span class="icon-anchor ti-angle-right"></span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                  <br>
                  <div class="col-md-4" v-if="!is_graph_tab">
                    <div class="ibox">
                      <div class="ibox-title text-center"><h3>Overall</h3></div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-xs-6">
                              <small class="stats-label">Total Subscribers</small> 
                              <h2>{{ emailStat.total_email_coversion }}</h2>
                            </div> 
                            <div class="col-xs-6">
                              <small class="stats-label">Total Conversion Rate</small> 
                              <h2>{{ emailStat.total_email_coversion }}</h2>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>
                
            </div>
        </div>

        <div v-if="is_graph_tab">
          <div class="small">
            <line-chart :chart-data="datacollection"></line-chart>
          </div>
        </div>
        <div>
          <h1>&nbsp;</h1>
        </div>
    </div>
    
  </div>
</template>

<script>

export default {
  components: {
  },
  name: "ReportList",
  data() {
    return {
      loadingList: false,
      emailStat: {
        subscriber_email_invites_number: 0,
        email_sent_number: 0,
        click_numbers: 0,
        total_email_coversion: 0,
        subscriber_number: 0,
        subscriber_graph_number_arr: [],
        subscriber_graph_date_arr: []
      },
      facebookStat: {
        facebook_shares_active_subscriber: 0,
        facebook_click_share: 0,
        facebook_conversion_rate: 0,
        facebook_subscribers: 0
      },
      messengerStat: {
        messenger_shares_active_subscriber: 0,
        messenger_click_share: 0,
        messenger_conversion_rate: 0,
        messenger_subscribers: 0
      },
      number_emails_sent: 0,
      datacollection: null,
      is_graph_tab: false
    };
  },
  methods: {
    get_email_stat() {
      axios
        .get("/admin/reports/email_statistics")
        .then(response => {
          this.emailStat = response.data.data;
          // this.fillData();
          // swal("Email get data!", "", "success");
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },
    get_facebook_stat() {
      axios
        .get("/admin/reports/facebook_statistics")
        .then(response => {
          this.facebookStat = response.data.data;
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },
    get_messenger_stat() {
      axios
        .get("/admin/reports/messenger_statistics")
        .then(response => {
          this.messengerStat = response.data.data;
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },
    fillData (label, data, title) {
      this.datacollection = {
        labels: label,
        datasets: [
          {
            label: title,
            backgroundColor: '#42f492',
            data: data
          }
        ]
      }
    },
    changeGraphPage(type) {
      this.is_graph_tab = true;
      var title = null;
      if (type == 'subcriber_email_invite') {
        title = 'Subscribers Sending Email Invites';
        this.fillData(this.emailStat.subscriber_graph_date_arr, this.emailStat.subscriber_graph_number_arr, title);
      } else if (type == 'email_sent_number') {
        title = 'Numbers of Emails Sent per Active Inviter';
        this.fillData(this.emailStat.email_sent_date_arr, this.emailStat.email_sent_number_arr, title);
      } else if (type == 'click_numbers') {
        title = 'Email Click Through Rate';
        this.fillData(this.emailStat.click_graph_date_arr, this.emailStat.click_graph_number_arr, title);
      } else if (type == 'total_email_coversion') {
        title = 'Email Click Through Rate';
        this.fillData(this.emailStat.total_email_coversion_date_arr, this.emailStat.total_email_coversion_number_arr, title);
      } else if(type == 'subscriber_number') {
        title = 'New Subscribers from Email';
        this.fillData(this.emailStat.subscriber_date_arr, this.emailStat.subscriber_number_arr, title);
      } else if(type == 'facebook_conversion_rate') {
        title = 'Facebook Conversion Rate';
        this.fillData(this.facebookStat.facebook_conversion_rate_date_arr, this.facebookStat.facebook_conversion_rate_number_arr, title);
      } else if(type == 'facebook_click_share') {
        title = 'Facebook Conversion Rate';
        this.fillData(this.facebookStat.facebook_click_graph_date_arr, this.facebookStat.facebook_click_graph_number_arr, title);
      } else if(type == 'facebook_shares_active_subscriber') {
        title = 'Number of Facebook Shares Per Active Subscribers';
        this.fillData(this.facebookStat.facebook_shares_active_subscriber_date_arr, this.facebookStat.facebook_shares_active_subscriber_number_arr, title);
      } else if(type == 'facebook_subscribers') {
        title = 'New Subscribers from Facebook';
        this.fillData(this.facebookStat.facebook_subscribers_date_arr, this.facebookStat.facebook_subscribers_number_arr, title);
      } else if(type == 'messenger_conversion_rate') {
        title = 'Messenger Conversion Rate';
        this.fillData(this.messengerStat.messenger_conversion_rate_date_arr, this.messengerStat.messenger_conversion_rate_number_arr, title);
      } else if(type == 'messenger_click_share') {
        title = 'Messenger Conversion Rate';
        this.fillData(this.messengerStat.messenger_click_graph_date_arr, this.messengerStat.messenger_click_graph_number_arr, title);
      } else if(type == 'messenger_shares_active_subscriber') {
        title = 'Number of Facebook Messages Per Active Subscribers';
        this.fillData(this.messengerStat.messenger_shares_active_subscriber_date_arr, this.messengerStat.messenger_shares_active_subscriber_number_arr, title);
      } else if(type == 'messenger_subscribers') {
        title = 'New Subscribers from Messenger';
        this.fillData(this.messengerStat.messenger_subscribers_date_arr, this.messengerStat.messenger_subscribers_number_arr, title);
      }   
    }
  },
  beforeMount(){
    this.get_email_stat();
    this.get_facebook_stat();
    this.get_messenger_stat();
  },
};
</script>

<style>
  .small {
    max-width: 1000px;
    margin:  0px auto;
  }

  .box {
    text-align: left;
    background-color: #fff;
    padding: 20px 15px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 10px;
  }
</style>