.header {
  margin: 0 auto;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    background-color: #F7F7F7;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    padding: 0 25px;
  }

  .menu-container {
    background-color: #fff;
    padding: 0 25px;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
       & > a {
         position: relative;
         padding: 20px 15px;
         display: block;
         text-decoration: none;
         color: #333;
         text-transform: uppercase;
         font-weight: 700;
        }
      }
    }
  }

  .card-block {
    position: relative;

    span {
      position: absolute;
      top: -3px;
      right: -5px;
      width: 15px;
      height: 15px;
      background-color: #7AC790;
      color: #000000;
      font-size: 13px;
      border-radius: 100%;
      display: flex;
      font-weight: bold;
      align-items: center;
      justify-content: center;
    }
  }

  .item-m-r {
    margin-right: 35px;

    img {
      margin-right: 7px;
    }
  }

  .logo {
    max-width: 230px;
    margin-right: 60px;

    img {
      max-width: 100%;
    }
  }

  .btn {
    margin-top: 0 !important;
    min-height: 40px;
    padding: 10px 40px;
    border-radius: 100px;
    font-size: 14px;
    background-color: #5eca8b;

    img {
      position: relative;
      top: 1px;
      margin-left: 10px;
    }
  }

  .search {
    input {
      width: 214px;
      height: 34px;
      outline: none;
      padding: 6px 12px;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 15px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }
  }
}

.align-center {
  align-items: center;
}

.on-tablet-horizontal-mode {
  .header,
  .footer {
    max-width: 1024px;
  }
}

.search-mobile {
  display: none;
}

.on-tablet-mode {
  .header,
  .footer {
    max-width: 768px;
  }

  .header {
    .search {
      display: none;
    }

    .search-mobile {
      display: block;
    }

    .logo {
      margin-right: 0;
    }

    .header-container {
      padding: 0 15px;
    }
  }

  .header .menu-container {
    display: none;
  }

  .header-container {
    & > div {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;

      &:last-child {
        justify-content: flex-end;
      }
    }
  }

  .footer-container .col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    width: 100%;
  }

  .footer-container .col:nth-child(2) {
    padding: 0 15px;
  }

  .mobile-icon {
    margin-left: 10px;
    display: block;
  }
}

.mobile-icon {
  display: none;
}

.on-mobile-mode {
  .header,
  .footer {
    max-width: 320px;
  }

  .footer-container .col:last-child {
    justify-content: space-around;
  }

  .header {
    .search {
      display: none;
    }

    .search-mobile {
      display: block;
    }

    .item-m-r {
      display: none !important;
    }

    .logo {
      margin: 0 auto;

      img {
        max-width: 100px;
        margin: 0 auto;
      }
    }

    .header-container {
      padding: 0 15px;
    }
  }

  .header .menu-container {
    display: none;

  }

  .mobile-icon {
    margin-left: 10px;
    display: block;
    cursor: pointer;
  }

  .header-container {
    & > div {
      flex: 0 0 25%;
      max-width: 25%;

      &:nth-child(2) {
        flex: 0 0 50%;
        max-width: 50%;
      }

      &:last-child {
        justify-content: flex-end;
      }
    }
  }
}

.off-edit-mode {
  &.main-content .empty .empty-builder {
    margin: 0 auto;
  }

  &.on-tablet-horizontal-mode {
    .header,
    .footer {
      max-width: 282px;
    }

    .header .menu-container ul li > a {
      font-size: 4px;
    }

    &.main-content .empty .empty-builder {
      max-width: 282px;
    }
  }

  &.on-tablet-mode {
    .header,
    .footer {
      max-width: 250px;
    }

    &.main-content .empty .empty-builder {
      max-width: 250px;
    }

    .header {
      .menu-container {
        display: none;
      }

      .search {
        display: none;
      }
    }

    .header {

      .item-m-r {
        font-size: 5px;

        img {
          margin-right: 4px;
        }
      }

      .header-container {
        padding: 0 5px;
      }
      .mobile-icon img {
        max-width: 10px;
        position: relative;
        top: -2px;
      }

      .search-mobile {
        img {
          max-width: 10px;
        }
      }
    }
  }

  &.on-mobile-mode {
    .header,
    .footer {
      max-width: 150px;
    }

    &.main-content .empty .empty-builder {
      max-width: 150px;
    }

    .header {
      .logo img {
        max-width: 100%;
      }
      .mobile-icon img {
        max-width: 100%;
        position: relative;
        top: -2px;
      }

      .search-mobile {
        img {
          max-width: 10px;
        }
      }
    }
  }

  .header .menu-container ul li > a {
    padding: 2px 4px;
    font-size: 6px;
  }

  .header .btn {
    min-height: 8px;
    padding: 5px 10px;
    font-size: 5px;
    position: relative;
    top: -5px;


    img {
      margin-left: 6px;
      width: 4px;
    }
  }

  .header {
    .logo {
      margin-right: 15px;
      max-width: 60px;
    }

    .header-container {
      min-height: 30px;
    }

    .menu-container {
      min-height: 30px;
    }

    .search {
      input {
        width: 90px;
        height: 15px;
        font-size: 4px;
        position: relative;
        top: -3px;
      }
    }

    .card-block {
      img {
        width: 10px;
        position: relative;
        top: -2px;
      }

      span {
        top: 4px;
        right: -5px;
        width: 9px;
        height: 9px;
        font-size: 7px;
      }
    }

    .item-m-r {
      margin-right: 5px;
      font-size: 8px;

      img {
        width: 8px;
      }
    }
  }
}

.footer {
  min-height: 90px;
  width: 100%;
  border-top: 1px solid #d6d6d6;
  background-color: #f5f5f5;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0 60px;
  max-width: 1180px;
  margin: 0 auto;

  input {
    width: 100%;
    display: block;
    height: 33px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }

  .btn {
    outline: none!important;
    background-color: #5eca8b;
    border: 1px solid #5eca8b;
    color: #fff;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    user-select: none;
    max-width: 300px;
    width: 100%;
    margin: 15px auto 15px ;
    display: block;
    border-radius: 20px;
  }

  h3  {
    color: #00b4ca;
    font-size: 18px;
    margin-bottom: 0;
  }

  p {
    color: #333;
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 15px;

    a {
      color: #00b4ca;
      text-decoration: none;
    }

    small {
      color: #333;
      font-size: 14px;
    }
  }

  ul {
    list-style: none;
    text-align: left;

    &.d-flex {
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      li {
        margin: 0 10px;
      }
    }
  }

  .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 30px;
    border-right: 1px solid #d5d5d5;

    &:nth-child(2) {
      padding: 0 60px;
    }

    &:last-child {
      border: 0;
      display: flex;
      justify-content: space-between;

      ul {
        li {
          &:first-child {
            a {
              font-size: 24px;
              pointer-events: none;
              font-weight: bold;
              color: #000;
            }
          }

          a {
            font-size: 13px;
            color: #000;
            text-decoration: none;
            margin-bottom: 15px;
            display: table;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.off-edit-mode {
  .footer {

    min-height: auto;
  }

  .footer-container {
    padding: 10px 0 20px;
    ul.d-flex {
      margin-bottom: 5px;
      li {
        margin: 0 4px;
      }
    }

    input {
      font-size: 5px;
      height: 17px;
      padding: 1px 6px;
    }

    .col {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      width: 100%;
      padding: 0 20px;

      &:nth-child(2) {
        padding: 0 20px;
      }

      &:last-child {
        ul {
          li {
            &:first-child {
              a {
                font-size: 6px;
              }
            }
            a {
              font-size: 4px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    h3 {
      font-size: 5px;
    }

    img {
      max-width: 100%;
    }

    p {
      font-size: 6px;
      line-height: 1;
      margin-bottom: 5px;
      small {
        font-size: 5px;
        line-height: 1;
      }
    }

    .btn {
      font-size: 4px;
      margin-top: 6px !important;
    }
  }

  &.on-tablet-horizontal-mode {
    .footer-container .col {
      padding: 0 10px !important;
    }
  }

  &.on-tablet-mode {
    .footer-container .col {
      padding: 0 10px !important;
    }
  }

  &.on-mobile-mode {
    .footer-container .col {
      padding: 0 10px !important;
    }
  }

}

.on-mobile-mode {
  .footer-container .col {
    padding: 15px  !important;
    flex: 0 0 100%;
    max-width: 100%;

    &:nth-child(2) {
      order: 4;
    }

    .social-ul {
      display: none;
    }
  }
}
