h1, h2, h3, h4, h5, h6 {
  line-height: 1.15;
}

.title-and-text h2,
.title-and-text h1,
.title-and-text-image h2,
.title-and-text-image h1 {
  font-size: 34px;
  font-weight: 400;
  margin-bottom: .5em;
  font-family: 'Brandon Text', Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #333;
}

.title-and-text-image h2,
.title-and-text-image h1 {
  text-rendering: optimizeLegibility;
  max-width: 390px;
  line-height: 1.2;
  color: #00b4ca;
  font-size: 34px;
}

.title-and-text p,
.title-and-text-image p {
  color: #333;
  font-weight: 400;
  font-size: 18px;
}

.title-and-text a,
.title-and-text-image a {
  color: #00b4ca;
  font-weight: 400;
  font-size: 18px;
}

.z-99-hover {
  position: relative;

  &:hover {
    z-index: 999;
  }
}

@media (min-width: 960px) {
  .title-and-text h2,
  .title-and-text h1,
  .title-and-text-image h2,
  .title-and-text-image h1 {
    font-size: 34px;
  }
}

.bg-bottom {
  position: relative;
}

.main-title {
  .content-area {
    padding: 2em 0px;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;
    }

    h1 {
      padding: 0px 20px;
      font-size: 1.94em;
      font-weight: 400;
      text-align: center;
      @media (min-width: 960px) {
        font-size: 2.5em;
      }
    }
  }
}

.only-text {
  .content-area {
    padding: 1em 0px;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;

      p {
        padding: 0px 20px;
        margin-bottom: 20px;
      }
    }
  }
  }
.questionnaire{
  .content-area{
    .d-flex{
      max-width: 700px;
      padding: 0px 20px;
      margin: 30px auto;
      label{
        display: block;
        font-size: 16px;
        padding: 0px 20px;
      }
      input{
        padding: 0px 10px;
        border-radius: 3px;
        border: 1px solid #bbb;
        margin: 0px 20px 20px;
        font-size: 17px;
      }
      .btn.btn-primary{
        font-size: 20px;
        margin: 0px 20px;
      }
      h2{
        padding: 0px 20px 5px;
        font-weight: 400;
        text-align: center;
        font-size: 44px;
        font-family: 'Brandon Text';
        @media (max-width: 767px) {
          font-size: 24px;
        }
      }
    }
  }

  .col-12 {
    div {
      > ul {
        list-style: none;
        display: flex;

        li {
          padding: 5px 10px;
          color: #fff;
          background: #ccc;
          margin: 0px 10px 10px;

          &.active {
            background: #00a651;
          }
        }
      }
    }

    .trumbowyg-textarea {
      display: none;
    }
  }
}
.off-edit-mode {
  .questionnaire {
    .content-area{
      .d-flex{
        h2{
          font-size: 14px;
        }
      }
    }

    label {
      font-size: 10px;
      padding: 0px 20px;
    }
    .btn {
      font-size: 12px;
      padding: 2px 10px;
      margin-left: 20px;
    }
  }

}

.only-image {
  .content-area {
    padding: 1em 0px;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;

      .img-container {
        padding: 0px 20px;

        img {
          margin: 0px auto;
        }
      }
    }
  }
}

.only-video {
  .content-area {
    padding: 1em 0px;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;

      .img-container {
        padding: 0px 20px;

        .video-preview {
          height: auto;
        }

        img {
          margin: 0px auto;
          height: auto;
        }
      }
    }
  }
}

.update-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 50px;
  }
}

.upload-img {
  z-index: 3;
}

.responsive-iframe {
  position: relative;
  overflow: hidden;
  //padding-top: 56.25%;

  iframe,
  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.media-container {
  position: relative;
  overflow: hidden;
  @media (min-width: 768px) {
    max-height: 200px;
    height: auto;
  }
}

.img-container iframe {
  width: 100%;
  min-height: 280px;
}

.video-preview {
  cursor: pointer;
  position: relative;
}

.video-preview span {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.video-preview span svg {
  width: 100%;
  height: 100%;
  opacity: .8;
}

.video-preview span:hover svg {
  opacity: 1;
}

.modal-img {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 9999999 !important;
  background-color: rgba(0, 0, 0, 0.25) !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.modal-body {
  max-width: 450px;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

.modal-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.modal-header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #1d84d6;


  a {
    flex: 1;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    padding: 10px 5px;
    color: #2e333a;

    &.active {
      background-color: #1d84d6;
      color: #fff;
    }
  }
}

.modal-content {
  padding: 20px;

  label {
    display: block;
  }

  input:not([type=file]) {
    width: 100%;
    height: 34px;
    padding: 0 15px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #d4d4d4;
  }
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .btn {
    font-size: 14px;
    cursor: pointer;
    border: none;
    min-width: auto;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

.block-text {
  ul {
    li::before {
      background: url(../../images/sprite-check.png) center bottom;
      width: 23px;
      height: 25px;
      position: relative;
      margin-right: 10px;
      top: 8px;
      display: inline-block;
      overflow: hidden;
      content: '';
    }
  }
}

.btn.btn-primary {
  padding: 5px 30px;
  outline: none !important;
  background-color: #5eca8b;
  border: 1px solid #5eca8b;
  border-radius: 20px;
}

.off-edit-mode {
  .video-preview {
    height: 40px;
  }

  .media-container {
    height: 40px;
  }

  .item-block.w-33 {
    .media-container {
      height: 40px;
    }
  }

  .video-preview span {
    width: 20px;
    height: 20px;
  }

  .main-title {
    h1 {
      font-size: inherit;
    }
  }

  .only-text {
    p {
      font-size: 10px;
    }
  }

  .content-builder {
    .only-image {
      img {
        max-width: 50% !important;
      }
    }
  }

  .content-builder {
    .only-video {
      .video-preview {
        height: auto;
      }

      img {
        max-width: 50% !important;
      }
    }
  }

  .block-text {
    ul {
      list-style: none;

      li {
        font-size: 8px;

        &::before {
          background: url(../../images/sprite-check.png) center bottom;
          background-size: cover;
          width: 10px;
          height: 10px;
          top: 3px;
        }
      }
    }
  }
}

.trumbowyg-dropdown-link.trumbowyg-dropdown {
  min-width: 153px;
}


.slick-prev, .slick-next {
  @media (max-width: 767px) {
    height: 28px;
    width: 40px;
  }

}

.footer-container {
  .row {
    display: flex;
    justify-content: center;

    .link-item {
      a {
        color: #000;
        display: block;
        font-size: small;
        padding: 2px 10px;
        text-decoration: none;
      }
    }
  }
}

.off-edit-mode {
  .footer-container {
    .row {
      .link-item {
        a {
          font-size: 4px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.container-checked {
  input {
    display: none;
  }

  label {
    background: #ccc;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    background: #5eca8b;
  }
}