.partners {
  align-items: center;
  max-width: 1178px;
  padding: 2em 0px;
  margin: 0 auto;
  justify-content: center;
  .img-container {
    width: 15%;
    padding: 0px 20px;
    .img-edit-mode {
      min-width: auto;
      min-height: auto;
    }
    img {
      width: 100%;
      min-width: 31px;
    }
    .remove {
      display: none;
      position: absolute;
      right: 5px;
      top: 5px;
      background: red;
      border-radius: 100%;
      color: #fff;
      padding: 0px 4px;
      font-size: 10px;
      z-index: 1;
    }
    &:hover {
      .remove {
        display: block;
      }
    }
  }
  .btn-add {
    padding: 4px 20px;
    font-size: 40px;
    background: #ccc;
    border-radius: 100%;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 1px 4px #3c3c3c;
      text-shadow: 0px 1px 0px #000;
    }
    &:active {
      box-shadow: 0px 0px 4px #3c3c3c;
      text-shadow: 0px 0px 1px #000;
    }
  }
}

.off-edit-mode {
  .partners {
    padding: 8px 0;

    .img-container {
      padding: 0 9px;
    }
  }

  &.on-mobile-mode,
  &.on-tablet-mode {
    .partners {
      padding-bottom: calc(8px - 15px);
    }
  }
}

.on-tablet-mode .partners {
  padding-bottom: calc(2em - 15px);
  .img-container {
    width: 25%;
    padding: 0 20px 15px;
  }
}

.on-mobile-mode .partners {
  padding-bottom: calc(2em - 15px);
  .img-container {
    width: 50%;
    padding: 0 20px 15px;
  }
}

@media (max-width: 993px) {
  .partners {
    padding-bottom: calc(2em - 15px);
    .img-container {
      width: 25%;
      padding: 0 20px 15px;
    }
  }
}

@media (max-width: 767px) {
  .partners {
    padding-bottom: calc(2em - 15px);
    .img-container {
      width: 50%;
      padding: 0 20px 15px;
    }
  }
}