body {
  font-size: 18px;
}

.social-intro-user {
  font-size: 1.55em;
  color: #00b4ca;
  margin-bottom: .75em;
}

.testimonial-v1 {
  p {
    font-size: 18px;
    line-height: 1.6em;
    max-width: 100%;
  }

  h2,h1 {
    font-size: 2.5em;
    color: #00b4ca;
    margin-bottom: .5em;
    font-weight: 400;
  }

  .d-flex {
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 40px;
    z-index: 2;
    position: relative;
  }
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.testimonial-image {
  background-color: #fff;
  max-width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 8px 16px 0 #666;
  box-shadow: 0 8px 16px 0 #666;
  padding: 40px;
  display: inline-block;
  text-align: center;

  img {
    margin: 0 auto;
  }

  p {
    font-size: 1.39em;
    line-height: 1.2em;
    max-width: 100%;
    padding: 20px 0 10px;
  }
}

.bg-bottom {
  max-height: 320px;
  height: 320px;
  width: 100%;
  margin-top: -20px;
  background-position: bottom;
  background-repeat: repeat-x;
}

.img-edit-mode {
  margin: 0 auto;
}

.on-tablet-mode,
.on-mobile-mode {
  .testimonial-v1 {
    .col-6:first-child {
      p {
        display: none;
      }
    }

    h1,h2 {
      text-align: center;
      font-size: 1.5em;
      font-weight: 400;
    }
  }

  .testimonial-image {
    max-width: 400px;
    margin: 0 auto;
    display: block;

    p {
      font-size: 1em;
    }
  }
}

.on-mobile-mode {
  .title-and-text-image {
    .block-text {
      padding-top: 15px;
      margin: 0 auto;
    }
  }
}

.testimonial-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 993px) {
  .testimonial-v1 {
    .col-6:first-child {
      p {
        display: none;
      }
    }

    h1,h2 {
      text-align: center;
      font-size: 1.5em;
    }
  }

  .testimonial-image {
    max-width: 400px;
    margin: 0 auto;
    display: block;

    p {
      font-size: 1em;
    }
  }
}

@media (max-width: 767px) {
  .title-and-text-image {
    .block-text {
      padding-top: 15px;
      margin: 0 auto;
    }
  }
}

.off-edit-mode {
  .testimonial-v1 h2, .testimonial-v1 h1 {
      font-size: 11px;
  }
  .testimonial-v1 .d-flex {
    padding-top: 20px;
  }

  .testimonial-v1 p {
    font-size: 6px;
  }

  .social-intro-user {
    font-size: 8px;
  }

  .testimonial-image {
    padding: 10px;
    max-width: 150px;
  }

  .content-builder .item .testimonial-image img {
    max-width: 70px;
  }

  .bg-bottom {
    height: 120px;
    background-size: cover;
  }

  &.on-desktop-mode .content-builder-drag-area {
    .item {
      max-width: 366px;
      margin: 0 auto;
    }
  }

  &.on-tablet-horizontal-mode .content-builder-drag-area {
    .item {
      max-width: 282px;
      margin: 0 auto;
    }


  }

  &.on-tablet-mode .content-builder-drag-area {
    .item {
      max-width: 250px;
      margin: 0 auto;
    }


  }

  &.on-mobile-mode .content-builder-drag-area {
    .item {
      max-width: 150px;
      margin: 0 auto;
    }



  }
}