.features-icon {
  .content-area {
    padding: 3em 0;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;
      align-items: center;
    }

    h2,
    h1 {
      font-size: 1.9444em;
      color: #434343;
      text-align: center;
      margin-bottom: 30px;
      font-weight: 400;
      @media (min-width: 960px) {
        font-size: 2.5em;
      }
    }
  }

  .img-edit-mode {
    min-width: auto;
    min-height:80px;
  }

  .features-icon-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 15px;
    flex-direction: column;
    align-items: center;

    .img {
      max-width: 60px;
      width: 100%;
    }

    .content {
      flex: 0 0 100%;
      max-width: calc(100% - 60px);
      width: 100%;
    }

    p {
      font-size: 16px;
      color: #666;
    }

    h3 {
      font-size: 24px;
      color: #373737;
      margin-top: 10px;
    }
  }

  .block-text {
    max-width: 365px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  .btn {
    outline: none!important;
    background-color: #5eca8b;
    border: 1px solid #5eca8b;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 20px;
    margin-top: .75em!important;

    &:hover {
      background-color: #3db870;
      border: 1px solid #3db870;
    }

    &:active {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  }
}

.img-edit-mode {
  margin: 0 auto;
}

.on-tablet-mode,
.on-mobile-mode {
  .features-icon {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .btn {
      font-size: 13px;
    }

    .block-text {
      padding-bottom: 0;
      margin: 0 auto;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
        font-size: 26px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 993px) {
  .features-icon {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .btn {
      font-size: 13px;
    }

    .block-text {
      padding-bottom: 0;
      margin: 0 auto;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
        font-size: 26px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .features-icon {
    .block-text {
      padding-top: 15px;
      margin: 0 auto;
    }

    .features-icon-item {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 10px;

      .img {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;

        img {
          margin: 0 auto;
        }
      }

      .content {
        flex: 0 0 100%;
        max-width: 100%;
      }
      h3{
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.on-mobile-mode {
  .features-icon {
    .block-text {
      padding-top: 15px;
      margin: 0 auto;
    }

    .features-icon-item {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      margin-bottom: 20px;

      .img {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;

        img {
          margin: 0 auto 15px;
        }
      }

      .content {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
}

.off-edit-mode {

  .features-icon-item {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 5px;

    .img {
      flex: 0 0 20px;
      max-width: 20px;
      width: 100%;
      padding-right: 5px;
    }

    .content {
      flex: 0 0 100%;
      max-width: calc(100% - 20px);
      width: 100%;
    }
  }

  &.on-desktop-mode .content-builder-drag-area {
    .item {
      max-width: 366px;
      margin: 0 auto;
    }

    .features-icon {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0px;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0 0 7px;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-tablet-horizontal-mode .content-builder-drag-area {
    .item {
      max-width: 282px;
      margin: 0 auto;
    }

    .features-icon {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 auto;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-tablet-mode .content-builder-drag-area {
    .item {
      max-width: 250px;
      margin: 0 auto;
    }

    .features-icon {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 150px;
        margin: 0 auto;
      }

      .img-container {
        max-width: 150px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0 0 8px;
      }

      h3 {
        font-size: 4px;
        margin: 0;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-mobile-mode .content-builder-drag-area {
    .item {
      max-width: 150px;
      margin: 0 auto;
    }

    .col-6 {
      padding: 0 8px;
    }

    .features-icon {
      .content-area {
        padding: 9px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 200px;
        margin: 0 auto;
      }

      .img-container {
        max-width: 200px;
      }

      .btn {
        min-height: 11px;
        padding: 6px 15px;
        font-size: 8px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 12px;
        margin: 5px 0;
        letter-spacing: 1px;
      }

      p {
        font-size: 8px;
      }
    }
  }
}