@import "template-text-and-img";
@import "template-text-and-icon";
@import "template-text-and-blue";
@import "template-img-partners";
@import "template-simple-content-cta";
@import "template-accordion";
@import "template-features-icon";
@import "template-testimonial";

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.direction-revert {
  flex-direction: row-reverse;
}

.col-6 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
}

.on-tablet-mode .col-6,
.on-mobile-mode .col-6 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.on-tablet-mode .img-edit-mode,
.on-mobile-mode .img-edit-mode {
  min-height: auto;
  min-width: auto;
}

.on-tablet-horizontal-mode {
  .content-builder-drag-area {
    .item {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.on-tablet-mode {
  .content-builder-drag-area {
    .item {
      max-width: 768px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.on-mobile-mode {
  .content-builder-drag-area {
    .item {
      max-width: 320px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.trumbowyg-box, .trumbowyg-editor {
  margin: 0 auto !important;
}


.off-edit-mode {
  .btn {
    min-height: 15px;
    padding: 5px 10px;
    margin-top: 5px;
  }
}

.btn-link {
  margin-top: 15px;
  text-decoration: none;
  min-height: auto;
  padding: 0;
  color: #2196F3 !important;
  background: transparent;
  border: 1px solid transparent;
  display: inline-table;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none !important;

  &:hover {
    color: #1d84d6 !important;
  }

  &:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

.btn-outline {
  margin-top: 15px;
  text-decoration: none;
  min-height: 38px;
  padding: 15px 30px;
  color: #2196F3 !important;
  background: transparent;
  border: 1px solid #2196F3;
  display: inline-table;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none !important;

  &:hover {
    border: 1px solid #1d84d6;
    color: #1d84d6 !important;
  }

  &:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

.btn {
  margin-top: 15px;
  text-decoration: none;
  min-height: 38px;
  padding: 15px 30px;
  color: #fff !important;
  background: #2196F3;
  display: inline-table;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  text-decoration: none !important;

  &:hover {
    background: #1d84d6;
  }

  &:active {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
}

.main-content.on-edit-mode .content-builder {
  padding: 0;
}

.text-center {
  text-align: center;
}

.flex-reverse {
  flex-direction: row-reverse;
}


.flex-wrap {
  flex-wrap: wrap;
}


.main-content .content-builder .item .tools-wrapper a {
  position: relative;
}

.triggerAreaShow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.hu-color-picker {
  width: 220px !important;
}

.hu-color-picker-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99;
}

.hideClose {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 2 !important;
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
}

.z-99 {
  z-index: 99;
}

.border-none {
  border: 0 !important;
}

.trumbowyg-box .trumbowyg-editor,
.trumbowyg-box,
.trumbowyg-editor {
  height: auto !important;
  min-height: auto !important;
}

.trumbowyg-editor,
.trumbowyg-textarea {
  padding: 2px 0 !important;
}

.img-edit-mode {
  display: table;
  position: relative;
  min-width: 300px;
  min-height: 150px;
  max-width: 100%;

  &:hover .upload-img  {
    opacity: 1;
  }

  .link-area {
    width: 100%;
    max-width: 70%;
  }

  .upload-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.25s ease;

    label {
      color: #fff;
      display: block;
    }
    input {
      width: 100%;
    }

    svg {
      width: 50px;
      height: 50px;
    }
  }
}

.hideClose {
  background-color: transparent !important;
  padding: 0 !important;
}