.text-and-icon {
  .content-area {
    padding: 4em 0;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;
      align-items: center;

    }

    h2,
    h1 {
      font-size: 45px;
      text-align: center;
      margin-bottom: 1em;
      font-weight: 400;
      color: #434343;
    }
  }

  .item-wrapper-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .slick-dots {
      bottom: -15px;
      li button:before {
        font-size: 72px;
      }
    }
  }

  &.container-slider {
    div:not(.editor-active) + .item-wrapper-block {
      display: block;

      .item-block {
        max-width: 100%;
      }
    }
  }


  .btn {
    margin-left: auto !important;
    margin-right: auto !important;
    display: table;
    min-width: 200px;
    text-align: center;
  }

  .item-block {
    flex: 0 0 25%;
    max-width: 25%;
    width: 100%;
    text-align: center;

    & > div {
      margin: 0 auto;
      width: 100%;
    }


    .img-edit-mode {
      min-width: 194px;
      min-height: 135px;
    }

    img {
      width: 100%;
      margin: 0 auto;
    }

    h3 {
      font-size: 24px;
      color: #00b4ca;
      margin-bottom: 10px;
      font-weight: 400;
      @media (max-width: 767px) {
        margin-bottom: 0px;
        margin-top: 5px;
      }
    }

    p {
      line-height: 1.6em;
      margin: 0 0 10px;
      padding: 0 6px;
      text-align: center;
      font-size: 16px;
      color: #666;
      @media (max-width: 767px) {
        margin-bottom: 0px;
      }
    }
    &.w-33{
      flex: 0 0 33%;
      max-width: 33%;
      > div{
        max-width: 90%;
      }
      .media-container{
        @media (min-width: 768px) {
          max-height: 285px;
          height: auto;
        }
      }
      img{
        max-width: 100%;
      }
      p {
        font-size: 18px;
      }
    }
  }

  .block-text {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  .btn {
    outline: none !important;
    background-color: #5eca8b;
    border: 1px solid #5eca8b;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 20px;
    margin-top: .75em !important;

    &:hover {
      background-color: #3db870;
      border: 1px solid #3db870;
    }

    &:active {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  }
}

.img-edit-mode {
  margin: 0 auto;
}

.on-tablet-mode,
.on-mobile-mode {
  .text-and-icon {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .item-block {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      margin-bottom: 25px;
    }

    .block-text {
      padding-bottom: 0;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

.on-tablet-mode {
  .text-and-icon.container-slider {

    .item-block {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .slick-prev, .slick-next {
      display: none;
    }
  }
}
.on-tablet-horizontal-mode, .on-desktop-mode, .on-tablet-mode{
  .text-and-icon.container-slider {
    .slick-prev, .slick-next {
      display: none;
    }
  }
}

.on-mobile-mode {
  .text-and-icon {
    .block-text {
      padding-top: 15px;
    }

    .item-block {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}

.on-mobile-mode {
  .text-and-icon.container-slider {
    .item-wrapper-block {
      position: relative;
      height: 387px;
    }

    .item-block {
      position: absolute;
      background: #fff;
    }
    .slick-prev, .slick-next {
      position: absolute;
      display: block;
      height: 28px;
      width: 40px;
      line-height: 0px;
      font-size: 0px;
      cursor: pointer;
      background: rgba(255, 255, 255, 0.3);
      background-position: center;
      background-repeat: no-repeat;
      background-color: transparent;
      color: transparent;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      padding: 0;
      border: none;
      outline: none;
      z-index: 400;
      top: 50%;
      background-size: 40px 65px;
    }
    .slick-next {
      right: 15px;
      background-image: url(../img/slick-arrow-right.png);
    }
    .slick-prev {
      left: 15px;
      background-image: url(../img/slick-arrow-left.png);
    }
  }
}

.off-edit-mode {
  .text-and-icon .btn {
    margin-left: auto !important;
    margin-right: auto !important;
    display: table;
    min-width: 60px;
    text-align: center;
  }

  &.on-desktop-mode .content-builder-drag-area {
    .item {
      max-width: 366px;
      margin: 0 auto;
    }

    .text-and-icon {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 44px !important;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0px;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 10px;
        margin: 0 0 10px;
      }

      img {
        margin-bottom: 10px;
      }

      h3 {
        font-size: 6px;
      }

      p {
        font-size: 5px;
      }
    }
  }

  &.on-tablet-horizontal-mode .content-builder-drag-area {
    .item {
      max-width: 282px;
      margin: 0 auto;
    }

    .text-and-icon {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 44px !important;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 10px;
        margin: 0 0 10px;
      }

      img {
        margin-bottom: 10px;
      }

      h3 {
        font-size: 6px;
        margin-bottom: 5px;
      }

      p {
        font-size: 6px;
      }
    }
  }

  &.on-tablet-mode .content-builder-drag-area {
    .item {
      max-width: 250px;
      margin: 0 auto;
    }

    .text-and-icon {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 60px !important;
        }
      }

      img {
        margin-bottom: 10px;
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 150px;
      }

      .img-container {
        max-width: 150px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 11px;
        margin: 0 0 10px;
      }

      p {
        font-size: 6px;
        max-width: 70px;
        margin: 0 auto;
      }
    }
  }

  &.on-mobile-mode .content-builder-drag-area {
    .item {
      max-width: 150px;
      margin: 0 auto;
    }

    .col-6 {
      padding: 0 8px;
    }

    .text-and-icon {
      .content-area {
        padding: 9px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      img {
        margin-bottom: 10px;
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 44px !important;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 200px;
      }

      .img-container {
        max-width: 200px;
      }

      .btn {
        min-height: 11px;
        padding: 6px 15px;
        font-size: 8px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 12px;
        margin: 0 0 10px;
      }

      p {
        font-size: 8px;
        max-width: 90px;
        margin: 0 auto;
      }
    }
  }
}

.text-and-icon.text-and-icon-v2 {
  .content-area {
    h2,
    h1 {
      color: #00b4ca;
    }
  }

  img {
    margin: 10px auto 0px;
    width: 92%;
  }

  .rating {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin: 15px 5px;
      max-width: 16px !important;
    }
  }

  .item-block {
    flex: 0 0 27%;
    max-width: 27%;
    width: 100%;

    p {
      padding: 0 10px;
    }

    .name {
      color: #00b4ca;
      font-size: 20px;
    }
  }
}

.off-edit-mode {

  .text-and-icon.text-and-icon-v2 {
    .item-block {
      .name {
        font-size: 9px;
      }
    }
  }

  iframe {
    max-width: 80%;
    height: 60px;
  }

  .text-and-icon.text-and-icon-v2 .rating img {
    max-width: 20px !important;
    margin: 3px 0;
  }

  &.on-desktop-mode .content-builder-drag-area .text-and-icon .item-block .rating img {
    max-width: 7px !important;
  }
}

.on-mobile-mode {
  .text-and-icon.text-and-icon-v2 {
    .item-block {
      padding: 0 15px;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.on-tablet-mode {
  .text-and-icon.text-and-icon-v2 {
    .item-block {
      padding: 0 5px;
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }
}

@media (max-width: 993px) {


  .text-and-icon.text-and-icon-v2 {
    .item-block {
      padding: 0 5px;
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  .text-and-icon {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .item-block {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      margin-bottom: 10px;
    }

    .block-text {
      padding-bottom: 0;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
        font-size: 1.6666em;
        margin-bottom: 15px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }

  .text-and-blue .img-avatar {
    height: 100px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .text-and-icon.text-and-icon-v2 {
    .item-block {
      padding: 0 15px;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .text-and-icon {
    .block-text {
      padding-top: 15px;
    }

    .item-block, .item-block.w-33{
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}