.text-and-blue {
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 70px;
    background-color: #fff;
  }

  .img-avatar {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    overflow: hidden;
    img{
      width: 100%;
    }
  }

  .content-area {
    padding: 80px 0 30px;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;
      align-items: center;
    }

    p {
      color: #fff;
      text-align: center;
      line-height: 1.6em;
      margin: 0 0 10px;
      font-size: 18px;
    }

    h3, h4, h2,
    h1 {
      font-size: 2.5em;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      font-weight: 400;
      color: #fff;
      @media (min-width: 960px) {
        font-size: 1.94444em;
      }
    }
  }

  .item-wrapper-block {
    display: flex;
    flex-wrap: wrap;
  }


  .btn {
    outline: none!important;
    background-color: #5eca8b;
    border: 1px solid #5eca8b;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 1.11111em;
    line-height: 1.3333333;
    border-radius: 20px;
    margin-top: .75em!important;

    &:hover {
      background-color: #3db870;
      border: 1px solid #3db870;
    }

    &:active {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  }

  .col-12 {
    max-width: 567px;
    flex: 0 0 567px;
    margin: 0 auto;
  }
}

.img-edit-mode {
  margin: 0 auto;
}

.on-tablet-mode,
.on-mobile-mode {
  .text-and-blue {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .item-block {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      margin-bottom: 25px;
    }

    &::before {
      content: "";
      height: 50px;
    }

    .block-text {
      padding-bottom: 0;
    }

    .img-avatar {
      max-width: 100px;
      top: -40px;
    }

    .col-12 {
      max-width: 567px;
      flex: 0 0 567px;
      margin: 0 auto;
    }

    .content-area {
      padding: 70px 0 30px;

      h3, h4, h2,
      h1 {
        margin-top: 0;
        font-size: 25px;
      }

      p {
        font-size: 18px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

.on-mobile-mode {
  .text-and-blue {
    .content-area {
      padding: 70px 0 30px;

      h3, h4, h2,
      h1 {
        margin-top: 0;
        font-size: 23px;
      }

      p {
        font-size: 17px;
        margin-top: 26px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }

    .col-12 {
      max-width: 100%;
      flex: 0 0 100%;
      margin: 0 auto;
    }

    .block-text {
      padding-top: 15px;
    }

    .item-block {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }
}



.off-edit-mode {
  .text-and-blue .img-avatar {
    width: 30px;
    top: -20px;
  }

  .text-and-blue .col-12 {
    flex: 0 0 207px;
    max-width:  207px;
  }

  .text-and-blue::before {
    height: 25px;
  }

  &.on-desktop-mode .content-builder-drag-area {
    .item {
      max-width: 366px;
      margin: 0 auto;
    }

    .text-and-blue {
      .content-area {
        padding: 16px 0 3px;

        .d-flex {
          max-width: 280px;
        }
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 44px !important;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0px;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3, h4 {
        font-size: 10px;
        margin: 0 0 10px;
      }

      p {
        font-size: 5px;
      }
    }
  }

  &.on-tablet-horizontal-mode .content-builder-drag-area {
    .item {
      max-width: 282px;
      margin: 0 auto;
    }

    .text-and-blue {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 44px !important;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3, h4 {
        font-size: 10px;
        margin: 0 0 10px;
      }

      p {
        font-size: 6px;
      }
    }
  }

  &.on-tablet-mode .content-builder-drag-area {
    .item {
      max-width: 250px;
      margin: 0 auto;
    }

    .text-and-blue {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 60px !important;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 150px;
      }

      .img-container {
        max-width: 150px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3, h4 {
        font-size: 11px;
        margin: 0 0 10px;
      }

      p {
        font-size: 6px;
        margin: 0 auto;
      }
    }
  }

  &.on-mobile-mode .content-builder-drag-area {
    .item {
      max-width: 150px;
      margin: 0 auto;
    }

    .col-12 {
      max-width: 100%;
      flex: 0 0 100%;
    }

    .col-6 {
      padding: 0 8px;
    }

    .text-and-blue {
      .content-area {
        padding: 19px 0 9px;

        .d-flex {
          max-width: 280px;
        }
      }

      .item-block {
        p {
          padding: 0 5px;
          margin-bottom: 1px;
        }

        img {
          max-width: 44px !important;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 200px;
      }

      .img-container {
        max-width: 200px;
      }

      .btn {
        min-height: 11px;
        padding: 6px 15px;
        font-size: 8px;
        line-height: 1;
      }

      h2,
      h1,
      h3, h4 {
        font-size: 8px;
        margin: 0 0 10px;
      }

      p {
        font-size: 5px;
        margin: 0 auto;
      }
    }
  }
}

.text-and-blue.text-and-blue-offer {
  &:before {
    display: none;
  }

  text-align: left !important;

  img {
    display: inline-block !important;
    position: relative;
    top: 2px;
    margin-right: 10px;
  }

  p {
    margin-bottom: 0;
    text-align: left;

  }

  & > div:not(.border-none) {
    padding: 20px 0;
  }

  .btn {
    margin-top: 0 !important;
    margin-left: 15px;
    text-align: center;
    white-space: nowrap;
  }

  .col-12 {
    display: flex;
    align-items: center;
    flex: 0 0 780px;
    max-width: 780px;
  }
}

.off-edit-mode {
  &.on-mobile-mode .content-builder-drag-area .text-and-blue.text-and-blue-offer .content-area {
    .btn {
      max-width: 100px;
      margin: 0 auto;
    }
  }
}

.on-mobile-mode .content-builder-drag-area .text-and-blue.text-and-blue-offer .content-area {
  .col-12 {
    flex-wrap: wrap;

    & > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  p {
    text-align: center;
    margin-bottom: 5px;
  }

  .btn {
    margin-left: 0;
    text-align: center;
  }
}

.off-edit-mode {
  .text-and-blue.text-and-blue-offer {
    img {
      max-width: 6px !important;
    }

    .col-12 {
      padding: 0;
    }
  }

  &.on-desktop-mode .content-builder-drag-area .text-and-blue.text-and-blue-offer .content-area {
    padding: 6px;
  }
}


@media (max-width: 993px) {
  .text-and-blue {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .item-block {
      flex: 0 0 50%;
      max-width: 50%;
      text-align: center;
      margin-bottom: 25px;
    }

    &::before {
      content: "";
      height: 50px;
    }

    .block-text {
      padding-bottom: 0;
    }

    .img-avatar {
      max-width: 100px;
      top: -40px;
    }

    .col-12 {
      max-width: 567px;
      flex: 0 0 567px;
      margin: 0 auto;
    }

    .content-area {
      padding: 70px 0 30px;

      h3, h4, h2,
      h1 {
        margin-top: 0;
        font-size: 25px;
      }

      p {
        font-size: 17px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .text-and-blue {
    .content-area {
      padding: 70px 0 30px;

      h3, h4, h2,
      h1 {
        margin-top: 0;
        font-size: 23px;
      }

      p {
        font-size: 17px;
        margin-top: 26px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }

    .col-12 {
      max-width: 100%;
      flex: 0 0 100%;
      margin: 0 auto;
    }

    .block-text {
      padding-top: 15px;
    }

    .item-block {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
    }
  }

  .img-container img {
    margin: 0 auto;
  }
  .img-container .video-preview img {
    height: 100%;
  }

  .text-and-blue.text-and-blue-offer .col-12 {
    flex-wrap: wrap;
  }

  .text-and-blue.text-and-blue-offer .btn {
    margin: 10px auto !important;
  }

  .text-and-blue.text-and-blue-offer img {
    top: -1px;
    margin-right: 10px !important;
  }
}

#page .text-and-blue.text-and-blue-offer img {
  top: -1px;
}

.template-accordion .content-area .title * {
  margin: 0;
}


#page .z-99 {
  z-index: 0 !important;
}

#page .z-99-hover:hover {
  z-index: 0 !important;
}

#page h1,
#page h2,
#page h3,
#page h4,
#page h5 {
  font-family: "Brandon Text", Arial, "Helvetica Neue", Helvetica, sans-serif, "Lato", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
}