.simple-content-cta {
  h2,
  h1 {
    text-rendering: optimizeLegibility;
    max-width: 500px;
    line-height: 1.2;
    color: #00b4ca;
    font-size: 2.5em;
    margin: .67em 0;
    font-weight: 400;
    @media (max-width: 959px) {
      font-size: 1.9444em;
    }
  }

  p {
    color: #666;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    max-width: 500px;
    margin: 0 auto 10px;
  }

  a {
    color: #00b4ca;
    font-weight: 400;
    font-size: 18px;
  }

  .content-area {
    padding: 3em 0;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;
      align-items: center;

      img {
        width: 500px;
      }
    }
  }

  .block-text {
    max-width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .btn {
    outline: none!important;
    background-color: #5eca8b;
    border: 1px solid #5eca8b;
    padding: 8px 30px;
    text-transform: uppercase;
    font-size: 1.11111em;
    line-height: 1.3333333;
    border-radius: 20px;
    margin-top: .75em!important;

    &:hover {
      background-color: #3db870;
      border: 1px solid #3db870;
    }

    &:active {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  }
}

.img-edit-mode {
  margin: 0 auto;
}

.on-tablet-mode,
.on-mobile-mode {
  .simple-content-cta {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .block-text {
      padding-bottom: 0;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

.on-mobile-mode {
  .simple-content-cta {
    .block-text {
      padding-top: 15px;
    }
  }
}

@media (max-width: 993px) {
  .simple-content-cta {
    .col-6 {
      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }
    }

    .block-text {
      padding-bottom: 0;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .simple-content-cta {
    .block-text {
      padding-top: 15px;
    }
  }
}

.off-edit-mode {
  .simple-content-cta p {
    line-height: 1.5;
    max-width: 77px;
    margin: 0 auto;
  }

  &.on-desktop-mode .content-builder-drag-area {
    .item {
      max-width: 366px;
      margin: 0 auto;
    }

    .simple-content-cta {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0px;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0 0 4px;
        letter-spacing: normal;
      }

      p {
        font-size: 4px;
      }

      .btn {
        margin-top: 0 !important;
      }
    }
  }

  &.on-tablet-horizontal-mode .content-builder-drag-area {
    .item {
      max-width: 282px;
      margin: 0 auto;
    }

    .simple-content-cta {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0;
        letter-spacing: 1px;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-tablet-mode .content-builder-drag-area {
    .item {
      max-width: 250px;
      margin: 0 auto;
    }

    .simple-content-cta {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 150px;
      }

      .img-container {
        max-width: 150px;
      }

      .btn {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0;
        letter-spacing: 1px;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-mobile-mode .content-builder-drag-area {
    .item {
      max-width: 150px;
      margin: 0 auto;
    }

    .col-6 {
      padding: 0 8px;
    }

    .simple-content-cta {
      .content-area {
        padding: 9px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 200px;
      }

      .img-container {
        max-width: 200px;
      }

      .btn {
        min-height: 11px;
        padding: 6px 15px;
        font-size: 8px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 10px;
        margin: 5px 0;
        letter-spacing: 1px;
      }

      p {
        font-size: 6px;
        max-width: 100%;
      }
    }
  }
}