.title-and-text-image {
  .content-area {
    padding: 3em 0;

    .d-flex {
      max-width: 1180px;
      margin: 0 auto;
      align-items: center;
    }

    h2,
    h1 {

    }
    h2 {
      font-size: 30px;
    }
    h1 {
      font-size: 35px;
    }
  }

  .block-text {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

 .btn, .trumbowyg-editor a, .block-text > div a {
    outline: none!important;
    background-color: #5eca8b;
    border: 1px solid #5eca8b;
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 1.11111em;
    line-height: 1.3333333;
    border-radius: 20px;
    margin-top: .75em!important;
    margin-bottom: 5px;

    &:hover {
      background-color: #3db870;
      border: 1px solid #3db870;
    }

    &:active {
      -webkit-transform: scale(0.98);
      transform: scale(0.98);
    }
  }
}

.title-and-text-image.title-and-text-mixed-image {
  p {
    font-size: 18px;

    small {
      font-size: 14px;
    }
    i{
      font-size: .8888em;
    }
  }

 .btn, .trumbowyg-editor a, .block-text > div a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
  }
}

.img-edit-mode {
  margin: 0 auto;
  width: 100%;
}

.on-tablet-mode,
.on-mobile-mode {
  .title-and-text-image.title-and-text-mixed-image {
    .col-6 {
      &:first-child {
        order: 3;
      }

      &:last-child {
        order: 1;
        margin-top: 20px;
      }
    }
  }
  .title-and-text-image {
    .col-6 {
      &:first-child {
        order: 1;
      }

      &:last-child {
        order: 2;
      }
    }

   .btn, .trumbowyg-editor a, .block-text > div a {
      font-size: 16px;
    }

    .block-text {
      padding-bottom: 0;
      margin: 0 auto;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
        font-size: 26px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }
}

.on-mobile-mode {
  .title-and-text-image {
    .block-text {
      padding-top: 15px;
      margin: 0 auto;
    }
  }
}

.off-edit-mode {
  .title-and-text-image.title-and-text-mixed-image p small {
    font-size: 4px;
  }

  .title-and-text-image.title-and-text-mixed-image {
   .btn, .trumbowyg-editor a, .block-text > div a {
      margin-top: 1px !important;
    }

    .block-text {
      max-width: 84px;
      margin: 0;
    }
  }

  &.on-desktop-mode .content-builder-drag-area {
    .item {
      max-width: 366px;
      margin: 0 auto;
    }

    .title-and-text-image {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
      }

     .btn, .trumbowyg-editor a, .block-text > div a {
        min-height: 11px;
        padding: 3px 6px 0px;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0 0 4px;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-tablet-horizontal-mode .content-builder-drag-area {
    .item {
      max-width: 282px;
      margin: 0 auto;
    }

    .title-and-text-image {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0 auto;
      }

     .btn, .trumbowyg-editor a, .block-text > div a {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0;
        letter-spacing: 1px;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-tablet-mode .content-builder-drag-area {
    .item {
      max-width: 250px;
      margin: 0 auto;
    }

    .title-and-text-image {
      .content-area {
        padding: 16px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 150px;
        margin: 0 auto;
      }

      .img-container {
        max-width: 150px;
      }

     .btn, .trumbowyg-editor a, .block-text > div a {
        min-height: 11px;
        padding: 3px 6px 0;
        font-size: 4px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 7px;
        margin: 0;
        letter-spacing: 1px;
      }

      p {
        font-size: 4px;
      }
    }
  }

  &.on-mobile-mode .content-builder-drag-area {
    .item {
      max-width: 150px;
      margin: 0 auto;
    }

    .title-and-text-image.title-and-text-mixed-image {
     .btn, .trumbowyg-editor a, .block-text > div a {
        margin-top: 1px !important;
        font-size: 5px;
      }

      h2,
      h1 {
        font-size: 10px;
      }
    }

    .col-6 {
      padding: 0 8px;
    }

    .title-and-text-image {
      .content-area {
        padding: 9px 0;

        .d-flex {
          max-width: 280px;
        }
      }

      .block-text {
        padding-top: 5px;
        padding-bottom: 5px;
        max-width: 200px;
        margin: 0 auto;
      }

      .img-container {
        max-width: 200px;
      }

     .btn, .trumbowyg-editor a, .block-text > div a {
        min-height: 11px;
        padding: 6px 15px;
        font-size: 8px;
        line-height: 1;
      }

      h2,
      h1,
      h3 {
        font-size: 12px;
        margin: 5px 0;
        letter-spacing: 1px;
      }

      p {
        font-size: 8px;
      }
    }
  }
}

@media (max-width: 993px) {
  .title-and-text-image.title-and-text-mixed-image {
    .col-6 {
      &:first-child {
        order: 3;
      }

      &:last-child {
        order: 1;
        margin-top: 20px;
      }
    }
  }

  .title-and-text-image {
    .col-6 {
      &:first-child {
        order: 1;
      }

      &:last-child {
        order: 2;
      }
    }

   .btn, .trumbowyg-editor a, .block-text > div a {
      font-size: 16px;
    }

    .block-text {
      padding-bottom: 0;
      margin: 0 auto;
    }

    .content-area {
      padding: 30px 0;

      h2,
      h1 {
        margin-top: 0;
        font-size: 26px;
      }
    }

    .img-container {
      max-width: 500px;
      margin: 0 auto;
      width: 100%;
      display: block;
    }
  }

  .text-and-blue .img-avatar {
    max-width: 100px;
    top: -3px;
    height: 100px;


  }

  .z-99-hover:hover {
    z-index: auto;
  }
}

@media (max-width: 767px) {
  .title-and-text-image {
    .block-text {
      padding-top: 15px;
      margin: 0 auto;
    }
    .content-area{
      .d-flex{
        display: block;
        h2:nth-of-type(1){
          position: absolute;
          top: 0;
        }
        .img-container{
          padding-top: 70px;
        }
      }
    }
  }

  .text-and-blue.text-and-blue-offer .col-12 {
    max-width: 100% !important;
    flex: 0 0 100% !important;

    & > div {
      flex: 0 0 100% !important;
      max-width: 100% !important;

      * {
        text-align: center;
        margin: 0 auto;
      }
    }
  }

}

.img-container {
  img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}