.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  width: 100%;
  line-height: 22px;
  cursor: text;

  input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
  }
  .label-info, .badge-info {
    background-color: #cbe897;
    color: #FFFFFF;
  }
}
.bootstrap-tagsinput.form-control {
  input::-moz-placeholder {
    color: #777;
    opacity: 1;
  }
  input:-ms-input-placeholder {
    color: #777;
  }
  input::-webkit-input-placeholder {
    color: #777;
  }
  input:focus {
    border: none;
    box-shadow: none;
  }
  .tag {
    margin-right: 2px;
    color: white;
  }
  .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
  }
  .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
  }
  .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }
}
