.flash-message-container {
  .alert {
    margin-bottom: 0;
  }
}

.nav-header.logo-area {
  padding: 0 0 5px 0;
  border-bottom: 1px solid;
  background: white;

  img {
    max-width: 100%;
  }
}

.text-pointer {
  cursor: pointer;
}

.super-invisible {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* Enter and leave animations can use different */

/* durations and timing functions.              */

.slide-fade-enter-active {
  transition: all 0.3s ease;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.text-link,
.ibox-tools a.text-link {
  color: #337ab7;
  cursor: pointer;
}

.ibox-tools.ibox-tools-address {
  a {
    color: $navy;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.popover-title {
  a {
    font-weight: normal;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.search-container {
  position: relative;

  .search-list {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;

    .search-item {
      padding: 10px;
      border-bottom: 1px solid #ccc;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

#app-orders {
  .product-list {
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;

    .product-list-item {
      padding: 5px 0;
    }
  }
}

.table-pointer {
  tbody tr {
    cursor: pointer;
  }
}

.admin-order-detail {
  .order-status {
    text-transform: uppercase;
    text-transform: uppercase;

    &.completed {
      color: white;
      background-color: $navy;
    }

    &.processing {
      color: white;
      background-color: $blue;
    }

    &.pending {
      background-color: #ffcc99;
    }
  }
}

.strike {
  opacity: .5;
  font-size: .9em;
  text-decoration: line-through;
}