.ibox-content {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.grid-item {
  padding: 10px;
  border: 1px solid #c3c3c3;
  margin-left: 10px;
  margin-top: 10px;

  img {
    width: 200px;
  }

  p {
    margin-top: 10px;
    float: left;
  }

  .btn-copy {
    float: right;
    margin-top: 5px;
  }
}

.gallery {
  position: relative;

  .grid {
    height: inherit !important;
    display: flex;
    flex-wrap: wrap;
  }

  .grid-item {
    position: relative !important;
    margin-right: 10px;
  }
}

#insert-image {
  .grid {
    display: flex;
    flex-wrap: wrap;
    .grid-item {
      cursor: pointer;
    }
  }
}

.grid-load-more {
  display: flex;
  justify-content: center;

  .btn {
    margin-top: 20px;
  }
}
