//colors

$flow_color: #EFEFEF;
$flow_active_color: #5ACB89;

.flow-crumbs {
	padding: 0;
	overflow: hidden;
	span {
		color: black;
		text-decoration: none;
	}
	em {
		display: block;
		font-size: 1.1em;
		font-weight: bold;
	}
	li {
        float: left;
        margin-left: 0;
        width: 150px;
		height: 20px;
		line-height: 20px;
        list-style-type: none;
        padding-left: 20px;
        border-right: 3px solid white;
        position: relative;
        font-size: 13px;
        background-color: $flow_color;
		&:first-child {
			padding-left: 20px;
		}
		&.active {
            background-color: $flow_active_color;
            span{                            
                color:white;
            }
		}
		&.active::after {
			border-left-color: $flow_active_color;
		}
		&:nth-child(n + 2)::before {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			border-left: 3px solid white;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			width: 0;
			height: 0;
			content: " ";
		}
	}
	li::after {
		z-index: 1;
		position: absolute;
		top: 0;
		right: -3px;
		display: block;
		border-left: 3px solid $flow_color;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		width: 0;
		height: 0;
		content: " ";
    }
    li:last-child:after{
        display:none;
    }
}

.modal-content .flow-crumbs{
    float:left;
}