
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "../vendor/font-awesome/scss/font-awesome";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Variables, Mixins
@import "admin/variables";
@import "admin/mixins";

// INSPINIA Theme Elements
@import "admin/dropzone";
@import "admin/typography";
@import "admin/navigation";
@import "admin/top_navigation";
@import "admin/buttons";
@import "admin/badges_labels";
@import "admin/elements";
@import "admin/sidebar";
@import "admin/base";
@import "admin/pages";
@import "admin/chat";
@import "admin/metismenu";
@import "admin/spinners";
@import "admin/bootstrap-tagsinput";
@import "admin/gallery";
@import "admin/blog";

// Landing page styles
//@import "admin/landing";

// RTL Support
@import "admin/rtl";

// For demo only - config box style
@import "admin/theme-config";

// INSPINIA Skins
@import "admin/skins";
@import "admin/md-skin";

// Media query style
@import "admin/media";

@import "../vendor/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";

// Custom style
@import "admin/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
