<template>
    <div class="main-content"
         v-bind:class="{'on-edit-mode': editMode === true, 'off-edit-mode': editMode === false, 'on-desktop-mode': visibleMode === 1, 'on-tablet-horizontal-mode': visibleMode === 2, 'on-tablet-mode': visibleMode === 3, 'on-mobile-mode': visibleMode === 4}">
        <div class="content-builder">
            <div class="content-builder-drag-area">
                <div class="header" v-if="header == 'main'">
                    <div class="header-container">
                        <div class="search-mobile"><img src="/builder/img/search-Icon.png" alt=""></div>
                        <div class="d-flex align-center">
                            <div class="logo"><a href="#"><img src="https://simplyearth.com/images/logor.png"
                                                               alt=""></a></div>
                            <div class="search"><input type="search" autocorrect="off" autocapitalize="off"
                                                       autocomplete="off" spellcheck="false"
                                                       class="form-control ais-input"
                                                       placeholder="Search products name, sku "></div>
                        </div>

                        <div class="d-flex align-center">
                            <div class="item-m-r"><img src="/builder/img/user-icon.png" alt="">Login</div>
                            <div class="card-block"><img src="/builder/img/card-icon.png" alt=""><span>0</span></div>
                            <div class="mobile-icon"><img src="/builder/img/menu-icon.png" alt=""></div>
                        </div>
                    </div>
                    <div class="menu-container">
                        <div>
                            <ul>
                                <li><a href="#">Shop</a></li>
                                <li><a href="#">Simply Pure Promise</a></li>
                                <li><a href="#">Get Involved</a></li>
                                <li><a href="#">Essential Oil Library</a></li>
                            </ul>
                        </div>
                        <div><a href="#" class="btn">GET STARTED <img src="/builder/img/arrow-left-white.png"
                                                                      alt=""></a></div>
                    </div>
                </div>
                <div class="header" v-if="header == 'subscription'">
                    <div class="header-container">
                        <div class="search-mobile"><img src="/builder/img/search-Icon.png" alt=""></div>
                        <div class="d-flex align-center">
                            <div class="logo"><a href="#"><img src="https://simplyearth.com/images/logor.png"
                                                               alt=""></a></div>
                        </div>

                        <div class="d-flex align-center">
                            <div><a href="#" class="btn">GET STARTED <img src="/builder/img/arrow-left-white.png"
                                                                          alt=""></a></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div v-if="!editMode">
                        <div v-if="!pageStructure.length" class="empty">
                            <div class="empty-builder">
                                <p>Drag & Drop a Design Block</p>
                                <p>(or click)</p>
                                <div class="arrow-empty">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200.26 68.42">
                                        <path d="M6.19,9.4Q4.9,7.87,3.62,6.3L5.18,5Q6.44,6.6,7.72,8.11Z"></path>
                                        <path d="M139.15,68.42q-2,0-4,0l0-2q4.09.08,8.16,0l0,2Q141.29,68.42,139.15,68.42ZM128,68.13c-2.75-.15-5.52-.35-8.22-.61l.19-2c2.68.25,5.42.45,8.14.6Zm22.65,0-.11-2c2.7-.14,5.44-.33,8.15-.58l.18,2C156.12,67.78,153.36,68,150.63,68.12ZM166,66.79l-.24-2c2.69-.32,5.41-.7,8.09-1.11l.31,2C171.48,66.09,168.73,66.47,166,66.79Zm-53.43-.08c-2.73-.36-5.47-.78-8.15-1.25l.35-2c2.64.47,5.36.88,8.06,1.24Zm68.69-2.25-.37-2c2.66-.49,5.35-1,8-1.62l.43,2C186.68,63.41,184,64,181.28,64.46Zm-83.92-.4c-2.68-.58-5.38-1.24-8-1.94l.52-1.93c2.6.69,5.27,1.34,7.93,1.92Zm-15-3.94c-2.63-.82-5.26-1.71-7.81-2.65l.69-1.88c2.53.93,5.12,1.81,7.72,2.62ZM67.87,54.84c-2.54-1.06-5.07-2.19-7.53-3.37l.86-1.8C63.63,50.83,66.13,52,68.64,53Zm-14-6.62c-2.41-1.29-4.82-2.66-7.17-4.07l1-1.71c2.32,1.4,4.71,2.75,7.08,4ZM40.62,40.27c-2.28-1.52-4.55-3.12-6.74-4.75l1.19-1.6c2.17,1.62,4.41,3.19,6.66,4.69ZM28.19,31.08c-2.11-1.73-4.22-3.54-6.25-5.38l1.34-1.48c2,1.82,4.09,3.61,6.18,5.31ZM16.69,20.75c-1.94-1.91-3.86-3.91-5.73-5.93l1.47-1.35c1.84,2,3.74,4,5.66,5.86Z"></path>
                                        <path d="M196.38,61.16l-.49-1.94q1.94-.49,3.85-1l.52,1.93Q198.33,60.67,196.38,61.16Z"></path>
                                        <polygon points="1.39 9.88 0 0 9.24 3.73 1.39 9.88"></polygon>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div v-if="!pageStructure.length" class="empty">
                            <div class="empty-edit">
                                <a href="#" @click.prevent="changeEditMode(false)">Click to create page</a>
                            </div>
                        </div>
                    </div>
                </div>
                <draggable class="drag-area" :disabled="editMode" :sort="!editMode" :list="pageStructure"
                           group="people">

                    <div class="z-99-hover" v-bind:key="idx" v-for="(templateCurrent, idx) in pageStructure">
                        <template-cusotom-html @triggerChangeEditMode="changeEditMode(true)"
                                               @triggerChangeDirection="changeChangeDirection(templateCurrent)"
                                               @triggerUp="changePositionUp(idx)" @triggerDown="changePositionDown(idx)"
                                               @triggerRemove="removeItem(idx)" :current-id="idx"
                                               :current-arry="pageStructure" :visible-mode="visibleMode"
                                               :edit-mode="editMode"
                                               :templateData="templateCurrent"></template-cusotom-html>
                    </div>
                </draggable>
                <div class="footer" v-if="footer == 'main'">
                    <div class="footer-container">
                        <div class="col">
                            <h3>Free Essential Oil Recipes</h3>
                            <p>
                                <small>Join 20,000+ others making their homes natural</small>
                            </p>
                            <div>
                                <input type="email" placeholder="Your email">
                            </div>
                            <button class="btn">SUBSCRIBE</button>
                            <ul class="d-flex social-ul">
                                <li><a href="#"><img src="/builder/img/twitter.png" alt=""></a></li>
                                <li><a href="#"><img src="/builder/img/facebook.png" alt=""></a></li>
                                <li><a href="#"><img src="/builder/img/youtube.png" alt=""></a></li>
                                <li><a href="#"><img src="/builder/img/pinterest.png" alt=""></a></li>
                                <li><a href="#"><img src="/builder/img/instagram.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="d-flex justify-between">
                                <li><img src="/builder/img/13icon.png" alt=""></li>
                                <li><img src="/builder/img/13icon.png" alt=""></li>
                                <li><img src="/builder/img/pure_icon.png" alt=""></li>
                            </ul>
                            <p>Call us at <a href="#">866-330-8165</a> or <a href="#">Email us</a>
                                Monday - Friday 7 - 3 CST
                                © Copyright Simply Earth.
                                All rights reserved.</p>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Our Story</a></li>
                                <li><a href="#">Simply Pure Promise</a></li>
                                <li><a href="#">Our Cause</a></li>
                                <li><a href="#">Wholesale</a></li>
                                <li><a href="#">Ambassador Club</a></li>
                                <li><a href="#">Careers</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Free Returns</a></li>
                                <li><a href="#">FAQ’s</a></li>
                                <li><a href="#">Store Locator</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer" v-if="footer == 'subscription'">
                    <div class="footer-container">
                        <div class="col-12">
                            <p>© Copyright Simply Earth.
                                All rights reserved.</p>
                            <ul class="row">
                                <li class="link-item"><a href="#">Privacy Policy</a></li>
                                <li class="link-item"><a href="#">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block-wrapper" v-bind:class="{'open': mobileMenuShow}">
            <button class="close-icon hamburger hamburger--spin" v-bind:class="{'is-active': mobileMenuShow}"
                    @click="mobileMenuShow = !mobileMenuShow" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
            </button>
            <nav class="tabs-nav">
                <a v-bind:key="item.id" v-for="item in categories" href="#" @click="activetab = item.name"
                   v-bind:class="{'active': activetab === item.name}">{{ item.name }}</a>
            </nav>
            <div class="tabs-content">
                <div v-bind:key="category.id" v-for="category in categories" class="tabs-item">
                    <div v-if="activetab === category.name && category.id !== 4 && category.id !== 5">
                        <draggable :sort="false" :group="{ name: 'people', pull: 'clone', put: false }"
                                   :clone="cloneDog" :list="category.templates">
                            <div v-on:click="cloneDog2(templateCurrent)" v-bind:key="templateCurrent.id"
                                 v-for="templateCurrent in category.templates">
                                <template-cusotom :visible-mode="visibleMode" :templateData="templateCurrent"/>
                            </div>
                        </draggable>

                    </div>
                    <div v-if="activetab === category.name && category.id === 4">
                        <draggable :sort="false" :group="{ name: 'people', pull: 'clone', put: false }"
                                   :clone="cloneDog">
                            <div class="container-checked">
                                <input type="radio" id="h-main"
                                       name="header" value="main" v-model="header">
                                <label for="h-main">Header main</label>
                            </div>
                            <div class="container-checked">
                                <input type="radio" id="h-subscription"
                                       name="header" value="subscription" v-model="header">
                                <label for="h-subscription">Header subscription</label>
                            </div>
                        </draggable>
                    </div>
                    <div v-if="activetab === category.name && category.id === 5">
                        <draggable :sort="false" :group="{ name: 'people', pull: 'clone', put: false }"
                                   :clone="cloneDog">
                            <div class="container-checked">
                                <input type="radio" id="f-main"
                                       name="footer" value="main" v-model="footer">
                                <label for="f-main">Footer main</label>
                            </div>
                            <div class="container-checked">
                                <input type="radio" id="f-subscription"
                                       name="footer" value="subscription" v-model="footer">
                                <label for="f-subscription">Footer subscription</label>
                            </div>
                        </draggable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import templateCusotom from './template/template'
    import templateCusotomHtml from './template/template_html'
    import draggable from 'vuedraggable'
    import axios from 'axios'

    export default {
        name: 'Builder',
        props: ['editMode', 'visibleMode'],
        components: {
            templateCusotom,
            templateCusotomHtml,
            draggable
        },
        data: () => {
            return {
                mobileMenuShow: false,
                activetab: 'Contents',
                pageStructure: [],
                categories: null,
                footer: '',
                header: ''
            }
        },
        mounted() {

            axios.get('/api/page-builder/categories')
                .then(response => {
                    console.log(response.data.data);
                    this.categories = response.data.data;
                    this.categories.push(
                        {
                            id: 4,
                            slug: 'header',
                            name: 'Header',
                        },
                        {
                            id: 5,
                            slug: 'footer',
                            name: 'Footer',
                        },
                    )
                })
                .catch(function (error) {
                    console.log(error);
                });

            axios.get('/api/page-builder/page/content/' + window.pageId)
                .then(response => {
                    let pageStructure = [];


                    response.data.data.template.forEach((element, key) => {
                        pageStructure.push({
                            dataObject: element,
                            id: key
                        })
                    });

                    this.pageStructure = pageStructure;
                    // console.log(pageStructure);
                    // console.log(response.data.data);
                    this.footer = response.data.data.footer;
                    this.header = response.data.data.header;
                })
                .catch(function (error) {
                    console.log(error);
                });

        },
        methods: {

            cloneDog(currentObject) {
                let newObject = window.FastClone.cloneArray([currentObject]);
                let newItem = {
                    id: this.pageStructure.length + 1,
                    dataObject: newObject[0]
                }
                return newItem;
            },
            changeEditMode(val) {
                this.$emit('changeEditMode', val);
            },
            cloneDog2(currentObject) {
                let newObject = window.FastClone.cloneArray([currentObject]);
                let newItem = {
                    id: this.pageStructure.length + 1,
                    dataObject: newObject[0]
                }
                return this.pageStructure.push(newItem);
            },
            removeItem(idx) {
                this.$swal.fire({
                    title: 'Are you sure?',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, remove it!'
                }).then((result) => {
                    if (result.value) {
                        this.pageStructure.splice(idx, 1);
                        this.$swal.fire({
                            title: 'Section has been removed.',
                            type: 'success',
                            showConfirmButton: false,
                            timer: 800,
                        })
                    }
                })
            },
            changeChangeDirection(block) {
                block.dataObject.structure.position_inverse = !block.dataObject.structure.position_inverse;
            },
            changePositionUp(idx) {
                this.move(this.pageStructure, idx, -1)
            },
            async move(array, index, delta) {
                let newIndex = index + delta;
                if (newIndex < 0 || newIndex === array.length) return;
                let indexes = [index, newIndex].sort();
                array.splice(indexes[0], 2, array[indexes[1]], array[indexes[0]]);
            },
            changePositionDown(idx) {
                this.move(this.pageStructure, idx, 1)
            }
        }
    }

</script>

