<template>
  <div class="navigation-content">
    <div class="d-flex">
      <div class="mode-create">
        <button @click.prevent="changeEditMode(true)" v-bind:class="{'active': editMode === true}">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </button>
        <button @click.prevent="changeEditMode(false)" v-bind:class="{'active': editMode === false}">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M2 21h19v-3H2v3zM20 8H3c-.55 0-1 .45-1 1v6c0 .55.45 1 1 1h17c.55 0 1-.45 1-1V9c0-.55-.45-1-1-1zM2 3v3h19V3H2z"></path>
          </svg>
        </button>
      </div>
      <div class="move-view">
        <button @click.prevent="changeVisibleMode(1)" v-bind:class="{'active': visibleMode === 1}">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 2H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h7l-2 3v1h8v-1l-2-3h7c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 12H3V4h18v10z"></path>
          </svg>
        </button>
        <button @click.prevent="changeVisibleMode(2)" v-bind:class="{'active': visibleMode === 2}">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M21 4H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 1.99-.9 1.99-2L23 6c0-1.1-.9-2-2-2zm-2 14H5V6h14v12z"></path>
          </svg>
        </button>
        <button @click.prevent="changeVisibleMode(3)" v-bind:class="{'active': visibleMode === 3}">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.5 0h-14C3.12 0 2 1.12 2 2.5v19C2 22.88 3.12 24 4.5 24h14c1.38 0 2.5-1.12 2.5-2.5v-19C21 1.12 19.88 0 18.5 0zm-7 23c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm7.5-4H4V3h15v16z"></path>
          </svg>
        </button>
        <button @click.prevent="changeVisibleMode(4)" v-bind:class="{'active': visibleMode === 4}">
          <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.5 1h-8C6.12 1 5 2.12 5 3.5v17C5 21.88 6.12 23 7.5 23h8c1.38 0 2.5-1.12 2.5-2.5v-17C18 2.12 16.88 1 15.5 1zm-4 21c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm4.5-4H7V4h9v14z"></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </button>
      </div>
    </div>
    <div>
      <a @click.prevent="triggerSavePage" href="#" class="btn">Save Page</a>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Navigation',
  props: ['editMode','visibleMode'],
  methods: {
      changeEditMode(val) {
          this.$emit('changeEditMode', val);
      },
      changeVisibleMode(val) {
          this.$emit('changeVisibleMode', val);
      },
      triggerSavePage() {
          this.$emit('savePage');
      }
  }
}
</script>

