<template>
	<div>
    <div class="col-sm-7">
        <label for="name" class="greeting pull-left"><h1><b>Your Invites</b></h1></label><br>
        <!-- <button class="btn btn-outline-dark pull-right"><i class="fa fa-search"></i> &nbsp;Search</button> -->
        <div class="col-md-3 pull-right">
          <input class="form-control" type="text" v-model="search" placeholder="Search"/>
        </div>
        <br><br>

        <ul class="totalbox" v-if="filteredList[0]" style="height:500px; width:98%; overflow:hidden; overflow-y:scroll;">
            <li></li>
            <li v-for="data_invite in filteredList">
              <label><i class="fa fa-user-circle-o fa-lg"></i>&nbsp;&nbsp; <b>{{data_invite.email}}</b></label>
              <span class="pull-right blue" v-if="data_invite.is_signed_up">SIGNED UP&nbsp;&nbsp;</span>
              <span class="pull-right text-success" v-else>INVITED&nbsp;&nbsp;</span>
              
              <br>
              <div class="col-md-12">
                  <div class="col-md-8">
                    <span class="referral-invite-desc" v-if="data_invite.is_signed_up">You helped make your friends and family home natural while earning perks!</span>

                    <span class="referral-invite-desc" v-else>Tell your friends and family to subscribe today with your coupon code. </span>

                    <p class="text-muted">{{data_invite.created_at | formatDate}}</p>
                  </div>
              </div><br><br><br><br>
            </li>

        </ul>
        <ul v-else>
          <h3>No Results Found</h3>
          <br><br><br><br><br><br>
        </ul>
    </div>
    <div class="col-sm-5 box" style="border-style: solid; border-width: 1px;">
        <br>
        <div class="row referral-invite col-sm-12">
            <div class="container-fluid referral-bigger-fonts-section" >
                <div class="col-sm-12">
                    <h4 class="wide-title"><b>Referrals</b></h4>
                    <ul class="totalbox">
                        <li>Clicks (past 30 days): <span class="pull-right">{{ clicks }}</span></li>
                        <li>Conversion (past 30 days): <span class="pull-right">{{ conversion }}</span></li>
                        <li><b>Lifetime Free Boxes</b><span class="pull-right">{{ lifetime_box }}</span></li>
                    </ul>
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
	</div>
</template>

<script>
import moment from 'moment'

export default {
  name: "Invites",
  props: ["customer_id"],
  data() {
    return {
      text: "testing",
      email: null,
      search: '',
      data_invites: [],
      conversion: 0,
      lifetime_box: 0,
      clicks: 0
    };
  },
  methods: {
    sendInvitation() {
      axios
        .post("/pages/referral/send-invitation")
        .then(response => {
          swal("Gift card sent!", "", "success");
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },
    getInvites() {
      axios
        .get("/pages/invites/" + this.customer_id)
        .then(response => {
          this.data_invites = response.data.data;
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },
    getConversion(){
      axios
        .get("/pages/invites/conversion/" + this.customer_id)
        .then(response => {
          console.log(response)
          this.conversion = response.data.count;
          this.lifetime_box = response.lifetime_boxes_count;
        })
        .catch(error => {
          console.log('error getting conversion');
          // swal("Something went wrong", "", "error");
        });
    },
    getReferralClicks(){
      axios
        .get("/pages/invites/referral_clicks/" + this.customer_id)
        .then(response => {
          this.clicks = response.data.data.referral_clicks;
        })
        .catch(error => {
          console.log('error getting clicks');
        });
    }
  },
  mounted() {
    this.getInvites();
    this.getConversion();
    this.getReferralClicks();
  },
  computed: {
    filteredList() {
      if (!this.data_invites) {
        return []
      }
      
      return this.data_invites.filter(data_invite => {
        return data_invite.email.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
  filters: {
    formatDate: function (value) {
      if (!value) return ''
      value = value.toString()
      return moment(String(value)).format('MMMM D, YYYY').toUpperCase()
    },
    emailName: function (value) {
      if (!value) return ''
      value = (value.toString().split('@')[0]).toString().split('.')[0]
      return value.charAt(0).toUpperCase() + value.slice(1)
    }
  }
};
</script>
