<template>
    <div id="app" class="main-wrapper">
        <Builder :edit-mode="editMode" :visible-mode="visibleMode" @changeEditMode="changeEditMode"/>
        <Navigation :edit-mode="editMode" :visible-mode="visibleMode" @savePage="savePage"
                    @changeEditMode="changeEditMode" @changeVisibleMode="changeVisibleMode"/>
    </div>
</template>

<script>
    import Builder from './components/Builder.vue'
    import Navigation from './components/Navigation.vue'
    import sassStyles from './assets/css/main.scss';

    const axios = require('axios');

    export default {
        name: 'app',
        components: {
            Builder,
            Navigation
        },
        data: () => {
            return {
                editMode: false,
                visibleMode: 1
            }
        },
        methods: {
            changeEditMode(val) {
                this.editMode = val;
            },

            changeVisibleMode(val) {
                this.visibleMode = val;
            },
            savePage() {
                this.$swal.fire({
                    title: 'Page saved.',
                    type: 'success',
                    showConfirmButton: true,
                    timer: 1000,
                }).then((result) => {
                    axios.post('/api/page-builder/page/content/'+window.pageId+'/update', {data: this.$children[0]._data.pageStructure, header: this.$children[0]._data.header, footer: this.$children[0]._data.footer})
                        .then(function (response) {
                            window.location.href = window.location.protocol + '//'+ window.location.hostname + '/admin/pagebuilder'

                        })
                        .catch(function (error) {
                            console.log(error);
                        });

                })

            },
        }
    }
</script>

