<template>
    <div v-if="preloader" style="text-align: center; padding: 20px;"><svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="80px" height="80px" viewBox="0 0 128 128" xml:space="preserve"><rect x="0" y="0" width="100%" height="100%" fill="#f8f8f8" /><g><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#1eba5c"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c7eed7" transform="rotate(45 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c7eed7" transform="rotate(90 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c7eed7" transform="rotate(135 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c7eed7" transform="rotate(180 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c7eed7" transform="rotate(225 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c7eed7" transform="rotate(270 64 64)"/><path d="M38.52 33.37L21.36 16.2A63.6 63.6 0 0 1 59.5.16v24.3a39.5 39.5 0 0 0-20.98 8.92z" fill="#c7eed7" transform="rotate(315 64 64)"/><animateTransform attributeName="transform" type="rotate" values="0 64 64;45 64 64;90 64 64;135 64 64;180 64 64;225 64 64;270 64 64;315 64 64" calcMode="discrete" dur="1200ms" repeatCount="indefinite"></animateTransform></g></svg></div>

    <div id="page" class="main-wrapper" v-else>
        <div class="z-99-hover" v-bind:key="idx" v-for="(templateCurrent, idx) in pageStructure">
            <template-cusotom-html :current-id="idx" :current-arry="pageStructure" :visible-mode="visibleMode" :edit-mode="editMode" :templateData="templateCurrent"></template-cusotom-html>
        </div>
    </div>
</template>

<script>
    import templateCusotomHtml from './components/template/template_html'

    const axios = require('axios');

    export default {
        name: 'app',
        components: {
            templateCusotomHtml,
        },
        data: () => {
            return {
                editMode: false,
                visibleMode: 1,
                mobileMenuShow: false,
                activetab: 'Contents',
                pageStructure: [

                ],
                categories: null,
                preloader: true

            }
        },
        mounted(){
            axios.get('/api/page-builder/page/content/'+window.pageId)
                .then(response =>    {
                    let pageStructure = [];

                    response.data.data.template.forEach((element,key) => {
                        pageStructure.push({
                            dataObject: element,
                            id: key
                        })
                    });

                    this.pageStructure = pageStructure;
                    this.preloader = false;
                })
                .catch(function (error) {
                    console.log(error);
                    this.preloader = false;
                });

        },
        methods: {

        }
    }
</script>

