<template>
  <div>
    <div class="modal animated fadeIn box-details" id="modal-box-details" tabindex="-1" role="dialog">
			<div class="modal-dialog small-dialog" role="document">
				<div class="modal-content" :class="{'sk-loading':loading}" >
                         <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
					<div v-if="box" class="modal-header">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
						<div class="title-box">              
							<h2>{{ moment.utc(this.box.date).format('MMM Do') }} <span>{{ box.item_count }} items</span></h2>
						</div>
					</div>
					<div class="modal-body min-height-medium">
            <div v-if="box">
              <div class="exchange-addons">       
              <ExchangeItem v-for="exchange_item in box.exchanges" :key="exchange_item.id" :exchange_item="exchange_item"></ExchangeItem>  
              <Addon v-for="addon in box.addons" :key="addon.id" :addon="addon"></Addon>
              <Bonus v-for="bonus in box.bonus" :key="bonus.id" :bonus="bonus"></Bonus>
              <div class="box-item">
                <a  class="anchor-item">
                  <div class="image" style="min-width:100px;min-height:100px;">
                    <img :src="box.shopping_box.cover">
                  </div>
                  <span class="price" v-text="box.price"></span>
                  <div class="item-title">
                    {{ box.shopping_box.name }}  
                    <br />
                    <small>{{ box.shopping_box.description }}</small>      
                  </div>
                </a>
              </div> 
              </div> 
              <div class="mini-title pad-left-25">WHAT'S IN THIS BOX</div>
              <div class="box-products">
                  <div v-for="product in box.products" :key="product.id">
                    <img :src="product.cover">
                    <div class="product-name">{{ product.name }}</div>
                    <div v-if="product.is_oil">                    
                      <button v-if="product.exchanged" type="button" @click="showExchange(product.id)" class="btn btn-block btn-info btn-xs">YOU EXCHANGED THIS OUT</button>
                      <button v-else type="button" @click="showExchange(product.id)" class="btn btn-block btn-primary btn-xs">EXCHANGE OIL</button>
                    </div>
                  </div>
              </div>
            </div>
            
					</div>
					<div v-if="box" class="modal-footer text-left">
						<ul>
							<li>
								<label>SUBTOTAL</label>
								<span>{{ box.sub_total }}</span>
							</li>
              <li v-if="box.bonus_discount">
								<label>BONUS DISCOUNT</label>
								<span>&#8211;{{ box.bonus_discount }}</span>
							</li>
              <li v-if="box.discount_total">
								<span>&#8211;{{ box.discount_total }}</span>
								<label>DISCOUNT TOTAL</label>
                <div class="text-primary" v-if="box.is_free">FREE REFERRAL MONTH</div>
							</li>
              <li v-if="box.has_gift_card">
								<label>GIFT CARD <span class="text-primary" v-text="box.gift_card.code"></span></label>
								<span>&#8211;{{ box.gift_card.amount }}</span>
							</li>
							<li>
								<label>SHIPPING</label>
								<span>{{ box.shipping }}</span>
							</li>
						</ul>

						<ul>
							<li>
								<label>TAX</label>
								<span>{{ box.tax_total}}</span>
							</li>
							<li>
								<label><strong>TOTAL</strong></label>
								<span>{{ box.total}}</span>
							</li>
						</ul>

          <div class="gift-card-line" v-if="box.has_discount">
            <div >Discount Applied <a @click.prevent="removeDiscount" class="text-pointer pull-right">remove</a></div>
          </div>
          <div class="gift-card-line" v-else-if="box.is_first_not_skipped">
            <div>
              <div class="text-danger" v-if="discountForm.errors.has('code')">{{ discountForm.errors.get('code') }}</div>
              <div class="flex-input-button">
                <div class="flex-input-button-inner">
                <input type="text" @keypress="discountForm.errors.clear('code')" class="form-control input-lg" placeholder="Discount code" v-model="discountForm.code"  />
                </div>
                <button @click="applyDiscount" type="button"class="btn btn-dark btn-lg">Apply</button> 
              
              </div>
            </div>
          </div>
          <div class="gift-card-line">
            <div v-if="box.has_gift_card">Gift Card Applied <a @click.prevent="removeGiftCard(box.gift_card.id)" class="text-pointer pull-right">remove</a></div>
            <div v-else>
              <div class="text-danger" v-if="giftCardForm.errors.has('code')">{{ giftCardForm.errors.get('code') }}</div>
              <div class="flex-input-button">
                <div class="flex-input-button-inner">
                <input type="text" @keypress="giftCardForm.errors.clear('code')" class="form-control input-lg" placeholder="Gift card code" v-model="giftCardForm.code"  />
                </div>
                <button @click="applyGiftCard" type="button"class="btn btn-dark btn-lg">Apply</button> 
              
              </div>
            </div>
          </div>
          
					</div>

				</div>
			</div>
		</div>
  </div>
</template>
<script>
import { Global, EventHub, FormClass } from "../Global.js";

var CartItem = {
  name: "CartItem",
  template: `
    <div class="box-item">
      <a :href="product.link" class="anchor-item">
        <div class="image" style="min-width:100px;min-height:100px;">
          <img :src="product.cover">
        </div>
        <span class="price" v-text="product.priceString"></span>
        <div class="item-title">
          {{ product.name }}
					<div>
						<div><span class="light-text">{{ getAttribute('Volume') }}</span></div>
					</div>           
        </div>
      </a>
      <div class="qty-box">
        <button type="button" class="btn btn-primary">EXCHANGE OIL</button>
      </div>
    </div>            
    `,
  props: ["product"],

  methods: {
    getAttribute(key) {
      if (!this.product.extra_attributes) return;

      let attribute = _.find(this.product.extra_attributes, { label: key });

      return attribute ? attribute.value : null;
    },
    decrement() {
      Global.updateCartItem(this.product.id, this.product.qty - 1);
    },
    increment() {
      Global.updateCartItem(this.product.id, this.product.qty + 1);
    }
  }
};

var Addon = {
  name: "Addon",
  template: `
    <div class="box-item">
      <a :href="addon.product.link" class="anchor-item">
        <div class="image" style="min-width:100px;min-height:100px;">
          <img :src="addon.product.cover">
        </div>
        <span class="price" v-text="addon.product.priceString"></span>
        <div class="item-title">
          {{ addon.product.name }}
					<div>
						<div><span class="light-text">{{ getAttribute('Volume') }}</span></div>
					</div>       
        </div>
      </a>
      <div class="qty-box">
        <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" @click="decrement()"><span class="ti-minus"></span></button>
              </span>
              <input type="text" class="form-control" v-model="addon.qty" value="1" placeholder="0">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button" @click="increment()"><span class="ti-plus"></span></button>
              </span>
          </div><!-- /input-group -->
      </div>
    </div>            
    `,
  props: ["addon"],

  methods: {
    getAttribute(key) {
      if (!this.addon.product.extra_attributes) return;

      let attribute = _.find(this.addon.product.extra_attributes, {
        label: key
      });
      return attribute ? attribute.value : null;
    },
    decrement() {
      Global.updateAddon(
        this.addon.schedule,
        this.addon.product_id,
        this.addon.qty - 1,
        data => {
          this.$parent.box = data;
        }
      );
    },
    increment() {
      Global.updateAddon(
        this.addon.schedule,
        this.addon.product_id,
        this.addon.qty + 1,
        data => {
          this.$parent.box = data;
        }
      );
    }
  }
};

var Bonus = {
  name: "Bonus",
  template: `
    <div class="box-item">
      <a :href="bonus.link" class="anchor-item">
        <div class="image" style="min-width:100px;min-height:100px;">
          <img :src="bonus.cover">
        </div>
        <span class="price" v-text="bonus.priceString"></span>
        <div class="item-title">
          {{ bonus.name }}
					<div>
						<div><span class="light-text">{{ getAttribute('Volume') }}</span></div>
					</div>       
        </div>
      </a>
    </div>            
    `,
  props: ["bonus"],

  methods: {
    getAttribute(key) {
      if (!this.bonus.extra_attributes) return;

      let attribute = _.find(this.bonus.extra_attributes, {
        label: key
      });
      return attribute ? attribute.value : null;
    }
  }
};

var ExchangeItem = {
  name: "ExchangeItem",
  template: `
    <div class="box-item">
      <a :href="exchange_item.product.link" class="anchor-item">
        <div class="image" style="min-width:100px;min-height:100px;">
          <img :src="exchange_item.product.cover">
        </div>
        <span class="price" v-text="exchange_item.priceString"></span>
        <div class="item-title">
          {{ exchange_item.product.name }}
				  <div>
						<div><span class="light-text">{{ getAttribute('Volume') }}</span></div>
					</div>         
        </div>
      </a>
      <div class="qty-box">
        <button type="button" @click="$parent.showExchange(exchange_item.from)" class="btn btn-block btn-primary btn-xs">EXCHANGE OIL</button>
      </div>
    </div>            
    `,
  props: ["exchange_item"],
  methods: {
    getAttribute(key) {
      if (!this.exchange_item.product.extra_attributes) return;

      let attribute = _.find(this.exchange_item.product.extra_attributes, {
        label: key
      });
      return attribute ? attribute.value : null;
    }
  }
};

export default {
  name: "BoxDetails",
  components: {
    CartItem,
    Addon,
    ExchangeItem,
    Bonus
  },
  computed: {},
  data() {
    return {
      loading: false,
      slick_initialized: false,
      box: null,
      giftCardForm: new FormClass({}),
      discountForm: new FormClass({})
    };
  },
  methods: {

    applyGiftCard() {
      axios
        .post("/subscription/gift-card/", _.extend({month_key:this.box.monthKey}, this.giftCardForm.get()))
        .then(response => {
          EventHub.$emit("pop_box", this.box.monthKey);
        })
        .catch(error => {
          this.giftCardForm.errors.set(error.response.data.errors);
        });
    },

    applyDiscount() {
      axios
        .post("/subscription/discount/",this.discountForm.get())
        .then(response => {
          EventHub.$emit("pop_box", this.box.monthKey);
        })
        .catch(error => {
          this.discountForm.errors.set(error.response.data.errors);
        });
    },

    removeGiftCard(id) {
      axios
        .delete("/subscription/gift-card/"+id)
        .then(response => {
          this.giftCardForm.reset();
          EventHub.$emit("pop_box", this.box.monthKey);
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },

    removeDiscount() {
      axios
        .delete("/subscription/discount")
        .then(response => {
          this.discountForm.reset();
          EventHub.$emit("pop_box", this.box.monthKey);
        })
        .catch(error => {
          swal("Something went wrong", "", "error");
        });
    },

    getAttribute(key) {
      if (!this.exchange_item.product.extra_attributes) return;

      let attribute = _.find(this.exchange_item.product.extra_attributes, {
        label: key
      });

      return attribute ? attribute.value : null;
    },
    boxProductsClear() {
      if (!this.slick_initialized) {
        return;
      }

      $(".box-products")
        .slick("unslick")
        .on("destroy", () => {
          this.slick_initialized = false;
        });
    },
    boxProductsInit() {
      $(".box-products")
        .slick({
          slidesToShow: 2,
          prevArrow: '<i class="fa fa-angle-left box-slide-arrow-prev"></i>',
          nextArrow: '<i class="fa fa-angle-right box-slide-arrow-next"></i>'
        })
        .on("init", () => {
          this.slick_initialized = true;
        });
    },

    showExchange(product_id) {
      $("#modal-box-details").modal("hide");
      EventHub.$emit("show_exchange_details", {
        month_key: this.box.monthKey,
        product_id: product_id
      });
    }
  },
  mounted() {
    EventHub.$on("pop_box", monthKey => {
      this.box = null;
      this.boxProductsClear();
      this.loading = true;
      let modal = $("#modal-box-details")
        .modal("show")
        .on("shown.bs.modal", () => {
          $("body").addClass("modal-open");
        });
      axios
        .get("/subscription/" + monthKey)
        .then(response => {
          this.box = response.data;
          this.$nextTick(() => {
            this.boxProductsInit();
          });
        })
        .catch(error => {})
        .then(() => {
          this.loading = false;
        });
    });
  }
};
</script>
