<template>
  <div>
    <div class="modal fade exchange-details" id="exchange-details" tabindex="-1" role="dialog">
      <div class="modal-dialog small-dialog" role="document">
        <div class="modal-content" :class="{'sk-loading':loading}" >
                        <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
          <div class="modal-header">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h2 class="text-center">Exchange Your Oil</h2>
          </div>
          <div class="modal-body min-height-medium">
              <div v-if="details" class="text-center">
                
                <img :src="details.exchange_product.cover">

                <ul>
                    <li>Only $2</li>
                    <li>Shipped with your Monthly Box</li>
                </ul>
                <p>Oil value not more than $2 more than the oil you are exchanging with.</p>

                <div class="form-group">
                    <select v-model="exchangeForm.product" @change="previewExchange" class="form-control">
                        <option :value="from">Choose your Essential Oil</option>
                        <option v-for="choice in details.choices" :value="choice.id">{{ choice.name }}</option>
                    </select>
                </div>
                <div class="form-group exchange-buttons">
                    <button :class="{hide:details.original}" type="button" class="btn btn-default" @click="giveMyFreeOil">STOP EXCHANGE</button>
                    <button type="button" class="btn btn-primary" @click="exchangeOil">EXCHANGE OIL</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { FormClass, Global, EventHub } from "../Global.js";

export default {
  name: "ExchangeDetails",
  data() {
    return {
      exchangeForm: new FormClass({
        product: ""
      }),
      monthKey: null,
      from: null,
      details: null,
      loading: false
    };
  },
  methods: {
    previewExchange() {
      for (let i in this.details.choices) {
        if (this.details.choices[i].id == this.exchangeForm.product) {
          this.details.exchange_product = this.details.choices[i];
          return;
        }
      }
    },

    getExchange() {
      axios
        .get("/box/" + this.monthKey + "/exchange/" + this.from)
        .then(response => {
          this.details = response.data;
          this.exchangeForm.product = this.details.exchange_product.id;
        })
        .catch(error => {
          alert("Error");
        })
        .then(() => {
          this.loading = false;
        });
    },
    exchangeOil() {
      this.loading = true;
      axios
        .patch(
          "/box/" + this.monthKey + "/exchange/" + this.from,
          this.exchangeForm.get()
        )
        .then(response => {
          //this.details = response.data;
          $("#exchange-details").modal("hide")
        })
        .catch(error => {
          alert("Error");
        })
        .then(() => {
          this.loading = false;
        });
    },
    giveMyFreeOil() {
      this.exchangeForm.product = this.from;
      this.exchangeOil();
    }
  },
  mounted() {
    EventHub.$on("show_exchange_details", options => {
      this.details = null;
      this.loading = true;
      this.from = options.product_id;
      this.monthKey = options.month_key;
      this.$nextTick(() => {
        $("#exchange-details")
          .modal("show")
          .on("hide.bs.modal", () => {
            EventHub.$emit("pop_box", this.monthKey);
          });
        this.getExchange();
      });
    });
  }
};
</script>