<template>
<div>
    <div v-if="show_login" class="modal animated fadeIn" id="login" tabindex="-1" role="dialog">
	<div class="modal-dialog small-dialog" role="document">
		<div class="modal-content" :class="{'sk-loading':logging_in}">
			<div class="sk-spinner sk-spinner-wave">
				<div class="sk-rect1"></div>
				<div class="sk-rect2"></div>
				<div class="sk-rect3"></div>
				<div class="sk-rect4"></div>
				<div class="sk-rect5"></div>
			</div>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				<h1>Welcome Back</h1>
				<p class="header-sub-title">Please login to continue</p>
			</div>
			<div class="modal-body">
				<form method="POST">

					<div class="form-group">
						<input type="text" class="form-control" v-model="login.email" placeholder="Email" @keydown="login.errors.clear('email')">
						<div class="text-danger m-t-xs" v-if="login.errors.has('email')" v-text="login.errors.get('email')"></div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" v-model="login.password" placeholder="Password" @keydown="login.errors.clear('password')">
						<div class="text-danger m-t-xs" v-if="login.errors.has('password')" v-text="login.errors.get('password')"></div>
					</div>
					<div class="form-group">
						<button type="button" @click="customerLogin" class="btn btn-primary btn-wide btn-lg">LOGIN</button>
					</div>
				</form>

				<div class="other-actn">
					<p>Not a member? <a href="#" @click.prevent="showSignup">Join Us</a></p>
					<p><a href="#" @click.prevent="showForgot">Forgot Password?</a></p>
					<p><a href="/pages/faqs">Forgot email?</a></p>
				</div>

			</div>
		</div>
	</div>
</div>

<div v-if="show_forgot" class="modal animated fadeIn" id="forgot-password" tabindex="-1" role="dialog">
    <div class="modal-dialog small-dialog" role="document">
        <div class="modal-content" :class="{'sk-loading':forgot_submit}">
            <div class="sk-spinner sk-spinner-wave">
                <div class="sk-rect1"></div>
                <div class="sk-rect2"></div>
                <div class="sk-rect3"></div>
                <div class="sk-rect4"></div>
                <div class="sk-rect5"></div>
            </div>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                <h1>FORGOT PASSWORD?</h1>
                <p class="header-sub-title">Enter your email below and we'll send you reset instructions.</p>
            </div>
            <div class="modal-body">
                <form class="" @submit.prevent="forgotSubmit" method="POST">

                    <div class="form-group">
                        <input type="text" class="form-control" v-model="forgotForm.email" placeholder="Email" @keydown="forgotForm.errors.clear('email')">
                        <div class="text-danger m-t-xs" v-if="forgotForm.errors.has('email')" v-text="forgotForm.errors.get('email')"></div>
                    </div>

                    <div class="">
                        <div class="row">
                            <div class="col-xs-6">
                                <button type="button" data-dismiss="modal" class="btn btn-block btn-lg btn-gray">
                                            CANCEL
                                        </button>
                            </div>
                            <div class="col-xs-6">
                                <button type="submit" class="btn btn-block btn-lg btn-primary">
                                            SEND
                                        </button>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div v-if="show_register" class="modal animated fadeIn" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog small-dialog" role="document">
		<div class="modal-content" :class="{'sk-loading':signup_submit}">
			<div class="sk-spinner sk-spinner-wave">
				<div class="sk-rect1"></div>
				<div class="sk-rect2"></div>
				<div class="sk-rect3"></div>
				<div class="sk-rect4"></div>
				<div class="sk-rect5"></div>
			</div>
			<div class="modal-header">
					
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h1>REGISTER</h1>
			</div>
			<div class="modal-body">
				<form class="" method="POST">

					<div class="form-group">
						<input type="text" class="form-control" v-model="signupForm.first_name" placeholder="First Name" @keydown="signupForm.errors.clear('first_name')">
						<div class="text-danger m-t-xs" v-if="signupForm.errors.has('first_name')" v-text="signupForm.errors.get('first_name')"></div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" v-model="signupForm.last_name" placeholder="Last Name" @keydown="signupForm.errors.clear('last_name')">
						<div class="text-danger m-t-xs" v-if="signupForm.errors.has('last_name')" v-text="signupForm.errors.get('last_name')"></div>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" v-model="signupForm.email" placeholder="Email" @keydown="signupForm.errors.clear('email')">
						<div class="text-danger m-t-xs" v-if="signupForm.errors.has('email')" v-text="signupForm.errors.get('email')"></div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" v-model="signupForm.password" placeholder="Password (Minimum 6 characters)" @keydown="signupForm.errors.clear('password')">
						<div class="text-danger m-t-xs" v-if="signupForm.errors.has('password')" v-text="signupForm.errors.get('password')"></div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" v-model="signupForm.password_confirmation" placeholder="Confirm Password" @keydown="signupForm.errors.clear('password_confirmation')">
						<div class="text-danger m-t-xs" v-if="signupForm.errors.has('password_confirmation')" v-text="signupForm.errors.get('password_confirmation')"></div>
					</div>
					<div class="form-group">
							<div class="row">
									<div class="col-xs-6">
										<button type="button" data-dismiss="modal" class="btn btn-block  btn-lg btn-gray">
													CANCEL
												</button>
									</div>
									<div class="col-xs-6">
										<button type="button" @click="signupSubmit" class="btn btn-block btn-lg btn-primary">
													DONE
												</button>
									</div>
		
								</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>
</div>
</template>
<script>
import { Global, EventHub, FormClass } from "../Global";
export default {
  name: "Login",
  data() {
    return {
      global: Global,
      override_refresh: false,
      redirect_to:null,
      show_login: false,
      show_forgot: false,
      show_register: false,
      logging_in: false,
      signup_submit: false,
      forgot_submit: false,
      login: new FormClass({
        email: "",
        password: "",
        remember: true
      }),
      forgotForm: new FormClass({
        email: ""
      }),
      signupForm: new FormClass({})
    };
  },
  methods: {
    showLogin() {
      this.show_login = true;
      this.$nextTick(() => {
      	const target = !$("#login")[0] instanceof NodeList || $("#login");
      	console.log(target)
        target.modal("show");
      });
    },
    showForgot() {
      this.show_forgot = true;
      this.$nextTick(() => {
        this.forgotForm.reset();
        $("#login").modal("hide");

        $("#forgot-password")
          .modal("show")
          .on("hidden.bs.modal", () => {
            $("#login").modal("show");
          });
      });
    },
    showSignup() {
      this.show_register = true;
      this.$nextTick(() => {
        $("#login").modal("hide");

        $("#signup")
          .modal("show")
          .on("hidden.bs.modal", () => {
            $("#login").modal("show");
          });
      });
    },

    forgotSubmit() {
      this.forgot_submit = true;
      axios
        .post("/password/email", this.forgotForm.get())
        .then(response => {
          $("#forgot-password").modal("hide");
          swal("We have e-mailed your password reset link!", "", "success");
        })
        .catch(error => {
          this.forgotForm.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.forgot_submit = false;
        });
    },
    customerLogin() {
      this.logging_in = true;
      axios
        .post("/login", this.login.get())
        .then(response => {
          if (this.override_refresh) {
            window.location.href = window.location.href;
          } else if(this.redirect_to) {
            window.location.href = this.redirect_to;
          } else {
            window.location.href = "/profile";
          }
          return false;
        })
        .catch(error => {
          this.login.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.logging_in = false;
        });
    },

    signupSubmit() {
      this.signup_submit = true;
      axios
        .post("/register", this.signupForm.get())
        .then(response => {
          if (response.data.found_customer) {
            $("#signup").modal("hide");
            swal(response.data.message, "", "success");
          } else {
            window.location.href = "/profile";
            return false;
          }
        })
        .catch(error => {
          this.signupForm.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.signup_submit = false;
        });
    }
  },

  mounted() {
    EventHub.$on("show_login", (refresh,options) => {
      let data = options || {};
      this.override_refresh = refresh;
      this.login.email = data.email
      this.redirect_to = data.redirect_to;
      this.showLogin();
    });

    EventHub.$on("show_register", (options) => {
      let data = options || {};
      this.signupForm.first_name = data.first_name
      this.signupForm.last_name = data.last_name
      this.signupForm.email = data.email

      this.showSignup();
      
    });
  }
};
</script>
