<template>
  <div>
    <div class="modal animated fadeIn order-details" id="modal-order-details" tabindex="-1" role="dialog">
			<div class="modal-dialog small-dialog" role="document">
				<div class="modal-content" :class="{'sk-loading':loading}" >
                         <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
					<div v-if="order" class="modal-header">      
            <div class="clearfix">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="row">
              <div class="pad-sides-15">
                <div class="col-xs-6 order-date">Date: {{ moment.utc(this.order.processed_at).format('MMM Do') }}</div>
                <div class="col-xs-6 order-status" :class="order.status">{{ order.status }}</div>
              </div>
            </div>
            <h3 class="order-number">Order No. {{ order.order_number }}</h3>
            <p>{{ order.subscription ? 'Subscription purchase' : '' }}</p>
					</div>
					<div class="modal-body">
            <div v-if="order">
              <div class="box-products pad-sides-15">
                <div class="box-item" v-for="order_item in order.order_items" :key="order_item.id">
                <a class="anchor-item">
                  <div class="image">
                    <img :src="order_item.cover">
                  </div>
                  <div class="item-title">
                    {{ order_item.name }}
                    <span class="light-text">{{ getAttribute(order_item, 'Volume') }}</span>
                  </div>
                  <div class="row">
                    <div class="col-xs-7">
                      
                    <div class="order-feedback"><a :href="order_item.product.link + '#reviews'" class="text-primary"><i class="fa fa-heart"></i> Leave a Review</a></div>
                    </div>
                    <div class="col-xs-1">
                      <span v-text="order_item.quantity"></span>
                    </div>
                    <div class="col-xs-4 text-right">
                       <div v-if="order_item.sale_price"><span class="strike"><span v-text="global.priceFormat(order_item.price * order_item.quantity)"></span></span> <span v-text="global.priceFormat(order_item.sale_price * order_item.quantity)"></span></div>
                       <div v-else><span v-text="global.priceFormat(order_item.price * order_item.quantity)"></span></div> 
                    </div>
                  </div>
                </a>
              </div>  
              </div>    
            </div>        
					</div>
					<div v-if="order" class="modal-footer text-left">
						<ul>
							<li>
								<label>SUBTOTAL</label>
								<span>{{ order.subtotal_price }}</span>
							</li>
              <li>
								<label>DISCOUNT TOTAL</label>
								<span>&#8211;{{ order.discount_total }}</span>
							</li>
							<li>
								<label>SHIPPING</label>
								<span>{{ order.total_shipping }}</span>
							</li>
						</ul>

						<ul>
							<li>
								<label>TAX</label>
								<span>{{ order.total_tax}}</span>
							</li>
							<li>
								<label><strong>TOTAL</strong></label>
								<span>{{ order.total_price}}</span>
							</li>
						</ul>

            <div class="shipping-details order-shipping pad-sides-15" v-if="order.shipping_address">
                <hr />
                <div class="order-tracking-number" v-if="order.tracking_number">Tracking No. <span class="text-blue" v-text="order.tracking_number"></span></div>
                <h4>Shipping Address</strong></h4>
                <div v-if="order.shipping_address">
                  <div v-text="order.shipping_address.name"></div>
                  <div v-text="order.shipping_address.address1"></div>
                  <div v-text="order.shipping_address.address2"></div> 
                  <div><span v-text="order.shipping_address.city"></span>, <span v-text="order.shipping_address.region"></span> <span v-text="order.shipping_address.zip"></span></div>
                  <div v-text="order.shipping_address.country_string"></div> 
                </div>
            </div>

            <div class="payment-details order-shipping pad-sides-15">
                <hr />
                <h4><strong>Payment Method</strong></h4>
                <div v-if="order.payment_method">
                  <div v-text="order.payment_method.maskedNumber"></div>
                </div>
            </div>

            <div v-if="order.installment_plans  && order.installment_plans.length > 0" class="payment-history pad-sides-15">
                <hr />
                <h4><strong>Payment History</strong></h4>
                <div v-for="plan in order.installment_plans" style="font-size:.95em;">
                    <table v-if="plan.summary" class="table">
                      <tr v-for="summary in plan.summary">
                        <td class="text-left">{{ summary.intro }}</td>
                        <td class="text-center" :class="summary.status=='PAID' ? 'text-blue' : 'text-primary'">{{ summary.status }}</td>
                        <td class="text-right">{{ summary.amount }}</td>
                      </tr>
                    </table>
                </div>
            </div>
					</div>
				</div>
			</div>
		</div>
  </div>
</template>
<script>
import { Global, EventHub } from "../Global.js";

export default {
  name: "OrderDetails",
  components: {},
  computed: {},
  data() {
    return {
      global: Global,
      loading: false,
      order: null
    };
  },
  methods: {
    getAttribute(order_item, key) {
      if (!order_item.extra_attributes) return;

      let attribute = _.find(order_item.extra_attributes, { label: key });

      return attribute ? attribute.value : null;
    }
  },
  mounted() {
    EventHub.$on("popup_order_details", order_id => {
      console.log("ddsds");
      this.order = null;
      this.loading = true;
      let modal = $("#modal-order-details").modal("show");
      axios
        .get("/past-orders/" + order_id)
        .then(response => {
          this.order = response.data;
        })
        .catch(error => {})
        .then(() => {
          this.loading = false;
        });
    });
  }
};
</script>
