<template>
  <div>
    <div class="modal animated fadeIn rewards" id="modal-rewards" tabindex="-1" role="dialog">
      <div class="modal-dialog small-dialog" role="document">
        <div class="modal-content" :class="{'sk-loading':loading}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="modal-header">
            <div class="clearfix">
              <h3>Rewards</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <div v-if="rewards" class="rewards-list">
              <div class="reward" v-for="reward in rewards">
                <img :src="'/images/' + reward.icon" class="reward-icon">
                <span v-text="reward.text" class="reward-title"></span>
                <button
                  class="btn claim-button btn-primary btn-xs"
                  @click="claimReward(reward.id)"
                >CLAIM REWARD</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { EventHub } from "../Global.js";

export default {
  name: "Rewards",
  components: {},
  computed: {},
  data() {
    return {
      loading: false,
      rewards: null,
      pulled:false,
    };
  },
  methods: {
    claimReward(reward_id) {
      this.loading = true;
      axios
        .post("/rewards/" + reward_id + "/claim")
        .then(response => {
          swal("You have successfully claimed your reward", "", "success");
        })
        .catch(error => {})
        .then(() => {
          let index = this.rewards.findIndex(reward => {
            return (reward.id = reward_id);
          });

          if (index != -1) {
            this.rewards.splice(index, 1);
          }

          this.loading = false;
        });
    }
  },
  mounted() {
    EventHub.$on("popup_rewards", () => {
      this.loading = true;
      let modal = $("#modal-rewards").modal("show");
      axios
        .get("/rewards/")
        .then(response => {
          this.rewards = response.data.rewards;
          this.pulled = true;
        })
        .catch(error => {})
        .then(() => {
          this.loading = false;
        });
    });
  }
};
</script>
