<template>
    <div class="row">
        <div class="col-sm-9">
            <div class="ibox">
                <div class="ibox-content">
                    
                    <div class="input-group">
                        <input type="text" placeholder="Search customers" v-model="customers_collection.search" class="input form-control" @keyup="searchCustomer">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                        </span>
                        <button type="button" class="pull-right btn btn-primary" @click="$router.push({name:'create'})">Add customer</button>
                    </div>

                </div>
            </div>
            <div class="ibox">
                <div :class="[ loadingList ? 'sk-loading': '','ibox-content' ]">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                    <div class="customers-list">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Orders</th>
                                    <th>Last Order</th>
                                    <th>Total Spent</th>
                                    <th>Actions</th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr v-for="customer in customers_collection.data" :key="customer.id">
                                    <td><router-link :to="{ name: 'customer', params: { id: customer.id }}"><span v-text="customer.name"></span></router-link></td>
                                    <td><span v-if="customer.default_address" v-text="customer.default_address.region"></span></td>
                                    <td>{{ customer.total_orders }}</td>
                                    <td>
                                        
                                        <a v-if="customer.latest_order" :href="'/admin/orders#/' + customer.latest_order.id">#{{ customer.latest_order.id }}</a>
                                        <span v-else>-</span>
                                        </td>
                                    <td><strong>${{ moneyFormat(customer.total_spent) }}</strong></td>
                                    <td><button type="button" v-if="customer.account" @click="loginAs(customer.id)" class="btn btn-xs btn-default">Login as {{customer.name}}</button></td>
                                </tr>
                                </tbody>
                            
                        </table>

                        <div class="clearfix">
                            <div class="pull-right">
                                <ul class="pagination" v-if="customers_collection && customers_collection.meta">
                                    <li v-if="customers_collection.meta.current_page === 1"  class="disabled"><span>&laquo;</span></li>
                                    <li v-if="customers_collection.meta.current_page !== 1"><a @click="loadList(customers_collection.meta.current_page - 1)" rel="prev">&laquo;</a></li>
                                    
                                    <li v-if="customers_collection.meta.current_page === customers_collection.meta.last_page" class="disabled"><span>&raquo;</span></li>
                                    <li v-if="customers_collection.meta.current_page !== customers_collection.meta.last_page"><a @click="loadList(customers_collection.meta.current_page + 1)" rel="next">&raquo;</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import numeral from "numeral";
import { _CustomersCollection } from "./CustomerGlobal";

export default {
  name: "Customers",
  data() {
    return {
      loadingList: false,
      customers_collection: _CustomersCollection
    };
  },
  components: {},
  methods: {
    loginAs(id) {
      axios.post("/admin/customers/" + id+"/logas").then(() => {
        window.open("/profile", "_blank");
      });
    },
    loadList(page) {
      page = page ? page : 1;
      this.loadingList = true;

      axios
        .get("/admin/customers/search", {
          params: {
            q: this.customers_collection.search,
            page: page
          }
        })
        .then(response => {
          this.loadingList = false;
          _CustomersCollection.set(response.data);
        });
    },

    searchCustomer: _.debounce(function() {
      this.loadList(1);
    }, 300),
    moneyFormat(value) {
      return numeral(value).format("0,0,.00");
    }
  },

  created() {
    if (_CustomersCollection.data == null) this.loadList(1);
  }
};
</script>

<style lang="scss">
.customers-list td {
  border-right: none !important;
  border-left: none !important;
}
</style>
