<template>
  <div class>
    <div class="form-group">
      <a @click="customersList">
        <strong>
          <i class="fa fa-angle-left"></i> Customers
        </strong>
      </a>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="ibox">
          <div class="ibox-title">
            <h1 v-text="customer.name">Customer Name</h1>
            <h4 v-if="customer.account">
              <span class="text-link" @click="disableAccount">
                <i class="fa fa-ban"></i> Disable account
              </span>
              <span class="m-l-lg text-link" @click="modalChangePassword">
                <i class="fa fa-gear"></i> Change Password
              </span>
            </h4>
            <h4 v-else-if="customer.activation">
              <span class="text-link" @click="modalSendInvite">
                <i class="fa fa-envelope"></i> Resend account invite
              </span>
              <span class="m-l-lg text-link" @click="modalCreateAccount">
                <i class="fa fa-gear"></i> Create Account
              </span>
            </h4>
            <h4 v-else>
              <span class="text-link" @click="modalSendInvite">
                <i class="fa fa-envelope"></i> Send account invite
              </span>
              <span class="m-l-lg text-link" @click="modalCreateAccount">
                <i class="fa fa-gear"></i> Create Account
              </span>
            </h4>

            <small>Customer since {{ customerSince }}</small>
          </div>
          <div class="ibox-footer">
            <div class="row">
              <div class="col-sm-4 text-right">
                <span>Last order</span>
                <h2 class="font-bold">{{ latestOrderDate }}</h2>
              </div>
              <div class="col-sm-4 text-right">
                <span>Lifetime spent</span>
                <h2 class="font-bold">${{ customer.total_spent }}</h2>
                <div>
                  <a
                    :href="'/admin/orders/?customer='+customer.id"
                  >{{ customer.total_orders }} {{ customer.total_orders > 1 ? 'orders' : 'order' }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="ibox">
          <div class="ibox-title">
            <h5>Tags</h5>
          </div>

          <div class="ibox-content">
            <vue-tags-input
              v-model="tag"
              :tags="customer.tags"
              @tags-changed="tagsChanged"
              :autocomplete-items="autocompleteItems"
              :add-only-from-autocomplete="true"
            />
          </div>
        </div>

        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox checkbox-success checkbox-inline">
                  <input
                    @change="toggleTaxExemption"
                    type="checkbox"
                    id="customer-tax-exempt"
                    v-model="customer.tax_exempt"
                    :disabled="!customer.tax_documents || customer.tax_documents.length == 0"
                  >
                  <label for="customer-tax-exempt">Customer is tax exempt</label>
                </div>
              </div>
              <div class="col-md-6">
                <form id="tax-exempt-upload">
                  <label class="label text-pointer">
                    <i class="fa fa-file"></i> Upload File
                    <input
                      @change="uploadTaxDocument"
                      style="display:none;"
                      type="file"
                      name="taxdocument"
                    >
                  </label>
                </form>
              </div>
            </div>
          </div>
          <div v-if="customer.tax_documents" class="ibox-footer">
            <h5>Tax Documents</h5>
            <table class="table">
              <tbody>
                <tr v-for="(taxdoc, index) in customer.tax_documents" :key="taxdoc.id">
                  <td>
                    <i class="fa fa-file"></i>
                    {{ taxdoc.document_name }}
                  </td>
                  <td>
                    <a
                      :href="'/admin/tax_documents/' + taxdoc.id + '/download'"
                      class="btn btn-xs btn-primary"
                    >Download</a>
                    <button
                      @click="deleteTaxDocument(taxdoc.id);customer.tax_documents.splice(index,1)"
                      class="btn btn-xs btn-danger"
                    >
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="ibox" v-if="customer.account && customer.account.subscription">
          <div class="ibox-title">
            <h5>Subscription</h5>
          </div>

          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-12">
                <div class="m-b-md">
                  <a href="#" class="btn btn-white btn-xs pull-right">Edit project</a>
                  <dl class="dl-horizontal">
                    <dt>Status:</dt>
                    <dd>
                      <span
                        v-if="!customer.account.subscription.ends_at"><span
                        class="label label-primary"
                      >Active</span> <a class="text-pointer" @click="cancelSubscription">Cancel subscription</a></span>
                      <span v-else class="label label-default">Cancelled</span>
                    </dd>
                    <dt>Plan:</dt>
                    <dd>{{customer.account.subscription.plan}}</dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <dl class="dl-horizontal">
                  <dt>Schedule:</dt>
                  <dd>
                    <select
                      v-model="customer.account.subscription.final_schedule"
                      @change="changeSchedule"
                      class="form-control input-sm"
                    >
                      <option v-for="i in 31" :value="i">{{ i }}</option>
                    </select>
                  </dd>
                </dl>
              </div>
              <div class="col-lg-7" id="cluster_info">
                <dl class="dl-horizontal">
                  <dt>Subscriber since:</dt>
                  <dd>{{moment.utc(customer.account.subscription.created_at).fromNow()}}</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox" v-if="customer.history">
          <div class="ibox-content inspinia-timeline">
            <div class="timeline-item" v-for="timeline in customer.history">
              <div class="row">
                <div class="col-xs-3 date">
                  <i class="fa fa-angle-right"></i>
                  <small class="text-navy">{{ timeline.fromnow }}</small>
                </div>
                <div class="col-xs-7 content no-top-border">
                  <p class="m-b-xs">
                    <span v-text="timeline.summary"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Contact</h5>
            <div class="ibox-tools ibox-tools-address">
              <a data-toggle="modal" data-target="#modal-edit-customer">Edit</a>
            </div>
          </div>

          <div class="ibox-content">
            <div class="form-group">
              <a class="text-link">{{ customer.email }}</a>
              <div class="text-link">{{ customer.phone }}</div>
              <div v-if="customer.account">Has an account</div>
              <div v-else-if="customer.activation">Account invite sent</div>
              <div v-else>No account</div>
            </div>
          </div>
        </div>

        <div class="ibox" v-if="show_addresses=='default'">
          <div class="ibox-title">
            <h5>Default Address</h5>
            <div class="ibox-tools ibox-tools-address">
              <a @click="show_addresses='list'">Change</a>
            </div>
          </div>

          <div class="ibox-content" v-if="customer.default_address">
            <div class="form-group">
              <div v-text="customer.default_address.name"></div>
              <div v-text="customer.default_address.email"></div>
              <div v-text="customer.default_address.company"></div>
              <div v-text="customer.default_address.phone"></div>
              <div v-text="customer.default_address.address1"></div>
              <div v-text="customer.default_address.address2"></div>
              <div v-text="customer.default_address.city"></div>
              <div v-text="customer.default_address.country_string"></div>
              <div v-text="customer.default_address.zip"></div>
              <div v-text="customer.default_address.region"></div>
            </div>
          </div>
        </div>

        <div class="ibox" v-if="show_addresses=='list'">
          <div class="ibox-title">
            <h5>Addresses</h5>
            <div class="ibox-tools ibox-tools-address">
              <a @click="show_addresses='default'">Back</a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="address-list">
              <div class="address-item" v-for="address in customer.addresses" :key="address.id">
                <h4 v-if="address.primary===1">Default Address</h4>
                <div class="row">
                  <div class="col-xs-8">
                    <div v-text="address.name"></div>
                    <div v-text="address.company"></div>
                    <div v-text="address.address1"></div>
                    <div v-text="address.address2"></div>
                    <div>{{ address.zip }} {{ address.city }}</div>
                    <div v-text="address.country_string"></div>
                    <div v-text="address.phone"></div>
                  </div>
                  <div class="col-xs-4">
                    <button
                      v-if="address.primary!==1"
                      type="button"
                      class="btn btn-default btn-md"
                      @click="makeDefaultAddress(address)"
                    >Set as default</button>
                  </div>
                </div>
                <div
                  class="m-t-sm m-b-sm edit-address text-link"
                  @click="editAddress(address)"
                >Edit address</div>
              </div>
            </div>
          </div>
          <div class="ibox-footer text-right">
            <button type="button" class="btn btn-sm btn-primary" @click="addNewAddress">
              <i class="fa fa-plus"></i> Add New Address
            </button>
          </div>
        </div>

        <div class="ibox" v-if="show_addresses=='form'">
          <div class="ibox-title">
            <h5>Edit Address</h5>
            <div class="ibox-tools ibox-tools-address">
              <a @click="show_addresses='list'">Back to list</a>
            </div>
          </div>
          <div class="ibox-content">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <FormField
                    :type="'text'"
                    :label="'First Name'"
                    :name="'address.first_name'"
                    :form="address_form"
                  >
                    <template slot="field">
                      <input
                        id="'form-field-address-first_name"
                        type="text"
                        class="form-control"
                        v-model="address_form.first_name"
                        @keydown="address_form.errors.clear('address.first_name')"
                      >
                    </template>
                  </FormField>
                </div>
                <div class="col-sm-6">
                  <FormField
                    :type="'text'"
                    :label="'Last Name'"
                    :name="'address.last_name'"
                    :form="address_form"
                  >
                    <template slot="field">
                      <input
                        id="'form-field-address-last_name"
                        type="text"
                        class="form-control"
                        v-model="address_form.last_name"
                        @keydown="address_form.errors.clear('address.last_name')"
                      >
                    </template>
                  </FormField>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <FormField
                    :type="'text'"
                    :label="'Company'"
                    :name="'address.company'"
                    :form="address_form"
                  >
                    <template slot="field">
                      <input
                        id="'form-field-address-company"
                        type="text"
                        class="form-control"
                        v-model="address_form.company"
                        @keydown="address_form.errors.clear('address.company')"
                      >
                    </template>
                  </FormField>
                </div>
                <div class="col-sm-6">
                  <FormField
                    :type="'text'"
                    :label="'Phone'"
                    :name="'address.phone'"
                    :form="address_form"
                  >
                    <template slot="field">
                      <input
                        id="'form-field-address-phone"
                        type="text"
                        class="form-control"
                        v-model="address_form.phone"
                        @keydown="address_form.errors.clear('address.phone')"
                      >
                    </template>
                  </FormField>
                </div>
              </div>
            </div>
            <div class="form-group">
              <FormField
                :type="'text'"
                :label="'Address 1'"
                :name="'address.address1'"
                :form="address_form"
              >
                <template slot="field">
                  <input
                    id="'form-field-address-address1"
                    type="text"
                    class="form-control"
                    v-model="address_form.address1"
                    @keydown="address_form.errors.clear('address.address1')"
                  >
                </template>
              </FormField>
            </div>
            <div class="form-group">
              <FormField
                :type="'text'"
                :label="'Address 2'"
                :name="'address.address2'"
                :form="address_form"
              >
                <template slot="field">
                  <input
                    id="'form-field-address-address2"
                    type="text"
                    class="form-control"
                    v-model="address_form.address2"
                    @keydown="address_form.errors.clear('address.address2')"
                  >
                </template>
              </FormField>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <FormField
                    :type="'text'"
                    :label="'City'"
                    :name="'address.city'"
                    :form="address_form"
                  >
                    <template slot="field">
                      <input
                        id="'form-field-address-city"
                        type="text"
                        class="form-control"
                        v-model="address_form.city"
                        @keydown="address_form.errors.clear('address.city')"
                      >
                    </template>
                  </FormField>
                </div>
                <div class="col-sm-6">
                  <FormField
                    :type="'text'"
                    :label="'Zip/Postal code'"
                    :name="'address.zip'"
                    :form="address_form"
                  >
                    <template slot="field">
                      <input
                        id="'form-field-address-zip"
                        type="text"
                        class="form-control"
                        v-model="address_form.zip"
                        @keydown="address_form.errors.clear('address.zip')"
                      >
                    </template>
                  </FormField>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label for>Country</label>
                  <select v-model="address_form.country" class="form-control">
                    <option v-for="(country,code) in settings.countries" :value="code">{{ country }}</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <FormField
                    :type="'text'"
                    :label="'Region'"
                    :name="'address.region'"
                    :form="address_form"
                  >
                    <template slot="field">
                      <input
                        id="'form-field-address-region"
                        type="text"
                        class="form-control"
                        v-model="address_form.region"
                        @keydown="address_form.errors.clear('address.region')"
                      >
                    </template>
                  </FormField>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-footer">
            <div class="text-right">
              <button
                v-show="address_form.id && address_form.primary!==1"
                type="button"
                class="btn btn-sm btn-danger pull-left"
                @click="removeAddress"
              >Delete</button>
              <button
                type="button"
                class="btn btn-sm btn-default"
                @click="show_addresses='list'"
              >Cancel</button>
              <button type="button" class="btn btn-sm btn-primary" @click.prevent="saveAddress">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="modal-edit-customer" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edit Customer</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-6">
                  <label for="form-field-first_name">First Name</label>
                  <input
                    id="form-field-first_name"
                    type="text"
                    class="form-control"
                    v-model="customer_form.first_name"
                    @keydown="customer_form.errors.clear('first_name')"
                  >
                  <div
                    class="text-danger m-t-xs"
                    v-if="customer_form.errors.has('first_name')"
                    v-text="customer_form.errors.get('first_name')"
                  ></div>
                </div>
                <div class="col-sm-6">
                  <label for="form-field-last_name">Last Name</label>
                  <input
                    id="form-field-last_name"
                    type="text"
                    class="form-control"
                    v-model="customer_form.last_name"
                    @keydown="customer_form.errors.clear('last_name')"
                  >
                  <div
                    class="text-danger m-t-xs"
                    v-if="customer_form.errors.has('last_name')"
                    v-text="customer_form.errors.get('last_name')"
                  ></div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="form-field-email">Email</label>
              <input
                id="form-field-email"
                type="text"
                class="form-control"
                v-model="customer_form.email"
                @keydown="customer_form.errors.clear('email')"
              >
              <div
                class="text-danger m-t-xs"
                v-if="customer_form.errors.has('email')"
                v-text="customer_form.errors.get('email')"
              ></div>
            </div>

            <div class="form-group">
              <label for="form-field-phone">Phone</label>
              <input
                id="form-field-phone"
                type="text"
                class="form-control"
                v-model="customer_form.phone"
                @keydown="customer_form.errors.clear('phone')"
              >
              <div
                class="text-danger m-t-xs"
                v-if="customer_form.errors.has('phone')"
                v-text="customer_form.errors.get('phone')"
              ></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click.prevent="editCustomer">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div id="modal-send-invite" class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Send account invite</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label for="form-field-email">To</label>
                  <input
                    id="form-field-email"
                    type="text"
                    class="form-control"
                    :value="customer.email"
                    disabled
                  >
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="form-field-subject">Subject</label>
              <input
                id="form-field-subject"
                type="text"
                class="form-control"
                v-model="invite_form.subject"
                @keydown="invite_form.errors.clear('subject')"
              >
              <div
                class="text-danger m-t-xs"
                v-if="invite_form.errors.has('subject')"
                v-text="invite_form.errors.get('subject')"
              ></div>
            </div>

            <div class="form-group">
              <label for="form-field-message">Custom message for this customer</label>
              <textarea
                id="form-field-message"
                rows="5"
                type="text"
                class="form-control"
                v-model="invite_form.message"
                @keydown="invite_form.errors.clear('message')"
              ></textarea>
              <div
                class="text-danger m-t-xs"
                v-if="invite_form.errors.has('message')"
                v-text="invite_form.errors.get('message')"
              ></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" @click.prevent="sendInvite">Send Invite</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div id="modal-change-password" class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Change password</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label for="form-field-password">Password (Minimum 6 characters)</label>
                  <input
                    id="form-field-password"
                    v-model="password_form.password"
                    type="text"
                    class="form-control"
                  >
                  <div
                    class="text-danger m-t-xs"
                    v-if="password_form.errors.has('password')"
                    v-text="password_form.errors.get('password')"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="changePassword"
            >Change Password</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <div id="modal-create-account" class="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Create Account</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-sm-12">
                  <label for="form-field-password">Password (Minimum 6 characters)</label>
                  <input
                    id="form-field-password"
                    v-model="create_account_form.password"
                    type="text"
                    class="form-control"
                  >
                  <div
                    class="text-danger m-t-xs"
                    v-if="create_account_form.errors.has('password')"
                    v-text="create_account_form.errors.get('password')"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button
              type="button"
              class="btn btn-primary"
              @click.prevent="createAccount"
            >Change Password</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </div>
</template>

<script>
import moment from "moment";
import { _CustomersCollection } from "./CustomerGlobal";
import { FormClass } from "../Global";
import { EventHub } from "../Global";
import FormField from "../FormField.vue";
import VueTagsInput from "@johmun/vue-tags-input";

export default {
  name: "Customer",
  components: { FormField, VueTagsInput },
  data() {
    return {
      settings: [],
      original_schedule: null,
      show_addresses: "default",
      edit_customer_loading: false,
      customer_form: new FormClass(),
      address_form: new FormClass(),
      invite_form: new FormClass(),
      password_form: new FormClass(),
      create_account_form: new FormClass(),
      customer: { tags: [] },
      tag: "",
      debounce: null,
      autocompleteItems: []
    };
  },
  computed: {
    latestOrderDate() {
      if (!this.customer.latest_order) return "-";

      return moment.utc(this.customer.latest_order.created_at).fromNow();
    },
    customerSince() {
      return moment.utc(this.customer.created_at).fromNow();
    }
  },
  methods: {
    modalChangePassword() {
      $("#modal-change-password").modal("show");
    },

    modalCreateAccount() {
      $("#modal-create-account").modal("show");
    },

    modalSendInvite() {
      $("#modal-send-invite").modal("show");
    },

    sendInvite() {
      axios
        .post("/admin/customers/sendinvite/" + this.customer.id, {
          subject: this.invite_form.subject,
          message: this.invite_form.message
        })
        .then(response => {
          this.customer = response.data.data;
          $("#modal-send-invite").modal("hide");
          swal({
            text: "Customer invited",
            icon: "success"
          });
        });
    },

    changePassword() {
      axios
        .post(
          "/admin/customers/changepassword/" + this.customer.id,
          this.password_form.get()
        )
        .then(response => {
          this.password_form.reset();
          $("#modal-change-password").modal("hide");
          swal({
            text: "Password changed",
            icon: "success"
          });
        })
        .catch(error => {
          this.password_form.errors.set(error.response.data.errors);
        });
    },

    createAccount() {
      axios
        .post(
          "/admin/customers/createaccount/" + this.customer.id,
          this.create_account_form.get()
        )
        .then(response => {
          window.location.reload();
          $("#modal-create-account").modal("hide");
          swal({
            text: "Account created",
            icon: "success"
          });
        })
        .catch(error => {
          this.create_account_form.errors.set(error.response.data.errors);
        });
    },

    disableAccount() {
      axios
        .delete("/admin/customers/" + this.customer.id + "/account")
        .then(response => {
          this.customer = response.data.data;
          swal({
            text: "Customer's account disabled",
            icon: "success"
          });
        });
    },

    removeAddress() {
      axios
        .delete("/admin/customers/" + this.customer.id + "/addresses", {
          params: { id: this.address_form.id }
        })
        .then(response => {
          this.customer = response.data.data;
          this.show_addresses = "list";
        });
    },
    addNewAddress() {
      this.show_addresses = "form";
      this.address_form = new FormClass({
        country: "US"
      });
    },
    makeDefaultAddress(address) {
      axios
        .patch("/admin/customers/" + this.customer.id + "/addresses", {
          id: address.id,
          primary: 1
        })
        .then(response => {
          this.customer = response.data.data;
        });
    },
    editAddress(address) {
      this.show_addresses = "form";
      this.address_form.set(address);
    },

    saveAddress() {
      axios
        .patch(
          "/admin/customers/" + this.customer.id + "/addresses",
          this.address_form.get()
        )
        .then(response => {
          this.customer = response.data.data;
          this.show_addresses = "list";
        });
    },

    customersList() {
      this.$router.push("/");
    },

    editCustomer() {
      axios
        .patch("/admin/customers/" + this.customer.id, this.customer_form)
        .then(response => {
          this.edit_customer_loading = false;
          this.customer = response.data.data;
          EventHub.$emit("customer_updated", this.customer);
          $("#modal-edit-customer").modal("hide");
        });
    },

    tagsChanged(newTags) {
      axios
        .patch("/admin/customers/" + this.$route.params.id + "/tags", {
          tags: newTags
        })
        .then(response => (this.customer = this.customer = response.data.data));
    },
    initTags() {
      if (this.tag.length === 0) return;
      const url = `/admin/customers/tags/search/${this.tag}`;

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        axios
          .get(url)
          .then(response => {
            this.autocompleteItems = _.map(response.data, a => {
              return { text: a.name };
            });
          })
          .catch(() => {
            console.warn("Oh. Something went wrong");
          });
      }, 350);
    },

    cancelSubscription() {
      swal({
        title: "Subscription",
        text: "Are you sure you want to cancel the subscription?",
        buttons: true,
        dangerMode: true
      }).then(override => {
        if (override) {
          axios
            .patch("/admin/customers/" + this.$route.params.id + "/cancel")
            .then(response => {
              this.customer.account.subscription.ends_at = true
              swal("Subscription cancelled", "", "success");
            })
            .catch(() => {
              this.resetSchedule();
              swal("Error", "Something went wrong", "error");
            });
        } else {
          this.resetSchedule();
        }
      });
    },

    changeSchedule() {
      swal({
        title: "Subscription",
        text: "Are you sure you want override the subscription schedule?",
        buttons: true,
        dangerMode: true
      }).then(override => {
        if (override) {
          axios
            .patch("/admin/customers/" + this.$route.params.id + "/schedule", {
              schedule: this.customer.account.subscription.final_schedule
            })
            .then(response => {
              this.original_schedule = this.customer.account.subscription.final_schedule;
              swal("Subscription", "Schedule updated", "success");
            })
            .catch(() => {
              this.resetSchedule();
              swal("Error", "Something went wrong", "error");
            });
        } else {
          this.resetSchedule();
        }
      });
    },
    resetSchedule() {
      this.customer.account.subscription.final_schedule = this.original_schedule;
    },
    uploadTaxDocument() {
      axios
        .post(
          "/admin/customers/" + this.customer.id + "/tax/upload",
          new FormData(document.getElementById("tax-exempt-upload"))
        )
        .then(response => {
          this.customer.tax_documents = response.data;
        })
        .catch(() => {
          alert("File upload error");
        })
        .then(() => {
          document.getElementById("tax-exempt-upload").value = "";
        });
    },

    toggleTaxExemption() {
      axios.post("/admin/customers/" + this.customer.id + "/tax/exempt_toggle");
    },
    deleteTaxDocument(document_id) {
      axios
        .delete("/admin/tax_documents/" + document_id + "")
        .then(response => {})
        .catch(() => {});
    }
  },
  watch: {
    tag: "initTags"
  },

  created() {
    axios.get("/admin/customers/settings").then(response => {
      this.settings = response.data;
    });

    axios.get("/admin/customers/" + this.$route.params.id).then(response => {
      this.customer = response.data.data;
      this.customer_form.set(this.customer);
      this.invite_form.set({
        subject: "Activate Your Account"
      });

      if (this.customer.account && this.customer.account.subscription) {
        this.original_schedule = this.customer.account.subscription.final_schedule;
      }
    });
  }
};
</script>
<style lang="scss">
.popover {
  width: 100%;
  max-width: 300px;
}

.address-list {
  .address-item {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    .address-inner {
      display: flex;
      .address-left {
        flex-grow: 1;
      }
      .address-right {
        flex-grow: 0;
        flex-basis: 30%;
        text-align: center;
      }
    }
  }
}
</style>