<template>

    <div class="create-customer-form">
        
    <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="form-group">
                <a @click="$router.push('/')"><strong><i class="fa fa-angle-left"></i> Customers</strong></a>
                <h1 class="font-bold">Add customer</h1>
                </div>

            <div>                
                <div class="row">
                    <div class="col-sm-4"><h4>Customer overview</h4></div>
                    <div class="col-sm-8">
                        <div class="ibox">
                            <div class="ibox-content">                        

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <FormField :type="'text'" :label="'First Name'" :name="'first_name'" :form="form" />                                                
                                        </div>
                                        <div class="col-sm-6">
                                            <FormField :type="'text'" :label="'Last Name'" :name="'last_name'" :form="form" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <FormField :type="'text'" :label="'Email'" :name="'email'" :form="form" />
                                </div>
                                <div class="form-group">
                                    <FormField :type="'text'" :label="'Phone'" :name="'phone'" :form="form" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>

                <div class="row">
                    <div class="col-sm-4">
                        <h4>Address</h4>
                        <p>The primary address of this customer.</p>
                        </div>
                    <div class="col-sm-8">
                        <div class="ibox">
                        <div class="ibox-content">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <FormField :type="'text'" :label="'First Name'" :name="'address.first_name'" :form="form">
                                            <template slot="field">
                                                <input id="'form-field-address-first_name" type="text" class="form-control" v-model="form.address.first_name" @keydown="form.errors.clear('address.first_name')">
                                            </template>
                                        </FormField>
                                    </div>
                                    <div class="col-sm-6">
                                        <FormField :type="'text'" :label="'Last Name'" :name="'address.last_name'" :form="form">
                                            <template slot="field">
                                                <input id="'form-field-address-last_name" type="text" class="form-control" v-model="form.address.last_name" @keydown="form.errors.clear('address.last_name')">
                                            </template>
                                        </FormField>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                       <FormField :type="'text'" :label="'Company'" :name="'address.company'" :form="form">
                                           <template slot="field">
                                                <input id="'form-field-address-company" type="text" class="form-control" v-model="form.address.company" @keydown="form.errors.clear('address.company')">
                                            </template>
                                        </FormField>
                                    </div>
                                    <div class="col-sm-6">
                                        <FormField :type="'text'" :label="'Phone'" :name="'address.phone'" :form="form">
                                            <template slot="field">
                                                <input id="'form-field-address-phone" type="text" class="form-control" v-model="form.address.phone" @keydown="form.errors.clear('address.phone')">
                                            </template>
                                        </FormField>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <FormField :type="'text'" :label="'Address 1'" :name="'address.address1'" :form="form">
                                    <template slot="field">
                                        <input id="'form-field-address-address1" type="text" class="form-control" v-model="form.address.address1" @keydown="form.errors.clear('address.address1')">
                                    </template>
                                </FormField>
                            </div>
                            <div class="form-group">
                                <FormField :type="'text'" :label="'Address 2'" :name="'address.address2'" :form="form">
                                    <template slot="field">
                                        <input id="'form-field-address-address2" type="text" class="form-control" v-model="form.address.address2" @keydown="form.errors.clear('address.address2')">
                                    </template>
                                </FormField>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <FormField :type="'text'" :label="'City'" :name="'address.city'" :form="form">
                                            <template slot="field">
                                                <input id="'form-field-address-city" type="text" class="form-control" v-model="form.address.city" @keydown="form.errors.clear('address.city')">
                                            </template>
                                        </FormField>
                                    </div>
                                    <div class="col-sm-6">
                                        <FormField :type="'text'" :label="'Zip/Postal code'" :name="'address.zip'" :form="form">
                                            <template slot="field">
                                                <input id="'form-field-address-zip" type="text" class="form-control" v-model="form.address.zip" @keydown="form.errors.clear('address.zip')">
                                            </template>
                                        </FormField>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="">Country</label>
                                        <select v-model="form.address.country" class="form-control">
                                            <option v-for="(country,code) in settings.countries" :value="code">{{ country }}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <FormField :type="'text'" :label="'Region'" :name="'address.region'" :form="form">
                                            <template slot="field">
                                                <input id="'form-field-address-region" type="text" class="form-control" v-model="form.address.region" @keydown="form.errors.clear('address.region')">
                                            </template>
                                        </FormField>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <hr>

                 <div class="row">
                    <div class="col-sm-4">
                        <h4>Notes</h4>
                        <p>Enter any extra notes relating to this customer.</p>
                        </div>
                    <div class="col-sm-8">
                        <div class="ibox-content">       
                            <div class="form-group">
                                <label for="note">Note</label>
                                <textarea name="note" class="form-control" placeholder="Add a note to this customer..."></textarea>
                            </div>
                        </div>
                    </div>
                 </div>

                 <hr>

                 <div class="row">
                    <div class="col-sm-4">
                        <h4>Tags</h4>
                        <p>Tags can be used to categorize customers into groups.</p>
                        </div>
                    <div class="col-sm-8">
                        <div class="ibox-content">       
                            <div class="form-group">
                                <label for="note">Tags</label>
                                <vue-tags-input
                            v-model="tag"
                            @tags-changed="tagsChanged"
                            :autocomplete-items="autocompleteItems"
                            :add-only-from-autocomplete="true"
                            />
                            </div>
                        </div>
                    </div>
                 </div>

                 <div class="form-group m-t-lg text-right">
                     <button type="button" class="btn btn-primary" @click="addCustomer">Save Customer</button>
                 </div>

            </div>

            </div>
    </div>
  </div>
</template>
<script>
import InputTag from "../InputTag.vue";
import { FormClass } from "../Global";
import { EventHub } from "../Global";
import FormField from "../FormField";

export default {
  name: "CustomerForm",
  components: { InputTag, FormField },
  methods: {
    addCustomer() {
      this.loading = true;
      axios
        .post("/admin/customers", this.form.get())
        .then(response => {
          this.loading = false;
          EventHub.$emit("customer_created", response.data.data);
        })
        .catch(error => {
          this.loading = false;
          document
            .getElementById(
              "form-field-" + _.first(Object.keys(error.response.data.errors))
            )
            .focus();
          this.form.errors.set(error.response.data.errors);
        });
    },
    tagsChanged(tags) {
      this.form.tags = tags;
    },
    initTags() {
      if (this.tag.length === 0) return;
      const url = `/admin/customers/tags/search/${this.tag}`;

      clearTimeout(this.debounce);
      this.debounce = setTimeout(() => {
        axios
          .get(url)
          .then(response => {
            this.autocompleteItems = _.map(response.data, a => {
              return { text: a.name };
            });
          })
          .catch(() => {
            console.warn("Oh. Something went wrong");
          });
      }, 350);
    }
  },
  watch: {
    tag: "initTags"
  },
  data() {
    return {
      settings: [],
      form: new FormClass({
        address: {
          country: "US"
        }
      }),
      tag: "",
      debounce: null,
      autocompleteItems: [],
      loading: false
    };
  },

  created() {
    axios.get("/admin/customers/settings").then(response => {
      this.settings = response.data;
    });
  }
};
</script>

<style lang="scss">
.create-customer-form {
  h1,
  label,
  h4 {
    color: #444;
  }
  h1 {
    margin-bottom: 30px;
  }
  .ibox {
    margin-bottom: 0;
  }
  margin-bottom: 50px;
}
</style>
