<template>
  <div class="item">
      <div v-bind:class="{'no-preview': templateData.preview.previewDesktop === ''}" v-if="visibleMode === 1" :title="templateData.name">
          <img v-if="(templateData.preview.previewDesktop !== '')" :src="templateData.preview.previewDesktop" alt="">
      </div>
      <div v-bind:class="{'no-preview': templateData.preview.previewTabledHorizontal === ''}" v-if="visibleMode === 2" :title="templateData.name">
          <img v-if="(templateData.preview.previewTabledHorizontal !== '')" :src="templateData.preview.previewTabledHorizontal" alt="">
      </div>
      <div v-bind:class="{'no-preview': templateData.preview.previewTabled === ''}" v-if="visibleMode === 3" :title="templateData.name">
          <img v-if="(templateData.preview.previewTabled !== '')" :src="templateData.preview.previewTabled" alt="">
      </div>
      <div v-bind:class="{'no-preview': templateData.preview.previewMobile === ''}" v-if="visibleMode === 4" :title="templateData.name">
          <img v-if="(templateData.preview.previewMobile !== '')" :src="templateData.preview.previewMobile" alt="">
      </div>
  </div>
</template>

<script>
export default {
  name: 'templateCusotom',
  props: ['templateData','visibleMode'],
}
</script>

