<script>
export default {
  name: "VButton",
  template: "<button :class='{disabled:loading}'><i v-if='loading' class='fa fa-spin fa-spinner'></i> <slot></slot></button>",
  props:["loading"]
};
</script>