.se-accordion {
	.panel {
		background-color: transparent;
		border: none;
		border-top: 1px solid #d6d6d6;
		border-radius: 0;
		box-shadow: none;
		.panel-heading {
			background-color: transparent;
			.panel-title {
				span {
					float: right;
					position: relative;
					top: 5px;
				}

				p {
					display: inline-block;
					margin-bottom: 0;
				}
			}
		}
	}
}


// .panel-heading .accordion-toggle span {
//     font-family: 'themify';
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
// }
// .panel-heading .accordion-toggle span:after {
//     /* symbol for "opening" panels */
//     content: "\e64b";
// }
// .panel-heading .accordion-toggle.collapsed span:after {
//     /* symbol for "collapsed" panels */
//     content: "\e648";    /* adjust as needed, taken from bootstrap.css */
// }


.panel-heading {
  position: relative;
}
.panel-heading[data-toggle="collapse"]:after {

  font-family: 'themify';
  content: "\e64b";
  position: absolute;
  color: #b0c5d8;
  font-size: 18px;
  line-height: 22px;
  right: 20px;
  top: calc(50% - 10px);

  /* rotate "play" icon from > (right arrow) to down arrow */
  -webkit-transform: rotate(-180deg);
  -moz-transform:    rotate(-180deg);
  -ms-transform:     rotate(-180deg);
  -o-transform:      rotate(-180deg);
  transform:         rotate(-180deg);
}
.panel-heading[data-toggle="collapse"].collapsed:after {
  /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
  -webkit-transform: rotate(0deg);
  -moz-transform:    rotate(0deg);
  -ms-transform:     rotate(0deg);
  -o-transform:      rotate(0deg);
  transform:         rotate(0deg);
}
@media (max-width: $screen-sm) {
	.se-accordion {
		.panel-heading {
			padding: 10px 0;

			.panel-title {
				padding-right: 15px;
			}
		}
		.panel-heading[data-toggle="collapse"] {
			&:after {
				right: 0;
			}
		}
	}
}