.account-boxes {
    font-family: $font-secondary;
    .box-row {
        margin-bottom: 20px;
        display: flex;
    }
    .greeting,
    .subscriber-date {
        font-size: 1.3em;
    }
    .box {
        text-align: center;
        background-color: #fff;
        padding: 20px 15px;
        height: 100%;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
        border-radius: 10px;
        &.flex-space-around {
            justify-content: space-around;
        }
        h2 {
            margin: 0px 0 10px;
            font-size: 1.2em;
            font-weight: bold;
            text-transform: uppercase;
        }
        .object {
            font-size: 30px;
            font-weight: bold;
            span {
                display: inline-block;
                position: relative;
                top: 5px;
                &.month-count {
                    border: 1px solid $green;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    &.large {
                        width: 120px;
                        height: 120px;
                        line-height: 120px;
                        font-size: 50px;
                    }
                }
            }
        }
        p {
            //margin: 10px 0 0;
        }
        a {
            font-weight: bold;
            span {
                font-weight: bold;
            }
        } // .keep-bot {
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     bottom: 10px;
        //     width: 100%;
        // }
        &.box-anchor {
            padding-right: 20px;
            position: relative;
            a {
                text-decoration: none;
                .icon-anchor {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &.bordered-default {
            border: 1px solid #d6d6d6;
        }
    } // 
    /*
    * VIDEO SETTINGS
    */
    .video-box {
        padding: 0;
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
        .video-container {
            position: relative;
            padding-bottom: 56.25%;
            /* 16:9 */
            padding-top: 0px;
            height: 0;
            overflow: hidden;
            background-size: contain;
            background-position: top center;
            background-repeat: no-repeat;
        }
        .videoPlayer iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .play-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            background-color: rgba(83, 205, 136, 0.7);
            span {
                padding: 10px 15px;
                color: #fff;
            }
        }
    }
    .product-header {
        h3 {
            font-size: 1.5em;
            margin-top: 0;
            font-weight: normal;
        }
        .browse-all {
            text-decoration: underline;
        }
    }
    &.account-stopped {
        .box {
            h1,
            p {
                margin: 0;
                text-transform: normal !important;
            }
            h1 {
                font-weight: bold;
            }
            span {
                a.btn {
                    margin: 20px 0;
                }
            }
        }
    }
}