.banner {
	.banner-inner {
		background-image: url(#{$get-path-to-img}homepage-banner.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 80vh;
		max-height: 700px;
		width: 100%;
		position: relative;
		.banner-content {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			max-width: 850px;
			text-align: center;
			background: rgba(255, 255, 255, .92);
			padding: 1.5vw 3vw 2vw;
			h1 {
				font-size: 2.7vw;
				margin-bottom: 0;
			}
			p {
				font-size: 1.5vw;
				line-height: 2.2vw;
				margin: 2vh 0;
			}
			.btn {
				margin: 10px 0;
				border-radius: 30px;
				font-size: 1.2vw;
			}
		}
	}
}

@media (max-width: $screen-sm) {
	.banner {
		margin-top: 0px;
		.banner-inner {
			height: 300px;
			.banner-content {
				width: 60%;
				h1 {
					font-size: 5.5vw;
				}
				p {
					font-size: 2.5vw;
					line-height: 3.5vw;
				}
				.btn {
					font-size: 2vw;
				}
			}
		}
	}
}

@media (max-width: $screen-xs) {
	.banner {
		.banner-inner {
			.banner-content {
				width: 80%;
				.btn {
					font-size: 3vw;
				}
			}
		}
	}
}

@media (max-width: 468px) {
	.banner {
		.banner-inner {
			.banner-content {
				h1 {
					// font-size: 8.5vw;
				}
				p {
					font-size: 1em;
					line-height: 1.2em;
				}
				.btn {
					font-size: 1em;
				}
			}
		}
	}
}