.blog-detail {
  width: 90%;

  .footer {
    position: relative;

    .author {
      display: flex;

      .image {
        width: 80px;
        flex-shrink: 0;
      }

      .content {
        padding: 10px 0 0;
      }
    }

    .social-links {
      position: absolute;
      top: 0;
      right: 20px;
    }

    p {
      padding-left: 0;
    }
  }
}
