.masonry {
  margin: 0 -10px;

  .pagination {
    display: none;
  }

  .masonry:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-item {
    float: left;
    margin-bottom: 15px;
    padding: 0 10px;
    padding-bottom: 30px;

    .inner {
      height: 100%;
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);

      // height: 470px;
      img {
        display: block;
        width: 100%;
      }

      label {
        color: $blue;
      }

      h1 {
        margin-top: 0;
      }

      .details {
        padding: 10px 10px;

        > a {
          display: block;
        }
      }

      .tags {
        &:after,
        &:before {
          content: '';
          display: block;
          clear: both;
        }

        a {
          font-size: 11px;
          background-color: transparent;
          padding: 0px 5px;
          border-radius: 3px;
          float: left;
          text-decoration-line: underline;

          &:hover {
            background-color: $blue;
            color: #fff;

            @include fadeFx(0.3s);
          }
        }
      }

      .load-btn:hover {
        color: #fff;
      }
    }

    &:hover {
      .inner {
        outline: $green solid 5px;
      }
    }
  }
}

.topnav {
  input[type='text'] {
    padding: 6px;
    //margin-top: 8px;
    font-size: 17px;
  }

  .search-container button {
    float: right;
    padding: 0.5px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .search-container button:hover {
    background: #ccc;
  }
}

.blog-title {
  float: left;

  h3 {
    margin: 0;
  }
}

.blog-filter {
  margin-bottom: 15px;

  .input {
    float: right;

    .btn-group {
      margin-left: 15px;

      button {
        text-align: left;
        min-width: 200px;
        border-radius: 0;
      }

      a {
        text-align: left;
        min-width: 200px;
        border-radius: 0;
      }

      .dropdown-menu {
        left: 10px;
        min-width: 180px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0;

        li {
          &:nth-child(odd) {
            background-color: #e7f0eb;
          }

          a {
            &:hover {
              background-color: $blue;
              color: #fff;
            }
          }
        }
      }
    }
  }

  span {
    float: right;
    border: 1px solid $green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 3px 5px;
    text-align: center;
    display: block;

    &:before {
      left: -1px;
      color: $green;
      top: -2px;
      font-size: 10px;
      position: relative;
    }
  }
}

.blog-detail {
  width: 75%;

  ul {
    list-style-type: disc;
  }

  p {
    margin-bottom: 20px;
    font-size: 17px;

    strong {
      font-size: 24px;
    }
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 27px;
  }

  h4 {
    font-size: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #00b4ca;
  }

  .ssk {
    color: white;
  }

  a {
    color: $blue;
  }

  .author {
    border-top: 1px solid #ccc;
    padding-top: 20px;

    .image {
      float: left;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      display: block;
      background-size: cover;
    }

    .content {
      margin-left: 15px;
      float: left;
      padding: 15px 0 0;

      label {
        display: block;
      }
    }
  }

  .social-links {
    .links {
      padding: 25px 0;

      a {
        display: inline-block;
      }
    }
  }

  .header {
    .social-links {
      float: right;
    }
  }

  .body {
    ul,
    ol {
      margin-left: 40px;
    }

    h1 {
      font-size: 32px;
    }

    .blog-cover-row {
      display: flex;
    }

    .blog-cover-col {
      flex: 25%;
      padding: 5px;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    margin-bottom: 20px;
    padding: 30px 0;

    &:after,
    &:before {
      @extend .clearfix;
    }

    .wide {
      width: 100%;
    }

    div {
      //border: 1px solid #ccc;
      //padding: 20px;
      //padding-bottom: 50px;
      //margin-bottom: 30px;
      //margin-top: 30px;
      //position: relative;

      .actn {
        position: absolute;
        bottom: -30px;
        right: 20px;
      }
    }

    blockquote {
      margin: 50px 0;
      border: none;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 30px 0;

      p {
        text-align: center;

        .fa-quote-left {
          margin-right: 10px;
        }

        .fa-quote-right {
          margin-left: 10px;
        }
      }
    }
  }

  .footer {
    margin-bottom: 20px;
    padding: 15px 15px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;

    .author {
      border: 0;
      padding: 0;

      .content {
        padding: 30px 0 0;
      }
    }

    .social-links {
      float: right;
    }
  }
}

.tweet-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 40px 0;

  .actn {
    margin: 0;
    clear: both;
    display: block;
    padding: 30px 0 0;
    text-align: right;

    &:after,
    &:before {
      content: '';
      display: block;
    }
  }
}

.quote-box {
  padding: 15px 0;
  margin: 40px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;

  .quote {
    position: relative;
    top: 10px;
    font-size: 36px;
    margin-right: 15px;
    color: $blue;
  }
}

.convert-flow {
  border: 1px solid lighten(#00b4ca, 20%);
  min-height: 200px;
  width: 100%;
  margin-bottom: 30px;

  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 178, 202, 0.2);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 178, 202, 0.2);
  box-shadow: 0px 0px 5px 1px rgba(0, 178, 202, 0.2);
}

.grid-item {
  width: calc(100% / 4);
}

#filter {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
}

.iframe-wrapper {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 56.25%;
  height: 0px;
  position: relative;

  iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 500px) {
  .blog-cover-col {
    flex: 100%;
  }
}

@media (max-width: $screen-sm) {
  .grid-item {
    width: calc(100% / 3);
  }
}

@media (max-width: $screen-xs) {
  .grid-item {
    width: calc(100% / 2);
  }
}

@media (max-width: 360px) {
  .grid-item {
    width: 100%;
  }
}

section {
  padding: 1em 0;
}
