.howmuch-inner {
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    .cart-plus,
    .cart-minus {
      height: 25px;
      line-height: 16px;
      border-radius: 5px;
      padding: 3px 6px;
    }
  
    .product {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
  
    .basket-count {
      text-align: center;
      margin: 15px auto;
    }
    .howmuch-text{
      margin-top:5px;
    }
  }

  .promo-code-text{
    margin-left:10px;
    color:$green;
  }

  .se-wholesale-message{
    background-color: #fcf8e3;
    color: #8a6d3b;
    padding: 10px;
    width: 100%;
    border: 1px solid #faebcc;
  }