.checkout-page {
	padding: 0px;

	.panel {
		.panel-body {
			padding: 30px;
		}
	}

	.top-checkout {
		.main-logo {
			padding: 20px 0;

			img {
				max-width: 300px;
				padding: 10px;
			}
		}

		.lock-label {
			.se-icon {
				display: inline-block;
			}

			.lock-content {
				padding: 20px 0;
				float: right;

				.lbl-info {
					padding-left: 10px;
					display: inline-block;
					vertical-align: top;

					label {
						display: block;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.checkout-form {
		margin-bottom: 20px;

		.checkout-title {
			margin: 0 0 20px;

			span {
				display: inline-block;
				vertical-align: middle;
				position: relative;
				top: -3px;
			}
		}

		.form-group {
			label {
				font-weight: normal;
				margin-bottom: 10px;
			}

			.input-lg {
				height: 42px;
				border-radius: 0;
				line-height: 20px;
			}

			&.select-input {
				position: relative;

				&:after {
					font-family: "themify";
					content: "\e64b";
					display: inline-block;
					position: absolute;
					right: 15px;
					bottom: 10px;
				}

				select {
					outline: none !important;
					box-shadow: none !important;
					border-color: #ccc;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: '';
				}
			}

			&.country-select {
				.control-label {
					clear: both;
					display: block;
				}

				.input {
					input {
						border: 0;
						padding-left: 0;
						font-size: 14px;
					}
				}

				.actn {
					display: inline-block;
					position: absolute;
					right: 15px;
					top: 35px;

					a {
						color: #ccc;
						position: relative;
						top: 7px;
						text-decoration: underline;
					}
				}
			}

			&.shipping-radio {
				.radio-list {
					label {
						vertical-align: top;

						span {
							display: block;
						}
					}

					[type="radio"]:checked+label:after {
						display: none;
					}
				}
			}
		}
	}
}

.itembox {
	ul {
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 15px;

			a {
				display: flex;
				position: relative;
				@extend .clearfix;

				.image {
					max-width: 50px;

					@media(min-width: $screen-sm-min) {
						max-width: 80px;
					}
				}

				.details {
					padding-left: 15px;
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: flex-end;

					.name {
						display: inline-block;
						vertical-align: middle;
						font-weight: bold;
						line-height: normal;
						font-size: .9em;

						@media(min-width: $screen-sm-min) {
							font-size: 1em;
						}
					}

					.quantity {
						font-weight: normal;
						font-size: .9em;
						margin-top: 0;

						@media(min-width: $screen-sm-min) {
							margin-top: 8px;
						}
					}

					.price {}
				}
			}
		}
	}

	>ul:first-child {
		border-bottom: 1px solid #ccc;
	}

	.free {
		color: $green;
	}
}

.totalbox {
	li {
		margin-bottom: 0 !important;
		padding: 12px 0;
		border-bottom: 1px solid #ccc;

		label {
			font-weight: normal;

			span {
				//font-size: 11px;
			}
		}

		&:last-child {
			border-bottom: 0;
		}
	}

	.text-bold {
		padding: 20px 0 0;

		label,
		span {
			font-weight: bold;
		}
	}
}

.reviews {
	.panel-item {
		position: relative;

		.image {
			float: left;
			margin-right: 15px;

			.item {
				display: block;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				background-position: center;
				background-size: cover;
				border: 1px solid #c9b085;
			}
		}

		.subject {
			>span {
				color: #c9b085;
			}
		}

		p {
			clear: both;
			color: #777;
			margin-bottom: 0;
		}

		.date {
			position: absolute;
			right: 15px;
			top: 10px;
		}
	}

	.panel {
		.panel-body {
			padding: 10px 15px;
		}
	}
}

.panel.panel-bare {
	.panel-body {
		padding: 0;
	}
}

.opt {
	background-color: transparent;
	border: 0;
	box-shadow: none;

	ul {
		li {
			padding: 10px 0;
			display: block;
			position: relative;

			span {
				display: inline-block;
			}

			.ohyeah {
				padding: 5px 0;
				position: absolute;
				right: 0;
				color: #333;

				a {
					display: inline-block;
					margin-left: 10px;
					text-decoration: underline;
				}
			}
		}
	}

	.guarantee {
		li {
			display: inline-block;
			width: calc(100%/3);
			float: left;
			padding: 0 10px;
			text-align: center;

			label {
				font-weight: normal;
			}

			img {
				display: block;
				margin: 0 auto 15px;
			}
		}
	}

	.caption-bottom {
		text-align: center;
		margin: 20px 0;
	}
}

@media (max-width: 768px) {
	.checkout-page {
		.top-checkout {
			.main-logo {
				display: block;
				margin: 0 auto;
				padding-bottom: 0;

				img {
					max-width: 200px;
				}
			}

			.lock-label {
				.lock-content {
					float: none;
				}
			}
		}
	}
}

.form-control.braintree-hosted-fields-invalid {
	border-color: #de5d5d;
}

.subscription-instruction-text {
	text-decoration: underline;
	line-height: 1.5em;
	margin-top: 10px;

	span {
		cursor: pointer;
	}
}

#modal-how-to-cancel,
#modal-auto-billed-monthly,
#modal-6month-commitment {
	.modal-header {
		text-align: center;
		background: $green;
		color: white;
		font-size: 1.3em;

		button {
			color: white;
			opacity: 1;
		}
	}

	@media (min-width: 768px) {
		.modal-dialog {
			width: 700px;
			margin: 30px auto;
		}
	}

	.modal-body {
		padding: 20px 50px;
		text-align: center;
	}

	a {
		font-weight: bold;
	}
}

.form-group.place-order-float {

	#place-order {
		height: 65px;
		border-radius: 25px;
		padding: 20px 40px;
	}

	@media(max-width: $screen-sm-max) {
		&.place-order-fixed {
			position: fixed;
		}

		bottom: 0;
		background: white;
		z-index: 999;
		width: 100%;
		left: 0;
		padding: 20px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
		border-top: 1px solid #ccc;
	}
}

.discount-text {
	font-size: 1.1em;
}

.payment-method {
	font-size: .9em;

	.text-link {
		float: right;
	}
}