.flex-blocks{
    display: flex;
    flex-grow: 1;
    align-items: center;
    .flex-1{
        flex-basis: 1px/12px*100%;
    }

    .flex-2{
        flex-basis: 2px/12px*100%;
    }

    .flex-3{
        flex-basis: 3px/12px*100%;
    }

    .flex-4{
        flex-basis: 4px/12px*100%;
    }

    .flex-5{
        flex-basis: 5px/12px*100%;
    }

    .flex-6{
        flex-basis: 6px/12px*100%;
    }
    .flex-7{
        flex-basis: 7px/12px*100%;
    }
    .flex-8{
        flex-basis: 8px/12px*100%;
    }
    .flex-9{
        flex-basis: 9px/12px*100%;
    }
    .flex-10{
        flex-basis: 10px/12px*100%;
    }
    .flex-11{
        flex-basis: 11px/12px*100%;
    }
    .flex-12{
        flex-basis: 100%;
    }
}