@font-face {
    font-family: 'Brandon Grotesque';
    src: url('./fonts/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('./fonts/BrandonGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('./fonts/BrandonText-Regular.eot');
    src: url('./fonts/BrandonText-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/BrandonText-Regular.woff2') format('woff2'),
        url('./fonts/BrandonText-Regular.woff') format('woff'),
        url('./fonts/BrandonText-Regular.svg#BrandonText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('./fonts/BrandonText-Light.eot');
    src: url('./fonts/BrandonText-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/BrandonText-Light.woff2') format('woff2'),
        url('./fonts/BrandonText-Light.woff') format('woff'),
        url('./fonts/BrandonText-Light.svg#BrandonText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('./fonts/BrandonText-RegularItalic.eot');
    src: url('./fonts/BrandonText-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/BrandonText-RegularItalic.woff2') format('woff2'),
        url('./fonts/BrandonText-RegularItalic.woff') format('woff'),
        url('./fonts/BrandonText-RegularItalic.svg#BrandonText-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('./fonts/BrandonText-Bold.eot');
    src: url('./fonts/BrandonText-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/BrandonText-Bold.woff2') format('woff2'),
        url('./fonts/BrandonText-Bold.woff') format('woff'),
        url('./fonts/BrandonText-Bold.svg#BrandonText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('./fonts/BrandonText-Thin.eot');
    src: url('./fonts/BrandonText-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/BrandonText-Thin.woff2') format('woff2'),
        url('./fonts/BrandonText-Thin.woff') format('woff'),
        url('./fonts/BrandonText-Thin.svg#BrandonText-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}