.copy-text {
	h1 {
		text-align: left;
		margin-bottom: 10px;
	}
}
footer {
	border-top: 1px solid #d6d6d6;
	background-color: #f5f5f5;
	&:after,
	&:before {
		@extend .clearfix;
	}

	.social-icons {
		text-align: center;
		margin-top: 15px;
		li {
			display: inline-block;

			a {
				display: block;
				span {
					padding: 3px 5px;
					color: $dark-gray;
					font-size: 26px;
				}
			}
		}
	}

	.newsletter-form {
		input[type="email"] {
			width: 100%;
		}
		.btn {
			max-width: 300px;
			width: 100%;
			margin: 15px auto 0;
			display: block;
		}
	}

	.top-tagline {
		background-image: url(#{$get-path-to-img}footer6notext.png);
		background-repeat: none;
		background-size: cover;
		background-position: center;
		padding: 10px 30px;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;

		h2 {
			text-align: center;
			max-width: 400px;
			display: block;
			margin: 0 auto;
			line-height: 2.5vw;
		}
	}
	.footer-bottom {
		padding: 30px 0;

		> div:not(:last-child) {
			.footer-box {
				position: relative;
				&:after {
					content: "";
					display: block;
					width: 1px;
					height: 200px;
					background-color: #d5d5d5;
					right: -10px;
					position: absolute;
					top: 83px;
					transform: translate(-50%, -40%);
				}
			}
		}
	}
	.footer-copyright {
		font-size: 16px; 
		font-weight: 390;
		margin-top: 15px;
	}
	.footer-policy {
		font-size: 13px;
	}
	.footer-logo {
		width: 7%;
		height: 7%;
		margin-bottom: 4px;
		min-width: 90px;
	}
	.footer-box {
		padding: 0 20px;
		margin-bottom: 20px;
		.footer-title {
			color: #000;
			font-weight: bold;
			margin: 0 0 10px;
		}

		p {
			text-align: center;
			display: block;
		}

		ul {
			li {
				a {
					color: #000;
					display: block;
					padding: 3px 0;
					font-size: small;
					padding: 2px 0;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&.guarantee-box {

			p {
				margin-bottom: 5px;
			}

			a {
				color: $blue;
			}
		}

		ul.guarantee-icons {
			text-align: center;
			margin: 0  0 25px;
			padding: 0;
			li {
				display: inline-block;
				padding: 0 10px;
				img {
					max-width: 70px;
				}
			}
		}
	}
}
@media (max-width: $screen-sm) {
	footer {
		.newsletter-form {
			.btn {
				height: 42px;
				max-width: 200px;
				border-radius: 5px;
			}
		}
		.footer-bottom { 
			> div:not(:last-child) {
				.footer-box {
					&:after {
						display: none;
					}
				}
			}
		}
		.footer-bottom {
			display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    -webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		    justify-content: flex-start;
		    -webkit-align-content: stretch;
		    -ms-flex-line-pack: stretch;
		    align-content: stretch;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;

		    > div {
		    	
			    
			    &:nth-child(2) {
			    	order: 1;
			    }
		    }
		}

		.footer-box {
			margin-bottom: 35px;
			ul.guarantee-icons {
				margin-bottom: 20px;
				li {
					padding: 0 5px;
					img {
						max-width: 50px;
					}
				}
			}
		}
	}
	.front-profile {
		.inner {
			max-width: 100%;
			width: 100%;
		}
	}
}

footer.plain-footer{

	padding: 30px 0;
    border-top-width: 5px;
	background: transparent;
	margin-bottom: 120px;
	margin-top:30px;

	ul.footer-links li {
		display: inline-block;
		margin: 0 5px;
	}

	a{
		text-decoration: underline;
	}

	@media(min-width:$screen-md-min){
		margin-bottom: 0;
	}
}