.image-list {

    &:after,
    &:before {
        @extend .clearfix;
    }

    >div {
        float: left;
        width: calc(100% / 8);
        position: relative;


        img {
            max-width: 100%;
            transition: all 0.3s ease;
            @include fadeFx(1s);

            &:hover {
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
    }

    &.col-four {
        >.insta-item {
            width: calc(100% / 4);

            img {
                width: 100%;
            }

            .overlay {
                display: none;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                text-align: center;
                padding: 10px 20px;
                background-color: rgba(0, 181, 202, 0.5);

                span {
                    display: block;
                    color: #fff;
                }

                button {
                    border: 2px solid #fff;
                    color: #fff;

                    &:hover {
                        color: #333;
                    }
                }
            }

            &:hover {
                .overlay {
                    display: block;
                }

                button {
                    border-radius: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.front-profile {
    position: absolute;
    right: 310px;
    margin-top: -120px;
    z-index: 1;

    .inner {
        padding: 30px 30px;
        width: 300px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
        background-color: #fff;

        .image {
            margin: 0 auto 10px;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            .profile {
                background-position: center;
                background-size: cover;
                background-repeat: none;
                width: 80px;
                height: 80px;
            }
        }

        .text {
            font-style: italic;

            label {
                text-align: center;
                display: block;
                color: $blue;
                font-style: normal;
            }
        }
    }
}

.company-image-list-section {
    border-bottom: 2px solid #cecece;
    padding: 5px 0;

    &.company-image-list-section-subscription {
        border-top: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        background: white;

        img {
            height: 40px;
            margin-left: -32vw;
            max-width: 100%;
        }
    }

    .company-image-list {
        display: flex;

        &:after,
        &:before {
            @extend .clearfix;
        }

        >div {
            float: left;
            width: calc(100% / 7);
            position: relative;

            display: flex;
            flex-direction: column;
            justify-content: center;

            >img {
                max-width: 80%;
                -webkit-filter: grayscale(100%);
                /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
    }

    @media(min-width:$screen-md-min) {
        margin-bottom: 40px;
    }
}

section.company-scroller-outer {
    padding:0px;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    background: white;
    margin:0 auto;
    .company-scroller {
        background-repeat: no-repeat;
        background-position: -110px center;
        height: 40px;
        margin: 0 auto;
        background-size: auto 100%;

        @media(min-width: $screen-sm-min) {
            max-width: 1180px;
            height: 64px;
            background-position: center center;
        }
    }

}