.radio-list {
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #666;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 2px solid $green;
        border-radius: 100%;
        background: $green;
    }
    [type="radio"]:not(:checked) + label:before {
        border: 1px solid;
        background-color: transparent;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $green;
        position: absolute;
        top: 3px;
        left: 3px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.styled-checkbox {
  position: absolute; // take it out of document flow
  display: none; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-weight: normal;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 1px solid #ccc;
  }
  
  // Box focus
  &:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label:before {
    background: #fff;
  }
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 13px;
    background: $green;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 $green,
      4px 0 0 $green,
      4px -2px 0 $green,
      4px -4px 0 $green,
      4px -6px 0 $green,
      4px -8px 0 $green;
    transform: rotate(45deg);
  }
}


.checkbox-list {
    li {
        padding: 6px 0px;
        font-size: small;
    }
}




.radio-list {
    li {
        padding: 6px 0px;
        label {
            font-weight: normal;
        }
    }
}