.image-with-text {
    .section-copy {
        h1 {
            letter-spacing: 2px;
            text-rendering: optimizeLegibility;
            max-width: 390px;
            margin-top: 0;
            line-height: 1.2;

            &.wide-title {
                max-width:100%;
            }
        }

        .btn {
            margin-bottom: 20px;
        }
    }
    .section-image {
        position: relative;
        margin: 0 auto;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    > div[class^="col-"] {
        width: 49.95%;
        display: flex;
        flex-wrap: wrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &.copy-on-right {
        > div[class^="col-"] {
            &:nth-child(1) {
                order: 2;
            }
        }
    }
}

@media (max-width: 768px) {
    .image-with-text {
        > div[class^="col-"] {
            width: 100%;
            &:nth-child(1) {
                order: 2;
            }
        }
        .section-image {
            margin-bottom: 20px;
        }
    }

    .image-with-text.image-with-text-normal {
        > div[class^="col-"] {
            width: 100%;
            &:nth-child(1) {
                order: 0;
            }
        }
        .section-image {
            margin-bottom: 0px;
        }
    }
}
@media (max-width: 568px) {
    .image-with-text {
        .section-copy {
            h1 {
                font-size: 4vh;
            }
        }
    }
}