/////////////////
// Scaffolding //
/////////////////
html {
    font-size: 14px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: scrollbar;
    font-family: $font-primary;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    line-height: 1.8em;
    min-width: 300px;
    font-family: $font-primary;

    &.account-page {
        background-color: $primary-bg;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.6em;
}

a {
    color: #333;
    outline: none !important;
}

input {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    &:focus {
        border-color: #ccc !important;
    }
}

input[type='text'],
input[type='email'],
input[type='number'] {
    height: 33px;
}

.btn {
    border-radius: 20px;
    -webkit-transition: all 0.5s;
    /* Safari */
    transition: all 0.5s;
    outline: none !important;

    &.btn-wide-mobile {
        display: block;
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        @media(min-width: $screen-sm-min) {
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
            &.btn-lg{
                padding-left:35px;
                padding-right:35px;
            }
        }
    }
}

.mobile-centered{
    text-align: center;
    @media(min-width:$screen-sm-min)
    {
        text-align: left;
    }
}

.btn-dark {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;

    &:hover,
    &:focus {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
    }
}

.btn-primary {
    outline: none !important;
    background-color: $green;
    border: 1px solid $green;
    outline: none;

    &:focus,
    &:active,
    &:hover {
        background-color: darken($green, 10%);
        border: 1px solid darken($green, 10%);
    }
}

.btn-bare {
    background: none;
    color: $black;
    text-decoration: underline;
    border: 1px solid transparent;
    outline: none;

    &:active,
    &:focus {
        background: none;
        box-shadow: none;
        outline: none;
    }
}

.btn-lg {
    padding-left: 30px;
    padding-right: 30px;
}

.btn-secondary {
    outline: none !important;
    box-shadow: none;
    background-color: $blue;
    border: 1px solid ligthen($blue, 5%);
    color: #fff;

    &:focus,
    &:active,
    &:hover {
        background-color: darken($blue, 10%);
        border: 1px solid darken($blue, 10%);
    }
}

.btn-plain {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #000;

    &:hover {
        background-color: #e5e5e5;
    }
}

.btn-underlined {
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.btn-underlined-green {
    color: $green;
    border-bottom: 1px solid $green;
    border-radius: 0;
}

.btn-blue {
    background-color: #39a7fc;
    color: #fff !important;

    &:focus,
    &:active,
    &:hover {
        background-color: darken(#39a7fc, 10%);
        border: 1px solid darken(#39a7fc, 10%);
    }
}

.cta-section.white-text {
    a {
        color: white;
    }
}

.half-radius {
    border-radius: 10px;
}

.mg0 {
    margin: 0;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.pdtb0 {
    padding: 0 0;
}

.pdtb20 {
    padding: 20px 0 !important;
}

.pdtb40 {
    padding: 40px 0 !important;
}

.pd015 {
    padding: 0 15px;
}

.pd10-0 {
    padding: 10px 0;
}

.pd20-0 {
    padding: 20px 0;
}

.pd40-0 {
    padding: 40px 0;
}

.pd10-0 {
    padding: 10px 0;
}

.pd15-0 {
    padding: 15px 0;
}

.pd20-0 {
    padding: 20px 0;
}

.pd40-0-0 {
    padding: 40px 0 0;
}

section.pdb-0 {
    padding-bottom: 0 !important;
}

.pdtb5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.section-padding,
.section-testimonial {
    padding: 30px 0 0px !important;

    .wide-title {
        margin-top: 0;
        font-size: 1.35em;
        font-weight: bold;
    }

    @media(min-width:$screen-md-min) {
        padding: 40px 0 !important;

        .wide-title {
            font-size: 1.6667em;
        }
    }
}

section {
    padding: 4em 0;

    &.pdt0 {
        padding-top: 0;
    }

    &.pd0 {
        padding: 0;
    }

    &.pdt40 {
        padding: 40px 0 0;
    }

    &.pdtb40 {
        padding: 40px 0 40px;
    }

    &.m-b20 {
        margin-bottom: 20px !important;
    }

    &.section-video-testimonials {
        padding: 40px 40px 80px;
    }
}

.text-underlined {
    text-decoration: underline;
}

.row {
    &.eq-height {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;

        @media (min-width: 1024px) {

            // height:520px;
            &.eq-smaller-height {
                //  height: 450px;
            }
        }
    }
}

.container-fluid {
    max-width: 1180px;
}

.bg-default {
    background-color: #f8f8f8;

    &.darker {
        background-color: $light-gray;
    }
}

.bg-white {
    background-color: #fff;
}

.bg-secondary {
    background-color: $blue;
}

.bg-dark-gray {
    background-color: #d7d7d7;
}

.bg-black {
    background-color: black;
}

.blue {
    color: $blue;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.invisible {
    visibility: hidden;
}

.section-title {
    font-size: 1.9444em;
    text-align: center;
    margin-bottom: 1em;

    @media(min-width: $screen-md-min) {
        font-size: 2.5em;
    }
}

section {
    >.section-title {
        padding: 0 15px;
    }
}

a {
    outline: none;
}

body.modal-open {
    overflow: auto;
    padding-right: 0 !important;
}

a {
    -webkit-appearance: none;

    &:focus,
    &:active,
    &:hover {
        color: #555;
        text-decoration: none;
    }
}

.same-height {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    >div {
        flex: 1;
    }
}

.text-left {
    text-align: left !important;
}

.inline-block {
    display: inline-block;
}

.green-text {
    color: $green;
}

.blue-text {
    color: $blue;
}

.white-text {
    color: #fff;
}

.light-text {
    color: #999;
}

.feature-list {
    list-style: none;
    margin-bottom: 20px;

    li {
        padding: 6px 0;

        &:before {
            background: url(#{$get-path-to-img}icons/sprite-check.png) center bottom;
            width: 23px;
            height: 25px;
            position: relative;
            margin-right: 10px;
            top: 8px;
            display: inline-block;
            overflow: hidden;
            content: '';
        }
    }
}

.li-p0 {
    li {
        padding: 0;
    }
}

.se-list {
    list-style: none;
    margin-bottom: 20px;

    li {
        padding: 6px 0;
    }
}

.se-check-container {
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &+.se-check {
            background: url(#{$get-path-to-img}icons/sprite-check.png) center -1px;
            width: 23px;
            height: 25px;
            position: relative;
            margin-right: 10px;
            top: 8px;
            display: inline-block;
            overflow: hidden;
            content: '';
        }

        &:checked+.se-check {
            background-position: center 26px;
        }
    }
}

.bullets {
    list-style: disc;
    padding-left: 20px;

    li {}
}

.batch-form {
    padding: 15px 0px 20px 0px;
    max-width: 350px;

    .btn {
        max-width: 90%;
        margin: 0 auto;
        display: block;
    }

    .form-control {
        border-radius: 0;
    }
}

.bordered-blue {
    border: 1px solid $blue !important;
}

.text-align-right {
    text-align: right;
    display: block;
}

.modal-backdrop.in {
    opacity: 0.6;
}

//////////////////
// Basic Layout //
//////////////////

@media(max-width:$screen-xs-max) {
    .cta-subheader {
        display: block;
        font-size: 4.8vw;
    }
}

.how-it-works {
    .work-row {
        display: flex;
        flex-wrap: wrap;
    }

    .box--h {
        &:nth-child(1) {
            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 45px;
                background-image: url(#{$get-path-to-img}curly-image-left.png);
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                bottom: 10%;
                right: -12%;

                @media(max-width: $screen-xs-max) {
                    display: none;
                }
            }
        }

        &:nth-child(2) {
            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 62px;
                background-image: url(#{$get-path-to-img}curly-image-right.png);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 10%;
                right: -12%;

                @media(max-width: $screen-xs-max) {
                    display: none;
                }
            }
        }
    }

    .work-box {
        position: relative;
        text-align: center;
        max-width: 300px;
        margin: 0 auto;
        @include fadeFx(0.5s);

        .image {
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
        }

        h3 {
            color: $blue;
        }

        .box--content {
            padding: 0 30px;
            font-size: .95em;
        }
    }
}

header {
    /* margin-bottom: 60px;*/
    position: relative;
    z-index: 20;
}

aside {}

.mauto {
    margin: 0 auto;
    display: block;
}

section {
    @extend .clearfix;
}

/////////////
// Content //
/////////////
.ambassador-row {
    .ambassador-box {
        max-width: 250px;
        margin: 0 auto;

        .image {
            img {
                display: block;
                margin: 0 auto;
                max-width: 100%;
            }
        }

        p {
            padding: 0 30px;
            text-align: center;
            font-size: 20px;

            span {
                font-size: 24px;
                margin: 10px 0;
                display: block;
            }
        }
    }
}

// bootstrap override
.modal-header {
    border: 0;
}

.modal {
    .form-group {

        input,
        select {
            height: 45px;
        }
    }
}

.btn-white {
    background: white;
    color: #3db870;

    &:hover,
    &:focus {
        color: $green;
    }
}

.btn-wide {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}

.btn-wide-half {
    width: 90%;
}

.btn-wide-md {
    width: 100%;
    max-width: 300px;
}

.btn-wider {
    width: 75%;
}

.btn-tall {
    height: 60px;
}

.btn.btn-square{
    border-radius:0;
}

.btn.btn-fb{
    background:#435B97;
    color:white;
}

.btn.btn-messenger{
    background:#219EFD;
    color:white;
}


.or {
    text-align: center;
    margin: 20px 0;

    span {
        &:after {
            content: '';
            display: inline-block;
            width: 100px;
            height: 1px;
            background-color: #dedede;
            position: relative;
            top: -5px;
            right: -10px;
        }

        &:before {
            content: '';
            display: inline-block;
            width: 100px;
            height: 1px;
            background-color: #dedede;
            position: relative;
            top: -5px;
            left: -10px;
        }
    }
}

.btn-social-actn {
    .btn {
        &.btn-fb {
            background-color: $fb-color;
            color: #fff;
        }

        &.btn-google {
            border-color: #ccc;
            background-color: transparent;

            &:hover {
                background-color: #e5e5e5;
            }

            span {
                background-image: url(#{$get-path-to-img}gplus-icon.png);
                width: 16px;
                height: 16px;
                background-size: 100%;
                background-repeat: no-repeat;
                display: inline-block;
                position: relative;
                top: 3px;

                &:before {
                    content: none;
                }
            }
        }

        span {
            margin-right: 10px;
        }
    }
}

.other-actn {
    text-align: center;

    p {
        margin-bottom: 0;
    }
}

.edit-fave--ctnr {
    border: 1px solid red;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;

    .fave--ctnr-inner {
        text-align: center;

        .input-wrapper {
            margin-bottom: 20px;
            border: 1px solid #ccc;

            input {
                width: 100%;
                max-width: 300px;
            }
        }

        .image--ctnr {
            position: relative;

            .inputfile {
                display: block;
                position: absolute;
                height: 100%;
                overflow: hidden;
                width: 100%;
                z-index: 1;
                opacity: 0;
            }

            .image--inner {
                width: 100%;
                height: 300px;
                background-position: center;
                background-size: contain;
                background-color: #f8f8f8;
                background-repeat: no-repeat;

                label {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #fff;
                }
            }
        }
    }
}

.modal {
    .modal-header {
        h1 {
            text-align: center;
            margin: 0;
        }

        h3 {
            text-align: center;
            margin: 0;
        }

        p {
            text-align: center;
        }
    }
}

/*
*
* Video Player =************************=
*/

.video-player-box {
    .video-container {
        position: relative;
        padding-bottom: 75%;
        /* 16:9 */
        // padding-top: 25px;
        height: 0;
        overflow: hidden;
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;

        .preview-img {
            max-width: 100%;
        }
    }

    .videoPlayer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .play-video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        background-color: rgba(83, 205, 136, 0.7);

        span {
            padding: 10px 15px;
            color: #fff;
        }
    }
}

// ==================== LOADER
.loader {
    background-image: url(#{$get-path-to-img}loader.gif);
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
* CTA SECTION
*/

.cta-section {
    padding: 30px 0;

    .cta-content {
        line-height: 120%;

        .cta-subheader {
            font-size: .8em;
        }

        @media(min-width:$screen-sm-min) {
            font-size: 1.3333em;
        }
    }
}

.cta-big-box {
    padding-bottom: 50px;
}

/*
*CARTBOX POPUP
*/

#cartbox,
.box-details,
.order-details {
    .modal-header {
        .close {
            position: relative;
            z-index: 1;
        }

        .title-box {
            &:before {
                content: '';
                @extend .se-icon;
                @extend .icon-package;
                display: inline-block;
                float: left;
                margin-right: 10px;
            }

            h2 {
                margin: 0;
                font-size: 20px;
                font-weight: bold;
                position: relative;
                top: 5px;

                span {
                    font-size: 14px;
                    display: block;
                    margin-left: 30px;
                    font-weight: normal;
                    color: #777;
                }
            }
        }
    }

    .box-item {
        position: relative;
        border-bottom: 1px solid #eee;

        &:first-child {
            border-top: 1px solid #eee;
        }

        padding: 15px 0;

        &:after,
        &:before {
            @extend .clearfix;
        }

        a {
            display: block;
        }

        .image {
            float: left;
            width: 120px;
            margin-right: 15px;

            img {
                max-width: 100%;
            }
        }

        .item-title {
            span {
                display: block;
            }
        }

        .qty-box {
            max-width: 282px;
            margin: 20px 0 0;
            position: absolute;
            right: 0;
            width: 100%;
            bottom: 11px;

            .input-group {
                max-width: 100px;
                float: left;
            }

            .price {
                float: right;
                padding-right: 15px;
            }

            .form-control {
                text-align: center;
                border: 0;
            }

            .btn {
                margin-right: 0;
                border-radius: 5px;
                border: 1px solid #ccc;
                padding: 3px 6px;
                font-size: 12px;

                &.btn-primary {
                    border-color: transparent !important;
                }
            }
        }
    }

    .modal-footer {
        border: 0;

        ul {
            padding: 0 15px;
            color: #777;

            li {
                span {
                    float: right;
                }

                label {
                    font-weight: normal;
                }
            }
        }

        p {
            color: #777;
            padding: 0 15px;
            font-size: small;
        }

        >div {
            width: 50%;
            float: left;

            &.left {
                padding-right: 5px;
            }

            &.right {
                padding-left: 5px;
            }
        }

        .btn {
            margin: 20px 0 0 0;
            width: 100%;

            &.btn-plain {
                border: 1px solid #777;
                color: #777;
            }
        }
    }
}

.order-details {
    .order-date {
        font-size: 1.2em;
        color: #000;
    }

    .order-status {
        text-align: right;
        text-transform: uppercase;
        font-size: 1.2em;

        &.completed {
            color: $blue;
        }

        &.processing {
            color: $green;
        }

        &.pending {
            color: #ffcc99;
        }
    }

    .order-number {
        text-align: left !important;
        margin-top: 0 !important;
        padding-left: 15px;
    }

    .order-shipping {
        h4 {
            text-transform: uppercase;
            color: #000;
            font-weight: bold;
        }
    }

    .order-feedback {
        .fa {
            font-size: 0.8em;
        }
    }

    .modal-footer>div {
        width: auto;
        float: none;
    }
}

.box-list-slider {
    .box-item {
        img {
            max-width: 100%;
        }
    }
}

/*
* RESUME BOX
*/

#resumebox {
    .nvm {
        margin: 15px 0;
    }

    .modal-footer {
        border: 0;
    }
}

/*
*
* Banner Inner Page
*/

.content-404 {
    .input-group {
        margin: 20px 0;

        .form-control {
            border-right: 0;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            outline: none !important;
            border-color: #ccc;
        }

        span {
            background-color: #fff;
            border-left: 0;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    .caption {
        font-size: 1.5em;
    }
}

// * banner
.banner-page {
    .banner-img {
        width: 100%;
    }
}

.comparison-table {
    thead {
        background-color: #f2f2f2;

        th {
            vertical-align: middle !important;
            border-bottom: 0 !important;

            span {
                text-align: center;
                display: block;
                margin: 10px auto;
            }
        }
    }
}

.page-content-text {
    h3 {
        margin: 40px 0 20px;
    }
}

/*
* RECENT ORDERS
*/

.recent-orders {
    .load-more {
        padding: 20px 0;
        display: inline-block;
        text-decoration: underline;
    }
}

.panel-tab {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 25px;

    .tab {
        position: absolute;
        left: 50%;
        top: -23px;
        transform: translate(-50%);

        ul {
            list-style: none;
            text-align: center;
            @extend .clearfix;

            li {
                display: inline-block;
                padding: 10px 15px;
                border: 1px solid #d6d6d6;
                background-color: #f6f6f6;
                float: left;
                cursor: pointer;
                background-color: #f0f0f0;

                &.active,
                &:hover {
                    // background-color: #fff;
                }

                &:nth-child(1) {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-right: 0;
                }

                &:nth-child(2) {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }

    .content {
        .tab-content {
            display: none;

            h3 {
                line-height: 1.5;
                font-size: 1.3em;
            }

            &.active {
                display: block;
            }

            .facebook {
                display: block;
                margin: 10px 0 20px;
                float: left;
            }

            .twitter {
                margin: 10px 0;
                display: block;
                float: left;
            }

            .se-icon {
                margin: 20px 0 0;
            }
        }
    }
}

.coupon {
    padding: 10px;
    font-size: 30px;
}

.coupon {
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
    }
}

.coupon-box {
    border-radius: 0px;
    height: 43px !important;
    text-align: center;
}

/*
* Subscription Section
*
*/

.subscription-section {
    position: relative;
}

/*
*
* Bootstrap Override 5 Columns
*/

.col-xs-5th-1,
.col-xs-5th-2,
.col-xs-5th-3,
.col-xs-5th-4 {
    float: left;
}

.col-xs-5th-5 {
    float: left;
    width: 100%;
}

.col-xs-5th-4 {
    width: 80%;
}

.col-xs-5th-3 {
    width: 60%;
}

.col-xs-5th-2 {
    width: 40%;
}

.col-xs-5th-1 {
    width: 20%;
}

.col-xs-5th-pull-5 {
    right: 100%;
}

.col-xs-5th-pull-4 {
    right: 80%;
}

.col-xs-5th-pull-3 {
    right: 60%;
}

.col-xs-5th-pull-2 {
    right: 40%;
}

.col-xs-5th-pull-1 {
    right: 20%;
}

.col-xs-5th-pull-0 {
    right: auto;
}

.col-xs-5th-push-5 {
    left: 100%;
}

.col-xs-5th-push-4 {
    left: 80%;
}

.col-xs-5th-push-3 {
    left: 60%;
}

.col-xs-5th-push-2 {
    left: 40%;
}

.col-xs-5th-push-1 {
    left: 20%;
}

.col-xs-5th-push-0 {
    left: auto;
}

.col-xs-5th-offset-5 {
    margin-left: 100%;
}

.col-xs-5th-offset-4 {
    margin-left: 80%;
}

.col-xs-5th-offset-3 {
    margin-left: 60%;
}

.col-xs-5th-offset-2 {
    margin-left: 40%;
}

.col-xs-5th-offset-1 {
    margin-left: 20%;
}

.col-xs-5th-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {

    .col-sm-5th-1,
    .col-sm-5th-2,
    .col-sm-5th-3,
    .col-sm-5th-4 {
        float: left;
    }

    .col-sm-5th-5 {
        float: left;
        width: 100%;
    }

    .col-sm-5th-4 {
        width: 80%;
    }

    .col-sm-5th-3 {
        width: 60%;
    }

    .col-sm-5th-2 {
        width: 40%;
    }

    .col-sm-5th-1 {
        width: 20%;
    }

    .col-sm-5th-pull-5 {
        right: 100%;
    }

    .col-sm-5th-pull-4 {
        right: 80%;
    }

    .col-sm-5th-pull-3 {
        right: 60%;
    }

    .col-sm-5th-pull-2 {
        right: 40%;
    }

    .col-sm-5th-pull-1 {
        right: 20%;
    }

    .col-sm-5th-pull-0 {
        right: auto;
    }

    .col-sm-5th-push-5 {
        left: 100%;
    }

    .col-sm-5th-push-4 {
        left: 80%;
    }

    .col-sm-5th-push-3 {
        left: 60%;
    }

    .col-sm-5th-push-2 {
        left: 40%;
    }

    .col-sm-5th-push-1 {
        left: 20%;
    }

    .col-sm-5th-push-0 {
        left: auto;
    }

    .col-sm-5th-offset-5 {
        margin-left: 100%;
    }

    .col-sm-5th-offset-4 {
        margin-left: 80%;
    }

    .col-sm-5th-offset-3 {
        margin-left: 60%;
    }

    .col-sm-5th-offset-2 {
        margin-left: 40%;
    }

    .col-sm-5th-offset-1 {
        margin-left: 20%;
    }

    .col-sm-5th-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {

    .col-md-5th-1,
    .col-md-5th-2,
    .col-md-5th-3,
    .col-md-5th-4 {
        float: left;
    }

    .col-md-5th-5 {
        float: left;
        width: 100%;
    }

    .col-md-5th-4 {
        width: 80%;
    }

    .col-md-5th-3 {
        width: 60%;
    }

    .col-md-5th-2 {
        width: 40%;
    }

    .col-md-5th-1 {
        width: 20%;
    }

    .col-md-5th-pull-5 {
        right: 100%;
    }

    .col-md-5th-pull-4 {
        right: 80%;
    }

    .col-md-5th-pull-3 {
        right: 60%;
    }

    .col-md-5th-pull-2 {
        right: 40%;
    }

    .col-md-5th-pull-1 {
        right: 20%;
    }

    .col-md-5th-pull-0 {
        right: auto;
    }

    .col-md-5th-push-5 {
        left: 100%;
    }

    .col-md-5th-push-4 {
        left: 80%;
    }

    .col-md-5th-push-3 {
        left: 60%;
    }

    .col-md-5th-push-2 {
        left: 40%;
    }

    .col-md-5th-push-1 {
        left: 20%;
    }

    .col-md-5th-push-0 {
        left: auto;
    }

    .col-md-5th-offset-5 {
        margin-left: 100%;
    }

    .col-md-5th-offset-4 {
        margin-left: 80%;
    }

    .col-md-5th-offset-3 {
        margin-left: 60%;
    }

    .col-md-5th-offset-2 {
        margin-left: 40%;
    }

    .col-md-5th-offset-1 {
        margin-left: 20%;
    }

    .col-md-5th-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {

    .col-lg-5th-1,
    .col-lg-5th-2,
    .col-lg-5th-3,
    .col-lg-5th-4 {
        float: left;
    }

    .col-lg-5th-5 {
        float: left;
        width: 100%;
    }

    .col-lg-5th-4 {
        width: 80%;
    }

    .col-lg-5th-3 {
        width: 60%;
    }

    .col-lg-5th-2 {
        width: 40%;
    }

    .col-lg-5th-1 {
        width: 20%;
    }

    .col-lg-5th-pull-5 {
        right: 100%;
    }

    .col-lg-5th-pull-4 {
        right: 80%;
    }

    .col-lg-5th-pull-3 {
        right: 60%;
    }

    .col-lg-5th-pull-2 {
        right: 40%;
    }

    .col-lg-5th-pull-1 {
        right: 20%;
    }

    .col-lg-5th-pull-0 {
        right: auto;
    }

    .col-lg-5th-push-5 {
        left: 100%;
    }

    .col-lg-5th-push-4 {
        left: 80%;
    }

    .col-lg-5th-push-3 {
        left: 60%;
    }

    .col-lg-5th-push-2 {
        left: 40%;
    }

    .col-lg-5th-push-1 {
        left: 20%;
    }

    .col-lg-5th-push-0 {
        left: auto;
    }

    .col-lg-5th-offset-5 {
        margin-left: 100%;
    }

    .col-lg-5th-offset-4 {
        margin-left: 80%;
    }

    .col-lg-5th-offset-3 {
        margin-left: 60%;
    }

    .col-lg-5th-offset-2 {
        margin-left: 40%;
    }

    .col-lg-5th-offset-1 {
        margin-left: 20%;
    }

    .col-lg-5th-offset-0 {
        margin-left: 0%;
    }
}

.text-pointer {
    cursor: pointer;
}

.text-primary {
    color: $green;
}

.text-blue {
    color: $blue;
}

.text-dark {
    color: $black;
}

.text-white {
    color: #ffffff;
}

.text-red {
    color: red;
}

.text-gray {
    color: #ccc;
}

.text-roboto {
    font-family: Roboto;
}

.flash-message-container {
    margin: 15px 0;
}

label>small {
    font-weight: normal;
}

/** Titles **/

.mini-title {
    font-weight: bold;
    margin: 0.5em 0;
}

/** Paddings **/

.pad-left-25 {
    padding-left: 25px;
}

.pad-sides-15 {
    padding-left: 15px;
    padding-right: 15px;
}

/** Heights **/

.min-height-medium {
    min-height: 200px;
}

/** 

Texts
**/

.cta-text {
    margin: 25px;
    font-size: 1.5em;
}

.section-copy p~.btn,
.cta-section .btn,
p+.typeform-share.button {
    margin-top: 0.75em !important;
}

.section-text-left {
    margin-left: 10%;
}

.site-loading {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 99;
}

.form-control+.text-danger {
    margin-top: 3px;
}

.image-with-text,
.video-with-text {
    .section-copy {
        width: 500px;
        padding-top: 30px;
        padding-bottom: 30px;
        margin: 0 auto;
        max-width: 100%;
    }

    >[class*='col'] {
        justify-content: flex-end;
    }

    &.copy-on-right {
        >[class*='col'] {
            justify-content: flex-start;
        }
    }
}

.flex-input-button {
    display: flex;
    align-items: center;
    justify-content: center;

    .flex-input-button-inner {
        border: 1px solid #ccc;
        padding: 5px 30px 5px 10px;
        background: white;
        margin-right: 5px;
        position: relative;
    }

    input {
        width: 100% !important;
        margin-right: 0.5vw;
        border-radius: 0;
        border:none;
        padding:0 !important;
    }

    button {
        height: 45px;
        border-radius: 10px;
    }
}

body.modal-open {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.max-width-100 {
    max-width: 100%;
}

.tooltip-grayish {
    color: #6c7587;

    &+.tooltip {
        &.in {
            opacity: 1;
        }

        .tooltip-inner {
            background: #6c7587;
            padding: 10px;
            max-width: 250px;
        }

        .tooltip-arrow {
            border-top-color: #6c7587;
        }
    }
}

/** Margins **/

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-l-15 {
    margin-left: 20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

/** Comparison **/

.table.comparison-table {
    table-layout: fixed;

    th {
        text-align: center;

        img {
            max-width: 80%;
        }
    }
}

/** Search **/

.search-container {
    z-index: 99;

    .search-row {
        display: flex;
        padding: 10px;
        background: #fff;
        border: 1px solid #ccc;
        flex-basis: 100%;

        @media (min-width: $screen-sm-min) {
            flex-basis: 50%;
        }

        @media (min-width: $screen-md-min) {
            flex-basis: 25%;
        }

        border-bottom: none;
        border-right: none;

        .search-left {
            width: 30%;
            flex-shrink: 0;
            flex-grow: 0;

            @media (min-width: $screen-sm-min) {
                width: 20%;
            }
        }

        .search-right {
            flex-grow: 1;
            padding: 0 10px;

            >div {
                max-height: 4em;
                overflow: hidden;
                line-height: 1em;
                font-size: 16px;
            }
        }

        h4 {
            font-weight: bold;
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .ais-results {
        @media (min-width: $screen-sm-min) {
            width: 80%;
            left: 10%;
        }

        @media (min-width: $screen-md-min) {
            margin-top: 15px;
        }

        position: absolute;
        width: 90%;
        max-width: 100%;
        z-index: 99;
        max-height: 460px;
        left: 5%;
        overflow-y: auto;
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        background: white;
        margin-top: 40px;
    }
}

iframe {
    max-width: 100%;
}

.box-details .modal-footer {
    div.gift-card-line {
        width: 100% !important;
        padding: 15px;

        input {
            flex-grow: 1;
        }

        .btn {
            margin-top: 0;
            width: auto;
        }
    }
}

.how-it-works {
    .thumbnail {
        position: relative;
        border: none;

        img {
            width: 100%;
        }

        .caption {
            color: white;
            position: absolute;
            bottom: 5%;
            left: 0;
            width: 100%;
        }
    }

    .image-container {
        text-align: center;
        position: relative;
        color: white;
    }
}

.index-section-title {
    margin-bottom: 0.50em;
}

.small-gutter>[class*='col-'] {
    padding-right: 2px;
    padding-left: 2px;
}



/** Rewards **/

.rewards-list {
    .reward {
        display: flex;
        padding: 10px;
        border-top: 1px solid #eee;

        .reward-icon {
            height: 30px;
            width: 30px;
        }

        .reward-title {
            padding: 0 10px;
            flex-grow: 1;
        }

        .claim-button {
            padding: 5px 20px;
        }
    }
}

.btn.btn-claim {
    background: white;
    color: #8162aa;
    border: 2px solid #8162aa;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
}

.btn.btn-claimed {
    color: white;
    background: #8162aa;
    border:0;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Four Boxes */

.four-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .four-boxes-box {
        flex-basis: 48%;
        height: 150px;
        width: 150px;
        margin-bottom: 15px;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        flex-grow: 0;

        img {
            height: 100%;
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            width: auto;
            max-width: none;
        }
    }

    @media(min-width:$screen-md-min) {
        .four-boxes-box {
            width: 186px;
            height: 186px;
        }
    }
}

.speech-bubble-box {

    display: flex;
    margin-bottom: 20px;

    .speech-bubble {
        .speech-bubble-text {
            background: #F8F8F8;
            border: 1px solid #D8D8D8;
            padding: 15px;
            line-height: 1.6em;
            border-radius: 5px;
            font-size: 0.8333em;
            position: relative;

            &:after {
                content: "";
                background: url(#{$get-path-to-img}speech-arrow.png) no-repeat right bottom;
                background-size: contain;
                width: 21px;
                height: 37px;
                display: inline-block;
                position: absolute;
                left: 99.9%;
                z-index: 1;
                bottom: 5%;
            }
        }
    }


    .speech-bubble-person {
        display: flex;
        vertical-align: bottom;
        align-items: flex-end;
        margin-left: 36px;
    }

    &.speech-bubble-box-2 {
        .speech-bubble {
            .speech-bubble-text {
                background: white;
                border-color:#707070;

                &:after {
                    width: 19px;
                    height: 27px;
                    background-image: url(#{$get-path-to-img}speech-arrow-2.png);
                }
            }
        }
    }
}

/* Form group flex*/
.form-group-flex{
    display:flex !important;
    flex-wrap: wrap;
    input{        
        margin-bottom:10px;
    }
    button{
        margin-bottom:10px;
        display:block;
        width: 100%;
    }
    @media(min-width:$screen-sm-min)
    {
        flex-wrap:nowrap;
        input{
            margin-bottom:0;
            flex-grow: 1;
        }
        button{
            margin-left: 5px;
            width:auto;
        }
    }
}
/** Glass Box **/

.glass-box{
    padding:30px;
    background:white;
    border:1px solid #CCCCCC;
    border-radius: 5px;
    .wide-title{
        margin-top:0;
        font-weight:bold;
    }

    .wide-title{
        margin-top:0;
        font-weight:bold;
    }
}

.price-super-huge{
    font-size: 2.2857em;
    .currency{
        font-size: 0.3438em;
        vertical-align: super;
        &:after{
            clear:both;
        }
    }
    .info{
        font-size: 0.3438em;
        display:block;
        line-height: 1em;
    }
    @media(min-width:$screen-sm-min){
        .info{
            margin-top:10px;
        }
    }
}