///////////////////
// Media Queries //
///////////////////
// $screen-xs: 568px;
// $screen-sm: 768px;
// $screen-md: 960px;
// $screen-lg: 1240px;
// $screen-xl: 1980px;
// Retina query (remove when not needed)
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {

}

// Largest devices
@media (max-width: $screen-xl) {
    
}

// Largest devices
@media (max-width: 1920px) {

}

// Large devices
@media (max-width: 1440px) {
    .box-list-slider {
        .box-item {
            width: 850px;

            h2, p {
                max-width: 85%;
            }
        }
    }
}
@media (max-width: $screen-lg) {
    .box-list-slider {
        .box-item {
            width: 750px;

            h2, p {
                max-width: 95%;
            }
        }
    }
}

@media (max-width: 1024px) {
    .how-it-works {
        .box--h {
            &:nth-child(1) {
                &::after {
                    width: 80px;
                    height: 29px;
                }
            }
            &:nth-child(2) {
                &::after {
                    width: 80px;
                    height: 49px;
                }
            }
        }
    }


    .subscription-section {
        .subscription-header {
            top: 45%;
            transform: translate(-50%, -50%);
        }
    }

    .box-list-slider {
        .box-item {
            width: 550px;

            img {
                height: auto;
            }

            h2, p {
                max-width: 100%;
            }
        }
        .slick-arrow {
            top: 32%;
        }
    }
}

// Large devices
@media (max-width: $screen-md) {
    .how-it-works {
        .box--h {
            &:nth-child(1) {
                &::after {
                    right: -15%;
                }
            }
            &:nth-child(2) {
                &::after {
                    right: -18%;
                }
            }
        }
        .work-box {
            max-width: 270px;
        }
    }
}

@media (max-width: $screen-sm-max) {
    .btn {
        padding: 8px 15px;
    }
    .page-content-text {
        h3 {
            margin: 20px 0 20px;
        }
    }
    section {
        padding: 3em 0;
    }
    .section-title {
        font-size: 5vw;
    }
    header {
        margin-bottom: 0;
    }
    .how-it-works {
        .work-row {
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .box--h {
            float: none;
        }
    }


    #burger-menu {
        right: 15px;
        margin: 12px 0;
    }
    .top-bar {
        .se-nav-right {
            ul {
                li {
                    a {
                        position: relative;
                        right: 60px;

                        &:active,
                        &:visited,
                        &:focus-within,
                        &:focus {
                            color: #000;
                        }
                        i {
                            height: 18px;
                            width: 18px;
                            font-size: small;
                            line-height: 18px;
                        }
                    }
                }
            }
            >ul{
                >li {
                     a {
                        padding: 11px 0;
                     }
                }
            }
        }
    }


    // Subscription Page

    .subscription-section {

        .subscription-header {
            position: relative;
            top: 0;
            left: 0;
            transform: none;

            &.position-right {
                padding: 0 5%;
                .header-caption {
                    max-width: 100%;
                    float: none;
                }
            }
        }
    }

    .video-player-box {
        .video-container {
            margin-bottom: 20px;

            .play-video {
                span {
                    padding: 8px 12px;
                    font-size: 1em;
                }
            }
        }
    }

    .testimonial-block {
      #testimonial-slider .col-sm-4{
        width: 300px;
        outline: none;
      }
    }


    .products-category {
        .products-category-container {
            .product-listing {
                .product-filter {
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-flex-wrap: nowrap;
                    -ms-flex-wrap: nowrap;
                    flex-wrap: nowrap;
                    -webkit-justify-content: flex-end;
                    -ms-flex-pack: end;
                    justify-content: flex-end;
                    -webkit-align-content: flex-end;
                    -ms-flex-line-pack: end;
                    align-content: flex-end;
                    -webkit-align-items: flex-start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    .left {
                        order: 1;
                    }
                    .dropdown {
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        margin-right: 10px;

                        button {
                            padding: 6px 10px;
                        }
                    }
                    .search-form {
                        width: 6px;
                        .form-control {
                            // display: none;
                            padding: 0;
                            border: none;
                            border-top-left-radius: 10px;
                        }

                        .input-group-addon {
                            border-left: 1px solid #ccc;
                            border-radius: 10px;
                        }
                    }
                }
            }

            .sidebar {
                width: 100%;
                box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
                .sidebar-inner {
                    padding: 15px 0;
                    text-align: center;
                    position: relative;

                    .toggle-close {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translate(0%, -50%);
                        &:before {
                            content: "\e64a";
                            display: block;
                            cursor: pointer;
                            font-family: 'themify';
                            padding: 20px 0px;
                            font-size: 30px;
                        }
                    }
                    .sidebar-title {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .box-list-slider {
        .box-item {
            width: 450px;

            h2, p {
                max-width: 100%;
            }
        }
    }
}
// Medium devices
@media (max-width: $screen-sm - 1) {
    .how-it-works {
        .work-row {
            display: block;
        }
        .box--h {
            &:nth-child(1) {
                &::after {
                    position: relative;
                    right: auto;
                    left: auto;
                    margin: 20px auto;
                }
            }
            &:nth-child(2) {
                &::after {
                    position: relative;
                    right: auto;
                    left: auto;
                    margin: 20px auto;
                }
            }
        }
        .work-box {
            max-width: 330px;
        }
	}
}

// Small devices
@media (max-width: $screen-xs) {
    .front-profile {
        position: relative;
        margin: 0;
        right: 0;
    }


    .comparison-table {
        font-size: 14px;
        thead {
            th {
                padding: 0 5px !important;
                img {
                    width: 100%;
                }
            }
        }
    }
    .panel-tab {
        margin-top: 50px;
        .tab {
            width: 200px;
        }
        .content {
            .tab-content {
                overflow: hidden;
                .facebook {
                    table {
                        width: 100% !important;
                    }
                }
            }
        }
    }
    .store-orders {
        .same-height {
            display: block;
        }
        .item {
            text-align: center;
        }
        .order-items {
            .item {
                padding: 0;
            }
            .product-detail {
                img {
                    display: block;
                    margin: 0 auto;
                    text-align: center;
                    float: none;
                }
                .order-no {
                    display: block;
                    clear: both;
                    position: relative;

                    span {
                        position: absolute;
                        left: 0;
                        z-index: 1;
                    }
                }
            }
            .order-detail-right {
                margin-top: -30px;
                padding-right: 0;
                &:before {
                    display: none;
                }
                p {
                    margin-bottom:5px;
                }
                .status {
                    padding: 10px 0;
                    border-top: 1px solid #ccc;
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    .products-category {
        .product-list {
            .thumbnail {
                font-size: 12px;
                .thumb-box {
                    .caption-top {
                        h4 {
                            font-size: 14px;
                        }
                    }
                }
                .caption {
                    .more-detail {
                        border-top-color: #f8f7f7;
                        border-width: 2px;
                        p {
                            font-size: 14px;
                        }

                        &.category--v {
                            .btn-cart-add {
                                line-height: 14px;
                                border-radius: 8px;
                            }
                        }

                        div {
                            padding: 0 8px;
                        }
                    }
                }
            }
        }
    }

    .box-list-slider {
        .box-item {
            width: 350px;        
        }
    }

}





// Media Queries Bootstrap override
@media (min-width: 768px) {
    .modal-dialog {
        &.small-dialog {
            width: 450px;
            &.howmuch-dialog{
                width:380px;
            }
        }
        &.large-dialog {
            width: 660px;
        }
    }
}

@media (max-width: 568px) {
    .modal-dialog {
        &.small-dialog {
            width: 100% !important;
            margin: 0 !important;
        }
        &.large-dialog {
            width: 660px;
        }
    }

    .other-actn {
        font-size: small;
    }

    .section-title {
        font-size: 1.8em;
    }

    .panel-title {
        font-size: 14px;
    }
}


@media (max-width: 380px) {
    .top-bar {
        .se-nav-right {
            ul {
                li {
                    a {
                        right: 55px;
                        padding: 12px 0;
                        span {
                            font-size: 24px;
                            padding: 9px 0;
                        }

                        i {
                            width: 15px;
                            height: 15px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }

    .products-category {
        .product-list {
            .thumbnail {
                margin-bottom: 10px;
                .caption {
                    .more-detail {

                        &.category--v {
                            .btn-cart-add {
                                line-height: 10px;
                                height: 25px;
                                padding: 5px 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .box-list-slider {
        .box-item {
            margin: 0 10px;
            width: 280px;        
        }

        .slick-arrow {
            top: 20%;
        }
    }
}

.cta-button-wrapper
{
    @media(max-width:$screen-xs-max)
    {
        text-align: center;
    }
}