.top-bar {
	background: #f7f7f7;
	position: relative;
	height: 60px;
	padding: 0 15px;

	.search-form {
		float: left;
		margin: 11px 0;

		.search-container {
			form {
				width: 300px;
				position: relative;

				input {
					border-radius: 15px;
					outline: none;
				}

				span {
					position: absolute;
					right: 10px;
					top: 10px;
				}
			}
		}
	}
}



.main-logo {
	float: left;
	width: 18%;
	margin-top: 5px;

	a {
		display: block;

		img {
			width: 100%;
			max-width: 230px;
			padding: 10px;
		}
	}
}

.se-nav-right {
	float: right;

	ul {
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0px 0;
		padding: 0;

		li {
			padding: 0 15px;
			vertical-align: top;
			display: inline-block;

			>.sub-nav {
				border-right: 1px solid #d5d5d5;
				border-left: 1px solid #d5d5d5;
				border-bottom: 1px solid #d5d5d5;
				@include fadeFx(1s);

				li {
					@include easeFx();

					&:hover {
						background-color: $blue;

						a {
							color: #fff;
						}
					}
				}
			}

			a {
				color: #000;
				text-decoration: none;
				padding: 12px 20px 12px 0;
				display: block;
				position: relative;

				span {
					margin-right: 10px;
				}

				&:active,
				&:visited,
				&:focus-within,
				&:focus {
					color: #000;
				}

				span {
					font-size: 30px;
				}

				i {
					background-color: $green;
					height: 20px;
					width: 20px;
					line-height: 20px;
					display: inline-block;
					text-align: center;
					position: absolute;
					right: 0px;
					top: 10px;
					border-radius: 50%;
					font-size: small;
				}
			}

			&:last-child {
				>.sub-nav {
					li {
						&:hover {
							background-color: transparent;

							a {
								color: #333;
							}
						}
					}
				}

				a {
					padding-right: 0;
				}
			}

			&:last-child a {
				padding-left: 0;
			}
		}
	}

	>ul {
		>li {
			a {
				padding: 18px 10px;

				span {
					font-size: 20px;
				}
			}

			position: relative;

			>.sub-nav {
				width: 200px;
				display: none;
				position: relative;
				z-index: 10;
				position: absolute;
				right: 0;
				top: 60px;
				background-color: #fff;
				padding: 15px 0;

				li {
					display: block;
					padding: 0;

					a {
						color: #333;
						padding: 5px 15px;
						display: block;
					}
				}

				&.mini-cart-box {
					width: 350px;
					display: none;
					float: left;

					>li {
						display: block;
						clear: both;
						border-bottom: 1px solid #d5d5d5;
						padding: 5px 0 15px;

						.mini-cart {
							@extend .clearfix;
							font-size: small;

							.achor-item {
								.image {
									float: left;
									width: 100px;

									img {
										max-width: 100%;
									}
								}

								.price {
									float: right;
									position: relative;
									right: -10px;
									font-weight: 700;
								}
							}

							.qty-box {
								max-width: 130px;
								float: left;

								.input-group {
									margin-top: 15px;
								}
							}
						}

						&:last-child {
							border-bottom: 0;
						}
					}

					.continue-checkout {
						padding: 15px;

						.btn {
							width: 100%;
							margin: 15px auto 0;
						}
					}
				}
			}

			&:hover {
				a {
					color: $blue;
				}

				>.sub-nav {
					display: block;
				}
			}
		}
	}
}

.top-bar.top-bar-header-plain {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.se-nav-right>ul>li a {
		right: auto !important;
	}

	.main-logo {
		float: none;
		width: auto;


		@media(max-width: 959px) {
			flex-grow: 0;
			flex-basis: 50%;
			width: auto !important;
			margin: 0;

			img {
				max-width: 200px !important;
			}
		}

		@media (max-width: $screen-sm) {
			position: relative;
		}
	}

	@media (max-width: 960px) {
		.se-nav-right li {
			display: block !important;
			padding: 0 15px;
		}

		.main-logo {
			display: inline-block !important;
		}
	}
}

.main-menu {
	/*position: absolute;
	width: 100%;
	top: 60px;*/
	background-color: #fff;
	border-bottom: 1px solid #d6d6d6;
	clear: both;
	z-index: 1;

	&:after,
	&:before {
		content: "";
		display: block;
		clear: both;
	}

	ul {
		margin: 0 15px;
		padding: 0;

		li {
			&.login-mobile {
				display: none;
			}

			a {
				display: block;
				text-decoration: none;
				color: #333;
				text-transform: uppercase;
				font-weight: bold;
			}

			display: inline-block;
			/*border: 1px solid red;*/
			font-size: 14px;

			&.has-sub {
				>a {
					position: relative;

					&:before {
						content: "\f107";
						@include fontawesome();
						right: 0px;
						left: auto;
						top: auto;
						position: absolute;
						transform: translate(50%, 0%);
					}
				}
			}

			.sub-menu {
				padding: 10px 0;
				background-color: #fff;
				display: none;
				width: 100%;
				position: absolute;
				left: 0;
				z-index: 5;
				-webkit-transition: all 0.5s;
				/* Safari */
				transition: all 0.5s;

				h1 {
					font-size: 18px;
					margin-top: 0px;
				}

				.sub-links {
					padding: 0;
					margin: 0;

					li {
						border: 0;
						padding: 0;
						/*border: 1px solid red;*/
						display: block;

						a {
							&:after {
								content: none !important;
							}

							padding: 0 0px;
							display: block;
							text-align: left;
							text-transform: none;
							font-weight: normal;

							img {
								width: 150px;
								display: block;
								margin: 0 auto;
							}

							span {
								padding: 6px 0;
								display: block;
							}
						}
					}

					&.categories {
						text-align: center;

						li {
							display: inline-block;

							a {
								display: block;
								padding: 0 15px;
								text-align: center;
								text-transform: uppercase;
								font-weight: bold;
							}
						}
					}
				}
			}
		}

		>li {
			padding-right: 20px;
			@include fadeFx(0.5s);

			>a {
				position: relative;
				padding: 20px 15px;
			}

			&.open {
				>.sub-menu {
					display: block;
				}

				a {
					&:after {
						content: "";
						display: block;
						position: absolute;
						width: 70%;
						height: 2px;
						left: 50%;
						bottom: 10px;
						transform: translate(-50%);
						background-color: $green;
					}
				}
			}
		}
	}

	.nav-right {
		li {
			padding-right: 0;

			a {
				margin-top: 10px;
				border-radius: 20px;
				color: #fff;
				background-color: $green;
				border: 1px solid $green;
				-webkit-transition: background-color 0.5s;
				/* Safari */
				transition: background-color 0.5s;
				display: flex;
				padding: 5px 40px 5px 20px;
				letter-spacing: 1px;
				line-height: 2em;
				font-weight: normal;

				.fa {
					margin-left: 10px;
				}

				&:hover {
					background-color: darken($green, 10%);
				}
			}

			&:hover {
				border-bottom: 0;

				a {
					&:after {
						content: none;
					}
				}
			}
		}
	}
}

#burger-menu {
	width: 30px;
	height: 20px;
	position: absolute;
	margin: 10px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 1;
	display: none;
}

#burger-menu span {
	display: block;
	position: absolute;
	height: 1.5px;
	width: 100%;
	background: #000;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#burger-menu span:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-menu span:nth-child(2) {
	top: 8px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-menu span:nth-child(3) {
	top: 17px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#burger-menu.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 1px;
	left: 8px;
}

#burger-menu.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#burger-menu.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 22px;
	left: 8px;
}

@media (max-width: $screen-md) {
	.top-bar {
		height: 55px;

		.se-nav-right {
			ul {
				li {
					padding: 0 5px;
				}
			}

			>ul {
				li {
					a {
						padding: 16px 10px;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-md) {
	.main-menu {
		>ul {
			> {
				li {
					>a {
						padding: 18px 8px;
					}
				}
			}
		}

		ul {
			li {
				&.has-sub {
					>a {
						&:before {
							right: -5px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 780px) {
	.main-menu {
		>ul {
			> {
				li {
					>a {
						padding: 18px 5px;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-max) {
	#burger-menu {
		display: block;
	}

	.top-bar {
		padding: 0;
		height: 45px;
		border-bottom: 1px solid #ccc;

		.main-logo {
			position: absolute;
			width: 100%;
			left: 0;
			right: 0;

			a {
				img {
					text-align: center;
					display: block;
					margin: 0 auto;
					max-width: 150px;
				}
			}
		}

		.se-nav-right {
			.icon-search {
				display: block;
			}

			ul {
				margin: 0;

				li {
					padding: 0 2px;
				}
			}
		}

		.search-form {
			margin-top: 15px;
			position: absolute;

			.search-container {
				form {
					position: initial;

					input {
						display: none;
						top: 45px;
						border-radius: 0;
						position: absolute;
					}

					span {
						cursor: pointer;
						left: 15px;
						position: absolute;
						top: 0px;
					}
				}
			}
		}


	}

	.show-search-form {
		.search-form {
			display: block;
			width: 100%;
			position: absolute;
			margin-top: 0;
			top: 45px;

			.search-container {
				background-color: red;

				form {
					input {
						display: block;
						background-color: #e6e3d9;
						top: 0;
						height: 40px;
					}

					span {
						right: 15px;
						left: auto;
						bottom: 0;
						top: 10px;
					}
				}
			}
		}

		.main-menu {
			margin-top: 40px;
		}
	}

	.main-menu {
		top: 85px;
		display: none;

		&.show {
			display: block;
		}

		ul {
			float: none !important;
			margin: 0;

			li {
				display: block;
				width: 100%;

				&.login-mobile {
					display: block;
				}

				&:not(:last-child) {
					border-bottom: 1px solid #ccc;
				}

				a {
					padding: 12px 15px;
					display: block;
				}

				&.has-sub {
					padding-right: 0;

					>a:before {
						transform: rotate(-90deg);
						font-size: 20px;
						padding: 0 0 0px;
						top: 5px;
						right: 10px;
					}
				}

				.sub-menu {
					position: relative;

					&:after,
					&:before {
						clear: both;
						display: block;
						content: "";
					}

					ul {
						li {
							width: 50%;
							float: left;

							a {
								text-align: center;
								display: block;

								img {
									margin: 0 auto;
									display: block;
								}
							}
						}
					}
				}

				&:hover {
					a {
						&:after {
							display: none;
						}
					}
				}
			}
		}

		.nav-right {
			display: none;
		}
	}
	
	.sub-btn {
		width: 162px;
		margin-top: 5px;
	}

	.nav-mobile {
    	background-color: #5eca8b;
	}
}

@media (max-width: $screen-xs) {
	.top-bar {
		height: 45px;

		.main-logo {

			a {
				img {
					max-width: 100px;
				}
			}
		}

		.se-nav-right {
			.icon-user {
				span {
					display: none;
				}
			}
		}
	}

	.main-menu {
		ul {
			li {
				.sub-menu {
					.sub-links {
						li {
							a {
								img {
									width: 100%;
								}
							}
						}

						&.categories {
							li {
								a {
									padding: 0 8px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*
* Burger Menu for Product Category
*/

.toggle-category {
	width: 40px;
	height: 30px;
	position: absolute;
	margin: 2px auto;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 1;
	border: 1px solid #ccc;
	padding: 6px 9px;
	left: 10px;
	border-radius: 10px;
	display: none;
}

.toggle-category span {
	display: block;
	height: 2px;
	width: 100%;
	background: #000;
	border-radius: 9px;
	opacity: 1;
	position: relative;
}

.toggle-category span:nth-child(1) {
	top: 0px;
}

.toggle-category span:nth-child(2) {
	top: 5px;
}

.toggle-category span:nth-child(3) {
	top: 10px;
}

@media (max-width: $screen-md) {
	.toggle-category {
		display: block;
	}
}

.mobile-header-left {
	position: absolute;
	height: 100%;
	z-index: 99;
	display: flex;
	justify-content: center;
	flex-direction: column;

	&>span {
		padding: 15px;
	}
}


#login-as {
	height: 50px;
	line-height: 50px;
	z-index: 99;
	background: white;
	width: 100%;
	overflow-y: hidden;

	.login-as-inner {
		padding: 0 15px;
	}
}

.sales-header {
	border-top: 3px solid #000;
}



.btn.subscribe-today {
	float: right;

	margin: 10px 15px 10px 0;
	padding: 8px 12px;
	font-size: 11px;
	height: 34px;

	@media(min-width: 450px) {

		margin: 10px 15px;
		padding: 8px 15px;
		font-size: 12px;

	}

	@media(min-width: $screen-md-min) {

		padding: 8px 30px;
		font-size: 15px;
		height: auto;
	}
}

.se-pagesubscription,.se-pagesubscription-theme-plans,.se-pagesubscription-theme-legacy {
	

	.header-top {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}

	#app {
		padding-top: 55px;
	}

	.main-logo {
		float: none;
		width: 100%;
		flex-grow: 1;
	}

	.top-bar {
		height: auto;
	}

	.top-bar-footer {
		padding: 0;
		height: 60px;
		position: relative;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ccc;
		background: #f7f7f7;
	}

	@media(max-width: $screen-sm-max) {

		.mobile-header-left {
			display: none;
		}

		.top-bar {
			height: auto;
		}

		.main-logo {
			display: flex;
			align-items: stretch;
			flex-direction: column;
			height: 100%;
			margin-top: 0;
			justify-content: center;
			text-align: left;
			flex-grow: 1;

			a {
				img {
					max-width: 150px;
					padding-left: 15px;
					margin: 0;
				}
			}
		}
	}

	.se-nav-right {
		ul {
			li {
				padding: 0;

				a {
					right: initial;
				}
			}
		}
	}

	@media(max-width: 449px) {
		.main-logo {

			a {
				img {
					max-width: 130px;
				}
			}
		}

		.se-nav-right ul li a {
			font-size: 0;

			span {
				font-size: 14px;
				padding: 9px 9px;
				margin-right: 5px;
				line-height: 2em;
			}
		}
	}

	/* Generic */

	&.se-theme-generic {

		.top-bar-footer {
			background: white;
		}

		#app {
			padding-top: 70px;
		}

		.top-bar {
			background: $blue;
		}

		.section-image-wrapper {
			order: 2 !important;
		}

		.main-section {
			padding-top: 65px;
			padding-bottom: 10px;
		}

		.section-image {
			margin-bottom: 15px !important;
		}

		.section-copy {
			padding-bottom: 15px;
			padding-top: 15px;

			h1 {
				letter-spacing: 0px;
				font-weight: bold;
				font-size: 1.2778em;
			}
		}

		@media(max-width: $screen-sm-max) {

			.top-bar {
				height: auto;
			}

		}

		@media(min-width:$screen-sm-min) {
			.section-image-wrapper.section-image-wrapper-left {
				order: 0 !important;
			}

			#app{
				padding-top:118px;
			}

			.main-section {
				padding-top: 40px;
				padding-bottom: 40px;
			}
		}

		@media(min-width:$screen-md-min) {

			.section-copy {
				text-align: left;

				h1 {
					font-size: 1.7778em;
					margin-bottom: .2em;
				}
			}

			/*.main-section-image{
				width:45%;
			}

			.main-section-text{
				width:54.5%;
			}*/
		}

	}
}

.se-nav-right-continer {
	display: flex;
	align-items: center;
	flex-shrink: 1;
}