@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@mixin fadeFx($timeout) {
	-webkit-animation: fadein $timeout; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein $timeout; /* Firefox < 16 */
            -ms-animation: fadein $timeout; /* Internet Explorer */
            -o-animation: fadein $timeout; /* Opera < 12.1 */
                animation: fadein $timeout;
}

@mixin easeFx() {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}