.modal {
	&.fadeIn {
		animation-duration: .3s;
	}
}

#editaccount {
	.form-group {
		border: 1px solid #ccc;
		border-radius: 10px;
		padding: 3px;
		margin-bottom: 20px;
		label {
			position: relative;
			top: 10px;
			left: 10px;
			color: #ccc;
			font-weight: normal;
		}
		input,
		select {
			border: 0;
			outline: none !important;
			box-shadow: none;
		}
		&.hasError {
			border-color: $color-error;
		}
	}
}

.modal-footer {
	border: 0;
	.btn-half {
		float: left;
		width: 50%;
	}
}

.payment-method,
#payment-method {
	p {
		margin: 0;
	}
	.payment-method-img {
		max-width: 100%;
		float: right;
		margin: 40px 0 0;
	}
	.payment-method-selection {
		input {
			display: none;
		}
		label {
			margin-bottom: 0;
			padding: 20px 0 40px;
			display: block;
			text-align: center;
			>&:before,
			>&:after {
				display: none !important;
			}
			.se-icon {
				display: block;
				margin: 0 auto;
			}
		}
		.input-inner {
			border: 1px solid #ccc;
			border-inset: 1px solid red;
			border-radius: 10px;
			position: relative;
			&:hover {
				border-color: #00a651;
				webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 166, 81, 1);
				-moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 166, 81, 1);
				box-shadow: inset 0px 1px 5px 0px rgba(0, 166, 81, 1);
			}
			i {
				font-style: normal;
				text-align: center;
				font-family: $font-primary;
				position: absolute;
			}
			div.label {
				position: absolute;
				color: #333;
				bottom: 10px;
				left: 50%;
				transform: translate(-50%);
				font-size: 14px;
				font-weight: normal;
				&:after {
					content: "";
					display: none;
					z-index: 1;
				}
			}
			&.checked {
				border-color: #00a651;
				webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 166, 81, 1);
				-moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 166, 81, 1);
				box-shadow: inset 0px 1px 5px 0px rgba(0, 166, 81, 1);
				&:after {
					font-family: 'themify';
					content: "";
					width: 30px;
					height: 30px;
					background-image: url(#{$get-path-to-img}check-checked.png);
					display: block;
					position: absolute;
					right: -1px;
					top: -1px;
					border-top-right-radius: 10px;
				}
			}
		}
	}
	.content-method {
		display: none;
		&.active {
			display: block;
		}
		.btn {
			span {
				display: inline-block;
				position: relative;
				top: 3px;
			}
		}
	}
}

#update-notification {
	.unsubscribe {
		margin: 10px 0 0;
		a {
			color: #ccc;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#recent-orders {
	.modal-header {
		padding-bottom: 0;
	}
	.text {
		font-size: small;
	}
	.border {
		height: 2px;
		width: 100%;
		background-color: $blue;
		margin: 20px 0 10px;
	}
	.recent-item {
		border: 1px solid #ccc;
		padding: 15px 20px;
		position: relative;
		margin-top: 10px;
		@extend .clearfix;
		.image {
			float: left;
			width: 100px;
			margin-right: 15px;
			img {
				max-width: 100%;
			}
		}
		.price {
			position: absolute;
			right: 20px;
			bottom: 20px;
		}
		.toggle-heart {
			position: absolute;
			right: 20px;
			top: 20px;
		}
		.item-title {
			margin: 20px 0 0;
			.qty-text {
				display: block;
				margin: 20px 0 0;
			}
		}
		.toggle-heart {
			.active {
				color: red;
			}
		}
	}
	.total-list {
		margin-bottom: 15px;
		label {
			font-weight: normal;
		}
	}
	.shipping,
	.method {
		border-top: 1px solid #ccc;
		padding: 10px 0;
		h2 {
			font-size: 1em;
			font-weight: bold;
			margin: 15px 0;
		}
		span {
			display: block;
			color: #aaa;
		}
	}
}

.modal {
	text-align: center;
	padding: 0 !important;
	.modal-header {
		h1,
		h2,
		h3,
		h4,
		h5 {
			margin: 0.67em 0 0;
		}
	}
	.modal-footer {
		padding-bottom: 30px;
	}
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.checkout-flow {
	font-size: small;
	display: flex;
	input {
		height: 60px;
	}
	h2 {
		font-size: 1.5em;
	}
	label {
		font-weight: normal;
		color: #ccc;
	}
	.checkout-wizard {
		border-right: 1px solid #ccc;
		padding-right: 15px;
		width: 65%;
		.wizard-content {
			display: none;
			&.active {
				display: block;
			}
		}
		.gift-form {
			border-top: 1px solid #ccc;
			padding-top: 15px;
			textarea {
				resize: none;
			}
			.summary-content {
				margin-bottom: 15px;
				.summary {
					border-bottom: 1px solid #ccc;
					padding-bottom: 20px;
					.left,
					.right {
						position: relative;
						label {
							display: block;
						}
						span {
							color: #ccc;
							font-size: 18px;
							font-weight: 300;
						}
						.edit {
							position: absolute;
							right: 0;
							top: 0;
							color: #999;
							text-decoration: underline;
						}
					}
					.left {
						width: 30%;
						float: left;
					}
					.right {
						width: 70%;
						padding-left: 20px;
						border-left: 1px solid #ccc;
						float: left;
					}
				}
			}
		}
		ul {
			li {
				width: calc(100% / 3);
				float: left;
				a {
					width: 100%;
					display: block;
					position: relative;
					margin-right: 10px;
					text-align: center;
				}
				&.active {
					a {
						background: $green;
					}
				}
			}
		}
		.country-select {
			border: 1px solid #ccc;
			padding: 6px 15px;
			border-radius: 5px;
			position: relative;
			select {
				border: 0;
				box-shadow: none !important;
				appearance: none;
				padding: 0 5px;
				height: 32px;
			}
			&:after {
				font-family: "themify";
				content: "\e64b";
				display: inline-block;
				position: absolute;
				right: 15px;
				bottom: 15px;
			}
			label {
				margin: 0;
			}
		}
		.bind-input {
			border: 1px solid #ccc;
			border-radius: 5px;
			padding: 6px 15px;
			label {
				margin: 0;
			}
			input {
				border: 0;
				padding: 0;
				height: 32px;
			}
		}
		.reset-select {
			border: 1px solid #ccc;
			padding: 6px 15px;
			border-radius: 5px;
			position: relative;
			select {
				border: 0;
				box-shadow: none !important;
				appearance: none;
				padding: 0 5px;
				height: 32px;
			}
			&:after {
				font-family: "themify";
				content: "\e64b";
				display: inline-block;
				position: absolute;
				right: 15px;
				bottom: 10px;
			}
			label {
				margin: 0;
			}
		}
	}
	.checkout-help {
		width: 35%;
		padding-left: 20px;
	}
}

// wizard arrow
.checkout-wizard ul {
	margin: 0px 0 20px;
}

.checkout-wizard ul li {
	background-color: #f0f0f0;
}

.checkout-wizard ul li a {
	color: black;
	padding: 3px 6px;
	cursor: pointer;
}

.checkout-wizard ul li a::after {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	/* Go big on the size, and let overflow hide */
	border-bottom: 12px solid transparent;
	border-left: 10px solid #f0f0f0;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	left: 100%;
	z-index: 2;
}

.checkout-wizard ul li.active {
	background-color: $green;
}

.checkout-wizard ul li.active a {
	color: #fff;
}

.checkout-wizard ul li.active a::after {
	border-left: 10px solid $green;
}

.checkout-wizard ul li a::before {
	content: " ";
	display: block;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 10px solid white;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	margin-left: 1px;
	left: 100%;
	z-index: 1;
}

.checkout-wizard ul li a {
	background: transparent !important;
	color: black;
	cursor: default;
}

.checkout-wizard ul li:last-child a::after {
	border: 0;
}

.modal.video-modal {
	.modal-dialog {
		width: 640px;
		max-width: 90%;
	}
	.modal-body {
		background-color: black;
		padding: 0;
	}
}

.modal-content {
	min-height: 100px;
}

.swal-title{
	font-size: 22px;
}
.swal-modal.buttons-vertical{
	.swal-button-container{
		display:block;
		width:100%;
	}
	.swal-footer,.swal-text{
		text-align: center;
	}
}