.store-orders {
    .order-header {
        margin-bottom: 20px;
        border-bottom: 2px solid $blue;
        h3 {
            margin-top: 0;
        }
        a {
            text-decoration: underline;
            position: relative;
            top: 5px;
        }
    }
    .order-items {
        margin-top: 10px;
        border: 1px solid #d6d6d6;
        .product-detail {
            img {
                float: left;
                max-width: 100px;
                width: 100px;
                height: 100px;
                margin-right: 10px;
            }
            h4 {
                font-size: 14px;
                margin-top: 0;
                font-weight: bold;
            }
            .order-no {
                padding: 15px 0;
                h4 {
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
            }
        }
        .item {
            background-color: #fff;
            padding: 15px;
        }
        .order-detail-right {
            margin: 0;
            padding: 15px 20px 0 0px;
            font-weight: bold;
            p {
                margin-bottom: 0;
            }
            &:before {
                font-family: 'themify';
                content: "\e649";
                font-size: 17px;
                color: #555;
                position: absolute;
                top: 50%;
                right: 0px;
                transition: .3s;
                transform: translate(0%, -50%);
                border: none;
                padding: 0;
                display: block;
            }
        }
        p {
            margin-bottom: 0;
        }
        .data {
            font-weight: bold;
            padding-top: 15px;
            text-transform: uppercase;
        }
    }
}

.status {
    text-transform: uppercase;
    &.completed {
        color: $blue;
    }
    &.processing {
        color: $green;
    }
    &.pending {
        color: #ffcc99;
    }
}

.gift-card {
    .code {
        background: $green;
        font-weight: bold;
        font-size: 2em;
        color: white;
        padding: 30px;
        display: inline-block;
        margin: 20px 0;
    }
}

/** Wholesale order form **/

.wholesaler-order-form {
    .product-row {
        display: flex;
        align-items: center;
        padding: 15px;
        &:nth-child(odd) {
            @extend .bg-default;
            input{
                background: white;
            }
        }
    }
    .img-holder {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        overflow: hidden;
        padding: 5px;
        img {
            vertical-align: middle;
            max-width: 100%;
        }
    }
    .product-details {
        @media(min-width: $screen-sm-min) {
            display:flex;
            align-items: center;
            flex-basis: 60%;
        }
    }
    .product-name {
        margin-bottom: 5px;
        padding: 5px;
    }
    .product-sku {
        margin-bottom: 5px;
        padding: 5px;
        @media(min-width: $screen-sm-min) {
            flex-basis: 25%;
            text-align: center;
        }
    }
    .product-price {
        margin-bottom: 5px;
        font-weight: bold;
        padding: 5px;
        @media(min-width: $screen-sm-min) {
            flex-basis: 15%;
            text-align: center;
        }
    }
    .product-quantity {
        height: 100%;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 30%;
        align-self: right;
        input{
            font-weight: bold;
            text-align:center;
            border-radius: 20px;
            border: none;
            background: #f8f8f8;
            padding: 20px;
        }
        @media(min-width: $screen-sm-min) {
            flex-basis: 10%;
        }
        padding:5px;
    }
    .product-item {
        flex-grow: 1;
        font-size: 1em;
        text-align: left;
        flex-basis: 65%;
        @media(min-width: $screen-sm-min) {
            display:flex;
            align-items: center;
        }
    }
    .list-header {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        display: none;
        @media(min-width: $screen-sm-min) {
            display: flex;
            align-items: center;
        }
        .header-product {
            text-align: left;
            flex-basis: 53.88%;
            padding: 5px 5px 5px 20px;
        }
        .header-sku {
            padding: 5px;
            flex-basis: 21.8%;
        }
        .header-price {
            padding: 5px;
            flex-basis: 13.2%;
        }
        .header-quantity {
            padding: 5px;
            flex-basis: 9.9%;
        }
    }
}