.product-list {
  font-family: $font-secondary;
  display: flex;
  flex-wrap: wrap;

  .product-title {
    font-weight: bold;
    padding: 15px 9px 0;
    margin: 0;
  }

  .stampede-review-area {
    padding: 0 9px;
  }

  .thumbnail {
    img {
      max-width: 100%;
    }

    .caption {
      padding-top: 5px;
      padding-bottom: 5px;

      .add-to-cart {
        position: relative;
        top: -20px;
        border: 1px solid #000;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        outline: none;
        font-size: 30px;
        line-height: 17px;

        span {
          color: #000;
        }
      }

      .more-detail {
        border-top: 1px solid #ccc;
        padding: 10px 0 0;
        height: 40px;

        p {
          font-size: 16px;
          margin-bottom: 0;

          &.price {
            font-weight: bold;
          }
        }

        &.category--v {
          .lead {
            display: inline-block;
            padding-right: 5px;
            padding-top: 5px;
            padding-bottom: 5px;

            &.oz {
              padding-left: 5px;
              color: #666666;
            }
          }

          .btn-cart-add {
            height: 30px;
            line-height: 16px;
          }

          &.basket-count {
            text-align: center;

            button {
              height: 25px;
              line-height: 16px;
              border-radius: 5px;
              padding: 3px 6px;

              span {
                color: #fff;
              }
            }

            p {
              line-height: 1em;
            }

            .counter-box {
              position: absolute;
              top: -4px;
              width: 120px;
              margin: 0 auto;
              display: block;
              left: 50%;
              transform: translate(-50%);
            }
          }
        }
      }
    }
  }
}

// product category page
.products-category {
  min-height: 300px;

  .product-list {
    .stamped-badge-caption {
      display: none;
    }

    .thumbnail {
      position: relative;
      border: 0;

      .overlay-box {
        content: "";
        display: none;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        right: 0;
        position: absolute;

        a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #fff;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }

      &:hover {
        .overlay-box {
          @include fadeFx(0.5s);
          display: block;
        }
      }

      img {
        margin-bottom: 0;
      }

      .thumb-box {
        display: block;
        overflow: hidden;
        position: relative;

        .caption-top {
          padding: 0 9px;
          height: 65px;
          position: absolute;
          bottom: 0;

          a {
            display: block;
          }

          h4 {
            font-weight: bold;
          }
        }

        .list-group-image {
          @include fadeFx(0.8s);

          &:nth-child(2) {
            display: none;
          }
        }

        &.hovered {
          .list-group-image {
            &:nth-child(1) {
              display: none;
            }

            &:nth-child(2) {
              display: block;
            }
          }
        }
      }
    }

    .item {
      @media (max-width: $screen-xs-max) {
        padding-right: 5px;
        padding-left: 5px;
        flex-basis: 50%;
      }
    }
  }

  .products-category-container {
    background-color: #f9f9f9;

    .sidebar {
      transition: left 0.35s ease-in-out;

      @media (max-width: $screen-xs-max) {
        position: absolute;
        z-index: 999;
        height: 100%;
        top: 0;
        background: white;
        left: -100%;

        &.open {
          left: 0;
        }
      }

      .sidebar-inner {
        padding: 0 10px 10px;

        .sidebar-title {
          margin: 0 0 15px;
        }

        ul {
          padding: 0;
          margin: 0 0 20px;

          li {
            a {
              padding: 3px 0;

              &:hover {
                color: $blue;
              }
            }
          }
        }

        #category-sidebar-closer {
          position: absolute;
          right: 0;
          top: 40%;
          font-size: 2.5em;

          @media (min-width: $screen-sm-min) {
            display: none;
          }
        }
      }
    }

    .product-listing {
      .product-filter {
        margin-bottom: 15px;
        justify-content: space-between;

        .product-filter-inner {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .search-form {
          width: 200px;

          .form-control {
            border-right: 0;

            &:focus {
              border-color: #ccc;
            }
          }

          .input-group-addon {
            background-color: #fff;
            border-left: 0;
          }
        }

        .category-buttonlink > span {
          border: 1px solid;
          padding: 5px 8px 5px 11px;
          border-radius: 8px;
        }

        .product-sorter-dropdown {
          width: auto;

          select {
            background: none;
            box-shadow: none;
            border: 1px solid #585858;
            border-radius: 8px;
          }
        }

        .dropdown {
          text-align: center;

          button {
            background-color: transparent;
            border: 0;
          }

          .dropdown-toggle {
            outline: none;

            span {
              position: relative;
              top: 3px;
            }
          }

          .dropdown-menu {
            text-align: center;
            @include fadeFx(1s);

            li {
              &:not(:last-child) {
                border-bottom: 1px solid #d6d6d6;
              }

              a {
                padding: 6px 12px;

                &:hover {
                  background: $blue;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .caption {
    position: relative;
  }
}

.rating {
  .checked {
    color: orange;
  }
}

.product-gallery {
  display: flex;
  overflow: hidden;

  .slider-main {
    width: 88.5%;
    margin: 0 auto 20px;

    img {
      max-width: 560px;
      width: 100%;
    }

    .image {
      width: 100%;
      height: 450px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .slick-prev {
      left: -30px;
    }

    .slick-next {
      right: -30px;
    }
  }

  .slider-thumb {
    flex-shrink: 0;
    width: 12.5%;

    &.slider-nav {
      margin-top: 0px;
    }

    .slick-slide {
      float: none;
      cursor: pointer;
      width: 100% !important;

      .slide-item {
        .image {
          margin: 0 auto;
          display: block;
          width: 100%;
          height: 0;
          padding-top: 100%;
          background-size: 100% 100%;
          background-position: center;
          border: 1px solid #ccc;
          filter: grayscale(100%);
        }
      }

      &.is-active {
        .image {
          filter: grayscale(0%);
        }
      }
    }

    .slick-next {
      right: 0;
    }

    .slick-prev {
      left: 0;
    }

    .slick-track {
      width: 100% !important;
    }
  }
}

.gcms-w {
  padding: 10px;
  margin-top: 10px;

  span {
    border: 1px solid #27ae60;
    background: #2ecc71;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    cursor: pointer;
  }
}
#gcms-mod {
  .modal-header {
    background: #00b4ca;
    h4 {
      color: #fff;
    }
  }
  #productLabel {
    margin-bottom: 5px;
    color: #00b4ca;
    font-weight: bold;
  }
  img {
    height: auto;
    max-width:100%;
  }
  .a-info {
    font-size: 13px;
    margin-top: 10px;
  }
  .b-info {
    columns:1;
    padding: 10px;
    ul {
      padding: 10px;
      width:100%;
      break-inside: avoid;
      label {
        font-size: 13px;
        background: #eee;
        padding: 1px 10px;
        width: 100%;
      }
      li {
        font-size: 13px;
        padding: 0 10px;
        border-bottom:1px solid #dedede;

        span {
          float: right;
        }
      }
    }

    
    @media(min-width:$screen-sm-min)
    {
      columns:2;
    }
  }
  .close {
    font-size: 40px !important;
  }
}

.product-description {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .opt-desc {
    p {
      display: inline-block;
      color: #767676;
    }
  }

  .description {
    max-height: 9em;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;

    .more-button {
      text-decoration: underline;
    }
  }

  .description-footer {
    padding: 15px 0;
    border-top: 2px solid #d0d0d0;

    .price {
      font-size: 1.5em;
      font-weight: bold;
    }

    .oz {
      color: #777;
      position: relative;
      top: 7px;
    }

    .add-to-cart {
      margin: 20px 0;
    }

    .thumbnail {
      display: flex;
      align-items: center;
      margin: 10px 0;
      border: 0;
      background: transparent;

      img {
        margin: 0 15px 0 0;
      }

      .img-box {
        width: 15%;
      }
    }
  }
}

.product-detail-tab {
  display: flex;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  &.nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border: none;
  }

  > li {
    flex-grow: 1;
    float: none;
    border-bottom: 1px solid #ccc;

    &.active {
      border-bottom: 1px solid #fff;
      border-right: 1px solid #ccc;
    }

    width: calc(100% / 3);

    &:not(:last-child) {
      border-right: 1px solid #ccc;
    }

    > a {
      margin-right: 0;
      border-radius: 0;
      text-align: center;
      border: none;

      &:hover,
      &:focus {
        border: none;
      }
    }

    &.active {
      > a {
        background: none;
        border: none;
        font-weight: bold;

        &:hover {
          border: none;
        }

        &:after {
          content: url(#{$get-path-to-img}arrow-up.png);
          display: block;
          width: 13px;
          height: 7px;
          left: 50%;
          position: absolute;
          bottom: 7px;
          transform: translate(-50%);
        }
      }
    }
  }

  > li:last-child {
    border-right: none;
  }
}

.product-detail-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: 0;

  ul {
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
  }

  ol {
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 40px;
  }
}

.strike {
  opacity: 0.5;
  font-size: 0.9em;
  text-decoration: line-through;
}

/** variants **/
.variant-attribute {
  display: inline-block;
  width: 70px;
  margin: 10px 5px;
  cursor: pointer;
  border: 3px solid transparent;
  height: 70px;
  vertical-align: middle;
  overflow: hidden;

  &.active {
    border-color: #ccc;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  cursor: pointer;
}

.gcms-blends{
  display:flex;
  padding: 15px 10px 0;
  .gcms-blend{
    width:16.66%;
    padding:5px;
    text-align:center;
    .gcms-blend-image{
      min-height:100px;
      img{
        max-width: 100%;
        height: auto !important;
        border: 1px solid #DEDEDE;
      }
    }
  }
}