.referral-coupon-code{
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
        background:white;
    }
}

.referral-invite {
    .referral-input-lg {
        padding: 20px;
        font-size: 20px;
    }

    .referral-btn-lg {
        margin-bottom: 0px !important;
    }

    .referral-code-btn {
        background-color: #6A6A6A;
        border-radius: 0 !important;
        color: white;
        border: 1px solid #6A6A6A;
    }

    .referral-bigger-fonts-section {
        h1 {
            font-size: 45px;
        }

        p {
            font-size: 20px;
        }
    }

    .referral-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        justify-content: space-between;

        margin-top:10px;

        .pd3 {
            padding: 0px 3px;
        }
        > span {
            width:50%;
            img{
                max-width: 100%;
            }
        }
    }

    .referral-login {
        margin: 200px 0px;
    }

    .fb-share-button {
        display: inline;
    }

    .referral-contacts {
        text-decoration:none;
    }

}

.referral-program-label {
    margin: 0px 0px 50px 0px;
}

.referral-invite-desc {
    font-size: 17px;
}

.se-pagereferral-invites{
    .se-accordion{
        .panel-heading[data-toggle="collapse"]:after{
            color:#727272;
        }
        .panel-title{
            font-size:23px;
        }
        .panel-body{
            font-size:18px;
        }
    }
}
