.product-description {
    .description-footer {
        > .sales-page-price {
            padding: 8px 20px;
            background: white;
            display: inline;
            color: #3DB871;
            border-radius: 20px;
            font-weight: 900;
        }
        .sales-page-thumbnail {
            background-color: #f8f8f8;
        }
    }
}

.sales-header {
    .main-logo {
        img {
            width: 75%;
        }
    }

    @media (max-width: 992px) {
        .main-logo {
            width: 400px;
            display: block;
            margin: 0 auto;
        }

        .sales-header-text {
            display: block;
            text-align: center;
            float: none !important;
        }
    }
}
.sales-body {
    .sales-body-headline {
        font-size: 39px;
    }
}
.sales-double-bands {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;

    ul {
        li {
            .circle-100-day {
                width: 50px;
                height: 50px;
                border-radius: 50%;

                > p {
                    color: white;
                }

                p:nth-child(1) {
                    font-size: 15px;
                    position: relative;
                    top: 5px;
                }

                p:last-child {
                    font-size: 13px;
                    position: relative;
                    top: -2px;
                }
            }
            button {
                position: relative;
                top: -8px;
            }
        }
    }

    @media (max-width: 768px) {
        ul {
            li {
                h1 {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 992px) {
        padding: 0px;

        ul {
            li {
                margin: 6px 0px;
                h1 {
                    font-size: 25px;
                }
            }
        }
    }
}
