
.half-half-container {
    padding: 0;
    .text-half {
        .section-copy {
            padding: 30px 5% 50px;
        }
    }
    .image-half {
        padding-top: 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    @media(min-width:$screen-sm-min) {
        height:384px;
        .image-container {
            position: relative;
            width: 50%;
            float: right;
            height: 100%;
            .image-half {
                padding-right: 100%;
                background-size: 384px auto;
                background-position: left;
                position: absolute;
                top: 50%;
                width: 90%;
                margin: auto 0;
                transform: translateY(-50%);
            }
        }
        .text-half {
            float: left;
            width: 50%;
            height: 100%;
            position: relative;
            .section-copy {
                position: absolute;
                width:384px;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
        &.half-half-container-left {
            .text-half {
                float: right;
                .section-copy {
                    right: auto;
                    left: 0;
                }
            }
            .image-container {
                float: left;
                .image-half {
                    right:0;
                    background-position: right;
                }
            }
        }
    }
    @media(min-width:$screen-md-min) {
        height: 480px;
        .section-copy {
            max-width: 380px;
        }
    }
    @media(min-width:$screen-lg-min) {
        height: 600px;
        .image-container {
            .image-half {
                padding-right: 100%;
                background-size: 480px auto;
            }
        }
        .text-half {
            .section-copy {
                width: 500px;
                max-width: none;
            }
        }
    }
}



.our-story-header-text{
    max-width: 460px;
    margin: 0 auto;
}

.cta-section.cta-section-reviews
{
    padding:20px 0;
    .section-title
    {
        margin-top:0;
        margin-bottom:0;
        font-size:44px;
    }
}