@charset "UTF-8";

// Default Variables
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "\2190" !default;
$slick-next-character: "\2192" !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 26px !default;
$slick-opacity-default: 0.5 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 70px;
    width: 65px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: hsla(360, 100%, 100%, 0.30);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    color: transparent;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    z-index: 400;
    top: 50%;
    background-size: 40px 65px;

    &:hover,
    &:focus {
        // outline: none;
        // background-color: #fff;
        color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40px 65px;

        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }

    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }

    &:before {
        font-size: 20px;
        // line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: 15px;
    background-image: url(../images/slick-arrow-left.png);

    [dir="rtl"] & {
        left: auto;
        right: 25px;
    }

    &:hover {
        background-image: url(../images/slick-arrow-left.png);
    }

    &:before {
        background-image: url(../images/slick-arrow-left.png);

        [dir="rtl"] & {
            content: $slick-next-character;
        }
    }
}

.slick-next {
    right: 15px;
    background-image: url(../images/slick-arrow-right.png);

    [dir="rtl"] & {
        left: 25px;
        right: auto;
    }

    &:hover {
        background-image: url(../images/slick-arrow-right.png);
    }

    &:before {
        background-image: url(../images/slick-arrow-right.png);

        [dir="rtl"] & {
            content: $slick-prev-character;
        }
    }
}

/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: 5px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;

            &:hover,
            &:focus {
                outline: none;

                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: 20px;
                height: 20px;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

/* Slider */

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;

    [dir="rtl"] & {
        float: right;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

.slider-nav {
    margin-top: 40px;

    .slick-slide {
        padding: 0 5px;
        outline: none;

        .holder {
            height: 185px;
            position: relative;
        }

        img {}
    }

    .slick-prev,
    .slick-next {
        height: 35px;
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .slick-prev {
        left: 20px;
    }

    .slick-next {
        right: 20px;
    }
}

@media (max-width: 960px) {

    .slick-prev,
    .slick-next {
        height: 98px;
        width: 60px;
        background-size: 60px 98px;
    }
}

@media (max-width: 728px) {

    .slick-prev,
    .slick-next {
        height: 65px;
        width: 40px;
        background-size: 40px 65px;
    }
}

.recipe-container {
    width: 100%;
    position: relative;
}

.recipe-gallery {

    .slider-main {
        border: 1px solid #CCCCCC;

        .slick-slide {

            > div {
                height:100%;
            }

            .recipe-video-container{
                height:100% !important;
            }

            .video-container {
                width: 100%;
                height: 100% !important;
                display:block;
                position: absolute;
                left:0;
                top:0;

                .recipe-header{
                    position: absolute;
                    left:0;
                    top:0;
                    background-color:$blue;
                    color:white;
                    padding:2px 15px;
                }

                .fa-play {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    color:white;
                    padding: 20px 25px;
                    background-color:rgba(94, 202, 139, .68);
                    cursor: pointer;
                }
                .videoPlayer iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .slider-thumb {

        margin-top: 15px;
        margin-bottom:0;

        .slick-list {
            padding: 0 !important;
            margin-left: -5px;
            margin-right: -5px;
        }

        .slick-track {
            /*display:flex;
            justify-content: space-between;
            width:100% !important;
            &:before, &:after{
                display:none;
            }*/
        }

        .slick-slide {

            height: 72px;
            padding: 0 !important;
            position: relative;
            overflow: hidden;
            margin-right: 6px;
            margin-left: 5px;
            border: 1px solid #CCCCCC;

            &.slick-current {
                opacity: .5;
            }

            img {
                max-width: none;
                height: 72px;
                width: auto;
                position: absolute;
                top: -9999px;
                bottom: -9999px;
                left: -9999px;
                right: -9999px;
                margin: auto;
                width: auto;
            }
        }
    }



    .slider-nav .slick-prev,
    .slider-nav .slick-next {
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-color: rgba(94, 202, 139, .68);
        padding: 20px;
        color: black;
        border-radius: 50%;
        cursor: pointer;
    }

    @media(min-width:$screen-md-min) {
        .slider-main {
            border: 1px solid #CCCCCC;

            .slick-slide {
                height: 283px;
            }
        }

        .slider-thumb {

            .slick-slide {

                height: 106px;
                width: auto;

                img {
                    height: 106px;
                    width: auto;
                }
            }
        }
    }
}