.se-icon {
    background-image: url(#{$get-path-to-img}se-sprite-2.0.png);
    background-repeat: no-repeat;
    display: block;
}

.icon-13icon {
    width: 200px;
    height: 63px;
    background-position: -5px -5px;
}

.icon-basket {
    width: 24px;
    height: 22px;
    background-position: -215px -5px;
}

.icon-ccard {
    width: 64px;
    height: 64px;
    background-position: -249px -5px;
}

.icon-check {
    width: 27px;
    height: 24px;
    background-position: -5px -79px;
}

.icon-check-icon {
    width: 23px;
    height: 24px;
    background-position: -42px -79px;
}

.icon-doterra {
    width: 157px;
    height: 37px;
    background-position: -75px -78px;
}

.icon-fb-rec {
    width: 63px;
    height: 26px;
    background-position: -242px -79px;
}

.icon-github {
    width: 30px;
    height: 30px;
    background-position: -5px -115px;
}

.icon-gmail {
    width: 30px;
    height: 30px;
    background-position: -242px -115px;
}

.icon-google-rec {
    width: 63px;
    height: 26px;
    background-position: -5px -155px;
}

.icon-green-check {
    width: 35px;
    height: 31px;
    background-position: -282px -115px;
}

.icon-linkedin {
    width: 30px;
    height: 30px;
    background-position: -78px -156px;
}

.icon-lock {
    width: 38px;
    height: 46px;
    background-position: -118px -156px;
}

.icon-logo-doterra {
    width: 150px;
    height: 28px;
    background-position: -166px -156px;
}

.icon-package {
    width: 50px;
    height: 50px;
    background-position: -110px -210px;
}

.icon-paypal {
    width: 44px;
    height: 12px;
    background-position: -166px -194px;
}

.icon-paypal-p {
    width: 64px;
    height: 64px;
    background-position: -220px -194px;
}

.icon-paypal-text {
    width: 64px;
    height: 18px;
    background-position: -5px -268px;
}

.icon-paypal-text-white {
    width: 64px;
    height: 18px;
    background-position: -79px -268px;
}

.icon-pinit-rec {
    width: 63px;
    height: 26px;
    background-position: -153px -268px;
}

.icon-quick-order-form {
    width: 67px;
    height: 75px;
    background-position: -323px -5px;
}

.icon-se-logo {
    width: 187px;
    height: 27px;
    background-position: -5px -304px;
}

.icon-stackoverflow {
    width: 30px;
    height: 30px;
    background-position: -327px -90px;
}

.icon-tumblr {
    width: 30px;
    height: 30px;
    background-position: -367px -90px;
}

.icon-twitter {
    width: 30px;
    height: 30px;
    background-position: -327px -130px;
}

.icon-twitter-rec {
    width: 63px;
    height: 26px;
    background-position: -326px -170px;
}

.icon-users-group {
    width: 49px;
    height: 38px;
    background-position: -47px -206px;
}

.icon-young-living {
    width: 200px;
    height: 63px;
    background-position: -5px -341px;
}