.store-header {
  padding: 0;
}

.store {
  border: 1px solid #ccc;
  padding: 30px;

  label {
    text-transform: uppercase;
    font-size: 13px;
  }

  .col-md-10,
  .col-md-12 {
    padding-left: 0 !important;
  }

  div[class^='col-md'] {
    margin-bottom: 10px;
  }

  #current-location {
    margin-bottom: 20px;
  }

  select {
    background: url(//cdn.shopify.com/s/files/1/0999/9046/t/48/assets/select.png) no-repeat 96% 50%;
  }

  select,
  input[type^='text'] {
    background-size: 18px 12px;
    min-height: 42px;
    -webkit-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background-color: #f8f8f8;
  }

  .btn-success {
    border-radius: 4px;
    padding: 10px 12px;
  }

  .btn-search-location {
    padding: 10px 100px;
    text-transform: uppercase;
  }

  hr {
    margin-top: 0;
  }
}

.location-list {
  font-size: 13px;
  height: 503px;
  overflow-x: auto;
  border: 1px solid #ccc;
  padding: 0;

  ul {
    display: block;
    clear: left;
    float: left;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;

    li:nth-child(even) {
      background-color: rgb(238, 238, 238);
    }

    li {
      box-sizing: border-box;
      clear: left;
      display: block;
      float: left;
      width: 100%;
      cursor: pointer;

      &>div {
        padding-left: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
      }

      #title {
        color: black;
        font-weight: bold;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
      }

      #description {
        p {
          margin: 0;
        }
      }
    }
  }
}

.col-md-9.map {
  padding-right: 0;
}
