.subscription-section {
    .header-bg-img {
        width: 100%;
    }

    .subscription-header {
        max-width: 1180px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .header-caption {
            max-width: 60%;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.92);
            text-align: center;
            padding: 2vw;
            border: 3px solid $blue;

            p {
                font-size: 1.5em;
                margin-bottom: 1em;
            }
        }

        &.position-right {
            right: 0;
            padding: 0 2%;
        }

        .section-title {
            margin-bottom: 0;
        }

        .sub-title {
            font-size: 2em;
            margin-bottom: 20px;

            span {
                color: $rose-gold;
            }
        }

        .btn {
            margin-bottom: 15px;
        }

        .header-footer-text {
            font-style: italic;
            font-size: 1.3em;
        }

        .btn-medium {
            font-weight: bold;
        }
    }
}

.subscription-boxes {
    .box-tab {
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        li {
            float: none;
            display: inline-block;

            a {
                border-color: transparent;
                background-color: transparent;
            }

            &.active>a,
            &.active>a:hover,
            &.active>a:focus {
                background-color: transparent;
                border-color: transparent;
            }

            &.active {
                &:after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background-color: $blue;
                }

                a {
                    color: $blue;
                }
            }
        }
    }

    .box-content {
        padding: 30px 0;
    }
}

.box-slider-nav {
    position: absolute;
    width: 900px;
    height: 509px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 400;
}

.slick-slide {

    .slick-prev,
    .slick-next {
        font-size: 1.5em;
        background: white;
        color: #000;
        height: 1.5em;
        width: 1.5em;
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }
}

.box-list-slider {
    .recipe-image {
        max-width: 900px;
        margin: 0 auto;
        display: block;
        position: relative;
        max-height: 300px;

        @media (min-width: $screen-md-min) {
            max-height: none;
        }
    }

    .slick-slide {
        margin: 0 117px;
    }

    .slick-slide {
        max-width: 900px !important;
        position: relative;
        outline: none;
        margin: 0 30px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        .box-inner {
            overflow: hidden;
            margin: 0 auto;
        }

        img {
            height: 510px;
            width: 900px;
        }

        .video-container {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .preview-img {
                max-width: 100%;
            }
        }

        &.slick-current {
            .video-container {
                visibility: visible;
            }
        }

        .videoPlayer iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .play-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            background-color: rgba(83, 205, 136, 0.7);

            span {
                padding: 10px 15px;
                color: #fff;
            }
        }

        .btn {
            margin: 20px 0 0 0;
        }

        h2,
        p {
            margin: 0.67em 30px 0;
        }
    }
}

@media (max-width: $screen-sm) {
    .subscription-boxes {
        .box-tab {
            li {
                a {
                    font-size: 12px;
                }
            }
        }
    }

    .box-list-slider {
        .slick-slide {
            width: 400px;

            h2 {
                font-size: 24px;
            }

            img {
                height: auto;
            }

            .play-video {
                span {
                    padding: 8px 12px;
                    font-size: 1em;
                }
            }
        }

        .slick-arrow {
            top: 27%;

            &.slick-next {
                width: 35px;
                height: 35px;
            }

            &.slick-prev {
                width: 35px;
                height: 35px;
            }
        }
    }
}

@media (max-width: $screen-xs) {
    .box-list-slider {
        .slick-slide {
            width: 300px;
        }

        .slick-arrow {
            top: 19%;
        }
    }
}

.nextbox-radio {
    display: none;
}

.widebox-item {
    text-align: center;
    border: 1px solid #666;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    display: block;
}

.widebox-item:hover,
.nextbox-radio:checked+.widebox-item {
    background: #efefef;
}

.gift-flow-step {
    h3 {
        margin-top: 0;
        border-bottom: 1px solid #ccc;
        padding-bottom: 7px;
    }

    small {
        line-height: normal;
        color: #555555;
    }
}

.modal-content.gift-flow {
    overflow: visible !important;

    .modal-body {
        overflow: visible !important;
    }

    .dropdown-menu {
        max-height: 200px;
        overflow-y: scroll;
    }
}

.vdp-datepicker__calendar .cell.selected {
    background: $green !important;
    border-color: $green !important;
    color: white;
}

.gift-success-message {
    img {
        max-width: 100%;
    }
}

.exchange-addons {
    .box-item:last-child {
        border-bottom: none;
    }
}

.box-products {
    .slick-slide {
        padding: 0 25px;

        img {
            max-width: 100%;
        }

        .product-name {
            margin: 10px 0;
            line-height: 1em;
            height: 1em;
            overflow: hidden;
        }
    }

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        z-index: 999;
        transform: translate(0, -50%);
        font-size: 2em;
    }

    .box-slide-arrow-prev {
        left: 0px;
    }

    .box-slide-arrow-next {
        right: 0px;
    }
}

ul.exchange-details-list {
    margin: 15px 0;
    list-style: disc;
    text-align: left;
    padding-left: 40px;
}

.exchange-buttons {
    display: flex;
    justify-content: space-between;

    button {
        width: 48%;
        height: 50px;
        flex-grow: 1;
        margin: 0 5px;
    }
}

#testimonial-slider {
    .slick-slide {
        @media (min-width: 600px) {
            padding: 0 15px;
        }
    }

    .slick-prev,
    .slick-next {
        @media (min-width: 600px) {
            display: none;
        }
    }
}

.subcription-ingredients {
    margin-bottom: 20px;
}

.subcription-ingredients {
    img {
        border-radius: 50%;
        height: 50px;
        margin-right: 10px;
    }
}

.sub-max-height {
    max-height: 76px;
}

.subcription-ingredients {
    p {
        margin-bottom: 0px !important;
        font-size: 14px;
        position: relative;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3.6em;
        /* (Number of lines you want visible) * (line-height) */
        line-height: 1.8em;
    }
}

.promo-bar {
    padding: 5px 0px;

    .offer-container {
        margin: 0;
        position: relative;
        top: 4px;
    }

    .col-center-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        >a,
        >button {
            padding: 20px 80px;
            border-radius: 30px;
        }
    }

    .countdown-timers {
        padding-left: 5px;
        padding-right: 5px;
        margin: 0px 15px;
        position: relative;

        ul {
            // position: absolute;
            // right: 0;

            >li {
                padding: 0;

                .circle {
                    height: 30px;
                    width: 30px;
                    text-align: center;
                    vertical-align: middle;
                    border-radius: 50%;
                    border: 1px solid #ffffff;
                    background-color: $blue;
                    font-size: 17px;

                    strong>h2 {
                        position: relative;
                        top: 14px;
                    }
                }

                >div {
                    h4 {
                        font-size: 10px;
                        position: relative;
                        top: 4px;
                    }

                    h6 {
                        font-size: 8px;
                        position: relative;
                        top: 4px;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 576px) {
        h4 {
            >.offer-span {
                white-space: nowrap;
            }
        }

        ul>li:last-child {
            display: inline-block !important;
        }
    }

    @media only screen and (min-width: 768px) {
        .md-offer-box {
            position: relative;
            top: -4px;
        }

        .offer-container {
            font-size: 28px;
        }

        .countdown-timers {
            >ul {
                padding: 3px 0;

                >li {
                    >.circle {
                        height: 40px;
                        width: 40px;

                        strong>h4 {
                            position: relative;
                            top: 3px;
                            font-size: 20px;
                        }

                        >h6 {
                            font-size: 7px;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 960px) {
        .countdown-timers {
            >ul {
                >li {
                    >.circle {
                        height: 50px;
                        width: 50px;

                        strong>h4 {
                            position: relative;
                            top: 7px;
                            font-size: 20px;
                        }

                        >h6 {
                            font-size: 7px;
                            position: relative;
                            top: 7px;
                        }
                    }
                }
            }
        }
    }
}

.in-subscribe-box {
    background-color: #ffffff;

    @media only screen and (max-width: 768px) {
        .main-logo-in-subscribe {
            float: left;
        }
    }

    .in-subscribe-button {
        margin-top: 3px;
    }
}

.in-subscribe-promise {

    .promise-container {

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            color: #838A8B;

            li {
                padding-left: 0;
                padding-right: 0;
                font-size: 12px;
                flex-basis: 50%;
                text-align: center;

                @media(min-width: $screen-sm-min) {
                    flex-basis: auto;
                }

                @media(min-width:$screen-md-min) {
                    font-size: 17px;
                }
            }
        }
    }


}

.nowrap {
    white-space: nowrap;
}

.subscription-main-banner {
    .section-copy {
        padding: 0;

        h1 {
            font-weight: 600;
        }
    }

    @media(max-width: $screen-sm-max) {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 0;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: -15px;

        .subscription-main-banner-image {
            order: 1 !important;
        }

        .subscription-main-banner-text {
            margin: 0 auto;
            margin-left: auto;
        }

        .section-copy {
            padding: 0;

            h1 {
                font-size: 1.8em !important;
            }

            .btn {
                width: 100%;
                margin: 0 0 15px !important;
            }
        }
    }
}

.cta-section.cta-section-small {
    padding: 20px 0;

    h3 {
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;

        @media(max-width: $screen-sm-max) {
            font-size: 4vw;
        }
    }

    .btn {
        display: inline-block;
        margin: 0 15px !important;
        font-size: .85em;
        padding: 8px 40px;

        &.btn-white {
            color: #195860;
        }
    }
}

.cta-section.cta-section-xs {
    padding: 7px 0;

    h3 {
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;

        @media(max-width: $screen-sm-max) {
            font-size: 4vw;
        }
    }

    .btn {
        display: inline-block;
        margin: 0 15px !important;
        font-size: .85em;
        padding: 3px 35px;

        &.btn-white {
            color: #195860;
        }
    }

    @media(min-width:$screen-sm-min) {
        padding: 14px 0;
    }
}


.top-bar.top-bar-subscription {
    height: 55px;
}

.top-bar.top-bar-wizard {
    .main-logo {
        text-align: center;
        width: auto;
    }

    .step-status {
        font-size: .8em;
        margin-top: 5px;
    }

    .chatbox {
        float: right;
        margin-top: 5px;
    }

    @media(min-width:560px) {
        .step-status {
            margin-top: 10px;
            font-size: 1em;
        }

        .chatbox {
            margin-top: 10px;
        }
    }
}

.top-bar-after {
    background: #F0F0F0;

    &:after {
        width: 50%;
        background: $green;
        height: 6px;
        display: block;
        content: "";
    }

    &.top-bar-after-final:after {
        width: 100%;
    }
}

.plan-box-area {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    margin: 0 auto;
    justify-content: space-between;

    .plan-box {
        position: relative;
        flex-basis: 100%;
        padding: 10px;
        background: white;
        border: 1px solid #D6D6D6;
        border-radius: 5px;
        margin-bottom: 20px;

        &:hover,
        &:focus {
            border-color: $blue;
        }

        .plan-badge {
            font-size: 0.7222em;
            line-height: 2em;
            position: absolute;
            padding-left: 15px;
            padding-right: 15px;
            top: -1px;
            left: -1px;
            background: $blue;
            color: white;
        }

        .plan-box-img {
            width: 35%;
            float: left;

            img {
                max-width: 100%;
            }
        }

        .plan-details {
            font-size: 0.7777em;
            width: 65%;
            float: left;
            padding-left: 10px;
            padding-right: 10px;

            h3 {
                font-size: 1.1em;
                font-weight: bold;
                margin-top: 0;
                margin-bottom: 0;
            }

            .plan-footer {
                font-size: 0.75em;
                line-height: 1em;
            }
        }

        @media(min-width:$screen-sm-min) {

            padding-top: 2em;
            flex-basis: 46%;

            .plan-box-img {
                float: none;
                margin: 0 auto;
                width: 100%;
                padding-left: 20%;
                padding-right: 20%;
                margin-bottom: 1em;
            }

            .plan-badge {
                font-size: 1em;
            }

            .plan-details {
                font-size: 1.1111em;
                float: none;
                text-align: center;
                width: 100%;
            }

            .plan-footer {
                margin-top: 1em;
            }
        }
    }
}

.combined-subscription-plan .plan-box-area {
    .plan-box {
        padding-right: 0;
        filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.11));
        fill: rgba(255, 255, 255, 1);
        stroke: rgb(214, 214, 214);
        stroke-width: 1px;
        stroke-linejoin: miter;
        stroke-linecap: butt;
        stroke-miterlimit: 4;
        shape-rendering: auto;

        .plan-details {
            padding-left: 0px;
            padding-right: 0px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;

            .plan-details-top {
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: auto;
            }

            .plan-details-bottom {
                width: 40%;
                text-align: left;
                background: url(#{$get-path-to-img}/boxes-icon-2.png) right bottom no-repeat;
                background-size: 40%;
            }

            &.plan-details-2 {
                .plan-details-bottom {
                    background-image: url(#{$get-path-to-img}/boxes-icon.png);
                }
            }


        }

        .plan-badge {
            top: -18px;
            left: 50%;
            background: #D9D9D9;
            transform: translateX(-50%);
            color: #292929;
            width: 55%;
            font-size:0.7777em;
            text-align: center;
            font-weight: bold;
            padding-top:3px;
            padding-bottom:3px;
        }

        .plan-badge-blue {
            background: $blue;
            color: white;
            text-transform: uppercase;
            font-size: 0.7em;
            line-height: 2em;
            padding: 5px 15px;
        }





        @media(min-width:$screen-sm-min) {
            .plan-details {
                height:100%;
                .plan-details-top {
                    width: 100%;
                }

                .plan-details-bottom {
                    width: 100%;
                    margin-top: 20px;
                    background-size: auto;
                    display: flex;
                    align-items: flex-end;
                    padding-left:15%;
                    margin-bottom:.5em;
                    .price-super-huge{
                        margin-top:15px;
                    }
                }
            }
        }

    }
}

fieldset.commitment-group {
    margin-bottom: 40px;

    legend {
        background: transparent;
        border: none;
        display: inline-block;
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0;
    }

    &.commitment-group-current {
        border-color: $blue;
    }
}

.reviewer-section {
    padding: 15px;
    margin-bottom: 15px;

    .review-title {
        font-weight: bold;
        font-size: 1.2778em;
        margin-top: 0;
    }

    img {
        float: left;
        margin-right: 15px;
    }

    .reviewer-rating {
        color: #FFD200;

        .fa-star {
            margin-right: 4px;
            font-size: 1.1em;
        }
    }

    .reviewer {
        @extend .clearfix;
        line-height: 120%;

        .reviewer-name {
            font-weight: bold;
            letter-spacing: 0;

            .verified {
                font-weight: normal;
                color: $green;
                font-size: 0.8235em;
            }
        }

        .reviewer-country {
            color: #B2B2B2;
            font-weight: normal;
            font-size: 0.8235em;
        }
    }
}

/* Join movement section */
.join-movement-section {
    background: $blue;
    color: white;
    text-align: center;

    .wide-title {
        font-size: 1.6667em;
    }
}

.speech-bubble-1 {
    fill: #f8f8f8;
    stroke: #d8d8d8;
}