.section-testimonial {
    padding-bottom: 0;

    @media(min-width:$screen-sm-min)
    {
        .testimonial-overview > div{
            width:49.95%;
        }
    }

    .section-title {
        margin-bottom: .5em;
    }

    .testimonial-box {
        padding-left: 5%;
        padding-right: 5%;
        max-width: 100%;
        margin:20px 0  0;
    }

    .social-intro-featured {
        text-align: center;

        .social-intro-featured-item {
            margin: 0;

            img {
                margin: 0 auto;
            }
        }

        &.active {
            opacity: 1;
        }

        .social-intro-user {
            font-size: 1.55em;
            color: $blue;
            margin-bottom: .75em;

            @media(max-width: $screen-xs-max) {
                font-size: 1.39em;
            }
        }

        figcaption {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;

            >p {
                font-size: 1.39em;
                line-height: 1.2em;
                max-width: 100%;

                @media(max-width: $screen-xs-max) {
                    font-size: 1em;
                }
            }
        }
    }

    .testimonial-image {
        background-color: white;
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px #666;
        padding: 40px 40px 20px;
        display: inline-block;
        text-align: center;
    }

    @media(max-width:$screen-xs-max) {
        padding-top: 0;

        .testimonial-image {
            text-align: center;
            width: 100%;
        }
    }
}

.testimonial-bg {
    margin-top: -20px;
    background:url(#{$get-path-to-img}testimonials-group.jpg) bottom center repeat-x;

    img {
        max-height: 320px;
        width: 100%;

    }

    @media(max-width:$screen-xs-max) {
        background-size: auto 100%;

        img {
            max-width: 100%;
            width: auto;
            min-height: 150px;
        }
    }
}