///////////////
// Variables //
///////////////
// Screen sizes
$screen-xs: 568px;
$screen-sm: 768px;
$screen-md: 960px;
$screen-lg: 1240px;
$screen-xl: 1980px;
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
// Fonts
$font-base: Arial,
'Helvetica Neue',
Helvetica,
sans-serif;
$font-alternative: 'Lato',
$font-base;
$font-primary: 'Brandon Text',
$font-base,
$font-alternative;
$font-secondary: 'Brandon Grotesque',
$font-base,
$font-alternative;
// Micro clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Image replacement technique
// http://nicolasgallagher.com/another-css-image-replacement-technique/
.ir {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

$get-path-to-img: "../images/";
$green: #5eca8b;
$blue: #00b4ca;
$dark-gray: #6b6b6b;
$light-gray: #e6e6e6;
$fb-color: #3b5997;
$primary-bg: #f7f7f7;
$rose-gold: #db8075;
$color-error: #d22c2c;
$black: #333;
@mixin fontawesome() {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	padding-right: 0.5em;
	position: absolute;
	top: 10px;
	left: 0;
}

/*FLEX*/

@mixin flex() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@mixin flex-reverse-column() {
	@include flex();
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

@mixin flex-reverse-row() {
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

@mixin flex-justify() {
	@include flex();
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

@mixin flex-center() {
	@include flex();
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin flex-middle() {
	@include flex();
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin flex-bottom() {
	@include flex();
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

//Positioning
@mixin centered-horizontal() {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

@mixin centered-vertical() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin centered-all() {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@mixin centered-full() {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

//Fluidity
@function fluidity($target,
$context) {
	@return percentage($target / $context);
}

// Border radius shorthand
@mixin borderradius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
}

// Border radius shorthand specific
@mixin borderradius_custom($radius-top,
$radius-left,
$radius-bottom,
$radius-right) {
	border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-webkit-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-moz-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-ms-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-o-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
}

//Text Shadow
@mixin textshadow($h-shadow,
$v-shadow,
$blur-radius,
$color) {
	-moz-shadow: $h-shadow $v-shadow $blur-radius $color;
	-webkit-text-shadow: $h-shadow $v-shadow $blur-radius $color;
	text-shadow: $h-shadow $v-shadow $blur-radius $color;
}

//Box Shadow
@mixin boxshadow($h-shadow,
$v-shadow,
$blur-radius,
$spread,
$color) {
	-moz-box-shadow: $h-shadow $v-shadow $blur-radius $spread $color;
	-webkit-box-shadow: $h-shadow $v-shadow $blur-radius $spread $color;
	box-shadow: $h-shadow $v-shadow $blur-radius $spread $color;
}

//Box Shadow
@mixin boxshadow_none($shadow) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

//Transition
@mixin transitionAll($speed,
$effect) {
	-webkit-transition: all $speed $effect;
	-moz-transition: all $speed $effect;
	-o-transition: all $speed $effect;
	transition: all $speed $effect;
}

//Gradients
.gradient-black {
	background: rgba(0, 0, 0, 0);
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.7)));
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

$spin-color: $green;
$spin-margin: 0 auto;
$use-fadeIn: true;
$use-fadeOut: true;
$use-zoomInLeft: true;