.video-with-text {
    .section-copy {
        h1 {
            letter-spacing: 2px;
            text-rendering: optimizeLegibility;
            max-width: 390px;
            margin-top: 0;
            line-height: 1em;

            &.wide-title {
                max-width:100%;
            }
        }

        .btn {
            margin-bottom: 20px;
        }
    }
    .section-video {
        width: 100%;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    > div[class^="col-"] {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &.copy-on-right {
        > div[class^="col-"] {
            &:nth-child(1) {
                order: 2;
            }
        }
    }
}

@media (max-width: 768px) {
    .video-with-text {
        > div[class^="col-"] {
            width: 100%;
            &:nth-child(1) {
                order: 2;
            }
        }
        .section-image {
            margin-bottom: 20px;
        }
    }
}