<template>
    <div class="item simple-content-cta">
        <div  v-if="colorPickerShow" class="hideClose" @click="colorPickerShow = !colorPickerShow"></div>
        <div class="position-relative border-none z-99">
            <div class="tools-wrapper">

                <a href="#" v-if="currentId !== 0" @click.prevent="triggerUp()">
                    <svg width="64" version="1.1" xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 64 64">
                        <g>
                            <path fill="#1D1D1B" d="M3.352,48.296l28.56-28.328l28.58,28.347c0.397,0.394,0.917,0.59,1.436,0.59c0.52,0,1.04-0.196,1.436-0.59   c0.793-0.787,0.793-2.062,0-2.849l-29.98-29.735c-0.2-0.2-0.494-0.375-0.757-0.475c-0.75-0.282-1.597-0.107-2.166,0.456   L0.479,45.447c-0.793,0.787-0.793,2.062,0,2.849C1.273,49.082,2.558,49.082,3.352,48.296z"/>
                        </g>
                    </svg>
                </a>
                <a href="#" v-if="currentId !== currentArry.length - 1" @click.prevent="triggerDown()">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                        <g>
                            <path d="m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z"/>
                        </g>
                    </svg>
                </a>
                <a href="#"  @click="triggerRemove()">
                    <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	                    viewBox="0 0 268.476 268.476" style="enable-background:new 0 0 268.476 268.476;" xml:space="preserve">
	                    <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M63.119,250.254c0,0,3.999,18.222,24.583,18.222h93.072
		                    c20.583,0,24.582-18.222,24.582-18.222l18.374-178.66H44.746L63.119,250.254z M170.035,98.442c0-4.943,4.006-8.949,8.949-8.949
		                    c4.943,0,8.95,4.006,8.95,8.949l-8.95,134.238c0,4.943-4.007,8.949-8.949,8.949c-4.942,0-8.949-4.007-8.949-8.949L170.035,98.442z
		                     M125.289,98.442c0-4.943,4.007-8.949,8.949-8.949c4.943,0,8.949,4.006,8.949,8.949v134.238c0,4.943-4.006,8.949-8.949,8.949
		                    c-4.943,0-8.949-4.007-8.949-8.949V98.442z M89.492,89.492c4.943,0,8.949,4.006,8.949,8.949l8.95,134.238
		                    c0,4.943-4.007,8.949-8.95,8.949c-4.942,0-8.949-4.007-8.949-8.949L80.543,98.442C80.543,93.499,84.55,89.492,89.492,89.492z
		                     M218.36,35.811h-39.376V17.899C178.984,4.322,174.593,0,161.086,0L107.39,0C95.001,0,89.492,6.001,89.492,17.899v17.913H50.116
		                    c-7.914,0-14.319,6.007-14.319,13.43c0,7.424,6.405,13.431,14.319,13.431H218.36c7.914,0,14.319-6.007,14.319-13.431
		                    C232.679,41.819,226.274,35.811,218.36,35.811z M161.086,35.811h-53.695l0.001-17.913h53.695V35.811z"/>
                    </svg>
                </a>
                <a href="#" v-if="editMode === true">
                    <div class="triggerAreaShow" @click="colorPickerShow = !colorPickerShow"></div>
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    	 width="431.985px" height="431.985px" viewBox="0 0 431.985 431.985" style="enable-background:new 0 0 431.985 431.985;"
                    	 xml:space="preserve">
                    	<path d="M423.257,51.829c-0.808-2.045-2.67-3.484-4.853-3.751c-2.177-0.266-4.335,0.682-5.612,2.472
                    		c-7.581,10.629-17.529,14.172-29.053,18.275c-9.292,3.31-18.901,6.73-29.286,14.186c-14.687,10.544-21.405,24.917-18.055,38.54
                    		l-0.358,0.459c-6.133-8.897-12.806-17.126-19.848-24.474c-32.947-34.378-78.984-55.046-126.311-56.703
                    		c-2.085-0.073-4.204-0.11-6.298-0.11c-52.846,0-103.428,23.624-138.775,64.813C9.646,146.512-5.939,199.853,2.051,251.882
                    		c0.668,4.349,1.504,8.743,2.487,13.063c12.996,57.202,46.189,100.717,91.069,119.383c11.063,4.602,22.222,6.934,33.163,6.934
                    		c27.183,0,50.926-14.539,65.143-39.889c5.404-9.646,8.891-19.621,10.36-29.651c0.866-5.92,0.274-11.835-0.3-17.567
                    		c-0.591-5.9-1.149-11.476-0.256-17.09c2.047-12.869,11.036-20.553,24.047-20.553c3.701,0,7.483,0.609,11.26,1.812
                    		c-4.422,8.11-8.438,15.854-11.947,23.032c-7.437,15.212-12.567,27.81-15.252,37.44c-1.655,5.939-6.052,21.722,4.67,29.164
                    		c3.405,2.363,7.722,3.197,12.215,2.361c4.049-0.752,16.369-3.041,51.378-42.896c9.396-10.695,19.521-23.072,30.104-36.794
                    		c27.168-9.15,48.31-31.921,53.903-58.087c1.4-6.541,1.984-13.541,1.735-20.812c10.172-15.72,19.094-30.388,28.072-46.156
                    		c0.172-0.304,0.342-0.628,0.51-0.96c13.031-3.569,24.254-13.71,30.842-27.891C434.872,106.028,434.163,79.428,423.257,51.829z
                    		 M276.385,149.834c-4.713,7.485-12.814,11.954-21.673,11.954c-4.81,0-9.515-1.361-13.605-3.937
                    		c-5.782-3.642-9.803-9.317-11.316-15.98s-0.345-13.518,3.298-19.301c4.714-7.485,12.816-11.954,21.675-11.954
                    		c4.811,0,9.515,1.361,13.604,3.938c5.782,3.64,9.802,9.315,11.316,15.979C281.197,137.197,280.026,144.051,276.385,149.834z
                    		 M309.592,196.187c12.934-19.057,26.612-38,39.604-54.85c2.106,1.902,4.461,3.76,7.012,5.53c4.227,2.933,8.648,5.201,13.164,6.754
                    		c-10.969,18.758-22.763,37.342-37.043,58.375c-23.463,34.571-47.859,66.684-68.695,90.424
                    		c-11.638,13.26-21.823,23.498-29.671,29.839c3.029-9.69,8.818-22.989,16.875-38.746
                    		C265.245,265.336,286.111,230.772,309.592,196.187z M82.506,196.023c-4.811,0-9.516-1.361-13.607-3.938
                    		c-5.782-3.641-9.801-9.314-11.315-15.979c-1.514-6.664-0.342-13.519,3.301-19.302c4.711-7.484,12.813-11.953,21.671-11.953
                    		c4.812,0,9.517,1.361,13.607,3.938c11.936,7.518,15.532,23.345,8.019,35.279C99.466,191.554,91.363,196.023,82.506,196.023z
                    		 M55.688,252.358c4.713-7.486,12.814-11.955,21.673-11.955c4.81,0,9.514,1.362,13.606,3.938c5.782,3.641,9.801,9.315,11.315,15.979
                    		c1.515,6.662,0.343,13.516-3.301,19.301c-4.711,7.483-12.813,11.953-21.671,11.953c-4.811,0-9.517-1.361-13.609-3.938
                    		c-5.782-3.642-9.8-9.315-11.313-15.979C50.876,264.995,52.049,258.14,55.688,252.358z M137.62,100.414
                    		c4.713-7.485,12.815-11.954,21.673-11.954c4.809,0,9.514,1.361,13.604,3.937c11.937,7.516,15.533,23.344,8.019,35.28
                    		c-4.715,7.486-12.817,11.955-21.675,11.955c-4.81,0-9.515-1.361-13.605-3.938c-5.781-3.64-9.799-9.314-11.313-15.979
                    		C132.807,113.052,133.979,106.198,137.62,100.414z"/>
                    </svg>
                    <div v-if="colorPickerShow" class="hu-color-picker-wrapper">
                        <color-picker
                                :color="templateData.structure.background.color"
                                @changeColor="changeColor"
                        />
                    </div>

                </a>
            </div>
        </div>
        <div @click="triggerChangeEditMode(true)" class="position-relative content-area"  :style="'background-color:'+templateData.structure.background.color+';'">
            <div class="d-flex flex-wrap" v-bind:class="{'direction-revert': templateData.structure.position_inverse}">
                <div class="col-12">
                    <div class="block-text">
                        <div v-show="editMode === true">
                            <div v-bind:class="{'editor-active': !triggerEditor}">
                                <trumbowyg @tbw-focus="openEditor"  @tbw-blur="closeEditor" v-model="templateData.structure.text" :config="config" class="form-control" name="content"></trumbowyg>
                            </div>
                        </div>
                        <span v-if="editMode === true"
                              v-bind:class="{
                       'btn': templateData.structure.button.type === 'button',
                       'btn-outline': templateData.structure.button.type === 'btn-outline',
                       'btn-link': templateData.structure.button.type === 'link',
                       }"
                              class="btn-edit"
                        >
                        {{ templateData.structure.button.text }}
                        <span class="button-tools">
                            <label>URL</label>
                            <input type="text" v-model="templateData.structure.button.link">
                            <label>Name</label>
                            <input type="text" v-model="templateData.structure.button.text">
                            <label>Style</label>
                            <select v-model="templateData.structure.button.type">
                                <option value="button">Default button</option>
                                <option value="btn-outline">Outline button</option>
                                <option value="link">link</option>
                            </select>
                        </span>
                    </span>

                        <div v-if="editMode === false" v-html="templateData.structure.text"></div>
                        <a v-if="editMode === false" :href="templateData.structure.button.link"
                           v-bind:class="{
                       'btn': templateData.structure.button.type === 'button',
                       'btn-outline': templateData.structure.button.type === 'btn-outline',
                       'btn-link': templateData.structure.button.type === 'link',
                       }">{{ templateData.structure.button.text }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import colorPicker from '@caohenghu/vue-colorpicker'

export default {
  name: 'tamplateTextAndImage',
    components: {
        colorPicker,

    },
    data: () => {
        return {
            colorPickerShow: false,
            triggerEditor: false,
            tagsToRemove: ['script', 'link'],
            config: {
                semantic: false,
                imageWidthModalEdit: true,
                btnsDef: {
                    image: {
                        dropdown: ['insertImage','base64','upload'],
                        ico: 'insertImage'
                    },
                    justify: {
                        dropdown: ['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                        ico: 'justifyFull'
                    },
                    list: {
                        dropdown:['unorderedList','orderedList'] ,
                        ico: 'unorderedList'
                    }
                },
                btns: [
                    ['formatting'],
                    ['strong','em','del'],
                    ['fontsize','fontfamily'],
                    ['link'],
                    ['image','noembed'],
                    ['justify'],
                    ['list'],
                    ['removeformat'],
                    ['foreColor','backColor'],
                    ['viewHTML'],
                ],
                plugins: {
                    pload: {
                        serverPath: 'https://api.imgur.com/3/image',
                        fileFieldName: 'image',
                        headers: {
                            'Authorization': 'Client-ID xxxxxxxxxxxx'
                        },
                        urlPropertyName: 'data.link'
                    },
                    fontsize: {
                        sizeList: [
                            '14px',
                            '16px',
                            '18px',
                            '20px',
                            '22px',
                            '26px',
                        ]
                    }
                }
                // Get options from
                // https://alex-d.github.io/Trumbowyg/documentation
            }
        }},
    props: ['templateData','editMode','visibleMode','currentArry','currentId'],
    methods: {
        triggerRemove() {
            return this.$emit('triggerRemove')
        },
        triggerDown() {
            return this.$emit('triggerDown')
        },
        triggerUp() {
            return this.$emit('triggerUp')
        },
        triggerChangeEditMode(val) {
            return this.$emit('triggerChangeEditMode',val)
        },
        triggerChangeDirection () {
            return this.$emit('triggerChangeDirection')
        },
        changeColor(color) {
            this.templateData.structure.background.color = 'rgba('+color.rgba.r+','+color.rgba.g+','+color.rgba.b+','+color.rgba.a+');'
        },
        openEditor() {
            this.triggerEditor = true;
        },
        closeEditor() {
            this.triggerEditor = false;
        }
    }
}
</script>

