<template>

<div>
    <a href="#" @click.prevent="popEditEmail">
        <h2>EMAIL</h2>
        <p>{{ final.email }}</p>
        <span class="icon-anchor ti-angle-right"></span>
    </a>

    <!-- Update Email -->
		<div v-if="showForm" class="modal" id="update-email" tabindex="-1" role="dialog">
			<div class="modal-dialog small-dialog" role="document">
				<div class="modal-content">
					<form action="#">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

							<h1>YOUR ACCOUNT</h1>
							<p class="header-sub-title">Change Email Address</p>
						</div>
						<div class="modal-body">
							<div class="form-group" :class="{ hasError : form.errors.has('email') }">
								<input type="email" v-model="form.email" class="form-control" placeholder="Email" @keydown="form.errors.clear('email')">                                
							</div>
              <div class="text-danger m-t-xs" v-if="form.errors.has('email')" v-text="form.errors.get('email')"></div>
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-sm-6">
									<button class="btn btn-plain btn-wide btn-lg" data-dismiss="modal">CANCEL</button>
								</div>
								<div class="col-sm-6">
									<button @click="updateEmail" type="button" class="btn btn-primary btn-wide btn-lg">SAVE</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
</div>
</template>
<script>
import { FormClass } from "../Global";
export default {
  name: "CustomerEmail",
  props: ["email"],
  data() {
    return {
      showForm: false,
      submitting: false,
      form: new FormClass({
        email: this.email
      }),
      final: { email: this.email }
    };
  },
  methods: {
    popEditEmail() {
      this.showForm = true;
      this.form.errors.reset();
      this.form.set(this.final);
      this.$nextTick(() => {
        $("#update-email").modal("show");
      });
    },

    updateEmail() {
      this.submitting = true;
      axios
        .patch("/profile/email", this.form.get())
        .then(response => {
          this.final = this.form.get();
          $("#update-email").modal("hide");
          swal("You've Successfully Updated Your Email address", "", "success");
        })
        .catch(error => {
          this.form.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.submitting = false;
        });
    }
  }
};
</script>
