<template>
<div>
    <a href="#" @click.prevent="popEditAddress">
        <h2>SHIPPING ADDRESS</h2>
        <div v-if="final">
            <p>{{ final.address1 }}<br />
            {{ final.city }}, {{ final.region}} {{ final.zip }}</p>
        </div>
        <span class="icon-anchor ti-angle-right"></span>
    </a>

    <!-- Edit Account Modal -->
		<div v-if="showForm" class="modal" id="editaccount" tabindex="-1" role="dialog">
			<div class="modal-dialog small-dialog" role="document">
				<div class="modal-content" :class="{'sk-loading':submitting}" >
                         <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
                        
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

						<h1>YOUR ACCOUNT</h1>
						<p class="header-sub-title">Edit Shipping Information</p>
					</div>
					<div class="modal-body">
						<form action="#">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('first_name') }">
										<label class="control-label">First name</label>
										<input type="text" v-model="formAddress.first_name" autocomplete="off" class="form-control" @keydown="formAddress.errors.clear('first_name')">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('last_name') }">
										<label class="control-label">Last name</label>
										<input type="text" v-model="formAddress.last_name" autocomplete="off" class="form-control"  @keydown="formAddress.errors.clear('last_name')">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('address1') }">
										<label class="control-label">Address Line 1</label>
										<input type="text" v-model="formAddress.address1" autocomplete="off" class="form-control" @keydown="formAddress.errors.clear('address1')">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('address2') }">
										<label class="control-label">Address Line 2</label>
										<input type="text" v-model="formAddress.address2" autocomplete="off" class="form-control" placeholder="(optional)"  @keydown="formAddress.errors.clear('address2')">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('city') }">
										<label class="control-label">City</label>
										<input type="text" v-model="formAddress.city" autocomplete="off" class="form-control"  @keydown="formAddress.errors.clear('city')">
									</div>
								</div>
                                <div class="col-sm-6">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('zip') }">
										<label class="control-label">Zip Code</label>
										<input type="text" v-model="formAddress.zip" autocomplete="off" class="form-control"  @keydown="formAddress.errors.clear('zip')">
									</div>
								</div>
							</div>
                            <div class="row">
								<div class="col-sm-6">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('country') }">
										<label class="control-label">Country</label>
										<select v-model="formAddress.country" class="form-control input-lg"  @change="formAddress.errors.clear('country')">
                                            <option v-for="(country,index) in countries" :value="country.iso">{{ country.name }}</option>
                                        </select>
									</div>
								</div>
                                <div class="col-sm-6" v-if="formAddress.country && states.length > 0">
									<div class="form-group" :class="{ hasError : formAddress.errors.has('region') }"  @change="formAddress.errors.clear('region')">
										<label class="control-label">State</label>
										<select v-model="formAddress.region" class="form-control input-lg">
                                            <option v-for="(state,index) in states" :value="state.iso">{{ state.name }}</option>
                                        </select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-8 col-xs-offset-2 text-center"><p>This will be your default shipping adddress on this account.</p></div>
							</div>
						</form>
					</div>

					<div class="modal-footer">
						<div class="row">
							<div class="col-sm-6"><button type="button" data-dismiss="modal" class="btn btn-plain btn-lg btn-wide"> CANCEL</button></div>
							<div class="col-sm-6"><button @click="updateAddress" type="button" class="btn btn-primary btn-lg btn-wide"> SAVE</button></div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
</div>
</template>
<script>
import { countries, regions } from "typed-countries";
import { FormClass } from "../Global";
export default {
  name: "CustomerAddress",
  props: ["address"],
  computed: {
    states() {
      let country = _.find(this.countries, ["iso", this.formAddress.country]);

      return country ? country.states : [];
    }
  },
  data() {
    return {
      showForm: false,
      submitting: false,
      countries: countries,
      formAddress: new FormClass(this.address),
      final: this.address
    };
  },
  methods: {
    popEditAddress() {
      this.showForm = true;
      this.formAddress.set(this.final);
      this.formAddress.errors.reset();
      this.$nextTick(() => {
        $("#editaccount").modal("show");
      });
    },

    updateAddress() {
      this.submitting = true;
      axios
        .patch("/profile/address", this.formAddress.get())
        .then(response => {
          this.final = this.formAddress.get();
          $("#editaccount").modal("hide");
          swal(
            "You've Successfully Updated Your Shipping Address",
            "",
            "success"
          );
        })
        .catch(error => {
          this.formAddress.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.submitting = false;
        });
    }
  }
};
</script>
