<template>
    <div>
        <a href="#" @click.prevent="popEditPassword">
            <h2>PASSWORD</h2>
            <p>*********</p>
            <span class="icon-anchor ti-angle-right"></span>
        </a>
        <div class="modal" id="change-password" tabindex="-1" role="dialog">
			<div class="modal-dialog small-dialog" role="document">
				<div class="modal-content">
					<form action="#">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

							<h1>YOUR ACCOUNT</h1>
							<p class="header-sub-title">Change Password</p>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<input type="password" v-model="form.current_password" @keydown="form.errors.clear('current_password')" class="form-control" placeholder="Current Password">
							</div>
                            <div class="text-danger m-t-xs" v-if="form.errors.has('current_password')" v-text="form.errors.get('current_password')"></div>
							<div class="form-group">
								<input type="password" v-model="form.password" @keydown="form.errors.clear('password')" class="form-control" placeholder="New Password (6 characters minimum)">
							</div>
                            <div class="text-danger m-t-xs" v-if="form.errors.has('password')" v-text="form.errors.get('password')"></div>
							<div class="form-group">
								<input type="password" v-model="form.password_confirmation" @keydown="form.errors.clear('password_confirmation')" class="form-control" placeholder="Confirm Password (optional)">
							</div>
                            <div class="text-danger m-t-xs" v-if="form.errors.has('password_confirmation')" v-text="form.errors.get('password_confirmation')"></div>
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-sm-6">
									<button class="btn btn-plain btn-wide btn-lg" data-dismiss="modal">CANCEL</button>
								</div>
								<div class="col-sm-6">
									<button @click="updatePassword" type="button" class="btn btn-primary btn-wide btn-lg">SAVE</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
    </div>
</template>
<script>
import { FormClass } from "../Global";
export default {
  name: "CustomerPassword",
  data() {
    return {
      showForm: false,
      submitting: false,
      form: new FormClass()
    };
  },

  methods: {
    popEditPassword() {
      this.showForm = true;
      this.form.reset();
      this.$nextTick(() => {
        $("#change-password").modal("show");
      });
    },

    updatePassword() {
      this.submitting = true;
      axios
        .patch("/profile/password", this.form.get())
        .then(response => {
          $("#change-password").modal("hide");
          swal("You've Successfully Updated Your Password", "", "success");
        })
        .catch(error => {
          this.form.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.submitting = false;
        });
    }
  }
};
</script>

