<template>
  <div>
    <a href="#" @click.prevent="popEditPaymentMethod">
      <h2>PAYMENT METHOD</h2>
      <p v-if="payment_method">
        <span v-if="payment_method.paypal_email" class="se-icon icon-paypal inline-block"></span>
        {{ maskedNumber }}
      </p>
      <span class="icon-anchor ti-angle-right"></span>
    </a>

    <div v-if="showForm" class="modal" id="update-payment-method" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content" :class="{'sk-loading':submitting}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

            <h1>PAYMENT METHOD</h1>
          </div>
          <div class="modal-body payment-method">
            <h3 class="checkout-title">
              Choose Payment Method
              <span class="icon">
                <img src="/images/icons/lock.png" width="20">
              </span>
            </h3>
            <div class="row payment-method-selection">
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="input-inner" :class="{checked:payment_method_type=='card'}">
                    <input
                      type="radio"
                      v-model="payment_method_type"
                      id="credit-card"
                      value="card"
                      checked
                    >
                    <label class="label" for="credit-card">
                      <span class="se-icon icon-ccard"></span>
                    </label>
                    <div class="label">Credit Card</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <div class="input-inner" :class="{checked:payment_method_type=='paypal'}">
                    <input type="radio" v-model="payment_method_type" id="paypal" value="paypal">
                    <label class="label" for="paypal">
                      <span class="se-icon icon-paypal-p"></span>
                    </label>
                    <div class="label">Paypal</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-method cc-content" :class="{active:payment_method_type=='card'}">
              <!--For Credit Card Tab-->
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label class="control-label">CREDIT CARD NUMBER</label>
                    <div class="form-control input-lg" id="card-number"></div>
                    <span class="text-danger"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <img class="payment-method-img" src="/images/methods.jpg">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">EXPIRATION DATE</label>
                    <div class="form-control input-lg" id="expiration-month"></div>
                    <span class="text-danger"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">&nbsp;</label>
                    <div class="form-control input-lg" id="expiration-year"></div>
                    <span class="text-danger"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label">CVV</label>
                    <div class="form-control input-lg" id="cvv"></div>
                    <span class="text-danger"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label">Zip Code</label>
                    <div class="form-control input-lg" id="postal-code"></div>
                    <span class="text-danger"></span>
                  </div>
                </div>
              </div>
            </div>
            <!--End of credit card Tab-->
            <div
              class="content-method paypal-content"
              :class="{active:payment_method_type=='paypal'}"
            >
              <!--For Paypal Tab-->
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group country-select">
                    <label class="control-label">LINKED PAYPAL ACCOUNT</label>
                    <div id="paypal-button"></div>
                  </div>
                  <div v-if="paypal_payload">
                    <span v-text="paypal_payload.details.firstName"></span>
                    <span v-text="paypal_payload.details.lastName"></span>
                    <span v-text="paypal_payload.details.email"></span>
                  </div>
                </div>
              </div>
            </div>
            <!--End of Paypal Tab-->
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-sm-6">
                <button class="btn btn-plain btn-wide btn-lg" data-dismiss="modal">CANCEL</button>
              </div>
              <div class="col-sm-6">
                <button
                  @click="preUpdatePaymentMethod"
                  type="button"
                  class="btn btn-primary btn-wide btn-lg"
                >SAVE</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
var client = require("braintree-web/client");
var paypalCheckout = require("braintree-web/paypal-checkout");
var hostedFields = require("braintree-web/hosted-fields");

export default {
  name: "CustomerPaymentMethod",
  props: ["init", "client_token", "env"],
  computed: {
    maskedNumber() {
      if (this.payment_method.paypal_email)
        return this.payment_method.paypal_email;

      return (
        "************" +
        this.payment_method.card_last_four +
        " " +
        this.payment_method.card_brand
      );
    }
  },
  data() {
    return {
      paymentPrepared: false,
      showForm: false,
      submitting: true,
      paypal_payload: null,
      client_instance: null,
      paypalInstance: null,
      host_field_instance: null,
      payment_method_type: "card",
      payment_method: this.init
    };
  },
  methods: {
    popEditPaymentMethod() {
      this.showForm = true;
      this.$nextTick(() => {
        if (!this.paymentPrepared) {
          this.paymentPrepared = true;
          client.create(
            {
              authorization: this.client_token
            },
            this.createHostedFields
          );
        }
        $("#update-payment-method").modal("show");
      });
    },

    preUpdatePaymentMethod() {
      if (this.payment_method_type == "paypal") {
        if (!this.nonce) return;

        this.submitting = true;
        this.updatePaymentMethod();
      } else {
        var state = this.host_field_instance.getState();
        var formValid = Object.keys(state.fields).every(function(key) {
          return state.fields[key].isValid;
        });

        if (formValid) {
          this.submitting = true;
          this.tokenize();
        }
      }
    },

    tokenize() {
      this.host_field_instance.tokenize((err, payload) => {
        if (err) {
          this.submitting = false;
          swal("Error", err, "error");
          return;
        }
        this.nonce = payload.nonce;
        this.updatePaymentMethod();
      });
    },

    updatePaymentMethod() {
      this.submitting = true;
      axios
        .patch("/profile/payment", {
          nonce: this.nonce
        })
        .then(response => {
          this.payment_method = response.data.payment_method;
          $("#update-payment-method").modal("hide");
          swal(
            "You've Successfully Updated Your Payment Method",
            "",
            "success"
          );
        })
        .catch(error => {
          swal(error.response.data.message, "", "error");
        })
        .then(() => {
          this.submitting = false;
        });
    },

    createHostedFields(err, clientInstance) {
      if (err) {
        console.error(err);
        return;
      }
      this.client_instance = clientInstance;
      this.hostFieldsCreate();
    },

    hostFieldsCreate() {
      hostedFields.create(
        {
          client: this.client_instance,
          styles: {
            input: {
              "font-size": "14px",
              "font-family": "helvetica, tahoma, calibri, sans-serif",
              color: "#3a3a3a"
            },
            ":focus": {
              color: "black"
            }
          },
          fields: {
            number: {
              selector: "#card-number",
              placeholder: "4111 1111 1111 1111"
            },
            cvv: {
              selector: "#cvv",
              placeholder: "123"
            },
            expirationMonth: {
              selector: "#expiration-month",
              placeholder: "MM"
            },
            expirationYear: {
              selector: "#expiration-year",
              placeholder: "YY"
            },
            postalCode: {
              selector: "#postal-code",
              placeholder: ""
            }
          }
        },
        this.processHostedFields
      );

      this.createPP();
    },

    createPP() {
      // Create a PayPal Checkout component.
      paypalCheckout.create(
        {
          client: this.client_instance
        },
        this.paypalCheckout
      );
    },

    paypalCheckout(paypalCheckoutErr, paypalCheckoutInstance) {
      let that = this;

      if (paypalCheckoutErr) {
        console.error("Error creating PayPal Checkout:", paypalCheckoutErr);
        return;
      }

      // Set up PayPal with the checkout.js library
      paypal.Button.render(
        {
          env: this.env,
          payment() {
            return paypalCheckoutInstance.createPayment({
              flow: "vault",
              enableShippingAddress: false,
              shippingAddressEditable: false
            });
          },

          onAuthorize(data, actions) {
            return paypalCheckoutInstance
              .tokenizePayment(data)
              .then(payload => {
                that.paypal_payload = payload;
                that.nonce = payload.nonce;
              });
          },

          onCancel(data) {
            console.log(
              "checkout.js payment cancelled",
              JSON.stringify(data, 0, 2)
            );
          },

          onError(err) {
            console.error("checkout.js error", err);
          }
        },
        "#paypal-button"
      ).then(() => {
        this.submitting = false;
      });
    },

    processHostedFields(err, hostedFieldsInstance) {
      let that = this;

      if (err) {
        console.error(err);
        return;
      }

      this.host_field_instance = hostedFieldsInstance;

      hostedFieldsInstance.on("validityChange", function(event) {
        var field = event.fields[event.emittedBy];

        if (field.isValid) {
          if (event.emittedBy === "expirationMonth") {
            $("#expiration-month")
              .next("span")
              .text("");
          } else if (event.emittedBy === "expirationYear") {
            $("#expiration-year")
              .next("span")
              .text("");
          } else if (event.emittedBy === "number") {
            $("#card-number")
              .next("span")
              .text("");
          }

          // Remove any previously applied error or warning classes
          $(field.container)
            .parents(".form-group")
            .removeClass("has-warning");
          $(field.container)
            .parents(".form-group")
            .removeClass("has-success");
          // Apply styling for a valid field
          $(field.container)
            .parents(".form-group")
            .addClass("has-success");
        } else if (field.isPotentiallyValid) {
          // Remove styling  from potentially valid fields
          $(field.container)
            .parents(".form-group")
            .removeClass("has-warning");
          $(field.container)
            .parents(".form-group")
            .removeClass("has-success");
          if (event.emittedBy === "expirationMonth") {
            $("#expiration-month")
              .next("span")
              .text("");
          } else if (event.emittedBy === "expirationYear") {
            $("#expiration-year")
              .next("span")
              .text("");
          } else if (event.emittedBy === "number") {
            $("#card-number")
              .next("span")
              .text("");
          }
        } else {
          console.log(event.emittedBy);
          // Add styling to invalid fields
          $(field.container)
            .parents(".form-group")
            .addClass("has-warning");
          // Add helper text for an invalid card number
          if (event.emittedBy === "number") {
            $("#card-number")
              .next("span")
              .text("Looks like this card number has an error.");
          }
          if (event.emittedBy === "expirationMonth") {
            $("#expiration-month")
              .next("span")
              .text("Month Invalid (MM)");
          }

          if (event.emittedBy === "expirationYear") {
            $("#expiration-year")
              .next("span")
              .text("Year Invalid (YY)");
          }
        }
      });

      hostedFieldsInstance.on("cardTypeChange", function(event) {
        // Handle a field's change, such as a change in validity or credit card type
        if (event.cards.length === 1) {
          $("#card-type").text(event.cards[0].niceType);
        } else {
          $("#card-type").text("Card");
        }
      });
    }
  }
};
</script>
