<template>
  <div class="row-block order-items">
    <div class="item clearfix same-height">
      <div class="col-md-4">
        <p class="data">{{ box_date.format('MMMM D, YYYY') }}</p>
        <button
          @click="giftFlow(1)"
          class="btn btn-primary btn-sm"
          v-if="!box.gifted"
        >GIFT THIS MONTH</button>
        <span
          @click="popGiftSuccess"
          v-if="box.gifted"
          class="light-text text-underlined text-blue text-pointer"
        >GIFTED TO {{ box.gift.first_name +' '+ box.gift.last_name }}</span>
      </div>
      <div class="col-md-4">
        <div class="product-detail">
          <img :src="box.cover || '/images/box-small.png'" alt>
          <div class="order-no">
            <h4>{{ box.name }}</h4>
            <div v-if="box.bonus">
              <h4 v-for="bonus in box.bonus">+ {{ bonus.name }}</h4>
            </div>
            <h4 v-if="box.addons.length > 0">+ Extras</h4>
            <span
              v-if="box.skipped"
              class="text-primary text-underlined text-pointer"
              @click="resumeMonth"
            >RESUME</span>
            <span
              @click="updateGift"
              v-else-if="box.gifted"
              class="light-text text-underlined text-primary text-pointer"
            >UPDATE</span>
            <span v-else class="light-text text-pointer" @click="skipMonth">SKIP THIS MONTH</span>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="order-detail-right text-pointer" @click="showBoxDetails">
          <p>{{ box.total }}</p>
          <span v-if="box.is_free" class="text-primary">FREE</span>
          <span v-else :class="'status ' +box.status">{{ box.status}}</span>
        </div>
      </div>
    </div>
    <div
      v-if="showForm"
      class="modal"
      :id="'gifting-'+box.monthKey.replace(' ','-')"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content gift-flow" :class="{'sk-loading':submitting_gift}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>

          <div class="modal-header">
            <ul class="flow-crumbs">
              <li class="active">
                <span>RECIPIENT INFO</span>
              </li>
              <li :class="{active:gift_step > 1}">
                <span>DELIVERY</span>
              </li>
              <li :class="{active:gift_step > 2}">
                <span>TIMING & EMAIL</span>
              </li>
            </ul>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="gift-flow-step" v-if="gift_step==1">
              <div class="row">
                <div class="col-sm-8">
                  <h3>RECIPIENT INFORMATION</h3>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6" :class="{'has-error':gift.errors.has('first_name')}">
                        <input
                          type="text"
                          v-model="gift.first_name"
                          placeholder="First Name"
                          @keydown="gift.errors.clear('first_name')"
                          class="form-control"
                        >
                      </div>
                      <div class="col-sm-6" :class="{'has-error':gift.errors.has('last_name')}">
                        <input
                          type="text"
                          v-model="gift.last_name"
                          placeholder="Last Name"
                          class="form-control"
                          @keydown="gift.errors.clear('last_name')"
                        >
                      </div>
                    </div>
                  </div>

                  <div class="form-group" :class="{'has-error':gift.errors.has('email')}">
                    <input
                      type="email"
                      v-model="gift.email"
                      placeholder="Email Address"
                      class="form-control"
                      @keydown="gift.errors.clear('email')"
                    >
                  </div>
                  <div class="form-group">
                    <textarea
                      maxlength="255"
                      rows="5"
                      v-model="gift.message"
                      placeholder="Gift Message (Optional)"
                      class="form-control"
                    ></textarea>
                    <div class="text-right">
                      <small>{{ gift_message_remaining }} Characters Remaining</small>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-5">
                        <button
                          @click="submitRecipient"
                          type="button"
                          class="btn btn-primary btn-wide btn-lg"
                        >NEXT</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <p>
                    <strong>HELP</strong>
                  </p>
                  <p>
                    <small>Want to keep it a surprise? You'll choose when we email your recipient about their gift</small>
                  </p>
                </div>
              </div>
            </div>

            <div class="gift-flow-step" v-if="gift_step==2">
              <div class="row">
                <div class="col-sm-8">
                  <h3>GIFT DELIVERY</h3>
                  <div class="form-group" :class="{'has-error':gift.errors.has('address_country')}">
                    <select v-model="gift.address_country" class="form-control">
                      <option
                        v-for="(country,code) in countries"
                        :value="country.iso"
                      >{{ country.name }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div
                        class="col-sm-6"
                        :class="{'has-error':gift.errors.has('address_first_name')}"
                      >
                        <input
                          type="text"
                          v-model="gift.address_first_name"
                          placeholder="First Name"
                          @keydown="gift.errors.clear('address_first_name')"
                          class="form-control"
                        >
                      </div>
                      <div
                        class="col-sm-6"
                        :class="{'has-error':gift.errors.has('address_last_name')}"
                      >
                        <input
                          type="text"
                          v-model="gift.address_last_name"
                          placeholder="Last Name"
                          class="form-control"
                          @keydown="gift.errors.clear('address_last_name')"
                        >
                      </div>
                    </div>
                  </div>

                  <div class="form-group" :class="{'has-error':gift.errors.has('address_company')}">
                    <input
                      type="text"
                      v-model="gift.address_company"
                      placeholder="Company (Optional)"
                      class="form-control"
                      @keydown="gift.errors.clear('address_company')"
                    >
                  </div>
                  <div
                    class="form-group"
                    :class="{'has-error':gift.errors.has('address_address1')}"
                  >
                    <input
                      type="text"
                      v-model="gift.address_address1"
                      placeholder="Address1"
                      class="form-control"
                      @keydown="gift.errors.clear('address_address1')"
                    >
                  </div>
                  <div
                    class="form-group"
                    :class="{'has-error':gift.errors.has('address_address2')}"
                  >
                    <input
                      type="text"
                      v-model="gift.address_address2"
                      placeholder="Address2"
                      class="form-control"
                      @keydown="gift.errors.clear('address_address2')"
                    >
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4" :class="{'has-error':gift.errors.has('address_city')}">
                        <input
                          type="text"
                          v-model="gift.address_city"
                          placeholder="City"
                          class="form-control"
                          @keydown="gift.errors.clear('address_city')"
                        >
                      </div>
                      <div class="col-sm-4" :class="{'has-error':gift.errors.has('address_zip')}">
                        <input
                          type="text"
                          v-model="gift.address_zip"
                          placeholder="Zip"
                          class="form-control"
                          @keydown="gift.errors.clear('address_zip')"
                        >
                      </div>
                      <div
                        class="col-sm-4"
                        :class="{'has-error':gift.errors.has('address_region')}"
                        v-if="gift.address_country && shipping_states.length > 0"
                      >
                        <select v-model="gift.address_region" class="form-control">
                          <option
                            v-for="(state,index) in shipping_states"
                            :value="state.iso"
                          >{{ state.name }}</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-5">
                        <button
                          @click="submitDelivery"
                          type="button"
                          class="btn btn-primary btn-wide btn-lg"
                        >NEXT</button>
                      </div>
                      <div class="col-sm-7">
                        <p>
                          <small
                            class="text-pointer"
                            @click="contactByEmail"
                          >I don't know my recipient's shipping address. Please contact them by email</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <p>
                    <strong>HELP</strong>
                  </p>
                  <p>
                    <small>Want to keep it a surprise? You'll choose when we email your recipient about their gift</small>
                  </p>
                </div>
              </div>
            </div>

            <div class="gift-flow-step" v-if="gift_step==3">
              <div class="row">
                <div class="col-sm-8">
                  <h3>GIFT DELIVERY</h3>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-4">
                        <label>Ship Date</label>
                        <div class="dropdown" :class="{open:show_dropdown_gift_date}">
                          <span
                            class="text-pointer"
                            v-if="gift_date"
                            @click="showDropdownGift"
                          >{{ gift_date.format('MMM D') }}</span>
                          <ul class="dropdown-menu">
                            <li v-for="left_day in left_days">
                              <a
                                href="#"
                                @click.prevent="gift_date = left_day"
                              >{{ left_day.format('MMM D') }}</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-8">
                        <span class="pull-right text-pointer" @click="showDropdownGift">
                          <small>Edit</small>
                        </span>
                        <label>Delivery Window</label>
                        <div>{{ delivery_window }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>
                      Gift Email Date
                      <br>
                      <small>We'll email your recipient to let them know they've been gifted!</small>
                    </label>
                    <datepicker
                      :bootstrap-styling="true"
                      :calendar-button="true"
                      :input-class="'form-control'"
                      v-model="gift.email_date"
                    ></datepicker>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6">
                        <button
                          @click="submitGift"
                          type="button"
                          class="btn btn-primary btn-wide btn-lg"
                        >GIFT THIS BOX</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <p>
                    <strong>HELP</strong>
                  </p>
                  <p>
                    <small>Want to keep it a surprise? You'll choose when we email your recipient about their gift</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      v-if="showGiftSuccess"
      class="modal gift-success-message"
      :id="'gift-success-message-'+box.monthKey.replace(' ','-')"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h1>{{ gift.first_name }} is going to LOVE your gift</h1>
          </div>
          <div class="modal-body text-center">
            <h3>Your {{ box.name }} will be sent to {{ gift.first_name }} on {{ gift_date.format('MMM D') }}</h3>
            <div>
              <img src="images/box.gif">
            </div>
          </div>
          <div class="modal-footer">
            <div v-if="isGiftConfirmation" class="text-center">
              <div class="form-group">
                <button @click="updateGift" class="btn btn-lg btn-primary btn-tall btn-wider">UPDATE</button>
              </div>
              <div class="form-group">
                <button
                  @click="promptCancelGift"
                  class="btn btn-lg btn-wider btn-tall btn-gray"
                >CANCEL</button>
              </div>
              <div>
                <a href="#" class="btn" data-dismiss="modal">CLOSE</a>
              </div>
            </div>
            <div class="text-center row" v-else>
              <div class="col-sm-6 col-sm-offset-3">
                <button data-dismiss="modal" class="btn btn-lg btn-wide btn-primary">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { FormClass, Global, EventHub, ErrorsClass } from "../Global";
import { countries, regions } from "typed-countries";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
export default {
  name: "FutureBox",
  props: ["init"],
  components: {
    datepicker: Datepicker
  },
  computed: {
    delivery_window() {
      if (!this.gift_date) return "";

      return (
        this.gift_date
          .clone()
          .add(2, "day")
          .format("MMM D") +
        " - " +
        this.gift_date
          .clone()
          .add(5, "day")
          .format("MMM D")
      );
    },
    gift_message_remaining() {
      if (!this.gift.message) return 255;

      return 255 - this.gift.message.length;
    },
    shipping_states() {
      let country = _.find(this.countries, ["iso", this.gift.address_country]);

      return country ? country.states : [];
    },
    box_date() {
      return moment(this.box.date_zone);
    },
    left_days() {
      let days = [];
      let end = moment(this.box.date_zone)
        .clone()
        .endOf("month");
      let start = end.clone().startOf("month");
      let today = end.clone().startOf("day");

      while (start.isBefore(end)) {
        if (today.diff(start, "day") > 0) {
          days.push(start.clone());
        }

        start.add(1, "day");
      }

      days.push(end);

      return days;
    }
  },
  data() {
    return {
      loading_claim_freebox: false,
      countries: countries,
      showForm: false,
      showGiftSuccess: false,
      show_dropdown_gift_date: false,
      submitting_gift: false,
      isGiftConfirmation: true,
      gift_date: {},
      gift: new FormClass(
        Object.assign(
          {
            message: "",
            address_country: "US"
          },
          this.init.gift || {}
        )
      ),
      gift_step: 1,
      box: this.init
    };
  },
  created() {
    this.gift_date = moment(this.box.gift.gift_date);
  },
  methods: {
    showDropdownGift() {
      this.$nextTick(() => {
        this.show_dropdown_gift_date = !this.show_dropdown_gift_date;
        $(document).one("click.status", e => {
          this.show_dropdown_gift_date = false;
        });
      });
    },

    skipMonth() {
      swal({
        title: "SKIPPING THIS BOX?",
        text: this.box.commitment
          ? "You can skip 2 boxes during your 6 month commitment. You will still be commiting to a total of 6 boxes, but this allows you to skip up to 2 boxes that don't fit you"
          : 'Skipping this box means all its contents will skip on your next box schedule. If you need something sooner, you can choose to "Ship It Now" when adding to your box.',
        className: "buttons-vertical",
        buttons: {
          gift: {
            text: "GIFT SUBSCRIPTION",
            value: "gift",
            className: "btn btn-primary btn-lg btn-wide"
          },

          skip: {
            text: "SKIP MONTH",
            value: "skip",
            className: "btn btn-plain btn-lg btn-wide"
          },

          nevermind: {
            text: "Nevermind",
            value: "cancel",
            className: "btn btn-bare btn-lg"
          }
        }
      }).then(value => {
        if (value == "gift") {
          this.giftFlow(1);
        } else if (value == "skip") {
          axios
            .post("/subscription/" + this.box.monthKey + "/skip")
            .then(response => {
              this.box.skipped = true;
              this.box.status = "skipped";
              swal(
                "You've Successfully Skipped Month " + this.box.monthKey,
                "",
                "success"
              ).then(() => {
                window.location.reload();
              });
            })
            .catch(error => {
              let skipError = new ErrorsClass();

              skipError.set(error.response.data.errors);

              if (skipError.has("skipbox")) {
                this.cantSkip();
              } else {
                swal("Something went wrong", "", "error");
              }
            });
        }
      });
    },

    cantSkip() {
      swal({
        title: "SKIPPING THIS BOX?",
        text:
          "You have already skipped 2 boxes during your 6 month commitment. You are not allowed to skip anymore",
        className: "buttons-vertical",
        buttons: {
          gift: {
            text: "GIFT SUBSCRIPTION",
            value: "gift",
            className: "btn btn-primary btn-lg btn-wide"
          },

          nevermind: {
            text: "Nevermind",
            value: "cancel",
            className: "btn btn-bare btn-lg"
          }
        }
      }).then(value => {
        if (value == "gift") {
          this.giftFlow(1);
        }
      });
    },

    resumeMonth() {
      axios
        .post("/subscription/" + this.box.monthKey + "/resume")
        .then(response => {
          this.box.skipped = false;
          this.box.status = "pending";
          swal(
            "You've Successfully Resumed Shipping Month " + this.box.monthKey,
            "",
            "success"
          ).then(() => {
            window.location.reload();
          });
        })
        .catch(() => {
          swal("Something went wrong", "", "error");
        });
    },

    updateGift() {
      $("#gift-success-message-" + this.box.monthKey.replace(" ", "-")).modal(
        "hide"
      );
      this.$nextTick(() => {
        this.giftFlow(1);
      });
    },

    giftFlow(step) {
      this.showForm = true;
      this.gift_step = step || 1;
      this.$nextTick(() => {
        $("#gifting-" + this.box.monthKey.replace(" ", "-")).modal("show");
      });
    },

    submitRecipient() {
      this.submitting_gift = true;
      axios
        .post(
          "/subscription/" + this.box.monthKey + "/gift",
          Object.assign({}, { step: 1 }, this.gift.get())
        )
        .then(reponse => {
          this.giftFlow(2);
        })
        .catch(error => {
          this.gift.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.submitting_gift = false;
        });
    },

    submitDelivery() {
      this.submitting_gift = true;
      axios
        .post(
          "/subscription/" + this.box.monthKey + "/gift",
          Object.assign({}, { step: 2 }, this.gift.get(), {
            contact_by_email: false
          })
        )
        .then(reponse => {
          this.giftFlow(3);
        })
        .catch(error => {
          this.gift.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.submitting_gift = false;
        });
    },

    contactByEmail() {
      this.gift.contact_by_email = true;
      this.giftFlow(3);
    },

    submitGift() {
      this.submitting_gift = true;
      axios
        .post(
          "/subscription/" + this.box.monthKey + "/gift",
          Object.assign({}, { step: 3 }, this.gift.get(), {
            contact_by_email: false,
            gift_date: this.gift_date,
            email_date: moment(this.gift.email_date).startOf("day")
          })
        )
        .then(reponse => {
          this.popGiftSuccess(false);
          this.refreshBox();
        })
        .catch(error => {
          this.gift.errors.set(error.response.data.errors);
        })
        .then(() => {
          this.submitting_gift = false;
        });
    },

    popGiftSuccess(showButtons) {
      this.isGiftConfirmation =
        typeof showButtons === "boolean" ? showButtons : true;
      this.showGiftSuccess = true;
      this.$nextTick(() => {
        $("#gifting-" + this.box.monthKey.replace(" ", "-")).modal("hide");
        let success_message = $(
          "#gift-success-message-" + this.box.monthKey.replace(" ", "-")
        ).modal("show");

        if (!this.isGiftConfirmation) {
          success_message.on("hidden.bs.modal", () => {
            window.location.reload();
          });
        }
      });
    },

    showBoxDetails() {
      EventHub.$emit("show_box_details", this.box.monthKey);
    },

    promptCancelGift() {
      swal(
        "Are you sure to cancel your gift to " + this.gift.first_name + " ?",
        {
          buttons: {
            yes: {
              text: "Yes",
              value: "yes"
            },
            cancel: "Cancel"
          }
        }
      ).then(value => {
        switch (value) {
          case "yes":
            this.cancelGift();
            break;
        }
      });
    },

    cancelGift() {
      axios
        .delete("/subscription/" + this.box.monthKey + "/gift")
        .then(reponse => {
          this.popGiftSuccess();
        })
        .catch(error => {
          this.gift.errors.set(error.response.data.errors);
        })
        .then(() => {
          $(
            "#gift-success-message-" + this.box.monthKey.replace(" ", "-")
          ).modal("hide");
          swal(
            "You have successfully canceled your gift to " +
              this.gift.first_name,
            "",
            "success"
          ).then(() => {
            window.location.reload();
          });
        });
    },

    refreshBox() {
      axios
        .get("/subscription/" + this.box.monthKey + "/future")
        .then(response => {
          this.box = response.data;
        });
    },

    claimFreebox() {
      this.loading_claim_freebox = true;
      axios
        .post("/rewards/claim/freebox", {
          month_key: this.box.monthKey
        })
        .then(response => {
          window.location.reload();
        })
    },
    unclaimFreebox() {
      this.loading_claim_freebox = true;
      axios
        .post("/rewards/unclaim/freebox", {
          month_key: this.box.monthKey
        })
        .then(response => {
          window.location.reload();
        });
    }
  }
};
</script>

