<template>
  <div class="box">
    <h2>YOUR NEXT BOX SHIPS</h2>
    <div class="object">
      <span class="se-icon icon-package"></span>
      {{ toMoment(next_box.date_zone).format('MMM Do') }}
    </div>
    <slot name="resume-button" :pop="popManageSubscription">
      <a href="#" @click="popManageSubscription" class="keep-bot">
        Manage my subscription
        <span class="fa fa-angle-right"></span>
      </a>
    </slot>
    <div v-if="showForm" class="modal" id="manage-subscription" tabindex="-1" role="dialog">
      <div class="modal-dialog small-dialog" role="document">
        <div class="modal-content" :class="{'sk-loading':submitting}">
          <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
          </div>
          <template v-if="tab=='main'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h1>MANAGE YOUR SIMPLY EARTH PLAN</h1>
            </div>
            <div class="modal-body text-center">
              <div>
                <input
                  class="nextbox-radio"
                  id="manage_continue_update_shipment"
                  type="radio"
                  value="update_shipment"
                  v-model="manage_continue"
                >
                <label
                  class="widebox-item"
                  for="manage_continue_update_shipment"
                >Update Shipment Day</label>
              </div>

              <div>
                <input
                  class="nextbox-radio"
                  id="manage_continue_gift_month"
                  type="radio"
                  value="gift_month"
                  v-model="manage_continue"
                >
                <label class="widebox-item" for="manage_continue_gift_month">Gift A Month</label>
              </div>

              <div>
                <input
                  class="nextbox-radio"
                  id="manage_continue_skip_month"
                  type="radio"
                  value="skip_month"
                  v-model="manage_continue"
                >
                <label class="widebox-item" for="manage_continue_skip_month">Skip A Month</label>
              </div>

              <div>
                <input
                  class="nextbox-radio"
                  id="manage_continue_stop_subscription"
                  type="radio"
                  value="stop_subscription"
                  v-model="manage_continue"
                >
                <label
                  class="widebox-item"
                  for="manage_continue_stop_subscription"
                >Stop Subscription</label>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-plain btn-lg btn-wide" data-dismiss="modal">NEVERMIND</button>
                </div>
                <div class="col-sm-6">
                  <button
                    @click="manageContinue"
                    :disabled="!manage_continue"
                    class="btn btn-lg btn-wide btn-gray"
                    :class="{'btn-primary':manage_continue}"
                  >CONTINUE</button>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='shipment'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h1>UPDATE SHIPMENT DAY</h1>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <select class="form-control" v-model="schedule">
                  <option value="1">1st of the month</option>
                  <option value="2">2nd of the month</option>
                  <option value="3">3rd of the month</option>
                  <option value="4">4th of the month</option>
                  <option value="5">5th of the month</option>
                  <option value="6">6th of the month</option>
                  <option value="7">7th of the month</option>
                  <option value="8">8th of the month</option>
                  <option value="9">9th of the month</option>
                  <option value="10">10th of the month</option>
                  <option value="11">11th of the month</option>
                  <option value="12">12th of the month</option>
                  <option value="13">13th of the month</option>
                  <option value="14">14th of the month</option>
                  <option value="15">15th of the month</option>
                  <option value="16">16th of the month</option>
                  <option value="17">17th of the month</option>
                  <option value="18">18th of the month</option>
                  <option value="19">19th of the month</option>
                  <option value="20">20th of the month</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-plain btn-lg btn-wide" data-dismiss="modal">NEVERMIND</button>
                </div>
                <div class="col-sm-6">
                  <button @click="updateShipment" class="btn btn-primary btn-lg btn-wide">CONTINUE</button>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='frequency'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h1>UPDATE SHIPMENT FREQUENCY</h1>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <ul class="radio-list" v-if="available_subscriptions">
                    <li v-for="choice in available_subscriptions" :key="choice.sku">
                      <input
                        type="radio"
                        v-model="plan"
                        :value="choice.sku"
                        :id="'subscription-radio-' + choice.sku"
                      >
                      <label
                        :for="'subscription-radio-' + choice.sku"
                      >SHIP EVERY {{ choice.months==1 ? '1 MONTH' : choice.months + ' MONTHS'}} - {{ choice.price }}</label>
                    </li>
                  </ul>
                  <span v-else>No subscription available</span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-plain btn-lg btn-wide" data-dismiss="modal">NEVERMIND</button>
                </div>
                <div class="col-sm-6">
                  <button @click="updateFrequency" class="btn btn-primary btn-lg btn-wide">CONTINUE</button>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='nextbox'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h1>HOW LONG WOULD YOU LIKE TO STOP FOR?</h1>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <div v-if="subscription.is_commitment">
                    <div
                      v-for="(nextbox,index) in subscription.commitment_allowed_skips"
                       v-if="subscription.commitment_last_box"
                      :key="nextbox.months_from_now"
                    >
                      <input
                        class="nextbox-radio"
                        :id="'nextbox-radio-'+index"
                        type="radio"
                        :value="nextbox.monthKey"
                        v-model="nextbox_continue"
                      >
                      <label class="widebox-item" :for="'nextbox-radio-'+index">
                        <div>Pause for {{ nextbox.months_from_now - (subscription.commitment_last_box.months_from_now + 1) }} Months after commitment</div>
                        <div>Last Box in commitment: {{ subscription.commitment_last_box.date }}</div>
                        <div>Next Box after that: {{ nextbox.date }}</div>
                      </label>
                    </div>

                    <div>
                      <input
                        class="nextbox-radio"
                        id="nextbox-radio-stop"
                        type="radio"
                        value="stop"
                        v-model="nextbox_continue"
                      >
                      <label class="widebox-item" for="nextbox-radio-stop">
                        <div>PERMANENTLY</div>
                        <div v-if="subscription.commitment_last_box">Last Box in commitment: {{ subscription.commitment_last_box.date }}</div>
                      </label>
                    </div>
                  </div>
                  <div v-else>
                    <div
                      v-for="(nextbox,index) in next_boxes.slice(1)"
                      v-if="index < 6 "
                      :key="nextbox.months_from_now"
                    >
                      <input
                        class="nextbox-radio"
                        :id="'nextbox-radio-'+index"
                        type="radio"
                        :value="nextbox.monthKey"
                        v-model="nextbox_continue"
                      >
                      <label class="widebox-item" :for="'nextbox-radio-'+index">
                        <strong>{{ nextbox.months_from_now == 1 ? '1 MONTH' : nextbox.months_from_now + ' MONTHS' }}</strong>
                        <div>Next Box on {{ nextbox.date }}</div>
                      </label>
                    </div>

                    <div>
                      <input
                        class="nextbox-radio"
                        id="nextbox-radio-stop"
                        type="radio"
                        value="stop"
                        v-model="nextbox_continue"
                      >
                      <label class="widebox-item" for="nextbox-radio-stop">
                        <div>PERMANENTLY</div>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-plain btn-lg btn-wide" data-dismiss="modal">NEVERMIND</button>
                </div>
                <div class="col-sm-6">
                  <button
                    @click="nextBoxContinue"
                    :disabled="!nextbox_continue"
                    class="btn btn-gray btn-lg btn-wide"
                    :class="{ 'btn-primary': nextbox_continue }"
                  >CONTINUE</button>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='why-stop'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h1>WHY ARE YOU LEAVING US?</h1>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                  <div>
                    <input
                      class="nextbox-radio"
                      id="reason-radio-1"
                      type="radio"
                      value="special"
                      v-model="reason"
                    >
                    <label class="widebox-item" for="reason-radio-1">
                      <div>I only wanted the special offer</div>
                    </label>
                  </div>
                  <div>
                    <input
                      class="nextbox-radio"
                      id="reason-radio-2"
                      type="radio"
                      value="dont-like-natural"
                      v-model="reason"
                    >
                    <label class="widebox-item" for="reason-radio-2">
                      <div>I don't like having a natural home</div>
                    </label>
                  </div>
                  <div>
                    <input
                      class="nextbox-radio"
                      id="reason-radio-3"
                      type="radio"
                      value="dissatisfied-customer-service"
                      v-model="reason"
                    >
                    <label class="widebox-item" for="reason-radio-3">
                      <div>Dissatisfied with customer service</div>
                    </label>
                  </div>
                  <div>
                    <input
                      class="nextbox-radio"
                      id="reason-radio-4"
                      type="radio"
                      value="too-many"
                      v-model="reason"
                    >
                    <label class="widebox-item" for="reason-radio-4">
                      <div>I'm receiving too many pure oils at such great prices</div>
                    </label>
                  </div>
                  <div>
                    <input
                      class="nextbox-radio"
                      id="reason-radio-5"
                      type="radio"
                      value="cant-afford"
                      v-model="reason"
                    >
                    <label class="widebox-item" for="reason-radio-5">
                      <div>I can't afford oils at such a great price anymore</div>
                    </label>
                  </div>
                  <div>
                    <input
                      class="nextbox-radio"
                      id="reason-radio-6"
                      type="radio"
                      value="different-oils"
                      v-model="reason"
                    >
                    <label class="widebox-item" for="reason-radio-6">
                      <div>I want different oils in my boxes</div>
                    </label>
                  </div>
                  <div>
                    <input
                      class="nextbox-radio"
                      id="reason-radio-7"
                      type="radio"
                      value="others"
                      v-model="reason"
                    >
                    <label class="widebox-item" for="reason-radio-7">
                      <div>Others</div>
                    </label>
                  </div>
                  <div class="form-group" :class="{hide:reason!='others'}">
                    <textarea rows="5" ref="othersText" v-model="others_text" class="form-control"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-sm-6">
                  <button class="btn btn-plain btn-lg btn-wide" data-dismiss="modal">NEVERMIND</button>
                </div>
                <div class="col-sm-6">
                  <button
                    v-if="!reason || (reason=='others' && others_text=='')"
                    disabled="disabled"
                    class="btn btn-gray btn-lg btn-wide"
                  >CONTINUE</button>
                  <button v-else @click="parseWhy" class="btn btn-primary btn-lg btn-wide">CONTINUE</button>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='hate'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>WE HATE TO SEE YOU GO</h3>
            </div>
            <div class="modal-body">
              <div
                class="form-group"
              >If there is something we can do, or if you want to let us know what happened, please contact us. Maybe we can work this out.</div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <button
                      @click="linkCustomer"
                      type="button"
                      class="btn btn-primary btn-lg btn-wide"
                    >CONTACT CUSTOMER LOYALTY</button>
                  </div>
                  <div class="form-group">
                    <button
                      @click="stopSubscription"
                      type="button"
                      class="btn btn-plain btn-lg btn-wide"
                    >STOP SUBSCRIPTION</button>
                  </div>
                  <p class="text-primary text-center" data-dismiss="modal">
                    <span class="text-pointer">Nevermind, I want to stay subscribed</span>
                  </p>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='said-no-one'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>SAID NO-ONE EVER</h3>
            </div>
            <div class="modal-body">
              <div
                class="form-group"
              >If there is something we can do, or if you want to let us know what happened, please contact us. Maybe we can work this out.</div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <button
                      @click="linkCustomer"
                      type="button"
                      class="btn btn-primary btn-lg btn-wide"
                    >CONTACT CUSTOMER LOYALTY</button>
                  </div>
                  <div class="form-group">
                    <button
                      @click="stopSubscription"
                      type="button"
                      class="btn btn-plain btn-lg btn-wide"
                    >STOP SUBSCRIPTION</button>
                  </div>
                  <p class="text-primary text-center" data-dismiss="modal">
                    <span class="text-pointer">Nevermind, I want to stay subscribed</span>
                  </p>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='gift-a-box'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>OUR BOXES MAKE GREAT GIFTS</h3>
            </div>
            <div class="modal-body">
              <div
                class="form-group"
              >It comes with custom letters and your family or friends will get to enjoy the same great pure oils at honest prices.</div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <button
                      @click="linkBoxes"
                      type="button"
                      class="btn btn-primary btn-lg btn-wide"
                    >GIFT A BOX</button>
                  </div>
                  <div class="form-group">
                    <button
                      @click="stopSubscription"
                      type="button"
                      class="btn btn-plain btn-lg btn-wide"
                    >STOP SUBSCRIPTION</button>
                  </div>
                  <p class="text-primary text-center" data-dismiss="modal">
                    <span class="text-pointer">Nevermind, I want to stay subscribed</span>
                  </p>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='take-a-break'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>LET'S TAKE A BREAK</h3>
            </div>
            <div class="modal-body">
              <div
                class="form-group"
              >Don't go. Skip our delivery for of your next box. Your next box would ship {{ next_boxes[1].date }}</div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <button
                      @click="tab='skip-next-month'"
                      type="button"
                      class="btn btn-primary btn-lg btn-wide"
                    >SKIP NEXT MONTH</button>
                  </div>
                  <div class="form-group">
                    <button
                      @click="stopSubscription"
                      type="button"
                      class="btn btn-plain btn-lg btn-wide"
                    >STOP SUBSCRIPTION</button>
                  </div>
                  <p class="text-primary text-center" data-dismiss="modal">
                    <span class="text-pointer">Nevermind, I want to stay subscribed</span>
                  </p>
                </div>
              </div>
            </div>
          </template>

          <template v-if="tab=='skip-next-month'">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h3>SKIPPING NEXT BOX?</h3>
            </div>
            <div class="modal-body">
              <div
                class="form-group"
              >Skipping your next box means all contents in your next box will ship on {{ next_boxes[1].date }}. If you need something sooner, you can choose to "Ship It Now" when adding to your box.</div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <button
                      @click="linkBoxes"
                      type="button"
                      class="btn btn-primary btn-lg btn-wide"
                    >GIFT SUBSCRIPTION</button>
                  </div>
                  <div class="form-group">
                    <button
                      @click="skipNextMonth"
                      type="button"
                      class="btn btn-plain btn-lg btn-wide"
                    >SKIP MONTH</button>
                  </div>
                  <p class="text-primary text-center" data-dismiss="modal">
                    <span class="text-pointer">Nevermind</span>
                  </p>
                </div>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from "moment";
export default {
  name: "ManageSubscription",
  props: ["subscription", "available_subscriptions", "next_boxes", "next_box"],
  computed: {
    nextbox_continue_date() {
      if (!this.nextbox_continue) return "";

      for (let i in this.next_boxes) {
        if (this.nextbox_continue == this.next_boxes[i].monthKey) {
          return this.next_boxes[i].date;
        }
      }

      return "";
    }
  },
  data() {
    return {
      reason: "",
      others_text: "",
      nextbox_continue: null,
      manage_continue: null,
      schedule: this.subscription.schedule,
      plan: this.subscription.plan,
      submitting: false,
      cancel_reason: "",
      showForm: false,
      tab: "main"
    };
  },
  watch: {
    reason(value) {
      if (value == "others") {
        this.$nextTick(() => {
          this.$refs.othersText.focus();
        });
      }
    }
  },
  methods: {
    toMoment(date) {
      return moment(date);
    },
    popManageSubscription() {
      this.showForm = true;
      this.manage_continue = null;
      this.tab = "main";
      this.$nextTick(() => {
        $("#manage-subscription").modal("show");
      });
    },
    redirectFutureOrders() {
      window.location.href = "/future-orders";
      return false;
    },

    updateShipment() {
      this.submitting = true;
      axios
        .patch("/subscription/schedule", {
          schedule: this.schedule
        })
        .then(response => {
          this.hideForm();
          swal(
            "You've Successfully Updated Your Shipment Day",
            "",
            "success"
          ).then(() => {
            location.reload();
          });
        })
        .catch(error => {
          swal("Unable to update the shipment date", "", "error");
        })
        .then(() => {
          this.submitting = false;
        });
    },

    updateFrequency() {
      this.submitting = true;
      axios
        .patch("/subscription/plan", {
          plan: this.plan
        })
        .then(response => {
          this.hideForm();
          swal(
            "You've Successfully Updated Your Shipment Frequency",
            "",
            "success"
          ).then(() => {
            location.reload();
          });
        })
        .catch(error => {
          swal("Unable to update the shipment frequency", "", "error");
        })
        .then(() => {
          this.submitting = false;
        });
    },

    parseWhy() {
      switch (this.reason) {
        case "others":
          this.cancel_reason = "Others"
          this.tab = "hate";
          break;
        case "special":          
          this.cancel_reason = "I only wanted special offer"
          this.tab = "hate";
          break;
        case "dissatisfied-customer-service":
          
          this.cancel_reason = "Dissatisfied with customer service"
          this.tab = "hate";

          break;

        case "dont-like-natural":

          this.cancel_reason = "I don't like having a natural home"
          this.tab = "said-no-one";

          break;

        case "too-many":
          
          this.cancel_reason = "I'm receiving too many pure oils at such great prices"
          this.tab = "gift-a-box";
          break;

        case "cant-afford":
          
          this.cancel_reason = "I can't afford oils at such a great price anymore"
          this.tab = "take-a-break";
          break; 
        case "different-oils":
          this.cancel_reason = "I want different oils in my boxes"
          this.tab = "take-a-break";
          break;
      }

      return;
    },

    manageContinue() {
      switch (this.manage_continue) {
        case "update_shipment":
          this.tab = "shipment";
          break;

        case "gift_month":
          this.redirectFutureOrders();
          break;

        case "skip_month":
          this.redirectFutureOrders();
          break;

        case "stop_subscription":
          this.tab = "nextbox";
          break;
      }
    },

    nextBoxContinue() {
      if (this.nextbox_continue == "stop") {
        this.tab = "why-stop";
        this.reason = null;
        return;
      }

      this.submitting = true;
      axios
        .post("/subscription/nextbox-continue", {
          key: this.nextbox_continue
        })
        .then(response => {
          this.hideForm();
          swal(response.data, "", "success").then(() => {
            location.reload();
          });
        })
        .catch(error => {
          swal("Unable to update your subscription", "", "error");
        })
        .then(() => {
          this.submitting = false;
        });
    },

    skipNextMonth() {
      this.nextbox_continue = this.next_boxes[0].monthKey;
      this.$nextTick(() => {
        this.nextBoxContinue();
      });
    },

    stopSubscription() {
      this.submitting = true;
      let cancel_reason = this.reason == 'others' ? this.others_text : this.cancel_reason
      axios
        .post("/subscription/stop", {
          reason:cancel_reason
        })
        .then(response => {
          this.hideForm();
          swal(response.data, "", "success").then(
            () => {
              location.reload();
            }
          );
        })
        .catch(error => {
          swal("Unable to update your subscription", "", "error");
        })
        .then(() => {
          this.submitting = false;
        });
    },

    linkCustomer() {
      window.location = "/pages/faqs";
    },

    linkBoxes() {
      window.location = "/future-orders";
    },

    hideForm() {
      $("#manage-subscription").modal("hide");
    }
  }
};
</script>
