<template>
    <div>
        <slot name="resume-button" :pop="popResume">
            <a href="#" @click="popResume" class="btn btn-primary btn-wide-md btn-lg">Resume Box</a>
        </slot>
        <div v-if="showForm" class="modal" id="resumebox" tabindex="-1" role="dialog">
			<div class="modal-dialog small-dialog" role="document">
				<div class="modal-content" :class="{'sk-loading':submitting}" >
                         <div class="sk-spinner sk-spinner-wave">
                            <div class="sk-rect1"></div>
                            <div class="sk-rect2"></div>
                            <div class="sk-rect3"></div>
                            <div class="sk-rect4"></div>
                            <div class="sk-rect5"></div>
                        </div>
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h1 v-if="first_name">HEY {{ first_name }}</h1>
					</div>
					<div class="modal-body text-center">
						<p>Do you want to resume your recipe box? <br> Your first box will ship tomorrow</p>

						<button class="btn btn-primary btn-lg btn-wide-half" style="margin: 20px 0 10px;" @click.prevent="resume">YES PLEASE</button>
						<div class="clearfix"></div>
						<a href="#" class="btn" data-dismiss="modal">NEVERMIND</a>
					</div>
				</div>
			</div>
		</div>
    </div>
</template>
<script>
export default {
  name: "ResumeBox",
  props: ["first_name"],
  data() {
    return {
      submitting: false,
      showForm: false
    };
  },
  methods: {
    popResume() {
      this.showForm = true;
      this.$nextTick(() => {
        $("#resumebox").modal("show");
      });
    },
    resume() {
      this.submitting = true;
      axios
        .post("/subscription/resume")
        .then(response => {
          $("#resumebox").modal("hide");

          swal({
            title: "You've Successfully Resumed Shipping",
            type: "success"
          }).then(() => {
            location.reload();
          });
        })
        .catch(error => {
          swal("Error", "Unable to resume shipping", "error");
        })
        .then(() => {
          this.submitting = false;
        });
    }
  }
};
</script>
