<template>
    <div>
        <slot/>
        <div class="product-related form-group" v-if="list" v-for="(item, index) in list">
            <div class="row">
                <div class="col-sm-10">
                    <select class="form-control" v-model="item.id" :name="'related_products['+index+'][id]'">
                        <option v-for="option in options" :value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-xs" @click="removeRow(index)"><i class="fa fa-trash"></i></button>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-xs" @click="addRow"><i class="fa fa-plus"></i> Add Related Products</button>
        </div>
    </div>
</template>

<script>
  export default {
    name: "ProductRelated",
    props: {
      relatedProducts: {
        type: Array/Object,
        default: () => {
          return [{id: '0'}]
        }
      },
      products: {
        type: Array/Object,
        default: () => {
          return [{id: '0'}]
        }
      }
    },
    data() {
      return {
        list: JSON.parse(JSON.stringify(this.relatedProducts)),
        options: JSON.parse(JSON.stringify(this.products))
      }
    },
    methods: {
      addRow() {
        this.list.push({id: ''});
      },
      removeRow(index) {
        this.list.splice(index, 1);
      }
    }
  };
</script>

<style scoped>

</style>