<template>
<div>
    <slot />
    <div class="product-attribute form-group"  v-if="list" v-for="(item,index) in list">
        <div class="row">
            <div class="col-sm-5"><input class="form-control" type="text" v-model="item.label" :name="'extra_attributes[' + index + '][label]'" placeholder="Attribute name"
                /></div>
            <div class="col-sm-5"><input class="form-control" type="text" v-model="item.value" :name="'extra_attributes[' + index + '][value]'" placeholder="Attribute value"
                /></div>
            <div class="col-sm-2"><button type="button" class="btn btn-xs" @click="removeRow(index)"><i class="fa fa-trash"></i></button></div>
        </div>
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-primary btn-xs" @click="addRow"><i class="fa fa-plus"></i> Add new attribute</button>
    </div>
</div>
</template>
<script>
export default {
  name: "ProductAttribute",
  props:["attributes"],
  data(){
      return {
          list:this.attributes
      }
  },
  methods:{
      removeRow(index)
      {
          this.list.splice(index,1);
      },
      addRow(){
          this.list.push({name:'',value:''})
      }
  }
}
</script>
