<template>
    <div>
        <div class="row list-group product-list">
            <div class="product-list-wrapper" ref="wrapper">
                <div class="product-list-items" ref="list" @scroll="scrollEvent()">
                    <productboxmini v-for="product in products" :product="product" :key="product.id" ref="thumbnail">
                    </productboxmini>
                </div>
                <div class="paddles">
                    <button class="left-paddle paddle hidden" ref="leftPaddle" @click="doLeftScroll()">
                        <i class="fa fa-angle-left arrow"></i>
                    </button>
                    <button class="right-paddle paddle hidden" ref="rightPaddle" @click="doRightScroll()">
                        <i class="fa fa-angle-right arrow"></i>                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Productboxmini from './ProductBoxMini';

export default {
    name: 'productlisting',
    components: {
        Productboxmini
    },
    props: {
        collection: {
            type: Array / Object
        }
    },
    methods: {
        setWidthOfList(thumbnails = []) {
            let totalWidth = 0;
            thumbnails.forEach(thumbnail => {
                totalWidth += thumbnail.$el.offsetWidth;
                this.itemWidth = thumbnail.$el.offsetWidth;
            });
            this.listWidth = totalWidth;
        },
        setPaddles() {
            if (this.getHiddenSize() > 0) {
                this.$refs.rightPaddle.classList.remove('hidden');
            }
        },
        setReset() {
            console.log('resizing?');
            this.setWidthOfList(this.$refs.thumbnail);
            this.setPaddles();
        },
        getLeftPosition() {
            return this.$refs.list.scrollLeft;
        },
        getWrapperSize() {
            return this.$refs.wrapper.offsetWidth;
        },
        getListSize() {
            return this.listWidth;
        },
        getHiddenSize() {
            return this.listWidth - this.getWrapperSize();
        },
        scrollEvent() {
            let hiddenLength = this.getHiddenSize();
            let listPosition = this.getLeftPosition();
            let paddleMargin = 20;
            let listEndOffset = hiddenLength - paddleMargin;

            let leftPaddle = this.$refs.leftPaddle;
            let rightPaddle = this.$refs.rightPaddle;

            if (listPosition <= paddleMargin) {
                leftPaddle.classList.add('hidden');
                rightPaddle.classList.remove('hidden');
            } else if (listPosition < listEndOffset) {
                leftPaddle.classList.remove('hidden');
                rightPaddle.classList.remove('hidden');
            } else if (listPosition >= listEndOffset) {
                leftPaddle.classList.remove('hidden');
                rightPaddle.classList.add('hidden');
            }
        },
        doLeftScroll() {
            this.scrollTo(this.$refs.list, this.itemWidth * -1, 300);
        },
        doRightScroll() {
            this.scrollTo(this.$refs.list, this.itemWidth, 300);
        },
        scrollTo(element, scrollPixels, duration) {
            const scrollPos = element.scrollLeft;

            if (
                !(
                    (scrollPos === 0 || scrollPixels > 0) &&
                    (element.clientWidth + scrollPos === element.scrollWidth ||
                        scrollPixels < 0)
                )
            ) {
                const startTime =
                    'now' in window.performance
                        ? performance.now()
                        : new Date().getTime();

                function scroll(timestamp) {
                    const timeElapsed = timestamp - startTime;
                    const progress = Math.min(timeElapsed / duration, 1);
                    element.scrollLeft = scrollPos + scrollPixels * progress;
                    if (timeElapsed < duration) {
                        window.requestAnimationFrame(scroll);
                    } else {
                        return;
                    }
                }
                window.requestAnimationFrame(scroll);
            }
        }
    },
    data() {
        return {
            products: this.collection.data,
            itemWidth: 0,
            listWidth: 0
        };
    },
    mounted() {
        this.$nextTick(function() {
            window.addEventListener('resize', this.setReset);

            //Init
            this.setReset();
        });
    },
    beforeDestroy() {
        window.removeEventListener('resize', this.setReset);

      return {
        products: this.collection.data,
      };
    }
};
</script>

<style scoped>
.product-list {
    display: inherit;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: -100px;
    margin-top: -80px;
}

.product-list-wrapper {
    position: relative;
    overflow: hidden;
}

.product-list-items {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.arrow {
  color:#D3D3D3;
}

.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
    outline: 0;
    font-size: 50px;
    opacity: 0.6;
    color: black;
}

.paddle:hover {
    opacity: 1;
}

.left-paddle {
    left: 0;
}

.right-paddle {
    right: 0;
}

::-webkit-scrollbar {
    display: none;
}
</style>

